[2020-04-01 05:51] kieckhafer opened #6181 "move tags plugin to its own npm package, and install npm version Reaction"
New repo: https://github.com/reactioncommerce/api-plugin-tags

Convert the `tags` plugin. This includes moving all related files into a new repository, releasing that repo as an `npm` package, and then updating this repo, `reaction`, to use the `npm` version of the plugin.

Part of [this epic](https://github.com/reactioncommerce/reaction/issues/6107) to move all plugins into their own repositories

[2020-04-01 05:51] kieckhafer opened #6182 "move taxes plugin to its own npm package, and install npm version Reaction"
New repo: https://github.com/reactioncommerce/api-plugin-taxes

Convert the `taxes` plugin. This includes moving all related files into a new repository, releasing that repo as an `npm` package, and then updating this repo, `reaction`, to use the `npm` version of the plugin.

Part of [this epic](https://github.com/reactioncommerce/reaction/issues/6107) to move all plugins into their own repositori

[2020-04-01 13:02] #6103 closed, assigned to aldeed

[2020-04-02 00:47] #6136 closed, assigned to kieckhafer

[2020-04-02 22:20] HarisSpahija opened #6185 "allowGuestCheckout default value is NULL"
## Issue Description
When querying for allowGuestCheckout
[code]
Due to the default setting being null

on [placeOrder.js](https://github.com/reactioncommerce/reaction/blob/4890007760db489a68fe0bfb81f81f86525f8498/src/core-services/orders/mutations/placeOrder.js#L135) fails unless mutated trough graphql queries.
[code]

## Steps to Reproduce
1. Start a new reaction project trough make
2. Try to ch

[2020-04-04 17:38] jinhojang6 opened #6187 "A bug related to permission"
## Issue Description

1. Got an error saying
[code]
when tried to change `Allow custom user locale` on

<img width="1173" alt="Screen Shot 2020-04-05 at 2 24 35 AM" src="https://user-images.githubusercontent.com/41753422/78457521-b1280600-76e5-11ea-9303-9f793229ec6f.png">

2. Got an error saying
[code]
when trie to update info at Settings - Shop
<img width="1213" alt="Screen Shot 2020-04-05 at 2 3

[2020-04-08 17:18] kieckhafer opened #6191 "Figure out how to delegate node debugger ports across application"
From https://github.com/reactioncommerce/authorization/pull/130

[2020-04-08 17:23] focusaurus commented on #6191
I'm OK with either:

- Never publish the node debug port automatically. Developers publish via command line as needed
  - Tradeoff: initial instructions are probably a bit harder
- Publish only on the api project since so much code runs in there
  - Tradeoff: fairly likely to conflict with other assorted node projects a developer might have running in debug mode

[2020-04-09 18:25] manueldelreal commented on #6185
While the default is `null` checkout can be completed for logged in users as long as you are providing the authorization token, and that behavior is the same as if we made the default value false, that would not be a breaking change.

We see the value in defaulting to `true` as any commerce site would want to make checkout as easier as possible, there are some implications for setups that already

[2020-04-10 05:41] kieckhafer commented on #6166
Closed via #6189

[2020-04-10 05:41] #6166 closed, assigned to kieckhafer

[2020-04-13 15:28] #6077 closed, assigned to aldeed

[2020-04-13 22:44] #6167 closed, assigned to kieckhafer

[2020-04-13 23:01] kieckhafer commented on #6121
Closed via #6186

[2020-04-13 23:01] #6121 closed, assigned to kieckhafer

[2020-04-14 01:34] #6173 closed, assigned to mpaktiti

[2020-04-14 20:12] #6169 closed, assigned to kieckhafer

[2020-04-15 22:44] #6180 closed, assigned to mpaktiti

[2020-04-16 02:00] #6135 closed, assigned to kieckhafer

[2020-04-16 04:45] #6178 closed, assigned to mpaktiti

[2020-04-17 22:51] #6181 closed, assigned to mpaktiti

[2020-04-20 21:46] #6126 closed, assigned to kieckhafer

[2020-04-20 22:35] #6128 closed, assigned to nobody

[2020-04-20 23:12] #6175 closed, assigned to aldeed

[2020-04-21 00:39] #6171 closed, assigned to kieckhafer

[2020-04-21 00:51] #6168 closed, assigned to mpaktiti

[2020-04-21 19:26] #6130 closed, assigned to aldeed

[2020-04-21 22:48] #6176 closed, assigned to kieckhafer

[2020-04-22 00:42] #6125 closed, assigned to kieckhafer

[2020-04-22 00:55] #6124 closed, assigned to kieckhafer

[2020-04-22 01:05] #6133 closed, assigned to mpaktiti

[2020-04-22 01:14] #6170 closed, assigned to kieckhafer

[2020-04-22 01:29] #6177 closed, assigned to kieckhafer, mpaktiti

[2020-04-22 16:22] aldeed commented on #6145
Closing because the proposed solution is merged now.

[2020-04-22 16:22] #6145 closed, assigned to aldeed

[2020-04-23 05:02] #6137 closed, assigned to kieckhafer

[2020-04-23 05:31] #6172 closed, assigned to mpaktiti

[2020-04-23 22:26] #6179 closed, assigned to kieckhafer

[2020-04-23 22:48] #6134 closed, assigned to kieckhafer, mpaktiti

[2020-04-23 22:58] #6174 closed, assigned to mpaktiti

[2020-04-24 00:41] #6139 closed, assigned to kieckhafer

[2020-04-24 13:16] #6131 closed, assigned to kieckhafer

[2020-04-25 00:14] #6182 closed, assigned to kieckhafer

[2020-04-25 09:29] karbal opened #6230 "How can I implement, the option for the buyer to have the possibility to choose several variants in the same product?"
## ❓ How can I implement, the option for the buyer to have the possibility to choose several variants in the same product?

### for example in ecommerce sites always there is the choice to choose a size in variant sizes and a color in variant colors

[2020-04-25 09:37] karbal opened #6231 "Taxes don't get applied to the cart, always stay at 0"
## Setting Taxs
![alt](https://files.gitter.im/reactioncommerce/reaction/nfsm/image.png)
## Setting Product
![alt](https://files.gitter.im/reactioncommerce/reaction/FeSd/image.png)
## Cart
![alt](https://files.gitter.im/reactioncommerce/reaction/0Xyd/image.png)

[2020-04-25 09:46] karbal opened #6232 "Is there a solution to upload media in http (graphql or http api)?"
## ❓ I'm going through another solution than reaction-admin and I wanted to upload images from catalog product

[2020-04-25 10:07] karbal opened #6233 "there is no reaction-blog, will be very interesting to use it as a blog and also to associate it with a product catalog as a detailed description."
## ❓ there is no reaction-blog, will be very interesting to use it as a blog and also to associate it with a product catalog as a detailed description.

[2020-04-25 10:11] karbal commented on #6233
https://github.com/reactioncommerce/reaction-feature-requests/issues/127

[2020-04-25 10:11] #6233 closed, assigned to nobody

[2020-04-25 10:15] #6230 closed, assigned to nobody

[2020-04-28 23:22] marceloibanez opened #6234 "Order Details (product) does not appear when user place an order."
## Issue Description
Order Details (product) is not displayed from order received (admin side)after user place an order.

## Steps to Reproduce

1. shopper select a product from catalog.
2. shopper checkout the order
3. shopper fill all the information name, address, payment method, billing addres etc.
4. shopper place order.
5. everything is Ok in this point
6. vendor go to admin box.
7. vendor g

[2020-04-29 05:35] alex-sh-li opened #6237 "flatRateFulfillmentMethods graphql query does not match the shipping schema"
## Issue Description

<img width="839" alt="Screenshot 2020-04-29 at 1 34 41 PM" src="https://user-images.githubusercontent.com/58454138/80563642-302b0880-8a1e-11ea-9f2f-456c7ab8b55a.png">

## Possible Solution

change the schema of graphql ? or mongo ?

### Versions

3.4.0

[2020-04-29 05:36] alex-sh-li commented on #6237
<img width="841" alt="Screenshot 2020-04-29 at 1 36 09 PM" src="https://user-images.githubusercontent.com/58454138/80563697-636d9780-8a1e-11ea-8767-6bd8f96bb6a6.png">

here is the mongo schema

[2020-04-29 07:52] sheunglaili commented on #6237
alter flatRateFulfillmentMethods in reaction-api using aggregation with following pipeline should work

[code]

also change getPaginatedResponse to getPaginatedResponseFromAggregate in flatRateFulfillment resolvers as well

[2020-04-29 08:28] loan-laux commented on #6237
@sheunglaili @alex-sh-li The fact that the GraphQL schema doesn't match the database schema is normal. Both of them have their own structure. The GraphQL one is aimed at being more efficient in terms of accessing data and using it in a UI, and the database one aims at being efficient for storing data in a way that makes the most sense.

That being said, are you getting any error when trying to run

[2020-04-29 08:31] sheunglaili commented on #6237
Yes. I understand. But In the flatRatefulfillmethods Query. the method just return the result of Shipping collection query which make the query not functional.

[2020-04-29 08:32] sheunglaili commented on #6237
I make it work by altering the query into the aggregate I mentioned above.

[2020-04-29 08:36] loan-laux commented on #6237
@sheunglaili Doesn't `src/plugins/shipping-rates/getFulfillmentMethodsWithQuotes.js` do what you're trying to do? It filters shipping rates like this:

[code]

[2020-04-29 08:41] sheunglaili commented on #6237
No. If you try calling the graphql method flatRateFulfillmentMethods with record in database , it will prompt you error that the fulfillType field is null while it's a non-null field. It's because the schema returned doesn't match

[2020-04-29 08:44] loan-laux commented on #6237
This logic is usable by querying for `getFulfillmentMethodsWithQuotes`. This is what I was referring to. Even though it also returns rates with it, it will subsequently return any enabled shipping provider for a given shop. Wouldn't this do what you're looking for?

[2020-04-29 08:45] sheunglaili commented on #6237
And I think you are looking at the wrong place (?) I am currently using 3.4.0 . The problem occur in the included plugin shipping-rates. I think it's move into a independent npm packages

[2020-04-29 08:47] sheunglaili commented on #6237
I was working on  the reaction-admin shipping setting part. which currently depends on meteor.
The api should return a page of fulfillment method instead of whole shipping according to docs. Also , In the graphql schema , It state that it's should return a page of fulfillment method. But meanwhile the resolver is returning a list of shipping

[2020-04-29 08:49] loan-laux commented on #6237
@sheunglaili I'm on 3.6.0 with the latest `trunk`. `src/plugins/shipping-rates/getFulfillmentMethodsWithQuotes.js` is still indeed part of `reaction` and not yet moved into its own NPM package.

Okay, now I understand better what you're trying to do. So this issue is a feature request to add `shopId` and `enabled` filters to the `flatRateFulfillmentMethods` query, right?

[2020-04-29 08:51] sheunglaili commented on #6237
I think you are getting it wrong 🤒 . The issue occured in `reaction/src/plugins/shipping-rates/queries/flatRateFulfillmentMethods.js` which should be in a independent npm package now.

[2020-04-29 08:52] sheunglaili commented on #6237
This queries should return methods. but Instead it return the whole shipping which won't fit into the graphql schema

[2020-04-29 08:53] sheunglaili commented on #6237
[code]
The schema state that it should return this instead of the whole shipping entity.

[2020-04-29 09:01] loan-laux commented on #6237
@sheunglaili Just to clarify any confusion: `flatRateFulfillmentMethods` returns a `FlatRateFulfillmentMethodConnection`, which itself contains an array of `FlatRateFulfillmentMethod` in the `nodes` field.

Now, I've just tried to run the query and I got a `"Cannot return null for non-nullable field FlatRateFulfillmentMethod.label."` error. Is this what you're referring to?

[2020-04-29 09:02] sheunglaili commented on #6237
Yeah. That's what I'm talking about

[2020-04-29 09:05] loan-laux commented on #6237
Great! Next time, it would be better if you could use this repo's issue template when reporting a bug, and simply refer to the error message you're getting. It always helps us contributors to narrow down what's going on.

I'll see what I can do for this. Thanks for the report!

[2020-04-29 09:09] sheunglaili commented on #6237
Sure great. It's my first time reporting issue. Will do next time ! Thank you for your time! .You can reference the aggregate above. I used it as a solution! thanks

[2020-04-29 09:13] loan-laux commented on #6237
@sheunglaili If you feel like it, feel free to PR your solution directly. I probably will take a bit of time to solve this since I have quite a lot of work on my plate.

[2020-04-29 09:54] sheunglaili commented on #6237
sure. let me try

[2020-04-29 17:32] kieckhafer commented on #6107
All plugins have been moved! There are a few remaining tickets in the [Project board](https://github.com/orgs/reactioncommerce/projects/9#card-33980042), but this EPIC can be closed!

[2020-04-29 17:32] #6107 closed, assigned to aldeed, kieckhafer, mpaktiti

[2020-04-29 19:47] aldeed commented on #6147
Fix is in shops plugin 1.0.1. Still needs to be pulled into the API and write integration test.

[2020-05-01 00:46] spencern opened #6240 "Shop owners should be able to configure order processing time"
Shop owners should be able to set their order processing time in business days.

There should be a default amount of time for shop owners that to not change this number.

If an order is not shipped in the set amount of time, it is marked as LATE => #2344

[2020-05-01 16:46] aldeed commented on #6058
Done

[2020-05-01 16:46] #6058 closed, assigned to aldeed

[2020-05-01 16:49] #6106 closed, assigned to nobody

[2020-05-05 04:59] rogersoares opened #6242 "createMediaRecord with "tempStoreId: undefined" crashes api server"
## Issue Description
When calling graphql mutation createMediaRecord, and passing an invalid tempStoreId, the whole api server crashes with:

api_1    | 04:40:46.715Z  INFO Reaction: Stopping Reaction API...
api_1    | [Error: EISDIR: illegal operation on a directory, read] {
api_1    |   errno: -21,
api_1    |   code: 'EISDIR',
api_1    |   syscall: 'read'
api_1    | }
api_1    | [nodemon] app cr

[2020-05-05 05:25] rogersoares commented on #6232
I was trying the same thing. So far it worked with this test case bellow. It's all hardcoded but you can get and idea of how it works from it.

Apparently the upload requires 3 requests to the reaction api:
1) Get the upload URL
2) Upload the file
3) Graphql request to create the media record.

After this, the image appears in the reaction-admin product. You will have to publish the product to sen

[2020-05-05 15:08] loan-laux opened #6243 "Dockerfile broken - Cannot find module /usr/local/src/app/plugins.json"
Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description
On a fresh clone of `reaction-development-platform`, after running `make`, the `reaction` container fails to start with the following error:

[2020-05-05 15:36] aldeed commented on #6243
I think node-prod image might copy only `src` folder, so we need to add an explicit copy of the JSON in https://github.com/reactioncommerce/reaction/blob/trunk/Dockerfile, or move the JSON file into `/src`. I can look into a fix later today.

[2020-05-05 15:39] aldeed commented on #6243
As noted in the description, you can run `make dev-reaction` after `make` to work around this issue for now.

[2020-05-05 16:18] loan-laux commented on #6243
Food for thought, there should be some kind of CI tests for the release of new images on Docker Hub. It would ensure that things like this don't happen.

[2020-05-05 16:47] jshimko commented on #6243
FYI, this is the same error I just discovered in https://github.com/reactioncommerce/reaction-development-platform/issues/128

[2020-05-05 17:23] aldeed commented on #6243
@loan-laux Completely agree. This would theoretically have been visible in the `trunk` build immediately after the JSON file PR was merged. @manueldelreal had been working on a version of the integration tests that could be run against a prod image, so we may be able to run those either in CI or on a nightly cycle. Really all we need is one test with one GraphQL query against the running image and

[2020-05-05 17:24] aldeed commented on #6243
(Also I think I actually got this error once before the release but I was messing around with plugin linking and didn't realize the significance of it.)

[2020-05-05 17:27] jshimko commented on #6243
Is there a quick workaround I can use until this gets fixed?  Like previous release tag on the api container maybe?  Should that work?

[2020-05-05 17:29] aldeed commented on #6243
@jshimko For running locally, just `make dev-reaction` command in the development platform dir should work, or change `api.image` to `reactioncommerce/reaction:3.6.0` in `docker-compose.yml`. For prod, use `reactioncommerce/reaction:3.6.0` image tag.

[2020-05-05 17:34] jshimko commented on #6243
Thanks!  Confirmed reverting to `reactioncommerce/reaction:3.6.0` works.

[2020-05-05 17:43] aldeed commented on #6243
Fix PR: https://github.com/reactioncommerce/reaction/pull/6244

[2020-05-05 17:48] #6243 closed, assigned to aldeed

[2020-05-05 17:54] aldeed commented on #6243
Will be in 3.7.1 release

[2020-05-05 19:18] aldeed commented on #6232
@karbal

@rogersoares is generally correct, but Reaction uses Tus packages under the hood, so it will be much more foolproof to use [tus-js-client](https://github.com/tus/tus-js-client), which will properly handle chunking, resumes, etc.

I will close this as answered but feel free to open another issue proposing enhancements that would simplify this process for you.

[2020-05-05 19:18] #6232 closed, assigned to nobody

[2020-05-09 18:13] Upinder123 commented on #6241
can i help ?

[2020-05-12 21:56] ankurpata opened #6246 "Node_modules get cleared with package name missing error in the custom plugin for Reaciton Api."
Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues]

## Issue Description
When tried to add a new dependency on to plugin in the package.json, the ```make init-dev```command on reaction  root directory should install all the dependencies provided in the custom plugin

[2020-05-13 03:41] sheunglaili commented on #6237
I have created a pr  reactioncommerce/api-plugin-shipments-flat-rate#2. please have a look when you have time !

[2020-05-13 17:41] loan-laux commented on #6231
Fixing as part of [api-plugin-taxes-flat-rate#3](https://github.com/reactioncommerce/api-plugin-taxes-flat-rate/issues/3).

[2020-05-13 20:38] loan-laux commented on #6237
@sheunglaili I can't review PRs as I'm not part of the core team, but you should ask @aldeed for example. Also, thanks for taking the time to do that!

[2020-05-14 10:41] bjanssen-pon opened #6517 "Should EUR currency symbol come before or after value?"
For the EURO currency there are two types of representation:

- 1234 EUR
- € 1234

In the definitions of the currency, I have the format `%v %s`. The format should be `%s %v`.

Location: `api-utils/CurrencyDefinitions.js`

[2020-05-15 10:33] loan-laux opened #6497 "Introduce translatable data fields"
Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description
As discussed on [reaction-feature-requests#94](https://github.com/reactioncommerce/reaction-feature-requests/issues/94), products should hav

[2020-05-17 16:56] aldeed commented on #6246
@ankurpata It would be helpful if you can link to a repo with a simple reproduction of this. There could be a lot of things happening, and we'd need to see exactly how you're linking the plugin and exactly how it is listing its dependencies.

I notice you say `Add dev dependencies`. If that means that `node-rdkafka` is listed in `devDependencies` instead of `dependencies` then that's probably the

[2020-05-17 17:14] aldeed commented on #6517
@bjanssen-pon Can you link to any international standard you are following? I think whether € is left or right varies both by region and by language, so if we change it one way, someone else will complain that it's wrong for them. Unfortunately, Reaction does not use currency formatting that can be different per region or per language.

If there is a good international standard to follow, that mak

[2020-05-17 17:58] loan-laux commented on #6246
@aldeed I'm having the same problem and I've created a flattened reproduction repo [right here](https://github.com/loan-laux/repro-npm-rc/tree/master). Clone it, run `make init-dev-reaction` and you should run into the same issue as @ankurpata reported.

Also, I confirm that it's happening with production dependencies. If you run `npm install` in the `@reactioncommerce/*` directories from the host

[2020-05-17 18:30] loan-laux commented on #6246
On another note, since this looks reproducible and prevents (some) developers from working on mounted NPM modules, I would suggest that it deserves at least a `severity medium` tag.

[2020-05-18 00:36] aldeed commented on #6246
@loan-laux @ankurpata  Oh I see! I did not realize this was referring to plugins linked through volume mounts. In that case, yes we're aware of this issue. There is really no solution we could find when using volume mounts, which is why I created a different solution for local plugin development here: https://github.com/reactioncommerce/reaction/pull/6238

Using that branch, you should be able to

[2020-05-18 03:00] Prodigy343 opened #6247 "Make init-dev command in reaction-development-platform doesn't work"
## Issue Description
I'm trying to setting up the environment development but the admin container get down after 2 minutes and the log of the container says:

Failed to reset plugins file at /usr/local/src/app/client/plugins.js (image below)
![image](https://user-images.githubusercontent.com/19996197/82170376-3b8d8900-9892-11ea-9866-cfc2241930a0.png)

The other containers looks good.

Thanks in ad

[2020-05-18 15:29] loan-laux commented on #6246
@aldeed This works great and looks exactly like what we needed. Thank you so much! @ankurpata, if this works for you, please close this issue.

[2020-05-18 17:14] loan-laux commented on #6247
@Prodigy343 This is related to `reaction-admin`. I would recommend moving the issue over there.

[2020-05-18 19:01] Prodigy343 commented on #6247
[Continue here](https://github.com/reactioncommerce/reaction-admin/issues/281)

[2020-05-18 19:01] #6247 closed, assigned to nobody

[2020-05-18 20:25] gorfadvijay commented on #1703
any updates on this ???

[2020-05-19 11:48] loan-laux opened #6248 "bin/package-unlink unlinks all packages instead of the one that was specified"
Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description
Running `bin/package-unlink some-plugin` (works for all plugins) seems to unlink *all* plugins and not just `some-plugin`. This is the case

[2020-05-19 11:55] loan-laux opened #6249 "Linking a local api-core throws error about missing api-plugin-simple-schema"
Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description
If you link in a local `api-core` with `bin/package-link api-core`, your API will restart and throw the following error:

[code]

## Steps t

[2020-05-19 15:35] loan-laux commented on #6249
I've been digging a bit more into this issue and have been able to work around it. Not in a very clean way though, so I still think it should be fixed so as to necessitate no intervention from developers whatsoever.

First, Reaction is complaining about `@reactioncommerce/api-plugin-simple-schema` being missing simply because it's the first package listed in the `plugins.json` file.

It can't impo

[2020-05-20 09:55] ankurpata commented on #6246
Cool, I'll try this out and close this if it works.
Thanks @aldeed, @loan-laux

[2020-05-20 16:22] aldeed commented on #6249
@loan-laux Thanks for investigating. Here's basically what I think is happening here (mostly summarizing what you already said).

The `importPluginsJSONFile` function has fancy handling for any plugin that is a file path, to ensure it can still be resolved when doing dynamic `import()` from `api-core`. But when it's referencing a package name, we don't do anything special. We just pass the package

[2020-05-20 16:24] loan-laux commented on #6249
Thanks for the feedback @aldeed. I'll PR something along those lines very soon!

[2020-05-20 16:41] loan-laux opened #6250 "Linked packages don't get updated with new changes"
Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description
Linking a package with `bin/package-link` works fine. However, linking this same package a second time, once changes were made locally, does

[2020-05-20 19:10] HarisSpahija commented on #6517
I think it is good to follow this standard.
Wikipedia has a nice table of what countries use the euro sign before and after.

https://en.wikipedia.org/wiki/Language_and_the_euro#Summary

[2020-05-20 21:30] aldeed commented on #6248
This is yucky. This is indeed an `npm unlink` issue, and there's an accepted RFC to make it work correctly here: https://github.com/npm/rfcs/blob/latest/accepted/0011-npm-link-changes.md

But it seems that won't be until at least npm@7.

I've experimented a bunch and there appear to be a few different bugs. Some I can fix. I have a draft PR here: https://github.com/reactioncommerce/reaction/pull/6

[2020-05-20 21:34] loan-laux commented on #6248
@aldeed The implementation of this RFC can't come soon enough! Things will be a lot better when this will be available for us to use.

As for your last paragraph, do your symptoms match by any chance what I've noted at #6250?

[2020-05-20 22:28] aldeed opened #6511 "Language-specific Money formatting"
Per discussion in https://github.com/reactioncommerce/reaction/issues/6517, it would be good to work toward being able to do currency formatting differently depending on desired language.

Rough idea:
- Reaction `formatMoney`, passes through to [accounting-js](http://openexchangerates.github.io/accounting.js/#methods). It does not support language-specific `format` so we would need to resolve the

[2020-05-20 22:30] aldeed commented on #6517
I agree in theory but to support language-specific formatting would take some work. I created a new issue that outlines a possible approach, but I may have forgotten something.

https://github.com/reactioncommerce/reaction/issues/6511

I'll leave this issue open as a discussion of which EUR symbol position should be the default when language isn't known.

[2020-05-20 22:43] aldeed commented on #6248
@loan-laux Yes! I hadn't thought about the cache. I don't know why that would override what's actually there but it's an idea to explore.

[2020-05-20 22:46] aldeed commented on #6250
I saw this but it wasn't quite as straightforward as you describe. If I repeatedly tried different things like updating the log text and/or unlink/relink, it would sometimes work correctly a second time but then go back to not working.

[2020-05-20 22:50] aldeed commented on #6250
Another possibility is something to do with Docker volume links. I am on Mac OSX and I have sometimes seen weirdness that makes me think nested folders within `node_modules` can "bleed" through from the host machine even though all of `node_modules` is supposed to be a Docker volume.

And related to that, there is both a local volume for the run and the `node_modules` volume, and I think those som

[2020-05-21 09:04] loan-laux commented on #6250
I've investigated this a bit deeper, and it looks like somehow, after re-linking the `api-plugin-products` package, it actually linked the newest version **inside of the previously linked one**:

<img width="819" alt="Screen Shot 2020-05-20 at 19 22 21" src="https://user-images.githubusercontent.com/45489203/82477108-3e28f200-9acf-11ea-8b78-9f739c9d8555.png">

If this screenshot isn't clear, this

[2020-05-21 14:04] bjanssen-pon commented on #6517
Thanks for the discussion!

As for all companies of Pon, we use the international notation for the EUR currency where the euro symbol is in front of the amount.
As for this, i use ISO-4217.

[2020-05-21 14:49] loan-laux commented on #6250
Back with some other observations... It's getting crazy, to the point that I can't work anymore.

I've tried to `rm -rf` my linked package from the API's `node_modules` through the container's bash shell. I also tried to `rm -rf` the package from `/home/node/copied-packages` to really make sure that there's no old copy left anywhere.

Then, re-linking this same package with `bin/package-link`, not

[2020-05-21 15:33] bjanssen-pon commented on #6517
Alsof, there van be two types of notations...
a. € 15,00
b. 15,00 EUR

[2020-05-21 17:19] aldeed commented on #6250
@loan-laux Good find. I actually think I probably fixed this in https://github.com/reactioncommerce/reaction/pull/6251 Were you using that branch when you saw it linked inside itself?

The reason it did that after the first time is because of the way `docker cp` works. See the `SRC_PATH` / `DEST_PATH` logic flow here: https://docs.docker.com/engine/reference/commandline/cp/#extended-description

W

[2020-05-21 17:24] aldeed commented on #6517
From ISO-4217 Wikipedia page:

<img width="640" alt="Screenshot 2020-05-21 12 23 25" src="https://user-images.githubusercontent.com/3012067/82586931-f604e080-9b5d-11ea-8983-3e86311c261e.png">

[2020-05-21 18:56] aldeed commented on #4461
This is old and no longer relevant.

[2020-05-21 18:56] #4461 closed

[2020-05-21 19:47] bjanssen-pon commented on #6517
Yes, correct. That is the option b i posted.
But i want to use the symbol notation.
Is it an option to override the default somehow from the admin? Would make sense.
I could override it in versions 2.x by adjusting the currency settings file.

[2020-05-21 21:00] aldeed commented on #6517
Overriding is no longer possible without code changes. That is something we lost, but could be added back in the future.

[2020-05-22 09:13] bjanssen-pon commented on #6517
It would be very nice to have that option again or have the option to have multiple representations and select it in the admin.

[2020-05-22 13:08] loan-laux commented on #6231
Should be fixed now as part of `api-plugin-taxes-flat-rate@1.0.1`.

[2020-05-22 13:08] #6231 closed, assigned to nobody

[2020-05-22 15:10] aldeed commented on #6070
This stuff was implemented in 3.7.0

[2020-05-22 15:10] #6070 closed, assigned to nobody

[2020-05-22 15:35] aldeed opened #6252 "Add offset pagination everywhere"
The pagination util function supports `offset` automatically, but the `offset` field needs to be added to the GraphQL schema params for each query for it to work. This is a general tracking issue, but someone should investigate to determine which queries and missing `offset`, and create an individual enhancement issue for each in the `api-plugin-*` repos.

[2020-05-23 15:33] loan-laux commented on #6250
@aldeed This (linking inside of itself and not updating) actually doesn't seem to happen anymore while using your branch. I think we're good to go with this! Thanks for fixing it. 👍🏻

[2020-05-26 09:06] trojanh commented on #6252
@aldeed I was checking the queries and found out these pagination queries are missing `offset` params,
[code]

I can work on adding the params to these queries once you confirm.

[2020-05-26 10:16] trojanh commented on #6242
@aldeed I would like to know your take on this fix:
1. import `tempStore` from `setUpFileCollections` in `/api-plugin-files/src/mutations/createMediaRecord` .
2. Check if `tempStore.exists(tempStoreId)` is false in `createMediaRecord` and send appropriate error response before validation

[2020-05-27 16:35] loan-laux commented on #6249
@aldeed I just took some time to work on this. It seems `require.resolve` can't be used inside of modules. The recommended alternative is [`import.meta.resolve`](https://nodejs.org/api/esm.html#esm_no_require_resolve), which was introduced with Node 14 and uses the `--experimental-import-meta-resolve` flag.

An update to the latest version of Node would be a good thing regardless of this issue, so

[2020-05-27 16:44] #6250 closed, assigned to nobody

[2020-05-28 16:47] dheerajmpai commented on #3177
Sorry for bumping the old question. Can I know what is the admin URL? Is it localhost:3000? I cannot find this anywhere in the documentation

[2020-05-28 18:15] aldeed commented on #6249
@loan-laux I think the goal was to stay on the LTS track of Node. That said, they have been unflagging things on that track. 12.17.0 just removed the need for `--experimental-modules` flag. Maybe they will backport `import.meta.resolve` to it soon? v14 goes to LTS in October but it would be nice to solve this sooner if there's a way.

[2020-05-28 18:18] #6237 closed, assigned to nobody

[2020-05-28 22:38] focusaurus opened #6254 "Crash on start: MODULE_NOT_FOUND error with apollo-engine-reporting > uuid"
Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description

On startup (working on the v3.8.0 codebase prior to release), the node server is crashing with this error:

[code]

Researching online, I t

[2020-05-28 22:50] focusaurus commented on #6254
I tried updating to apollo-server-testing 2.14.1 but got the same error. It looks like uuid v8.1.0 is properly ready to support ES Modules, but maybe apollo-engine-reporting 2.0.0 is not.

[2020-05-29 01:45] mikemurray commented on #6248
I'm also seeing issues where `package-unlink` things a package isn't symlinked, even though it most definitely is.

npm link and docker are very problematic together that I'd rather see us use something else like yalc (https://github.com/whitecolor/yalc). I've tested with the new admin at the start and it was far less buggy.

[2020-05-29 08:50] loan-laux commented on #6248
@mikemurray Since @aldeed's latest changes, I've found that I needed to use `bin/package-unlink @reactioncommerce/package-name` instead of just `bin/package-unlink package-name`. Did this occur in both cases?

However, I do agree that Yalc looks like a much better solution. This looks like what we should implement!

[2020-05-29 08:58] loan-laux commented on #6249
@aldeed Gotcha. I'll be on the lookout for a backport of `import.meta.resolve` to the LTS track.

[2020-05-29 16:50] mikemurray commented on #6248
@loan-laux your suggestion worked for me. I think there was a disconnect for me between the plugin name used during the link is different than the unlink.

I think a quick fix to the current script could be, either an error message suggesting `Did you mean @reactioncommerce/plugin_name` or trying `@reactioncommerce/$plugin_name` first if there's no prefix, then fallback to previous logic.

[2020-05-29 16:53] loan-laux commented on #6248
@mikemurray 100% agreed.

[2020-05-29 20:15] manueldelreal opened #6256 "Catalog items are not displayed in PDP when using slug to query the API"
## Issue Description

Catalog items are not displayed in PDP when using slug to query the API

## Steps to Reproduce

1. Open your storefront with items in the catalog (or create a product and publish it)
2. Click on your product from the listing page

Expected results
Product details page loads and displays product properties as stored in the DB

Actual results
An error is displayed instead of pr

[2020-05-30 07:37] nchopra commented on #6254
What node version are you using?
I faced the same issue while using `apollo-server-express` @ `2.14.1` yesterday, coming from the same module `apollo-engine-reporting` as you.
I was using node `13.1.0`, downgrading it to node `12.8.0` made it work.
Trying to figure out why.

[2020-05-30 15:38] karbal commented on #6232
@aldeed  Hello,
The solution I'm looking for it, must be in http or with a direct graphql query.

[2020-05-31 12:33] brianwong3 opened #6257 "Update Shop Localization settings fails if Default Parcel Size is not set"
## Issue Description
On a fresh set up, the Base of Unit Measure or Base Unit of Length cannot be changed unless the Default Parcel Size value are set.

## Steps to Reproduce
1. Start a fresh setup
2. Login as admin user
3. Navigate to _Settings_ > _Shop Localization_
4. Try and change _Base of Unit Measure_ or _Base Unit of Length_
5. Fails

## Possible Solution
Set the values for the _Default Pa

[2020-06-02 01:26] aldeed commented on #6248
Definitely should be using the full pkg name for both link and unlink now. It's done that way so that non-Reaction pkgs can be linked, too. But I agree there could be ways to add sanity checks.

I think it would also be easy to add a flag or something telling it to use yalc instead of link. Most of the script other than the link command would be the same (if I'm understanding yalc). Only problem i

[2020-06-02 16:38] Vercryger commented on #6254
I'm having this issue as well using `reaction-api@3.7.1`, I haven't found a workaround yet.

[2020-06-02 17:09] focusaurus commented on #6254
I'm working on the reaction v3.8.0 release which runs node 12.14.1

[2020-06-02 18:42] amaster507 commented on #6254
I am running Node 13.2.0 and am getting the same problem. Just updated babel and did a fresh update and install of all modules and started getting this error.

[2020-06-04 16:09] focusaurus commented on #6256
@manueldelreal OK to close this as fixed in v3.8.0 by Mike?

[2020-06-04 16:24] manueldelreal commented on #6256
execute order 66...I mean, yes, let's close it.

[2020-06-04 16:24] #6256 closed, assigned to mikemurray

[2020-06-04 22:53] bayareacoder opened #6258 "Missing env var when running `reaction` via standalone NPM script i.e. outside Docker"
I want to run the GraphQL API outside Docker by executing `npm start:dev` in `reaction` folder after installing npm modules.
Error shown:
Missing environment variables:
STRIPE_API_KEY: A private Stripe API key
although this key is set in the .env file.

I inspected the API plugins and see in the Stripe plugin that this key is required and is filled out with a default value but only when in test mo

[2020-06-05 01:44] bayareacoder opened #6259 "Publishing of product with hidden variant fails"
When publishing a product on `reaction-admin` with variant set to hidden the publishing fails and shows this error:
`GraphQL error: Some Products could not be published to the Catalog. Make sure the parent product and its variants and options are visible.`

It seems required that a product has at least 1 variant (since there is no price entry field in admin website at the product level). It would

[2020-06-05 02:04] #6259 closed, assigned to nobody

[2020-06-05 08:08] loan-laux commented on #6258
@bayareacoder If you're running Reaction outside of Docker, you'll have to set the environment variables yourself. This is normal behavior. Try doing `source .env` maybe.

However I'm not sure that this would qualify for an issue as we're not actively supporting this method. Perhaps [the Gitter channel](https://gitter.im/reactioncommerce/reaction) would be a better fit.

[2020-06-05 15:35] karbal opened #6260 "The public folder is not accessible from the url"
[code]
Url : http://localhost:3000/public/resources/avatar.gif

[2020-06-05 16:38] focusaurus commented on #6257
I can reproduce this. Here's the console stack trace.

[code]

[2020-06-05 17:08] focusaurus commented on #6260
Omit "public" from the web path like this:

http://localhost:3000/resources/avatar.gif

"public" is a directory on the filesystem but it represents the root ("/") of the web app and is not included in web paths.

[2020-06-05 17:08] #6260 closed, assigned to nobody

[2020-06-05 17:12] focusaurus commented on #6258
The `.env` file sets shell variables but does not export them to the environment. You may need this as well:

[code]

Closing as that should get you going and we don't provide support for running outside docker.

[2020-06-05 17:12] #6258 closed, assigned to nobody

[2020-06-05 17:35] focusaurus commented on #6254
I can no longer reproduce this and I don't understand repeatable steps to reproduce at the moment. It's the kind of thing that I would think a `docker volume rm reaction_api_node_modules` would fix but I was having the problem after doing that earlier this week, so still 🤷‍♂️ .

[2020-06-05 17:55] focusaurus commented on #6164
1. It's a new package: https://github.com/reactioncommerce/db-version-check/commits/trunk

2. I think it's registering a plugin-specific collection, which is fine

[code]

3. Any time we pick a tech and make it required, it's restrictive to our user base. We have to do it all the time out of necessity, but we try not to be overly prescriptive or opinionated. Thus we use the official node.js mongod

[2020-06-05 17:55] #6164 closed, assigned to nobody

[2020-06-05 19:16] focusaurus commented on #6252
@trojanh looks good. Feel free to proceed if you can.

[2020-06-05 20:47] karbal commented on #6260
@focusaurus Thanks is working but after i added this line in docker-compose
[code]

[2020-06-06 03:35] abhishiv commented on #6254
I just hit this is well. Must be something to do with babel-node, and node when experimentalModules is on.

[2020-06-07 03:06] bayareacoder commented on #6258
I am meanwhile focusing on Docker Deploy and found the Gitter Deployment chat room. One suggestion: have concrete step by step instructions on your website to deploy on popular cloud providers. Its not trivial with v3 and based on the chatroom many folks are struggling with it.

[2020-06-09 22:08] bayareacoder commented on #6252
@trojanh Is anything forthcoming on this? We are using a front end framework to develop a reaction-commerce admin UI that only supports offset-, and not cursor-, based pagination so could definitely use this too. In terms of priority, entities with likely many objects are of course priority, so: `tags`, `productsByTagId` and `ordersByAccountId` in particular. Thanks.

[2020-06-10 05:15] trojanh commented on #6252
thanks @focusaurus , I have started some work on this, should finish all of them soon @bayareacoder .

[2020-06-10 06:11] trojanh commented on #6252
@focusaurus I think all the PRs above cover pretty much all remaining queries not having `offset` params, Please review these PRs and let me know if they look good.

[2020-06-10 14:34] bayareacoder commented on #6252
@trojanh Thank you! Hopefully this can be merged soon and made available in a new Docker image for reaction-development-platform. We are running that to develop an own admin UI against the Reaction API. These changes will make the queries consistent so we can show better pagination controls for all entities.

[2020-06-11 05:18] bayareacoder opened #6261 "discountCodes query does not report edges, only nodes"
## Issue Description
`discountCodes` query does not report edges, only nodes

## Steps to Reproduce
See attached image for a query that returns nodes but no edges.

## Possible Solution
Add edges in query response

### Versions
reaction-api 3.8.0

<img width="1393" alt="Screen Shot 2020-06-10 at 10 17 13 PM" src="https://user-images.githubusercontent.com/8239955/84347746-27266e80-ab68-11ea-86e0-2f

[2020-06-11 21:11] bayareacoder opened #6262 "improve consistency in v3 API"
## Issue Description
To make it easier to integrate the API into frameworks that allow to build an Admin UI based on GraphQL introspection, it would help to have type, query and mutation names that are consistent:

1. Mutation operation names should include the name of the type, of the form `<verb><type>` where `<verb>` is as shown below

2. Queries should have the lowercase name of the type and e

[2020-06-12 01:11] bayareacoder opened #6263 "`emailTemplates` query does not report edges, only nodes"
`emailTemplates` query does not report edges, only nodes

![Screen Shot 2020-06-11 at 6 09 23 PM](https://user-images.githubusercontent.com/8239955/84454268-ec2b4600-ac0e-11ea-8982-9ccfca4a0c7b.png)

[2020-06-16 20:02] travis5491811 opened #6264 "Create issue for docs?"
Hello,

Can you create a issue category for reporting issues with documentation? Right now you have Core, Bugs, and Questions (that will be immediately closed so no point in posting there) and Gitter. Lots of stuff gets lost in "Gitter" and because all conversations are mixed together in a single thread, its hard to follow (where did conversation start? when did question get resolved? who is x res

[2020-06-16 20:23] focusaurus commented on #6264
For docs bugs, you can file them as issues in the [reaction-docs](https://github.com/reactioncommerce/reaction-docs) github repo.

[2020-06-16 20:29] #6264 closed, assigned to nobody

[2020-06-24 20:12] janus-reith opened #6488 "Missing xForm for cartItem Media"
## Issue Description
There currently is no functionality to resolve cart item images, therefore these are not available in a cart query.

## Background
Until v3.5.0 this xform was part of the cart: https://github.com/reactioncommerce/reaction/blob/v3.5.0/src/core-services/cart/xforms/xformCartItems.js

When @aldeed refactored that logic in https://github.com/reactioncommerce/reaction/commit/da6502

[2020-06-29 20:17] mikemurray commented on #6248
This past week, I've been running the `yalc` commands locally and have it do it's thing. Everything seems to work fine, but this does mean that you have to globally install `yalc`. Since we run `package-link` and `package-unlink` out side of docker it should be fine, but I can't be sure until we try.

The steps I've used for linking packages and running tests.

[code]

[2020-06-30 14:36] karaarda opened #6492 "context.validatePermissions is not a function"
## Issue Description
context.validatePermissions is not a function at Object.updateOrder (file:///usr/local/src/app/node_modules/@reactioncommerce/api-plugin-orders/src/mutations/updateOrder.js:50:17)

## Steps to Reproduce
Simply call the updateOrder query with the context.

## Possible Solution
As a work around use context.getInternalContext() instead of context which still has a validatePermiss

[2020-07-01 01:59] martavis opened #6267 "Nav Titles Disappearing on Refresh"
Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description
This issue is for `reaction-admin` for operators. When refreshing any page, the nav's titles disappear. The issue can be seen on this YouTub

[2020-07-01 09:01] brent-hoover opened #6503 "FlatRateFulfillmentRestrictions contains no natural key"
## Issue Description
FlatRateFulfillmentRestrictions records contain no natural key make them extremely difficult to manipulate because there is no way to manipulate them without access basically the entire record which also contains unnatural keys so they are not the same from environment to environment. This is an anti-pattern.

## Steps to Reproduce
1. Create a sophisticated rule in FlatRateFul

[2020-07-02 17:40] #6248 closed, assigned to nobody

[2020-07-13 10:29] jose31canizar commented on #6254
Updating babel with `npx babel-upgrade --write` fixes the problem in my case.

[2020-07-13 15:12] janus-reith commented on #6262
Hi @bayareacoder, first of all, I agree on all three points you raised, especially regarding 3 I think some work could be done to generalize and simplify CRUD Operations.

Could you elaborate further on the "Admin UI based on GraphQL introspection"? Do you just mean creating an Admin UI by looking at the GraphQL Schema availabe trough introspection, or actually technically making use of Introspect

[2020-07-13 15:21] bayareacoder commented on #6262
Hi Janus, I mean making use of graphql introspection in the admin. Actually we do that now in our admin UI for RC to create a ‘field list’ of the fields available so we can build the graphql query string from it without having to enumerate them in the source code.

[2020-07-14 09:22] janus-reith commented on #6262
@bayareacoder Awesome! I had a similar idea in mind for some time, but never actually implemented it. Would love to see what you came up with sometime if that is possible. Are you planning on open-source any part of it?

Regarding this ticket, I think it would be helpful to have a complete list if items that would need to be renamed/implemented to get a better picture of the amount of work this in

[2020-07-14 16:00] bayareacoder commented on #6262
We don't do open-source so can't share our code but we use similar to this, which is using the principle of using GraphQL introspection to build queries:https://github.com/marmelab/react-admin/tree/master/packages/ra-data-graphql
As for a complete spec,  besides the few examples I gave I don't have that as we are implementing with the current API, but in essence everything should be consistent in

[2020-07-16 18:19] Manizuca commented on #6257
Can you try with reactioncommerce/reaction-admin#295 ?

[2020-07-16 22:22] #6257 closed, assigned to nobody

[2020-07-24 06:41] brent-hoover commented on #6254
I am seeing this as well using the current 3.8.0 version. Glad this issue was here to let me know it's somewhat Reaction-related

[2020-07-27 06:29] brent-hoover commented on #6254
I've tried all the workarounds mentioned here and still no luck. Interesting to note that I do not get this issue when building from the `node-prod:12.14.1-v3` image but do when building from the node/alpine image based on the current dev dockerfile

[2020-07-28 11:00] brent-hoover opened #6506 "Surcharges missing shopId"
ShopId is referenced in the resolver(s) [here](https://github.com/reactioncommerce/api-plugin-surcharges/blob/98cb4ca48fcd53edbfd36dedbe6986bfe8bf795c/src/resolvers/Surcharge/index.js#L7) but doesn't exist on the schema so the shopid is never written to the surcharge record which causes this resolver to always throw an error since it needs shopId to return the currency code.

I think this is actua

[2020-07-29 04:52] Manizuca commented on #6519
The same thing happens with CLP (chilean peso), but in this case i cant remove scale = 0 since we don't use decimal places with money.
Do someone know the reason why price is multiplied by 100 when scale is 0?
https://github.com/reactioncommerce/api-utils/blob/5b32c0066cc93eb28155caa4507704d735694666/lib/formatMoney.js#L23

The same thing happens in reaction-admin ([imports/utils/formatMoney.js#L2

[2020-07-29 15:13] imajindev opened #6270 "Try with DocumentDB, get mongodb error: cannot find index"
Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description
Try to use DocumentDB for the database for reaction
received 'cannot find index' error

## Steps to Reproduce
1. Setup a single AWS document

[2020-07-30 04:57] transilience opened #6278 "Unable to go through the entire workfow"
[code]
## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description
We are trying to setup a store using reaction.
Using git pull and make, we have setup a local instance
## Steps to Reproduce
Pleas

[2020-07-31 09:44] janus-reith opened #6498 "Move filters for the products query into a separate input type"
## Issue Description
The `products` query currently defines all possible filters toplevel, making it impossible to extend:
https://github.com/reactioncommerce/api-plugin-products/blob/0be4a8e31dab70475431f892b66e8ce8c3f4f6e1/src/schemas/product.graphql#L615

In comparison, this is what it looks like for the `orders` query:
https://github.com/reactioncommerce/api-plugin-orders/blob/419872d845d8ed24

[2020-07-31 22:07] focusaurus commented on #6278
That error message looks familiar to me. Let me see if I can find an existing bug.

[2020-07-31 22:11] focusaurus commented on #6278
OK I think you are hitting https://github.com/reactioncommerce/reaction/issues/6257 which has been fixed but not released. We should be starting a new release into QA within a few business days I think so keep an eye out for that.

[2020-08-02 08:24] transilience opened #6272 "Localization not working"
## Issue Description
When starting up as a fresh server, we tried to change the localization field to meet our country needs,

Timezone : Asia/ Calcutta
Currency : INR
Base unit of length : Centimeters
Base unit of Measure : Grams
Language : English

## Steps to Reproduce

1. Clone the git repo
2. make
3. setup a new account from localhot:4080
4. create a dummy product
5. go to localization from t

[2020-08-02 11:15] balibebas commented on #6272
I'm seeing the same issue with `reactioncommerce/admin:3.0.0-beta.7`. Looks like this may have been introduced in https://github.com/reactioncommerce/reaction-admin/pull/242 refactorings released in `beta.6` (unconfirmed).

@transilience what version of admin are you running?

[2020-08-03 13:34] Bongsakorn commented on #6270
Additional information, I try to using reactcommerce on ECS and using DocumentDB. I got error

`namespace name generated from index name is too long` and `'Document can\'t have $ prefix field names: $type',`

Regards,

[2020-08-04 09:15] KevinMendes opened #6273 "Access denied and error 400"
none

[2020-08-04 11:12] #6273 closed, assigned to nobody

[2020-08-06 09:13] heri16 opened #6483 "Cannot pass mongo options to use cacert"
https://github.com/reactioncommerce/api-core/blob/de2e924ae68247c08f690fbbd3fc9f678f4f45ec/src/util/mongoConnectWithRetry.js#L25

https://scalegrid.io/blog/mongodb-ssl-with-self-signed-certificates-in-node-js/

There is no way now to do the below on reaction.

[code]

[2020-08-06 09:15] novayadi85 commented on #6483
https://docs.aws.amazon.com/documentdb/latest/developerguide/connect_programmatically.html

This does not work too.

[2020-08-06 09:43] novayadi85 commented on #6270
*Logs*
[code]

[2020-08-06 09:51] novayadi85 commented on #6270
After commenting these lines :

https://github.com/reactioncommerce/api-core/blob/de2e924ae68247c08f690fbbd3fc9f678f4f45ec/src/ReactionAPICore.js#L292-L297

[code]

[2020-08-11 04:30] brent-hoover opened #6502 "Allow rules to contain more than one condition"
We have run into a limitation with the FlatRate restrictions that I think many people shipping to US addresses may come upon.

If you ship to US PO Boxes and/or APO Boxes (Armed Forces) the only allowed shipping methods are US Mail. You cannot ship via FedEx or UPS.

Right now if you build a rule to say allow UPS to all US addresses, and then want to restrict it to non PO Boxes and non-APO address

[2020-08-12 13:47] hamza0200 opened #6277 "GraphQL access denied even when the service is running"
We have followed the [Reaction Development Platform](https://docs.reactioncommerce.com/docs/installation-reaction-platform) to install Reaction.

## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?

## Issue Description
Sometimes when we login GraphQL access denied option comes up even when service is up, we have to refresh multiple ti

[2020-08-14 07:58] loan-laux commented on #6254
@zenweasel Did you manage to find a workaround that works?

[2020-08-14 08:18] brent-hoover commented on #6254
No. Just went back to my method of restarting the container.

[2020-08-17 17:47] rochadsouzaiit commented on #6254
I know that this is not the "real" answer, but I got this error, cloned (my) repo into another folder, `docker-compose up -d` and everything works -  came up to this "solution" cause my project only has a couple diff packages from the original one (`trunk`), and cloning and running the original repo, works for me.

I Tried:
- delete all containers and create them again;
- replace all files with th

[2020-08-18 09:41] rochadsouzaiit commented on #6254
My Reaction Project only have a couple of plugins installed (for aws s3 storage and a custom IDP). What I did was clone the original project (`trunk`) and tried to run without my plugins - it worked. After that I added my plugins and... it worked again. Just on my project branch it not works...

ps.: in my case, with `node-prod:12.14.1-v3` I still got the same error.

[2020-08-20 07:33] bjanssen-pon commented on #6254
I'm having the same issue only with the dev mode (override of compose file). Did `docker system prune`, removed container and volume but did not fix the issue. I had it before, but for some reason that error fixed itself. Now stuck on this and I don't know how to fix it. In dev-mode without custom plugins it also doesn't work.

Node version: 12.14.1

[2020-08-21 21:49] kieckhafer commented on #6277
Thanks for the reported issue, @hasan-synavos.

The `reaction-development-platform` repository is used to bootstrap the project and get it up and running, but issues regarding the API, Admin, Storefront, or anything outside the initial build are better suited in their respective project repositories.

This issues seems like it probably stems from user permissions in the API itself, so I'm going to

[2020-08-21 22:19] kieckhafer commented on #6278
@transilience can you please try again, we've released a new release after @focusaurus's comment, and it should be fixed. In the meantime, I'm going to move this ticket to the `reaction` repo for better visibility.

[2020-08-25 08:47] janus-reith opened #6279 "Define Listeners to appEvents in registerPlugin"
Currently, if a plugin wants to listen to `appEvents` that were emitted, the way to go is to define a `startup` function in your plugin's register function, and then call `appEvents.on` in there.

As there currently seems to be no other feasible place to put them(e.g. some one-time function call) or any requirement to define them conditionally later at runtime,  I would like to propose to just def

[2020-08-27 03:42] gnarhard commented on #191
@zenweasel I am seeing the "wontfix" label on this and it got me REAL bummed out. Is there any talk of bringing back the digital download product feature?

[2020-08-27 03:56] brent-hoover commented on #191
@GraysonE No idea as I haven't worked at RC for a while. I would think that this would be something that RC would expect implementors or 3rd party intgegrators to implement, but again I have no insight into what the focus will be since the acquisition by MailChimp

[2020-08-27 08:09] codemarvel opened #6280 "Help! Looking for a mentor who can help me understand the basics of reaction commerce.."
## ❓

### Please note that this issue tracker is not a help form and this issue will be closed.

Please contact us instead. We are active in gitter and twitter:

- [Gitter](https://gitter.im/reactioncommerce/reaction)
- [Twitter](https://twitter.com/getreaction)

[2020-08-28 04:24] kieckhafer commented on #191
Thanks @zenweasel!

@GraysonE, as commented, at this time, this would be something a third party would need to implement. [Extending ](https://docs.reactioncommerce.com/docs/how-to-extend-product) our [products plugin](https://github.com/reactioncommerce/api-plugin-products/tree/trunk/src) and / or [creating a fulfillment method for digital products](https://docs.reactioncommerce.com/docs/how-to-c

[2020-08-28 10:37] janus-reith opened #6490 "context.mutations.publishNavigationChanges is not awaited"
In the publishNavigationChanges mutation resolver:
https://github.com/reactioncommerce/api-plugin-navigation/blob/a786b91ea9b333e8600e9b527c64c6975c03a62e/src/resolvers/Mutation/publishNavigationChanges.js#L21

`context.mutations.publishNavigationChanges` should be awaited.

I believe this currently still works as Apollo waits for outstanding promises to resolve.

[2020-08-28 10:40] janus-reith commented on #6490
Thinking again, might be ok this way as that resolver code probably wouldn't be reused outside the Query context, but not sure if there was a general discussion about this.

[2020-08-30 18:24] balibebas commented on #6280
https://habd.as/post/reaction-commerce-getting-started/

[2020-08-30 18:25] balibebas commented on #6280
https://habd.as/post/reaction-commerce-getting-started/
https://www.codementor.io/@jhabdas

Best to contact by email.

[2020-08-30 18:46] ghost commented on #6264
@travis5491811 I wasn't able to find your issue in the docs repo. To get your demo running perhaps you may find the following tutorial helpful in the future: https://habd.as/post/reaction-commerce-getting-started/

[2020-09-07 08:18] brent-hoover commented on #6254
fwiw I have build a project with a minimal number of built-in plugins and was still running into this issue
[code]

Still had the same. However when I upgraded the build to Node 14.8 the problem went away

[2020-09-16 07:58] thardyman commented on #6270
Has anyone managed to get reaction commerce working with DocumentDB? If so, how? I'm getting the same error
`MongoError: cannot find index`

Unfortunately it doesn't give any more information.  I tried adding all the indexes listed [here](https://docs.reactioncommerce.com/docs/3.1.0/database-optimizations#list-of-indexes-to-add-to-make-queries-faster)  but that didn't help.

Thanks

[2020-09-16 14:19] loan-laux commented on #6270
@thardyman DocumentDB claims to be "MongoDB compatible" but it's actually missing a lot of the MongoDB API to be a direct replacement (it fails about 65% of the API "correctness" tests). Indexes are one thing that DocumentDB is lagging behind compared to MongoDB. I would suggest reading up on this [on the MongoDB website](https://www.mongodb.com/atlas-vs-amazon-documentdb).

My advice would be to

[2020-09-16 14:19] #6270 closed, assigned to nobody

[2020-09-18 07:45] #6280 closed, assigned to nobody

[2020-09-21 04:17] brent-hoover commented on #6492
We are seeing this as well when moving code from 2.x to 3.x. Code that called this mutation that worked no longer works

[2020-09-25 17:14] #6254 closed, assigned to focusaurus

[2020-09-25 17:37] focusaurus commented on #6254
OK my comment in that PR closed this, which is probably a fairly optimistic take. If anyone has time to pull down the latest trunk branch of reactioncommerce/reaction and test whether both dev and prod mode work without any npm errors, that would be valuable confirmation.

[2020-10-14 03:01] phearakthefoundry commented on #1433
I don't know why it show like that
![image](https://user-images.githubusercontent.com/61926624/95938451-1e8ac100-0e04-11eb-850f-c2f3eb5d2c72.png)

[2020-10-14 08:06] loan-laux commented on #1433
@phearakthefoundry You're using the Reaction CLI which was deprecated a long time ago. You should use the new `Makefile` from `reaction-development-platform` instead.

[2020-10-14 17:15] Heanphearak commented on #1433
git clone git@github.com:reactioncommerce/reaction-development-platform.git
cd reaction-development-platform
make
After I run make command it show like image below, I use window 10.
![image](https://user-images.githubusercontent.com/40253277/96022422-0904ae00-0e7b-11eb-9ba2-e46d146afa47.png)

[2020-10-15 05:50] mian-muhammad commented on #6011
I can see `createNavigationTree` mutation but I think relevant role is missing from roles collection mongodb, here is what I have tried, any help will be appreciated @trojanh @aldeed  correct me if I am wrong, Admin authorization token was included

![Screenshot from 2020-10-15 10-33-19](https://user-images.githubusercontent.com/20898558/96082140-1dc16000-0ed4-11eb-8bef-d615e4b36a11.png)

[2020-10-15 08:09] loan-laux commented on #1433
@Heanphearak If you're running `reaction-development-platform` on Windows, you need to do it through WSL 2. I would also recommend that we move the discussion to the `reaction-development-platform` repo or to Gitter if you still have issues with this.

[2020-10-18 12:27] dzirg44 opened #6298 "Upload images - Runtime error"
## Issue Description
When I try to create products, or upload any image I  receive an exception

https://gist.github.com/dzirg44/d16f5cc84087cae8c2a47b7568531db4

## Steps to Reproduce

1. update  Development platform to the latest version
2. enter to the Admin ui
3. create product
4. upload image

## Possible Solution
https://github.com/reactioncommerce/reaction-file-collections/blob/master/packa

[2020-10-19 09:31] phearakthefoundry commented on #1433
Hi @loan-laux, how can I customize reaction commerce ? I try to update UI but it not change.

[2020-10-19 10:48] loan-laux commented on #1433
Hi @phearakthefoundry, could you please open an issue in the correct repo and tag me there? Or simply ask on our Gitter channel to get an instant response. This thread is very old so I'd rather not have it brought back to life.

[2020-10-20 01:57] phearakthefoundry opened #6299 "I would like to update UI"
Hi @loan-laux , I would like to customize UI of reaction commerce. How could I do ?.
Now I try to update UI but it's not see what I change I don't know why.
I would like you help to tell me stab by step.
Thank you.

[2020-10-20 16:37] nnnnat commented on #6299
@phearakthefoundry thanks for your interest in Reaction but this isn't a help forum and is our issue tracker for the open source project. If you're looking for extra help on getting started with Reaction please ask your questions in our [gitter](https://gitter.im/reactioncommerce/reaction) chat.

[2020-10-20 16:37] #6299 closed, assigned to nobody

[2020-10-22 16:08] ramezrafla opened #6300 "Complicated setup"
Hello Reaction Commerce team,

I am a senior Meteor developer and active contributor to the community. I tried to start Reaction Commerce and faced a host of issues, from out-of-date documentation (is the CLI deprecated? If so, why is it still prominent in the docs?) to the complexity in launching it without Docker, and finally using Docker (with some pain) to eventually giving up as the road is s

[2020-10-27 23:41] kieckhafer commented on #6300
Hey @ramezrafla, thanks for the feedback.

I think the main thing to address is this project is no longer a Meteor application at all, it's now a headless node application.

Historically, Reaction was a monolith, built on Meteor, and included an admin and non-admin UI. Starting with [v3.0.0](https://github.com/reactioncommerce/reaction/releases/tag/v3.0.0), which was released in February 2020, Met

[2020-10-28 17:24] ramezrafla commented on #6300
Thanks for your reply @kieckhafer

I appreciate you taking the time and your courtesy

I tried to launch the Meteor reaction server, struggled with bcrypt (had to recompile manually). When I connect, the console gives me errors:
[code]

Then I tried to see if I can launch the example storefront (v2.9.3), to no avail and docs don't help. Then I tried launching Hydra, turns out it's an empty repo wi

[2020-10-28 20:29] ramezrafla commented on #6300
Speaking of monolithic, these guys did it:
https://www.vendure.io/docs/getting-started/

We'll test it out with GatsbyJS client.

I'll close this issue then as I am not sure if we have a way forward.

[2020-10-29 00:29] kieckhafer commented on #6300
It seems like you're looking for two things that we no longer offer, a monolithic stack, and one that runs on meteor. We made the decisions to move away from both of those, and have no plans to move back to either, so if that's truly what you're looking for, Reaction `v3.0.0` is probably not what you need.

As you mentioned, `v2.9.3` is still meteor and monolithic, but that will be the final maint

[2020-10-29 01:39] inix opened #6303 "Question: How do I choose VPS configuration if my app with 2000 users?"
## ❓ Questions and Help
Dear:
How do I choose VPS configuration if my app with 2000 users when I deploy to production?

[2020-10-29 02:30] ramezrafla commented on #6300
Thanks @kieckhafer

I am looking for something easy to deploy and maintain, a single server that has everything, and we can either generate our front-end or use the one built-in.

I am clarifying my need as I think it is universal. [Meteor would have been good as the UI would be built at the same time, but headless is great too.] With Reaction just to get headless we need a complicated infrastruct

[2020-10-29 07:41] janus-reith commented on #6300
I agree that you have a point here @ramezrafla, although I see it as a major breakthrough that the dependency on meteor was removed (mostly, except for admin and IDP) and the stack became way more modular, thereby offering lot's of new possibilities.

Going forward, what I would like to see is even some more modularization on some ends, like it was started for the admin part with https://github.co

[2020-10-29 11:57] ramezrafla commented on #6300
Thanks @janus-reith

To your point about ease of deployment, vendure.io have a one-line test startup with `npx` and it's operational. Their stack is similar (GraphQL, headless etc.) It took me 2 mins to start playing with it.

With Reaction, after many hours of trying ... I just wasted those hours and will likely never try again.

[2020-10-29 12:34] lastmaj commented on #6298
getting the same issue on Ubuntu 20.04.1 LTS, and using the latest "reaction-development-platform" images as well.

[2020-10-29 16:23] homero-gg opened #6304 "reaction init not working"
I am trying to install reaction on Windows 10 but when I put the reaction init command its said that the branch is not found
![reactionproblem](https://user-images.githubusercontent.com/72879207/97602307-61ce5d80-19c8-11eb-93f5-21b6d9786d1a.PNG)

[2020-10-29 16:42] nnnnat commented on #6304
@homero-gg looks like you're trying to use the reaction cli that was [deprecated in v2](https://docs.reactioncommerce.com/docs/3.7.0/reaction-cli). We'd suggest trying the [reaction-development-platform](https://github.com/reactioncommerce/reaction-development-platform/tree/trunk) to get up and running with the latest version of Reaction Commerce.

[2020-10-29 16:50] homero-gg commented on #6304
Okey than. Now when I trying to run the make command its said that I don't have the cut command
![reactioncut](https://user-images.githubusercontent.com/72879207/97605655-22a20b80-19cc-11eb-9598-2fab931a4795.PNG)

[2020-10-30 15:21] nnnnat commented on #6304
You'll need to use something like cygwin for Windows to have access to the required unix commands the developer platform uses. While it's possible to run the developer platform on windows we're not explicitly supporting that OS at this time. Please ask your question in our [gitter](https://gitter.im/reactioncommerce/reaction) chat and you'll hopefully find better windows guidance there.

[2020-10-30 15:21] #6304 closed, assigned to nobody

[2020-10-30 17:18] #6300 closed, assigned to nobody

[2020-11-01 09:01] creative-ae commented on #6298
same issue .. the admin is very buggy.. it was cool to have a powerful node js ecommerce solution. but it is still very buggy. admin not working and reaction-api keep crashing. unfortunately i have to ditch this project

[2020-11-02 11:38] eneskeremturan opened #6305 "http://localhost:3000/ cannot GET/ error"
I uploaded the reaction commerce step by step according to the documents (https://docs.reactioncommerce.com/docs/installation-reaction-platform) .i use windows 10. i access all pages but when enter http://localhost:3000, it gives an error. Error is:

![Ekran Alıntısı](https://user-images.githubusercontent.com/50349426/97864011-fa424600-1d18-11eb-93d2-bbbd38b54bc7.PNG)

what should i do to fix the

[2020-11-02 21:57] bayareacoder opened #6494 "Discount calculation for orders with multiple fulfillment groups"
It seems to me discount calculations for orders with multiple fulfillment groups cannot be correct as only the `discountTotal`  from the cart is passed to each `buildOrderFulfillmentGroupFromInput` inside `placeOrder`:
[code]

Inside `buildOrderFulfillmentGroupFromInput` there is a function `addInvoiceToGroup` which is called as:
[code]

So suddenly the passed `discountTotal` is interpreted as a `

[2020-11-02 22:59] bayareacoder opened #6482 "disallow applying same discount code to a cart more than once"
It seems there is no protection against a customer applying the same discount code more than once to a cart. So he can receive the same discount multiple times...

The discount conditions are being checked against past transactions that applied the discount from `discount.transactions` in function `applyDiscountCodeToCart`:
[code]

However `discount.transactions` is only updated after an order is

[2020-11-03 21:42] #6185 closed, assigned to nobody

[2020-11-04 06:41] dineshdb commented on #6494
To fix this, I removed the [subtraction of discountTotal from the expectedGroupTotal](https://github.com/reactioncommerce/api-plugin-orders/blob/419872d845d8ed24b424510fcc7e645db85cef11/src/util/updateGroupTotals.js#L88) and it worked in our usecase because client sends the discounted value as the total value in the request. Not sure if that is the right approach with respect to other feature you

[2020-11-04 12:40] nikpl7777 commented on #6298
Unfortunately, Reaction Commerce doesn't look alive after Mailchimp ate it. Hope, this wrong though.

[2020-11-04 17:33] bayareacoder commented on #6494
First, I am not a maintainer just a user like you so I cannot do a PR.
But I think there are a few issues with your proposal:

1/ As is mentioned in the original comment in the code, it is expected that the client does NOT include discounts.Your solution requires the client to send the discounted value. So incorporating this in the plugin would make the Reaction API incompatible with existing clie

[2020-11-05 09:29] dineshdb commented on #6494
Alright, I'll keep an eye on this issue so that I can upgrade later eliminating the need for my private fork. Thanks for the help. Appreciate it!

[2020-11-05 20:38] #6303 closed, assigned to nobody

[2020-11-06 10:31] janus-reith commented on #6305
Hi @eneskeremturan ,
http://localhost:3000/ is not supposed to show you anything, the graphql api however is available on http://localhost:3000/graphql (Shows GraphQL Playground if you open it in your browser).
The storefront listens on http://localhost:4000

Running `docker ps` should give you an overview on all running containers and the ports they're listening on.

[2020-11-06 10:31] #6305 closed, assigned to nobody

[2020-11-09 18:54] bayareacoder opened #6306 "Custom method on a data provider with no input arguments causes run-time error when retrieving dataProvider from useDataProvider"
Imagine a custom method `getPrimaryShopDefaultNavigationTreeId()` is defined on a dataprovider.
then below code will cause a run-time error:
[code]

The error occurs in file `getDataProviderCallArguments`:
[code]
as `options` in undefined.

Workaround is of course to call with a dummy argument (eg `getPrimaryShopDefaultNavigationTreeId({id: ''})` but there should really be no restriction on argume

[2020-11-09 18:55] bayareacoder commented on #6306
Pls ignore... filed under the wrong repo.

[2020-11-09 18:55] #6306 closed, assigned to nobody

[2020-11-09 23:16] focusaurus commented on #6298
I can reproduce this. Working on a fix.

[2020-11-10 13:14] vajda-media commented on #4996
Sorry to ask here after closed this thread. Just wanted to know, what was the benefit of removing one of the best JS Frameworks and go on simple nodeJS? Was also the possiblity kept in focus to take ReactJS + Meteor combination?

[2020-11-10 17:02] focusaurus commented on #4996
@vajda-media There were many reasons but one key pain point was crushingly slow start/restart time for the meteor server making back end development extremely hindered. Having a GraphQL API was also a key component of our "headless" product direction and meteor being UI/back-end integrated was contrary to that.

[2020-11-10 21:36] focusaurus commented on #6298
Some debugging notes to self:

- Most packages inside reaction-file-collections will not successfully `package-link` into reaction API unless you delete their "prepublishOnly" script from their `package.json` file
- To link in your locally-modified code, do the following dance once reaction API is running:

[code]

I'm attaching logs from reaction API with `DEBUG=reaction*` which provides good ext

[2020-11-11 17:20] focusaurus commented on #6298
Please disregard that auto-close. It was based on github automatic rules that don't understand the word **might**.

[2020-11-11 18:10] focusaurus commented on #6298
OK so in @reactioncommerce/file-collections 0.9.2 which I just published, I reverted the `tus-js-client` back to `^1.5.1`, and seems to have resolved at least one or two errors with image uploads. That dep got accidentally updated to 2.x during routine dependency updates for security issues. It's a semver breaking change though and we should not have updated beyond 1.x. There are still further iss

[2020-11-11 18:19] focusaurus commented on #6298
The original upload is working and we are storing a URL in mongo that is correct and will be served correctly through the API server, but the URLs for the resized versions all appear to be `"null"` so looking into that to fix it.

[2020-11-11 19:15] janus-reith opened #6307 "Replace the image handling with a more simple solution"
I would like to get rid of the file collection logic soon and replace it with something more simple.

My basic concerns:

- The indirect way how the productId and variantIds are stored on the media and not the Id of the media item on the product is rather inconvenient from a developer perspective
- The current admin image uploading needs to use timeout workarounds as the finished image conversion

[2020-11-11 22:27] focusaurus commented on #6298
OK I've found that the background jobs to resize images are also failing due to the same bug in the error handling [in reaction-file-collections FileCollection.js here](https://github.com/reactioncommerce/reaction-file-collections/blob/58dabc455b2485a9acd2ff4656649535271796f5/packages/file-collections/src/common/FileCollection.js#L85).

Lots of entries in the job failures like this:

[code]

[2020-11-12 00:42] focusaurus commented on #6298
OK this is a deep maze to trace through, but so far my analysis is as follows:

- In [TempFileStoreWorker](https://github.com/reactioncommerce/reaction-file-collections/blob/58dabc455b2485a9acd2ff4656649535271796f5/packages/file-collections/src/node/TempFileStoreWorker.js#L118) the `fileRecord` object is emitting an `"error"` event without passing an error. This is causing a long chain of code to

[2020-11-13 17:27] janus-reith opened #6496 "Recursive createHandle call should be awaited"
## Issue Description
`createHandle` is a recursive function to determine an available product handle.
It is async due to the database queries which need to be awaited.
The recursive call should be awaited aswell:
https://github.com/reactioncommerce/api-plugin-products/blob/cfe03ad3064d431018d1e30750c4ea16f1e775dc/src/utils/createHandle.js#L69

## Steps to Reproduce (untested)
1. Have a product wit

[2020-11-13 23:38] focusaurus commented on #6298
Need to update dependencies to bring the fix into api-plugin-files and reaction API but running into ES Modules woes and sharp native add-on woes that may necessitate a new node-dev docker image. Onward...

[2020-11-15 12:07] beingke commented on #5304
Hey @janus-reith @owenhoskins,

Just following up on this. What is the status of [Strong Customer Authentication (SCA)](https://stripe.com/en-es/payments/strong-customer-authentication) readiness in Reaction Commerce?

[2020-11-15 13:57] karaarda commented on #6482
Adding the transaction after the order is created is not a good option. It leads to an exploit were more than one user adds the discount code to their carts exceeding the usage limits of the discount. There needs to be another check then placing the order to prevent this exploit, which leads to a more complex code base and a confusing experience for the users.

Transaction should be added when the

[2020-11-16 10:37] janus-reith opened #6308 "RFC: Replace Meteor IDP with Accounts-JS"
I experimented with accounts-js, which provides authentication and accounts management similar to the builtin Meteor accounts.
The main advantage with this is, that I could maintain compatibility with existing stored Credentials in the `users` collection.
The server side can be plugged in via REST or GraphQL and works great with Apollo.
The client side library part of this also is really convenien

[2020-11-16 16:06] janus-reith commented on #5304
@beingke No progress has been made on this since I wrote this, the offical Stripe Plugin in Reaction Commerce is not ready for PSD2/SCA.

That being said, writing a Stripe plugin that makes use of the newer Payment intents api in a PSD2 compliant way was rather simple, I did not have to use the webhooks for this, and just plugged in the latest version of stripe-node and wired up the Reaction payme

[2020-11-17 21:14] kieckhafer opened #6310 "Variants with images cannot be duplicated / cloned"
When attempting to duplicate a variant, if there is an image attached to the original variant, the following error happens, and the reaction container shuts down:

[code]

[2020-11-17 21:37] focusaurus commented on #6310
OK great. I can confirm it's the same situation in that something is calling `stream.destroy()` and we are probably propagating the empty error again. The fix will exactly mirror the fix for #6298 but best to handle these separately as these are a slow chore to get fixed with numerous new packages to publish and test, etc.

[2020-11-17 21:41] focusaurus commented on #6310
I think the place to fix this is [here in StorageAdapter.js](https://github.com/reactioncommerce/reaction-file-collections/blob/9e2551d3e8ca887a54e6e735df3533b70481d532/packages/file-collections-sa-base/src/StorageAdapter.js#L159). Check for missing error and disregard instead of propagating.

[2020-11-17 21:53] focusaurus commented on #6310
OK reproduced locally and verified a fix. Will go another round through the dep tree.

[2020-11-18 18:04] janus-reith opened #6508 "updateSurcharge should return the full item from db"
## Issue Description
The `updateSurcharge `Mutation will only return the updated fields instead of returning the full item from db including the changes here: https://github.com/reactioncommerce/api-plugin-surcharges/blob/98cb4ca48fcd53edbfd36dedbe6986bfe8bf795c/src/mutations/updateSurcharge.js#L40

The mutation will fail to return properly, if mandatory fields like `createdAt` are not part of the

[2020-11-18 22:01] focusaurus commented on #6483
I agree this type of burying of key mongo connection options is not ideal. We need a way for the outermost application to provide mongo connection options. Complex types like a certFileBuf might require a real object to be passed through unless we want to model all the options as environment variables and support file paths, etc.

[2020-11-18 23:47] #6298 closed, assigned to focusaurus

[2020-11-18 23:47] #6310 closed, assigned to focusaurus

[2020-11-19 15:27] spencern commented on #6278
Closing this as it's been fixed. Please open a new issue if you're still seeing problems.

[2020-11-19 15:27] #6278 closed, assigned to nobody

[2020-11-21 03:59] bayareacoder commented on #6482
_"Adding the transaction after the order is created is not a good option. It leads to an exploit were more than one user adds the discount code to their carts exceeding the usage limits of the discount."_

I'm not sure I understand. The current implementation checks, at the time of applying a discount code to a cart, that the limits are not exceeded, based on actually placed orders. It is only whe

[2020-11-21 08:09] karaarda commented on #6482
Yes, I understood the issue you mentioned. However; imagine that a discount code is limited to be used only once and it is added to four carts with success. If they try to place an order they will all be able to use the discount code because there is no check for that. Also, carts have an optional expire date; hence, when a cart is abandoned it shouldn't be counted towards the limit once it expire

[2020-11-21 18:04] bayareacoder commented on #6482
OK. In the interest of avoiding too much complexity I think the current solution is good enough for typical scenarios since code is only entered at the end of the checkout process. So the time between applying code to cart and placing order is short, so the chance of many customers entering it at same time is low.
It's also not likely you would promote a code that only can be used by 1 or a few cu

[2020-11-21 18:17] karaarda commented on #6482
Yes, I was addressing to that bad UX, hence adding the usage at the time the code is used is better I believe but it is a matter of taste. However, customers does not have to place an order right after using the code, they can come back later to make the purchase, or they can continue adding new items however they please. Nevertheless; we have implemented our own discount plugin as it is not certa

[2020-11-21 22:10] bayareacoder commented on #6482
Just curious... how do you detect an abandoned shopping cart to remove the discount transaction if you record a discount transaction as soon as they apply the discount to their cart? What if they just close their browser prior to placing order?

[2020-11-22 09:04] karaarda commented on #6482
As I have mentioned there is an expiration date on the cart objects. If the cart is not used to place an order before the expiration date, then you can assume that the discount is not used.

[2020-11-22 15:38] bayareacoder commented on #6482
I get that but the cart is deleted by the server code of the storefront at expiration. Haven't looked into it but i assume it's just a server cookie that expires.
How do you go from that to removing the discount transaction on Reaction, at the time of expiration?

[2020-11-22 16:31] karaarda commented on #6482
We didn't implement that part yet as we are not concerned with that case as much as you however you can follow several approaches. I am not sure what purpose cart expiration date serves, it might be only used for anonymous carts but you can easily tweak it to use for other purposes. As workarounds you can add an event for cart expiration, you can filter the transactions whose cart are expired and

[2020-11-22 16:35] bayareacoder commented on #6482
Ok. So your proposal is not really fully worked out yet. While the current approach may undercount usage (allow some more usage), your proposal will overcount since it will include any abandoned cart. No need to discuss more as we'll stay with the current implementation. Thank you for the clarification.

[2020-11-27 04:43] bayareacoder opened #6505 "update mutation is not open to extensions on Shop schema"
It is not possible to extend the Shop schema, and then include those additional properties in an `updateShop` mutation. This is because the simple-schema validation of the user input is done against a hardcoded input schema, which thus does not include any extensions. Schema validation will fail due to an 'unexpected property' and the update will not go through.

In file `updateShop.js`:
[code]

I

[2020-12-15 13:39] misha-erm commented on #5139
Are there any updates on this issue? As I can see it's still not possible to use any option except 'shipping'

[2020-12-15 13:48] misha-erm commented on #5139
Or maybe it's worth mentioning in the docs at least?
![image](https://user-images.githubusercontent.com/8783498/102222892-1549cd80-3ef5-11eb-8647-5f979bb47776.png)

[2020-12-15 23:21] Kaschman opened #6484 "Validate Plugin Object/Function"
Not so much a bug, but could be a Developer Experience improvement to have some kind of validation around plugins. For example, I was using `graphQl` instead of `graphQL` in a recent plugin; it took some time to track the issue down. Suggest either adding warning logging to the `registerPlugins` method or validating the plugin contents, perhaps with `simpleSchema`?

Not sure which approach is pref

[2020-12-16 12:07] MikeYermolayev opened #6314 "It's impossible to create tags with same names in different shops"
Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description
The problem is that Tag's slug is unique across the whole system. For system where there can be multiple shops it doesn't look like a good s

[2020-12-18 01:47] Eduard-Hasa opened #6315 "Failed to initialize a MongoDB replica set."
[code]

Prerequisites
* [ x] Are you running the latest version?
* [x ] Are you able to consistently reproduce the issue?
* [ x] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description
Have been trying to setup reaction-development-platform but this error keeps coming up with the latest release v3.11.0. I was abl

[2020-12-18 02:05] Eduard-Hasa commented on #6315
Just verified this is 100% a 3.11.0 issue. Fired up 2 fresh gcp instances with ubuntu and 3.10.0 ran perfectly.

[2020-12-18 02:52] finnZhang0710 commented on #6270
where the 65% come from? can you share me?

[2020-12-18 06:05] supermop2525 commented on #6315
Same error, leads to errors in the reaction identity and reaction admin containers as well because they cant find the replica set, leading to problems with sign-in and sign-up.

[2020-12-18 09:14] loan-laux commented on #6270
@finnZhang0710 On the page from the MongoDB website that I linked to, third paragraph.

[2020-12-18 16:57] Eduard-Hasa commented on #6315
`It was mongodb problem. Try to set MONGO_USE_UNIFIED_TOPOLOGY=false in your .env file.`

This solution was recommended by Davian on Gitter.

[2020-12-28 00:04] #6315 closed, assigned to nobody

[2020-12-28 00:05] Eduard-Hasa commented on #6315
Reaction Commerce dev addressed and temporarily resolved the issue here:

https://github.com/reactioncommerce/api-core/pull/15#issue-543807479

[2021-01-05 02:32] delagroove commented on #6249
@loan-laux is this a good solution?
https://www.npmjs.com/package/import-meta-resolve
a polyfill for the function while we wait for it to be in the LTS version.
just checked and this function has not been added in 14.15.4 which is the latest LTS version.

[2021-01-05 06:50] loan-laux commented on #6249
@delagroove Since Node 14.15.4 is now the current LTS, we could use the `--experimental-import-meta-resolve` flag to make the native implementation work without using this polyfill. @aldeed, thoughts on this?

[2021-01-05 18:37] aldeed commented on #6249
I am not opposed to adding the flag in the Docker scripts or anywhere necessary, but I can't speak to whether this is something the core team wants to support. The Node team does sometimes unflag things in a minor release, so it's still possible they will decide to unflag this.

[2021-01-06 09:51] loan-laux commented on #6249
Got it, thanks @aldeed. Any thoughts from the core team, @spencern, @mpaktiti etc?

[2021-01-08 08:57] excisionhd opened #6316 "Fresh Install, Admin Page Failing to Render"
## Prerequisites
* [ x ] Are you running the latest version?
* [ x ] Are you able to consistently reproduce the issue?
* [ x ] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description

Just did a fresh clone of the repository, and followed installation instructions at https://docs.reactioncommerce.com/docs/install

[2021-01-09 19:21] Eduard-Hasa commented on #6316
Instead of posting a bug the proper approach would be first troubleshooting your other services that the admin platform depends on. Nothing is rendering meaning the other service (reaction api) must not be functioning properly. You can troubleshoot this by looking into the docker container's logs. Start with the reaction container that hosts the api and im willing to bet you are facing the mango r

[2021-01-10 07:59] excisionhd commented on #6316
@Eduard-Hasa
Thanks for the advice.  The issue was not exactly the same that you referenced.
[code]

Though, your advice did help me pinpoint the issue related to migrations:
[code]

Thanks!

[2021-01-10 07:59] #6316 closed, assigned to nobody

[2021-01-12 13:02] aboelela924 commented on #6277
so I am having the same issues I followed the documentation step by step but I still get access denied so do we have a solution?

[2021-01-15 15:51] #4284 closed

[2021-01-19 14:34] nnnnat commented on #6246
@ankurpata please re-open if this is still an issue for you.

[2021-01-19 14:34] #6246 closed, assigned to nobody

[2021-01-19 23:18] MohanNarayana commented on #6277
@hasan-synavos @hamza0200 , can you please provide more details on the reproduction steps if possible.
Do you see a WebSocket error on Reaction Admin console (localhost:3000/graphql failed)?
Have you set up hydra-token for graphQL playground?

[2021-01-20 01:00] MohanNarayana commented on #6272
Not reproducable

[2021-01-20 01:00] #6272 closed, assigned to nobody

[2021-01-20 11:34] janus-reith opened #6493 "cancelOrderItem can't deal with concurrent requests properly"
## Issue Description
If `cancelOrderItem` is fired in parallel for multiple fulfillment groups of an order, only some of them might receive an update.
You can see this in action on the current order admin, which fires them in parallel if you click "Cancel Order" (Might be reconsidered in general, network errors should not result in an order being partially cancelled.)

## Steps to Reproduce
1. Cre

[2021-01-20 19:09] MohanNarayana commented on #6234
Following the repro steps the order shows blank. Navigate to products immediately and console throws a graphQL error (access denied). GraphQL playground runs without any issue.

[2021-01-20 21:38] MohanNarayana commented on #6094
@chriscamplin @bongster if you are looking at reaction admin localhost:4080/<shopId>/products loads the product list. Any wrong/different value in place of shopId does not load any data.
Please let me know if the issue still persists or if I am missing any details.

[2021-01-21 15:34] loan-laux commented on #6094
@MohanNarayana Looking at the screenshot and @chriscamplin's explanation of the issue, it looks like this is Reaction 2.x. Pretty sure we can close.

[2021-01-21 15:40] MohanNarayana commented on #6094
@loan-laux thanks for your input. Closing the issue.

[2021-01-21 15:43] #6094 closed, assigned to nobody

[2021-02-02 09:09] brent-hoover opened #6510 "Add replaceOne to mockCollection"
This is a function that's been available since 3.2 but is not available on Mock collections

[2021-02-02 15:24] #6147 closed, assigned to MohanNarayana

[2021-02-04 16:45] Akarshit opened #6320 "Add pre-commit hooks for linting commit message"
Add these hooks to adhere to conventional commits.

[2021-02-04 22:01] #6320 closed, assigned to Akarshit

[2021-02-09 06:35] Yahyakiani commented on #3458
@zenweasel Is this issue available. Would like to take a shot at it. First Timer

[2021-02-09 12:30] mowafy opened #6485 "inviteShopMember clears account groups for other shops"
## Issue Description
Sending an invitation to already active account clears its already assigned groups

## Steps to Reproduce
1. Sign in as an admin
2. Select a shop
2. Invite user by email and set an account group for the current shop
3. If user was already in a group of another shop, that group will be removed from account groups

## Possible Solution
In case of an active user: use `addAccountT

[2021-02-09 17:54] Akarshit commented on #3458
@Yahyakiani Hey! Thanks for taking the initiative to pick this up. The issue is still valid and doing a search for "Measure" should give you a few places where this is being used. That should be a good starting point.

[2021-02-20 16:29] derBretti opened #6501 "Attribute checks in shipping restrictions don't work for nested item properties (e.g. parcel.*)"
## Issue Description
The checks for shipping restrictions based on an item's properties only work top for level properties such as price. An attribute deny rule that uses the property "weight", as mentioned in the documentation (https://docs.reactioncommerce.com/docs/concepts-fulfillment), does not work, since the property "weight" is nested in "parcel".

## Steps to Reproduce
1. Create a product

[2021-02-22 12:30] loan-laux commented on #6234
@nnnnat This is fixed now. Can't reproduce anymore. See https://github.com/reactioncommerce/reaction-admin/pull/337.

[2021-02-22 23:32] emiquelito opened #6322 "Squash.io integration?"
Hello Reaction Community!

I'm with [Squash.io](https://www.squash.io/) and we wanted to support the Reaction project by providing on-demand test environments for each Pull Request (i.e: a complete staging environment for each PR, running your full stack). Our service is free for Open Source projects like Reaction and we would be able to increase our standard limits as needed to provide great user

[2021-02-23 15:25] #6322 closed, assigned to nobody

[2021-02-23 15:26] #6234 closed, assigned to nobody

[2021-02-23 16:22] emiquelito commented on #6322
@nnnnat @aldeed @focusaurus sorry but just wanted to confirm if closing this issue was intentional or by accident. If it was intentional would you mind providing any feedback? I love Reaction and was hoping to bring value and support the community, I'm not trying to sell anything here, Squash is free for Open Source.

With that being said I totally understand if you believe that creating this issu

[2021-02-25 15:31] loan-laux commented on #6261
I'll try to fix this one. Shouldn't take too long.

[2021-02-26 20:18] nnnnat commented on #6322
Hey @emiquelito this issue was closed intentionally, mainly because this isn't the appropriate forum to solicit your product regardless of price point and we're not interested at this time.

[2021-03-02 16:31] #6261 closed, assigned to loan-laux

[2021-03-03 21:41] benkingcode commented on #5304
Hi @janus-reith could you share your plugin for this? Would be super helpful

[2021-03-08 17:11] Akarshit commented on #5304
Update: I would be picking this up and start researching on it.

[2021-03-09 08:24] janus-reith commented on #5304
@dbbk Sorry for the late reply, it's currently part of some custom client projects, I would need to separate it out first, it shouldn't be too much of an effort though.

@Akarshit Great, let me know if you need any help!

[2021-03-23 19:51] Akarshit commented on #6308
@janus-reith Hey! I am reasearching on this and from what I have found account-js seems to be a much simpler alternative to what we currently have. I will keep posting my notes here for reference.

[2021-03-23 20:07] Akarshit commented on #6308
On initial look it seems account-js doesn't work well with next-js: [this issue](https://github.com/accounts-js/accounts/issues/1090) and [this](https://github.com/accounts-js/accounts/issues/802)

[2021-03-23 20:34] janus-reith commented on #6308
Great! Yes it could be rather simple to integrate, some of the further graphql related auth functionality which that package provides might not even be relevant to us for now, but just for the basic signuo/login logic it could be a rather simple plug-in instead of Meteor Accounts.

We could replace the IDP with it rather quickly, or as discussed even go a step further and not rely on the Oauth flo

[2021-03-25 19:00] Akarshit commented on #6308
To implement this I was debating between adding a new auth-plugin or extending the current accounts plugin. If anyone has any views, I would love to hear those...

[2021-03-25 20:29] janus-reith commented on #6308
I would assume the Accounts plug-in to still be relevant, if we keep that split of internal generic Account Collection + Source X (currently meteor users collection, or could be some Oauth Flow)
So far that worked rather well for many of my usecases and also with multiple providers, as they would all be generalized into an Accounts document.(Although technically, it wouldn’t be required to store t

[2021-03-25 20:36] Akarshit commented on #6308
@janus-reith Thanks for the write-up. I got what you are trying to say and it makes sense :)
Regarding the last para, the plan it to get JWT working for now and try to do it a way that people can connect their OAuth implementation, but the first goal is to just get this working.
Thanks for the comment, helps clear up the things a lot.

[2021-04-11 22:24] victors1681 opened #6323 "Extend the Product Schema from Plugin"
## ❓ Questions and Help

I'm building a new plugin for reaction-api, In this plugin, I want to add all custom properties for `Product`  and `Order` collections.

I'm not able to access to `Product` schema from `from "/imports/collections/schemas"` because I'm working on a new package. The question is, is there any way to achieve this using the `app.context` `export default async function register(

[2021-04-15 09:52] marcneander opened #6487 "find discounts within the same shop when applying?"
Hello!

Just reading through the code so disregard please if this is somehow guarded by other code but it seems to me that you can apply a discount code created in another shop as long as it is in the database.

https://github.com/reactioncommerce/api-plugin-discounts-codes/blob/trunk/src/mutations/applyDiscountCodeToCart.js#L55

Should probably be, no?

[code]

[2021-04-15 09:55] marcneander commented on #6487
Same with https://github.com/reactioncommerce/api-plugin-discounts-codes/blob/trunk/src/mutations/applyDiscountCodeToCart.js#L42

edit: nvm on this one. Seems to be handled here https://github.com/reactioncommerce/api-plugin-discounts-codes/blob/trunk/src/mutations/applyDiscountCodeToCart.js#L47

[2021-04-15 14:41] loan-laux commented on #6323
@victors1681 You can extend schemas using the `simpleSchemas` field in your `app.registerPlugin` call. See `api-plugin-accounts` for an example of that.

With that being said, since this is a bug tracker, this issue will be closed by an admin. If you have further questions, feel free to ask them on [our Gitter channel](https://github.com/reactioncommerce/reaction). Thanks!

[2021-04-21 19:13] #6323 closed, assigned to nobody

[2021-04-22 15:29] fredowisk commented on #4972
You saved my life!!!!!

[2021-04-22 15:30] fredowisk commented on #4972
@aourika
You saved my life!!!

[2021-04-23 16:18] ShineAINest opened #6324 "I have a requirement to disable the shipping. Is there any option to disable it without touching the code?"

[2021-04-23 16:19] #6324 closed, assigned to nobody

[2021-04-23 16:21] mohanasundaramjemini opened #6325 "I have a requirement to disable the shipping. Is there any option to disable it without touching the code?"

[2021-04-26 13:23] loan-laux commented on #6325
Thanks for your interest in Reaction, @mohanasundaramjemini. Since this is a bug tracker, an admin will close this issue. For questions about Reaction, feel free to use [our Gitter channel](https://github.com/reactioncommerce/reaction).

[2021-04-26 19:16] #6325 closed, assigned to nobody

[2021-05-01 22:26] imroon1 commented on #5184
reduce DDOS attacks and seting to revers nginx ang
#Specify adresses that are not allowed to access your server
    deny 192.168.1.1/24;
    deny 192.168.2.1/24;
    allow all;

[2021-05-05 13:32] loan-laux commented on #5184
@imroon1 Why revive a 2 year-old thread with a response that has nothing to do with the original topic?

[2021-05-06 17:23] pradel commented on #6308
Hey I just found out about this issue, I am the maintainer of accounts-js, let me know if you face any issue during the integration :)

[2021-05-06 18:10] Akarshit commented on #6308
@pradel Thanks for the offer. I was able to integrate the lib and have open PRs which should be merged soon.
Thanks for the awesome lib :)

[2021-05-07 03:15] epubreader opened #6327 "how to use paypal payment?"
how to use paypal payment?
Thanks.

[2021-05-07 10:54] loan-laux commented on #6327
Thanks for your interest in Open Commerce, @epubreader. To answer your question, there's no open-source PayPal plugin for Open Commerce as far as I'm aware.

Since this is a bug tracker, an admin will close this issue. For questions about Mailchimp Open Commerce, feel free to use [our Gitter channel](https://github.com/reactioncommerce/reaction).

[2021-05-11 20:21] #6327 closed, assigned to nobody

[2021-05-11 20:29] Akarshit commented on #6308
@pradel There is one thing that came up which is blocking me from implementing this. accounts-js has this security vulnerability:
<img width="1132" alt="Screen Shot 2021-05-11 at 2 27 45 PM" src="https://user-images.githubusercontent.com/7762605/117880334-396fc780-b265-11eb-9877-3016dff8dde7.png">
Would it be possible to migrate to graphql-modules v1 to fix this?

I have opened an issue for the sa

[2021-05-17 19:38] MohanNarayana commented on #5304
Hi @janus-reith , great to see you were able to work on the payment update. Can you please share your work via a PR?

[2021-05-23 16:06] delagroove commented on #5304
Hi @Akarshit @janus-reith @MohanNarayana Is there any ETA in regards to this plugin? without this working there will be no default payment ready then.

[2021-05-23 16:42] Akarshit commented on #5304
@MohanNarayana has the lead on this. AFAIK he has started looking into this one, but yeah let's wait for him to send an ETA.

[2021-05-25 08:57] janus-reith commented on #5304
Sorry, I'm on this - You can expect a PR until the end of the week.

[2021-05-26 19:42] Akarshit opened #6328 "Let plugins feat update happen automatically."
## Current System:
Right now all the plugins in `package.json` have `~` before package version, which mean they only get patch updates.

### Cons:
1. Once we do a minor upgrade of a plugin, any patch update after that doesn't get fetched by reaction (because the patch update is only on the latest version)
2. Makes the release process hard since someone has to look for the latest version of plugin

[2021-05-26 19:46] loan-laux commented on #6328
I fully support this. Nothing to add.

[2021-05-27 20:07] Akarshit opened #6329 "Push image with version to dockerhub on every merge"
## Current Process
All PRs get merged to trunk, when we want to make a release, we create a new branch, build image from that branch, tag it and push it to docker.

### Cons:
1. This is heavy process for releasing.
2. This slows down the release, since we have to do manually.

### Pros:
1. This let's us choose when we want to release

## Proposal
Introduce sematic-release type releasing. So on eve

[2021-05-28 19:23] loan-laux commented on #6328
One thought though: we have integration tests in the `reaction` repo that might break.

[2021-06-04 03:15] Akarshit opened #6333 "This is just a test issues to check discord integration"

[2021-06-04 03:15] #6333 closed, assigned to nobody

[2021-06-10 19:33] Akarshit opened #6335 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `trunk` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure yo

[2021-06-10 19:35] Akarshit commented on #6335
Created as part of testing in akarshit/reaction.

[2021-06-10 19:35] #6335 closed, assigned to nobody

[2021-06-11 03:38] #6329 closed, assigned to Akarshit

[2021-06-11 03:45] rc-publisher commented on #6329
:tada: This issue has been resolved in version 3.12.1 :tada:

The release is available on [GitHub release](https://github.com/reactioncommerce/reaction/releases/tag/v3.12.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-16 17:08] delagroove commented on #5304
@janus-reith @MohanNarayana apologies in advance to bug you about this, but do you have an ETA? currently without this there's no default payment methods.
if there's a partial progress maybe a WIP PR will help to bring more manpower to the issue?

[2021-06-17 09:09] janus-reith commented on #5304
@MohanNarayana @delagroove Sorry for the delay, I had a lot on my plate - I'm finally preparing the PR today.

[2021-06-17 18:51] janus-reith commented on #5304
Done, I created a PR for the api side :)
I will now create one for the storefront which for now is not intended to be merged since I want us to figure out best distribution options - Appreciate input on this.

Also, looking forward to move this over to TS in the future.

[2021-06-23 19:39] #6328 closed, assigned to Akarshit

[2021-06-23 19:47] rc-publisher commented on #6328
:tada: This issue has been resolved in version 3.13.0 :tada:

The release is available on [GitHub release](https://github.com/reactioncommerce/reaction/releases/tag/v3.13.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-28 05:54] Shubhdeep12 commented on #6117
Hi, anyone working on this issue?

[2021-06-29 04:11] Akarshit commented on #6117
@Shubhdeep12 I am sure no one is working one this one right now. Were you asking because you are willing to contribute or was that a general status enquiry?

[2021-07-01 06:05] Shubhdeep12 commented on #6117
Yes, i would like to contribute for this issue.

[2021-07-01 07:47] loan-laux commented on #6277
Safe to say we can probably close this one.

[2021-07-01 07:47] #6277 closed, assigned to nobody

[2021-07-01 16:58] Akarshit commented on #6117
@Shubhdeep12 Sure that would be awesome! Let me know if you need any help in doing this.

[2021-07-24 15:17] redscare opened #6486 "Discounts re calculation is broken on cart quantity change"
## Issue Description
Whenever any cart item quantity is changed and cart has discount code applied to it, discount amount is getting broken. The reason for that is that here https://github.com/reactioncommerce/api-plugin-discounts/blob/trunk/src/queries/getDiscountsTotalForCart.js#L26 we pass cartId to discount processor, which will fetch card from DB and calculate the discount. However, item quan

[2021-07-25 05:49] urbangabbar commented on #5086
@aldeed Is this issue available. Would like to make contribution.

[2021-07-26 17:09] delagroove commented on #5086
Hi @urbangabbar feel free to make the contribution by forking this repository and then doing a merge request.  by then @Akarshit or @MohanNarayana will take care of the rest of the process.

[2021-07-30 04:00] tungpun opened #6340 "Can't install the API server :: Cannot find module '../build/Release/sharp.node'"
Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description

I can't install the API server.
Here is the log:

[code]

### Versions

[code]

[2021-08-02 13:52] mlupei opened #6341 "How to set up a multi-shop marketplace?"
Hello,

How to set up a multi-shop marketplace? This video looks outdated: https://www.youtube.com/watch?v=Y-p7ZrIBZCQ

During installation, there were no credentials for superadmin.

When I try to create another shop from a different user, I get an error.

08eda9b3702e26bd409ab3009b7aad16fbe5e744.js?meteor_js_resource=true:472 Uncaught (in promise) Error: GraphQL error: Access Denied
    at new t

[2021-08-03 16:33] Akarshit commented on #6341
@Maximilian10 I would be closing the issue. For support questions we request you to join our discord server: https://discord.gg/Bwm63tBcQY

[2021-08-03 16:33] #6341 closed, assigned to nobody

[2021-08-05 12:15] azappella opened #6343 "Update and/or remove broken links in Tutorials section of README"
Hi,

While going through the README, the Tutorials section has some outdated links, e.g.
[code]

The following links all resolve to your new docs website which is a bit confusing.

Cheers!

[2021-08-05 14:39] marcimarc16 opened #6344 "Failed fetching exchange rates"
Hi, I'm a newbie, using rotki since yesterday. Today I'm getting this message and the Dashboard won't show the total amount:

I haven't even heard of "CAD" or "BRL" before but I deleted a bunch of assets in the tool, hoping to speed things up with that. Could this be the reason for the message?

BR

[2021-08-05 15:36] loan-laux commented on #6344
@marcimarc16 which version are you using? Support for exchange rates was removed in `3.0.0`, so you seem to be using a deprecated version of Reaction Commerce.

[2021-08-05 16:10] MohanNarayana commented on #6340
Fixed in below PRs
[api-plugin-files #41](https://github.com/reactioncommerce/api-plugin-files/pull/41)
[reaction #6342](https://github.com/reactioncommerce/reaction/pull/6342)

[2021-08-05 16:10] #6340 closed, assigned to MohanNarayana

[2021-08-05 18:42] marcimarc16 commented on #6344
Thanks for the answer, looks like I'm on 1.19.1. Not the latest?

[2021-08-05 19:15] marcimarc16 commented on #6344
I think my question is displaced here - I'm also new to github and disoriented. Sorry, this "issue" can be regarded as closed.

[2021-08-05 19:15] #6344 closed, assigned to nobody

[2021-08-06 18:07] Akarshit opened #6489 "Get rid of sharp"
Sharp module has been a bit of problem for many throwing cryptic errors. We are even running a lot of manual scripts around sharp.
It would be awesome to replace it with something simple.

[2021-08-07 11:25] janus-reith opened #6345 "The "on demand" Account creation logic on context can be flaky and should use locking"
Prerequisites
* [x] Yes

## Issue Description
User Accounts in the API currently work like this:
1. Authentication happens before on a third party, usually some oauth flow.
2. On the api, there is no specific "register" step by default. Instead, each time the Apollo context for a graphql call is built, it will check if an account exists for that external Id, if not create it on the go: [reactionco

[2021-08-09 15:56] delagroove opened #6346 "bin/package-link does not provide consistent error messaging"
Prerequisites
* [x ] Are you running the latest version?
* [x ] Are you able to consistently reproduce the issue?
* [x ] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description
When linking a package without providing the account name (the @accountname/...) will end in an error when the API restarts.
the command

[2021-08-10 21:49] Akarshit opened #6347 "Integration tests failing."
Current a lot of integration tests are failing. Could have been caused by a upgrade to some dependency.

[2021-08-18 22:17] delagroove commented on #3369
closing due to inactivity

[2021-08-18 22:17] #3369 closed

[2021-08-23 21:57] #3342 closed

[2021-08-23 23:15] #6055 closed, assigned to nobody

[2021-08-23 23:29] #3769 closed

[2021-08-24 13:50] #6109 closed, assigned to spencern

[2021-08-24 13:59] delagroove commented on #5948
we are dropping support for 2.X as we approach to the 4.0 release.

[2021-08-24 13:59] #5948 closed

[2021-08-24 14:03] delagroove commented on #6249
@loan-laux with the current flag, would it be possible for you to make a PR to use the flag? documenting the use of this one could be also useful.

[2021-08-24 14:33] #6191 closed, assigned to nobody

[2021-08-25 16:01] meiremans opened #6351 "CORS failiure in dev"
Prerequisites
* [ X] Are you running the latest version?
* [ X] Are you able to consistently reproduce the issue?
* [ X] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)
-->

## Issue Description
So i'm trying to make a new plugin.
For this i am following this guide. https://docs.reactioncommerce.com/docs/next/core-plugins-deve

[2021-08-26 09:15] loan-laux commented on #6249
Will do, @delagroove.

[2021-08-30 15:42] MohanNarayana commented on #6351
Hi @meiremans can you verify if all the services are up by running `docker ps` in your terminal. There are 7 reaction_api_1, example-storefront_web_1, reaction-admin_reaction-admin_1, reaction-identity_identity_1, reaction_mongo_1, reaction-hydra_hydra_1, reaction-hydra_postgres_1.
Also, is GraphQL running on http://localhost:3000/graphql ?

[2021-08-30 17:17] delagroove commented on #6347
local issue was resolved. closing now

[2021-08-30 17:17] #6347 closed, assigned to nobody

[2021-08-30 17:22] delagroove commented on #6308
v4.0.0 is already using accounts-js. closing

[2021-08-30 17:22] #6308 closed, assigned to Akarshit

[2021-08-30 17:38] delagroove commented on #6116
an update to api-core 1.13.0 and a new ENV variable will help with this situation.

[See this PR](https://github.com/reactioncommerce/api-utils/pull/36)
To support this, encodeOpaqueId now looks at the new environment variable REACTION_SHOULD_ENCODE_IDS. If set to false, encodeOpaqueId becomes a no-op function that passes through the ID unchanged. If set to true or not set, the current behavior re

[2021-08-30 17:38] #6116 closed, assigned to nobody

[2021-09-07 08:22] developez opened #6360 "https://reactioncommerce.com/ is down"
The website is https://reactioncommerce.com/, where can I find the documentation of the project?

[2021-09-07 10:26] brent-hoover commented on #6360
https://mailchimp.com/developer/open-commerce/

[2021-09-07 15:26] developez commented on #6360
There is a problem with the get starter kit.

![image](https://user-images.githubusercontent.com/1931408/132371108-d7fe95b8-0652-4ac8-adbf-856db7ff8b3d.png)

[2021-09-07 15:44] Akarshit commented on #6360
@developez If you need support with issues like this, our Discord server might be the best place to ask: https://discord.gg/Bwm63tBcQY

[2021-09-07 15:44] #6360 closed, assigned to nobody

[2021-09-07 15:45] Akarshit opened #6361 "build plugin for Mailchimp transactional"
More details will be added as I find them.

[2021-09-14 18:59] MohanNarayana commented on #3677
The issue is not reproducible as the interface has changed.
Note: Addresses are saved in DB without a flag indicating if it is primary or not. I suspect saving an address as primary is not a feature in the current work flow.

[2021-09-14 18:59] #3677 closed

[2021-09-16 16:57] tedraykov opened #6509 "`getPaginatedResponseFromAggregate` throws error when query includes `hasNextPage` and `totalCount`"
When a plugin uses this method to format the response of a query, and the request includes either `hasNextPage` or `totalCount` property, the API throws error.

In the case of hasNextPage the errors is the following:
[code]

An example query that causes this error is:
[code]

In the case of totalCount the error is:
[code]

An example query that causes this error is:
[code]

[2021-09-17 08:36] brent-hoover opened #6516 "getPaginatedResponse does not work with latest Mongo drivers"
This method depends on several mongo cursor properties which have been renamed. For example `cursor.cmd.filter` and `cursor.options`

Note that the latest version of the mongo driver (4.x) is required to work with the latest version of Mongo (5)

[2021-09-17 23:11] Shofiya2003 commented on #3458
Is this issue still open?

[2021-09-21 04:10] iamzozo commented on #6360
The description for the this repo still contains the wrong link.

[2021-09-22 22:14] delagroove commented on #6361
- being a full replacement of api-plugin-email (email-smtp)
- being able to send order confirmation emails
- being able to send order refund emails
- being able to send order shipment confirmation emails.

api-plugins:
email
email-smtp
email-templates

[2021-09-22 22:17] delagroove opened #6370 "[Research] Building plugin for Marketing API"
## Acceptance Criteria
The integration must cover most of the features that appear in other commerce integrations, such as the ones mentioned below.

## Elements to review

- purchase activity segmentation
- e-commerce tracking and reports... contents? (https://mailchimp.com/developer/marketing/api/location-reports/)
- Product content block ... how it will interact?
- Product Recommendation conten

[2021-09-22 23:36] delagroove commented on #6351
is this still an issue in v3.13.4? @meiremans

[2021-09-22 23:38] delagroove commented on #6346
Here's my console
[code]

[2021-09-22 23:41] delagroove commented on #6346
if the skipping message means that the plugin is not correctly linked then it should be an error. but it's also an error of the link script or the instructions do not say anything about yalc and how to set up based in the example file.

[2021-09-23 19:43] #6343 closed, assigned to delagroove

[2021-09-27 22:38] delagroove commented on #6351
please reopen in case CORS issues reveal again.

[2021-09-27 22:38] #6351 closed, assigned to nobody

[2021-09-30 18:03] delagroove commented on #4763
this is a very old ticket. Reopen if the same bahavior happens with the newest version and the Stripe SCA plugin

[2021-09-30 18:03] #4763 closed

[2021-10-01 18:38] jmutt78 commented on #3458
I would like to tackle this one.

[2021-10-02 01:31] Akarshit commented on #3458
@jmutt78 Sure, go ahead. Let me know if you need any help.

[2021-10-19 21:01] #6346 closed, assigned to MohanNarayana

[2021-10-19 21:11] MohanNarayana opened #6379 "package-link fails for newly created packages."
## Issue Description

While linking a newly created plugin using bin/package-link, the linking fails when validating against package existing in node_modules.

## Steps to Reproduce

1. Follow [these steps](https://mailchimp.com/developer/open-commerce/guides/build-api-plugin/) to create a new plugin.
2. When you run the bin/package-link command you will see a 'Package does not exist message'

##

[2021-10-26 23:34] #6379 closed, assigned to MohanNarayana

[2021-10-26 23:41] rc-publisher commented on #6379
:tada: This issue has been resolved in version 4.1.4 :tada:

The release is available on [GitHub release](https://github.com/reactioncommerce/reaction/releases/tag/v4.1.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-27 13:31] loan-laux opened #6383 "Update to MongoDB 5"
MongoDB 4.2 will reach EOD soon. We should update to MongoDB 5 (if there are even breaking changes at all).

[2021-10-28 00:40] brent-hoover commented on #6383
There are some significant breaking changes between the 4.x driver (which is required for 5) and the current 3.x driver

None of them are crazy hard to fix but the current code will absolutely not work with 4.x

[2021-11-08 07:28] brent-hoover commented on #6383
The two major changes I encountered was:

1. The way you instantiate the driver is different. https://github.com/mongodb/node-mongodb-native/blob/4.1/docs/CHANGES_4.0.0.md
2. If you are using something like `findOneAndUpdate` you must change `returnOriginal: false` to `returnDocument: "after"` if you want the updated document. This one is critical because it will not throw an error but just give y

[2021-11-08 08:59] janus-reith commented on #6383
Wow, changes like this are hard to understand.

[2021-11-16 19:03] #6241 closed

[2021-11-16 19:03] #2984 closed

[2021-11-16 19:03] #2988 closed

[2021-11-16 19:03] #3370 closed

[2021-11-16 19:03] #3376 closed

[2021-11-16 19:03] #3445 closed

[2021-11-16 19:03] #3458 closed

[2021-11-16 19:04] #5304 closed

[2021-11-16 19:04] #5206 closed

[2021-11-16 19:05] #5192 closed

[2021-11-16 19:05] #5184 closed

[2021-11-16 19:05] #5152 closed

[2021-11-16 19:05] #5148 closed

[2021-11-16 19:05] #5139 closed

[2021-11-16 19:05] #5110 closed

[2021-11-16 19:05] #5008 closed

[2021-11-16 19:06] #4865 closed

[2021-11-16 19:06] #4816 closed

[2021-11-16 19:06] #4812 closed

[2021-11-16 19:06] #4764 closed

[2021-11-16 19:06] #4754 closed

[2021-11-16 19:07] #4746 closed

[2021-11-16 19:07] #4737 closed

[2021-11-16 19:07] #4692 closed

[2021-11-16 19:07] #4253 closed

[2021-11-16 19:08] #5481 closed

[2021-11-16 19:08] #5418 closed

[2021-11-16 19:08] #5410 closed

[2021-11-16 19:08] #5390 closed

[2021-11-16 19:08] #5383 closed

[2021-11-16 19:08] #5333 closed

[2021-11-16 19:08] #5086 closed

[2021-11-16 19:10] #5482 closed

[2021-11-16 19:10] #5522 closed

[2021-11-16 19:10] #5757 closed

[2021-11-16 19:10] #5797 closed

[2021-11-16 19:11] #5863 closed

[2021-11-16 19:11] #5891 closed

[2021-11-16 19:11] #6048 closed, assigned to nobody

[2021-11-17 16:25] #5695 closed

[2021-11-17 16:25] #5708 closed

[2021-11-17 16:25] #5729 closed

[2021-11-17 16:25] #6115 closed, assigned to nobody

[2021-11-17 16:25] #6117 closed, assigned to MohanNarayana

[2021-11-17 16:25] #6119 closed, assigned to nobody

[2021-11-17 16:25] #6154 closed, assigned to nobody

[2021-11-17 16:25] #6162 closed, assigned to nobody

[2021-11-17 16:25] #6242 closed, assigned to nobody

[2021-11-17 16:25] #6249 closed, assigned to loan-laux

[2021-11-25 12:07] janus-reith commented on #6383
I wonder if we could just provide an easy migration path here to keep compatibility.

Especially regarding that case of `returnOriginal`, since calls don't go right to the mongodb package but `context.collections`, we could use that as a wrapper and set `returnDocument` accordingly and maybe log a warning about it being deprecated.
Same for other potential breaking changes.

That way required chan

[2021-12-02 09:03] brent-hoover opened #6388 "Cloning and running Reaction gives you an error that prevents it from starting"
## Issue Description
Trying to develop by running the project gives an error.

[code]

## Steps to Reproduce
1. Clone reaction
1. nvm use (to use Node 14)
1. npm install
1. `npm run start`
1. Observe the error

### Versions
4.1.5

[2021-12-02 10:39] brent-hoover commented on #6388
Updating to Node 14.18 resolves this issue, closing

[2021-12-02 10:39] #6388 closed, assigned to nobody

[2021-12-03 15:40] janus-reith opened #6507 "Surcharge resolver treats amount zero als falsy value"
This Resolver checks `node.amount` : https://github.com/reactioncommerce/api-plugin-surcharges/blob/43707f9ae1f2272123a8100d9f72ef1c43c01bc4/src/resolvers/Surcharge/index.js#L8
While the intention here is to check if node.amount is defined, which would be the case for a value `0`, it will instead translate to `false`.

## Steps to Reproduce
1. Create a surcharge with amount 0.
2. Try to query it

[2021-12-03 19:26] MohanNarayana commented on #6370
**Steps**

**User authentication:**
Set up OAuth communication on the store server via a plugin. https://mailchimp.com/developer/marketing/guides/access-user-data-oauth-2/

**Sync store data with MC.**
Bulk upload using batch operations to support the data load. https://mailchimp.com/developer/marketing/guides/run-async-requests-batch-endpoint/
Best order is to create a store and sync customer and

[2021-12-07 02:19] brent-hoover opened #6389 "Restructure repo into Monorepo"
Restructure this repo so that all packages (including library packages like Logger and Error) are all contained in this repo and published upon merge of PR.

This will do a lot to make this easier to manage, understand, and maintain.

The main challenge here is to incorporate the existing workflow of using Semantic Release along with auto-publishing packages.

**Definition of Done:**

1. All React

[2021-12-07 02:23] brent-hoover opened #6390 "Sample Catalog Plugin"
For many reasons we need to be able to populate the DB with example products, tags, navigation, etc.

[2021-12-07 02:25] brent-hoover opened #6391 "Redesign the Development Flow"
Make getting started with development, easier, faster and more reliable.

[2021-12-07 02:42] brent-hoover commented on #6361
@Akarshit Have you done any work on this? If not I want to either close it or move to the backlog for now

[2021-12-09 06:10] brent-hoover commented on #6391
Main Steps:

 - [ ] Create new CLI
 - [ ] Ensure that all projects and plugins respect .env files
 - [ ] Ensure that all projects start at the command line without Docker files

[2021-12-13 09:48] brent-hoover commented on #6391
Storefront already respects .env files. Admin does not although it's using envalid 6.x so it should by default.

[2021-12-17 11:52] brent-hoover opened #6396 "Move to Node 18"
Node 18 is LTS. Let's try to get on top of this. Hopefully not many breaking changes if any.

[2021-12-17 11:55] brent-hoover opened #6397 "Error when running integration tests"
## Issue Description
See this error over and over when running integration tests which makes it hard to parse results:
[code]

## Steps to Reproduce
Run integration tests and monitor results

[2022-01-03 14:41] blackspider1994 opened #6399 "Error "Invalid username" in create user mutation"
CreateUser muation throws invalid username error when trying to create user with username and password, and username is only numbers.

1. Call createUser mutation with username and password fields only
2. Pass 03226776543 as username.

## StackTrace
{
  "errors": [
    {
      "message": "Invalid username",
      "locations": [
        {
          "line": 2,
          "column": 3
        }
      ]

[2022-01-03 23:54] brent-hoover opened #6400 "Reinstate ability to register an endpoint"
At one point it was possible to register an endpoint (route) to handle incoming requests. One common usage for this is to register a callback URL for payment systems like Paypal that use a token. Another would be when creating webhooks. It's possible this capability exists and I have not been able to find it but I believe it was removed during DeMeteorization.

[2022-01-04 08:50] janus-reith commented on #6400
@zenweasel This is still available and for example in use here:

https://github.com/reactioncommerce/api-plugin-sitemap-generator/blob/88c9e71d62c096ab182bf7a101ff4bae315d7e44/src/startup.js#L19

However, similar to the considerations in https://github.com/reactioncommerce/reaction/issues/6279 defining these routes during runtime, while very flexible, is not optimal for a more distributed architec

[2022-01-04 11:48] brent-hoover commented on #6400
Thanks for the info @janus-reith but it's not quite what I am talking about as that is just utilizing the underlying express app. (also a legitimate thing to do)

At one point you could actually register an endpoint via plugin registration like [here](https://github.com/reaction-contrib/meteor-payments-paypal-express/blob/faaadb6153851a162682b3b27b9a0d51eac3b427/register.js#L39) so that's more wha

[2022-01-04 22:47] brent-hoover opened #6401 "Provide GDPR compliance for removing PII"
The GDPR (and likely others) require that a user should be able to request that all their PII be removed from any system that has it. There just needs to be a function that anonymizes all user data removing anything like email, address, etc

[2022-01-10 22:54] brent-hoover commented on #6390
Divjot has assembled a bunch of demo products so just need to review and this figure out how we want to implement this so it works for the CLI and otherwise

[2022-01-11 14:41] marrinn opened #6402 "Products query using metafields returns fuzzy matches"
I'm using metafields on products to search for certain criteria - in this instance a SKU. I added metafields to some products using key: "SKU" value: "LSBP-U1Y-PD-TST" When I use the products query to search for these products the query also returns products with metavalues of "LSBP-U1Y-PD-TST1" and "LSBP-U1Y-PD-TST2".
## Steps to Reproduce
The query is as follows:
[code]

Variables:
[code]

[2022-01-12 14:48] Akarshit commented on #6389
I got the KT for this from Alvaro. Have started working on this.

[2022-01-19 21:48] Akarshit commented on #6389
I did the initial investigation into this. But couldn't find a ready made solution that's production ready. For now the work on this has been paused.

[2022-01-20 10:10] janus-reith commented on #6389
I'm wondering, since the node API works in ESM mode, and all of the api modules are distributed as ESM too, could the API modules list `peerdependencies` instead, and could the remaining packages like Logger and Error be migrated to ESM too?
My intention would be to make individual per-package build steps obsolete that way, and lerna might not be necessary anymore then, atleast for the purpose of

[2022-01-21 12:55] yunda opened #6403 "Missing environment variables"
## Issue Description

Getting missing environment variables error while trying to start the app in Docker for the first time:

[code]

I checked the `reaction/.env` file and it appears to be empty.

Full log:

[code]

## Steps to Reproduce

1. git clone https://github.com/reactioncommerce/reaction-development-platform.git
2. cd reaction-development-platform
3. make

### Versions

4.1.5

[2022-01-24 03:45] brent-hoover commented on #6403
@yunda The `.env.example` provided does provide this key (or a placeholder for it), did you copy that file over?

https://github.com/reactioncommerce/reaction/blob/ff37192ffa0fcef7fe069423f7ed00e1c01b869e/.env.example#L3

[2022-02-02 02:10] brent-hoover commented on #6391
Completed

[2022-02-02 02:10] #6391 closed, assigned to brent-hoover

[2022-02-02 02:21] brent-hoover commented on #6403
Closing due to inactivity

[2022-02-02 02:21] #6403 closed, assigned to nobody

[2022-02-04 07:22] brent-hoover opened #6406 "Build reference implementation that is built from trunk and every PR"
Any time a PR is opened on any of the key projects (i.e. a PR gets merged to trunk) the CI/CD systems should build the all the apps (storefront/admin/core) and deploy them to a publicly available URL and validate that the apps load (no E2E testing now)

This can be similar to deployments under "Delightful Deployments" in that it does not need to be a production-ready deployment and can just use a

[2022-02-04 07:42] brent-hoover commented on #6390
Initial repo created [here](https://github.com/reactioncommerce/api-plugin-sample-data)

[2022-02-04 07:47] brent-hoover opened #6407 "Work with PostLight to establish a process for getting things published to /developer"
Ongoing documentation task. End result should be a documented process where we understand the process and acceptance criteria for getting things published to `/developer`

[2022-02-04 21:58] MohanNarayana commented on #6399
@blackspider1994 This is a `accounts-js` condition. It accepts alphanumeric username but it has to start with a letter. The regex testing the username is `/^[a-zA-Z][a-zA-Z0-9]*$/`

[2022-02-07 02:05] brent-hoover opened #6408 "Create project to capture github stats on a weekly basis"
We need to start capturing [stats on unique visits + clones](https://github.com/reactioncommerce/reaction/graphs/traffic) so we can gauge if some of the initiative we are taking to drive traffic are having any effect.

I did some research and came up with [this project](https://github.com/seladb/github-traffic-stats) but leaving the approach open if there are better ways.

The end result should be

[2022-02-08 00:34] MohanNarayana commented on #6399
@zenweasel I think we can close this since the validation happens in the accounts-js library. Kept it open to hear any feed back from the issue reporter. Any thoughts?

[2022-02-08 01:04] brent-hoover commented on #6399
@MohanNarayana I think it would be valuable to go back to the `accounts-js` team and get clarification on why that limitation exists. Also I don't think 3 days which spanned a weekend is enough time to get feedback from a user. Also if we want feedback from the user we should probably ask a specific question.

I have had a couple of interactions with the accounts-js team and they seem to be pretty

[2022-02-08 08:13] brent-hoover commented on #6407
@delagroove We should only move these to "review" when the work in complete and we are just in the review process which is not where this task is

[2022-02-11 14:39] MohanNarayana commented on #6399
@blackspider1994 You can override the validation using [validateUsername](https://www.accountsjs.com/docs/api/password/interfaces/accountspasswordoptions/#optional-validateusername). Unfortunately I am not able to get it to work as expected. I am having a [discussion](https://github.com/accounts-js/accounts/discussions/1213) with accounts-js team to figure out how it should work. Maybe you will ha

[2022-02-14 05:05] blackspider1994 commented on #6399
@MohanNarayana Thankyou for the help, I'll give it a shot

[2022-02-17 19:34] RickyHolland commented on #6406
Hey @delagroove.

As discussed by Brent above we are currently looking to create a permanent deployment of MOC that is based upon the latest container images available for API, Admin and Example-Storefront services. With the live deployment automatically updated as and when new container images become available.

There are a couple of things I believe that we will need to support this in the long

[2022-02-19 23:29] tedraykov opened #6481 "Discount calculated based on old state of the cart"
When a cart that has an applied discount is updated, e.g. an item is added, the discounts are not correctly calculated.

Example:
- We have a cart with 1 item that costs 99$ and a 10% discount applied => the discount is 9.90$.
- We change the quantity of the same item to `2`
- After the item is added, the item total becomes 198$ but the discount total still remains 9.90$.

The cart undergoes all t

[2022-02-24 23:33] MohanNarayana opened #6414 "Storefront navigation using tags gives 404 error"
## Issue Description
The navigation items in storefront is not working, It throws a 404 error instead of handling in the client or fetching the products. Ideally if no products are available we see a `Sorry! We couldn't find what you're looking for` message.

## Steps to Reproduce

1. Create tags and navigation as shown in the screenshot below
<img width="1165" alt="image" src="https://user-images

[2022-02-24 23:34] zenweasel commented on #6414
You listed Reaction version but what version of Storefront?

[2022-03-01 15:59] MohanNarayana commented on #6399
Closing as no fix/change is required.

[2022-03-01 15:59] #6399 closed, assigned to MohanNarayana

[2022-03-02 00:20] brent-hoover commented on #6407
This work in complete in the sense that we are working with @mkhayes119 who has the ability to publish things to /developer. Makes no sense to track this ongoing work here

[2022-03-02 00:20] #6407 closed, assigned to delagroove

[2022-03-02 00:25] brent-hoover commented on #6396
So because of [this change](https://nodejs.org/api/esm.html#json-modules) with the way JSON files are imported in Node 16, every package plus Reaction itself is going to need to be updated in a way that is backwards compatible. Not a lot of programming work, but a fair amount of busy work.

That is not necessarily the only change that needs to be made, but the first one I have identified

[2022-03-02 00:31] brent-hoover commented on #6361
@Akarshit Second call for the status on this. Can we close this for now until we revisit for Partner Integrations

[2022-03-02 00:32] brent-hoover commented on #6361
I think we just wrote a doc for this since it's just setting the SMTP_SERVER env var?

[2022-03-02 00:59] brent-hoover opened #6416 "Add integration tests that simulate a complete workflow"
This is in addition to eventually writing end-to-end tests that exercise the app via the Storefront, but these can easily run without having to spin up an instance.

This might need to be broken down into smaller tasks but keeping it Epic right now.

**Create working shop:**
(use the API for this, do not push directly to db)

1. Create a user
1. Create a shop
1. Configure the shop with the example

[2022-03-02 06:55] Akarshit opened #6417 "Docker image failing for 4.1.4"
The docker image doesn't run and throws a sharp error.

[2022-03-02 07:19] #6417 closed, assigned to Akarshit

[2022-03-02 07:26] rc-publisher commented on #6417
:tada: This issue has been resolved in version 4.1.8 :tada:

The release is available on [GitHub release](https://github.com/reactioncommerce/reaction/releases/tag/v4.1.8)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-02 12:44] Akarshit commented on #6389
Resuming the work on this one. To clarify this is how the monorepo is expected to work:
1. All the `api-plugins-*` live inside a folder called "plugins"
2. Whenever a plugin is updated, a new version of reaction is released **sematically**.
3. The history of commits for all individual plugins is merged together into the history of commits for reaction.
4. The build time (to run reaction) doesn't i

[2022-03-02 12:48] brent-hoover commented on #6389
The plugin should get bumped/published and reaction should get bumped on minor/patch versions

[2022-03-02 12:49] brent-hoover commented on #6389
This should be all reaction packages including ones that aren't plugins like Logger and Error

[2022-03-03 06:05] Giancarlo-Ma opened #6424 "Create shop access denied"
## ❓ Questions and Help

I clone the repo and run make. Then I  register a user on my local pc, but when I create shop an error occured showing that access denied. And I inspect the log of the reaction container, I found that token invalid. But my request indeed has a bearer token there. I am curious that whether or not I do sth wrong. Hoping your help

### Please note that this issue tracker is n

[2022-03-03 06:50] brent-hoover commented on #6424
Try clearing all your cookies and local cache and try again. If you have more issues please contact us on Discord, do not open another issue

[2022-03-03 06:50] #6424 closed, assigned to nobody

[2022-03-07 03:18] brent-hoover opened #6425 "SPIKE: Discovery work on NextJS Storefront"
This ticket is for Discovery work only, does not include any implementation

1. Define the level of effort in creating an Open Commerce package underneath[@vercel/commerce/packages](https://github.com/vercel/commerce/tree/main/packages) This should include a rough time estimate.
2. Lay out a high-level roadmap and the elements involved in this exercise.
3. What platform/package specific decisions

[2022-03-07 12:34] setaman commented on #6396
@zenweasel

This currently prevents me to use @reactioncommerce/api-core with Node 16 in a fresh project. I still need to fallback to Node 14. I would really like to have this issue resolved and could offer my support, if required.

[2022-03-07 23:17] brent-hoover opened #6426 "Add latest tag to all docker file pushes"
For a few reasons but mostly so that the CLI can easily pull down the latest releases

[2022-03-10 14:25] OlehObodin opened #6427 "Access Denied While Creating Shop"
## Issue Description
I have got error Access Denied when  try  create shop

## Steps to Reproduce

1. Sign Up https://admin.mdopencommerce.fastep.pl/graphql
2. Create Shop
3. Access Denied
Services:
https://api.mdopencommerce.fastep.pl/graphql
https://admin.mdopencommerce.fastep.pl/graphql
https://mdopencommerce.fastep.pl/graphql

### Versions

4.1.5

[2022-03-10 19:26] OlehObodin commented on #6427
ERROR Reaction: Tokens are not valid

[2022-03-10 22:49] brent-hoover commented on #6427
@OlehObodin You probably need to clear your cookies and re-login. This is not a bug in Reaction

[2022-03-10 22:49] #6427 closed, assigned to nobody

[2022-03-14 08:53] OlehObodin commented on #6427
@zenweasel  I have installed  the brand new browser, the same problems.
The problem appears when I registered another user and start to create shop.

[2022-03-20 21:46] OlehObodin opened #6428 "Npm is tried to rename plugin inside docker container"
## Issue Description

After rerun the container npm is tried to rename plugin name. But it has not permission. And should it have to do it at all?
## Steps to Reproduce

1. make init-dev
2. clone api-example-plugin to api-plugins folder in reaction-platform
3. Change setting json for your plugin for example name `@orgname/api-example-plugin`
4. `npm link` in api-example-plugin folder
5. `npm link

[2022-03-26 18:37] brent-hoover commented on #6426
Closed via #6429

[2022-03-26 18:37] #6426 closed, assigned to RickyHolland

[2022-03-26 18:45] brent-hoover commented on #6428
Hi @OlehObodin Can you give me a little more specific instructions rather than just "link plugin" so I can try and reproduce?

[2022-03-26 19:39] OlehObodin commented on #6428
@zenweasel , Hi, I have edited steps to reproduce in description above. It is strange, but seems to work now, but I have built images for new customization, may be point was in there.

[2022-03-26 22:49] tedraykov opened #6499 "Fulfillment options not updating when items in cart change"
## Issue Description
A good UX is to allow users to modify the number of items in their cart during checkout. When a user had successfully filled the shipping address and has selected a fulfilment method for a cart, they might want to update the content of the cart right before placing the order.

Currently, when you modify the cart, e.g. increase the quantity of an item, the fulfilment method doe

[2022-03-28 23:42] brent-hoover commented on #6428
@OlehObodin Are you saying the problem is not occurring anymore? Can we close this?

[2022-03-29 11:50] #6428 closed, assigned to nobody

[2022-04-28 07:53] brent-hoover opened #6431 "Create provider for NextJS Commerce"
This work would entail creating a PR into the vercel that would create a "provider" for the NextJS Commerce product

The bare minimum (aka v1) for an implementation should include at least:

 - There is a "home page" that shows featured products
 - You can browse categories that are dynamically created in OC
 - You can sort and search products in the PLP
 - You can view a detail page for a product

[2022-04-28 08:35] brent-hoover commented on #6406
This is now available here:

API URL: https://api.open-commerce.io/graphql
Admin URL: https://admin.open-commerce.io/
Storefront URL: https://storefront.open-commerce.io/en?

[2022-04-28 08:35] #6406 closed, assigned to RickyHolland

[2022-04-29 06:28] vannguyenn commented on #6425
1. Creating a new provider to NextJS commerce storefront will need to complete all the items in the checklist in this guide. https://github.com/vercel/commerce/blob/main/packages/commerce/new-provider.md. The final output will be a PR to the repo and a working preview. Estimation: end of May 2022.

2-3. We need to create an open commerce provider inside the packages folder. We need to define the l

[2022-05-03 02:06] brent-hoover commented on #6425
@vannguyenn Thank you for this work, I am going to consider this complete since work on the provider has begun

[2022-05-03 02:06] #6425 closed, assigned to vannguyenn

[2022-05-10 09:44] brent-hoover opened #6432 "SPIKE: Document what work needs to be done to make fulfillment types work"
From the original docs

Most of the work for this has been done, but currently you cannot place an order for any fulfillment type besides "shipping". If you add an additional fulfillment type manually through the database the second entry in the shipping array is never created. I believe because the code strips out this data when an item is added to cart. But that is probably not the only place th

[2022-05-16 14:19] sujithvn commented on #6432
The  `supportedFulfillmentTypes` was showing up as `undefined` since it was not present in the Cart schema
Currently testing after locally updating the schema for `CartItem` to include `supportedFulfillmentTypes`
Also updated the code in the _addCartItem.js_ to populate this new field.

Seems like we would need more fixes to be done. Current groups are assigned directly as `cart.shipping || []`. N

[2022-05-24 02:31] brent-hoover opened #6433 "Create simple "Promos" plugin as a proof of concept"
This would be used to establish the pattern for Promos but would be simple in that it would only use the one existing discount method which is applying a discount to the cart.

Also would be good to have this when building UI's for Kinetic to understand how difficult this might or might not be.

[2022-05-26 16:26] OlehObodin commented on #6400
@zenweasel  link goes to 404 error, I really need the example=)

[2022-05-27 10:26] OlehObodin commented on #6400
@janus-reith
This one works, thanks.

[2022-07-01 03:48] #6361 closed, assigned to nobody

[2022-07-01 03:49] brent-hoover commented on #6370
No plans to work on integrations currently

[2022-07-01 03:49] #6370 closed, assigned to nobody

[2022-07-01 07:58] brent-hoover commented on #6383
Just coming back to this to say that these changes go even deeper because RC relies on certain elements of the Mongo driver that no longer exist. This affects how pagination works and a bunch of things. This will need to be a significant engineering effort

[2022-07-01 08:01] #6408 closed

[2022-07-01 08:03] brent-hoover commented on #6383
That being said Mongo 4.4 is not End of Life until Feb of 2024

[2022-07-11 12:14] timmoti commented on #6403
Hello.

I would like to report the same problem as well.

I tried:

1. Copying the 3 variables as is in `.env.example` over to the supplied empty `.env` file
2. Creating a stripe account and pointing the `STRIPE_API_KEY` variable to the secret test account API key.

When I try restarting the container `reaction_api_1` via the docker desktop, I get the same `Missing environment variables` error in

[2022-07-14 12:11] brent-hoover commented on #6433
Completed. Work on actual feature has begun.

[2022-07-14 12:11] #6433 closed, assigned to nobody

[2022-07-14 12:13] brent-hoover opened #6434 "SPIKE: Upgrade to Apollo 3"
Investigate how much work it would take to upgrade to Apollo 3 with a focus on what breaking changes it might include

[2022-07-14 12:15] brent-hoover opened #6435 "SPIKE: Move from Jest to Mocha for testing"
Investigate how much work it would take to move from Jest to Mocha

[2022-07-18 06:42] vannguyenn opened #6500 "Unable to retrieve totalCount from flatRateFulfillmentMethods query"
## Issue Description

`flatRateFulfillmentMethods` query throws an error when trying to retrieve totalCount

![Screen Shot 2022-07-18 at 13 37 36](https://user-images.githubusercontent.com/33818318/179456932-da4f9f1e-234b-4103-a253-738af9ecc1e3.png)

## Steps to Reproduce

1. Retrieve `totalCount` from `flatRateFulfillmentMethods` query

[2022-07-18 07:23] tedraykov commented on #6500
This problem seems similar to this one:
https://github.com/reactioncommerce/reaction/issues/6509

The source of the problem might be coming from `api-utils` but further debugging is required

[2022-07-20 03:59] brent-hoover opened #6436 "Spike: Investigate and benchmark different approaches to doing Price Promotions"
**Pricing promotions and ADR's:**
The three approaches under consideration currently are:

1. Retain price as it is, use a faster/simpler "price publish".
Upside, fewer changes to the system and compatible with frontend "as-is".
Downsides:
* May still take a long time to process without some sort of scaling process
* Unable to see existing price

2. Price in separate collection in mongo, make part

[2022-07-20 04:07] brent-hoover opened #6437 "As a developer, I want to enable cart subscription so I know when my cart has been modified"
Per our discussions with @aldeed, need to look at upgrading to Apollo 3 and having some sort of persistent backend like Redis or Kafka.

I'd like to see a complete implementation plan including how it would be folded into the development environment.

[2022-07-27 02:06] brent-hoover opened #6438 "Create endpoint that allows introspection in fields available for surcharges/restrictions"
Both our surcharges and restrictions capabilities allow you to apply "rules" which are `field` `operator` (like eq) `value`. When creating these in Kinetic we need to know which fields are available for use in these operators. Probably could use the SimpleSchema instances to introspect what fields are there and what value types they are. Probably good to investigate exactly how these plugins are i

[2022-07-29 02:48] brent-hoover opened #6439 "Document all the steps for getting a plugin/package published"
Right now I don't really understand the whole process and we need to have that documented somewhere. I can probably probably start with what I know so far.

[2022-07-29 03:06] #6434 closed, assigned to vanpho93

[2022-09-01 03:32] brent-hoover commented on #6436
This work is being iceboxed to focus on the other promotion work.

[2022-09-01 03:33] brent-hoover commented on #6435
Looked at this and there was no real easy migration path so despite how much I absolutely loathe Jest I guess we're stuck with it for now

[2022-09-01 03:33] #6435 closed, assigned to brent-hoover

[2022-09-01 05:01] brent-hoover opened #6441 "Promotions - Milestone 1"
Epic for tracking all Promotions related work

[2022-09-01 05:02] brent-hoover commented on #6432
Completed

[2022-09-01 05:02] #6432 closed, assigned to sujithvn

[2022-09-01 05:11] brent-hoover opened #6442 "As an admin I want to be able to award a promotion based on attributes of the cart"
### Possible criteria

- Total merchandise value of the cart
- Total merchandise value filtered by an attribute of a product:
    - Brand
    - Class
    - Tag
    - Price Type : Full Price ( not on sale )
    - Price Type : On Sale (sale or member pricing)
    - Price Type : On Clearance (Perm Pricing)

[2022-09-02 04:18] brent-hoover opened #6443 "Promotions - Milestone 2"
Coupons

Scenario:
Get $10 off when you use coupon code OCTOBER

[2022-09-06 05:52] brent-hoover opened #6444 "Promotions - Framework"
The general framework that allows extensibility

[2022-09-06 05:54] brent-hoover opened #6445 "Promotions - Cart Discount"
Allowing a trigger to trigger a cart discount on an order

[2022-09-06 05:55] brent-hoover opened #6446 "Promotions - Stackability and Exclusions"
Controlling:
* What promotions can be combined with what
* What items are included or excluded from a promotion

[2022-09-06 05:59] brent-hoover opened #6447 "Promotions - Admin"
The ability to create and manage promotions from Kinetic

[2022-09-06 06:01] brent-hoover opened #6448 "Promotions - External Systems"
Communicate promotions/discount data to external systems like Tax Providers

[2022-09-06 06:30] brent-hoover commented on #6390
Closed as completed

[2022-09-06 06:30] #6390 closed, assigned to sujithvn

[2022-09-06 08:45] brent-hoover opened #6449 "As an admin I want to be able to assign my promotion a name"

[2022-09-06 08:47] brent-hoover opened #6450 "As an admin I want to define customer visible text that describes my promotion as visible in the cart"

[2022-09-06 08:48] brent-hoover opened #6451 "As an admin I want to be able to see promotions, or a list of only active ones, or a list of “upcoming” promotions"

[2022-09-06 08:49] brent-hoover opened #6452 "As an admin I want to be able to set start and stop dates"

[2022-09-06 08:50] brent-hoover opened #6453 "As an admin I want to be able to exclude certain items from eligibility for promotions"
Some items may not be eligible to apply against things like Merchandise Total

[2022-09-06 08:52] brent-hoover opened #6454 "As an admin I want to be able to exclude certain products based on factors on the product"
This means that the discount would not be applied to certain products

Exclusion Criteria

- Brand
- Class
- Tag
- Price Type : Full Price ( not on sale )
- Price Type : On Sale (sale or member pricing)
- Price Type : On Clearance (Perm Pricing)

[2022-09-06 08:58] zenweasel commented on #6453
Some items may not be eligible to apply against things like Merchandise Total

[2022-09-06 09:02] brent-hoover opened #6455 "As an admin I want to set a promotion as “Not Stackable with Type” to restrict it from being combined with promotions of the same type"
MVP 1 - should be set by default to not stack with Same types

i.e order level not stack with other order level

item level should not stack with other item level

else, follow the order of operations when stacking

— Item

— Order

— Loyalty

— Shipping

[2022-09-06 09:04] brent-hoover opened #6456 "As an admin I want a promotion to be removed from the cart when the attributes are no longer true"
For example if the offer is "$10 off when order more than $100" and the cart gets awarded but then the user removes an item from their cart the promotion should be removed.

Note that when this offer makes the total $90 (because we discounted the $10) the promotion should NOT be removed

[2022-09-06 09:05] brent-hoover opened #6457 "As an admin I want to be able to stop anyone from using a promotion by disabling it"

[2022-09-06 09:07] brent-hoover opened #6458 "As an admin I want to be able to apply a discount to an order via a trigger"
example : $10 off $50 or more

trigger qualifier: Cart Value ( i.e $50 )

This discount would have exclusion criteria. So we can apply the discount to items that meet criteria:

- Brand
- Class
- Tag

- Price Type : Full Price ( not on sale )
- Price Type : On Sale (sale or member pricing)
- Price Type : On Clearance (Perm Pricing)

[2022-09-06 09:09] brent-hoover opened #6459 "As an admin I want to control how a discount is calculated"
Discounts can be calculated by:

- Percentage off
- Fixed amount off
- Flat amount (set it to a exact amount)

[2022-09-06 09:09] brent-hoover opened #6460 "As a customer, I want to be able to extend the “actions” that I can apply without modifying any existing code"

[2022-09-06 09:11] brent-hoover opened #6461 "As a customer I want to be able extend the “triggers” that can cause a particular action to be applied"

[2022-09-06 09:12] brent-hoover opened #6462 "As a customer I want to be able to extend the ways that discount calculations can be done via a plug in"

[2022-09-06 09:13] brent-hoover opened #6463 "As a customer I want to be able extend the attributes I filter on on the cart (enhancers)"

[2022-09-06 09:14] brent-hoover opened #6464 "As a customer I want to be able to have one trigger, trigger multiple actions"

[2022-09-06 09:15] brent-hoover opened #6465 "As a customer I want to be able to extend the way that I limit how promotions can be combined"

[2022-09-06 09:17] brent-hoover opened #6466 "As an admin, I want to properly report discounts to my tax rate provider"
Still need definition around this

[2022-09-06 09:20] brent-hoover opened #6467 "As an admin I want to pass along the promotion details to my upstream fulfillment service"
ROM:  any order that contains a Promotion should pass on ROM Order Create a the Promotional ID with a specific Prefix based on the Promotional Type

[2022-09-06 09:22] brent-hoover opened #6468 "As an admin I want order discounts to be pro-rated across items in the cart"
For a $10 discount where there are two items of $50 a piece, each item would be discounted $5

[2022-09-06 11:17] brent-hoover commented on #6453
Applied loyalty rewards WOULD lower eligible amount

[2022-09-07 07:52] brent-hoover opened #6469 "As an admin I want to be able to duplicate a promotion into a new issue"
Should assign new ID
Should append "Copy of" to the beginning of it

Should be a new endpoint that just takes the ID of the Promotion you want to copy

[2022-09-13 07:59] brent-hoover opened #6470 "Fulfillment Types BE"

[2022-09-13 08:00] brent-hoover opened #6471 "As a user, I should be able to checkout with multiple fulfillment types in a single order using the new set of plugins"
The user should be able to checkout with multiple fulfillment types in a single order using the new set of plugins. The proposed fulfillment types are "shipping" and "pickup" (although "pickup" would be a minimal shell implementation).

[2022-09-13 08:07] brent-hoover opened #6472 "As an admin I want to be able to migrate my data to the new format required for the new FFT plugins"
This should be implemented using the current Migration system

[2022-09-13 08:08] brent-hoover opened #6473 "As an admin I want localized versions of customer or admin facing messages available to me"

[2022-09-13 08:11] brent-hoover opened #6474 "As an admin I should be able to define what available fulfillment types should be added by default to new products"
You should be able to check a box in the admin on any/all/none of the fulfillment types and those would automatically be added to new products as they are created. THIS WILL NOT AFFECT EXISTING PRODUCTS AT ALL

[2022-09-13 08:12] brent-hoover opened #6475 "As a developer I want to have documentation that explains how I can write a new fulfillment/shipping method plugin"

[2022-09-20 09:01] #6389 closed, assigned to vanpho93

[2022-09-26 01:49] brent-hoover opened #6527 "Data Filtering/Search"
Establishing a system-wide pattern for doing searching and filtering, eventually with the ability to save filters. Mostly focused on Products/Orders/Customers

[2022-09-26 02:06] brent-hoover opened #6528 "SPIKE: Doing Filtering/Search across Products/Customers/Orders"
Initial investigation into what it would take to provide filtering/search functionality and provide a consistent pattern/interface across all Data objects where it makes sense, but for now focused on Products/Customers/Orders.

The definition of done for this ticket is that we provide:
* A specific, detailed proposal for how this would be done
* Preferably a simple proof-on-concept of some subset

[2022-09-26 02:13] brent-hoover commented on #6495
Closing as no immediate plans to work on this

[2022-09-26 02:13] #6495 closed

[2022-09-26 02:17] brent-hoover commented on #6512
This was done already

[2022-09-26 02:17] #6512 closed, assigned to nobody

[2022-09-26 02:20] brent-hoover commented on #6516
@vanpho93  Can you confirm that this has been resolved in your PR for new Mongo drivers

[2022-09-26 02:21] vanpho93 commented on #6516
Yes, that's correct.

[2022-09-26 02:40] brent-hoover opened #6529 "As a developer I want to be able to query for fields I can filter by on any Object"
Several places we allow you to apply various things (shipping restrictions, surcharges). These filters are built on attributes of the Product or Other elements like Order address. We need a way to introspect what attributes are available on any data attribute and what type that attribute is. I believe you could do this by simple creating an endpoint that would allow you to query any Simple Schema

[2022-09-26 09:57] brent-hoover commented on #6516
Closed as fixed in Mongo driver PR

[2022-09-26 09:57] #6516 closed, assigned to nobody

[2022-09-26 15:05] tedraykov opened #6535 "Order Item media is not awaited before additional order item transformations"
## Issue Description
When querying an order from MOC, the resolver for the items in the order tries to evaluate the image URLs:

https://github.com/reactioncommerce/reaction/blob/490a5c1ee7e62c94b5633868b78ece0af2dff5ca/packages/api-plugin-orders/src/xforms/xformOrderItems.js#L11

After that, the orders plugin calls all functions of type `xformOrderItems` to apply additional transformations to the

[2022-09-27 05:48] #6535 closed, assigned to nobody

[2022-09-29 23:58] brent-hoover commented on #6439
This is now covered in the README

[2022-09-29 23:58] #6439 closed, assigned to vanpho93

[2022-09-30 03:08] brent-hoover opened #6539 "MonoRepo Conversion"

[2022-09-30 03:09] brent-hoover opened #6540 "When a new version of the app is created, create a Github release"

[2022-10-03 16:24] tedraykov commented on #6540
Changesets usually generates github releases when calling the `changeset release` command. In our case we use a custom release command in the github action: `pnpm release`. A solution is to add the `npx changeset tag` to the custom publish command. This will create tags for the new releases and changesets will automatically create releases from the tags adding the changelog to the release.

[2022-10-05 15:21] sujithvn commented on #6475
Fulfillment details for UI team
https://www.notion.so/merchstack/Fulfillment-details-for-UI-team-5feffff41e3442f687ea2917f84d112b

Developing new Fulfillment plugins
https://www.notion.so/merchstack/Developing-new-Fulfillment-plugin-c88d7639acd047a8abde816db405a110

[2022-10-05 21:14] brendan-shea-pm commented on #6528
I added a few bullets under Filter based on some user feedback (starting with the "list of IDs" bullet) Happy to provide additional context if needed on any of them.

[2022-10-07 03:10] brent-hoover opened #6548 "When the code for a package changes only run tests for that package"

[2022-10-07 08:50] brent-hoover commented on #6486
Iceboxing because this likely be removed with Promotions work

[2022-10-12 17:54] Listyc92 opened #6553 "fatal: Could not read from remote repository."
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

Please contact us instead. We are active on Discord:

- [Discord](https://discord.gg/Bwm63tBcQY)

reaction-cli: Creating API project: {"projectName":"test","options":{}}
reaction-cli: Error: ENOENT: no such file or directory, stat 'C:\Users\listy\Desktop\Nouveau dossier\test'
reactio

[2022-10-13 03:38] brent-hoover commented on #6553
You need to have SSH verification with Github set up for this to work

[2022-10-13 03:38] #6553 closed, assigned to nobody

[2022-10-13 03:56] brent-hoover commented on #6553
[I've added a note about this](https://github.com/reactioncommerce/cli/pull/123) to the prerequisites

[2022-10-13 06:29] shwetha263 commented on #6507
@zenweasel could you assign this issue to me ?

[2022-10-13 06:30] brent-hoover commented on #6507
@shwetha263 done

[2022-10-13 08:19] #6540 closed, assigned to nobody

[2022-10-13 18:37] kulkarnianiket commented on #6515
@zenweasel Can I work on this issue?

[2022-10-13 23:45] brent-hoover commented on #6515
@kulkarnianiket assigned to you

[2022-10-14 13:14] #6507 closed, assigned to shwetha263

[2022-10-14 15:56] sushmitha-malae commented on #6468
@zenweasel I would like to work on this, could you please assign this to me?

[2022-10-14 15:57] smriti0710 commented on #6496
@janus-reith i would like to fix this issue. Can you please assign this to me ?

[2022-10-14 16:15] delagroove commented on #6496
@smriti0710 done

[2022-10-14 17:27] sushmitha-malae commented on #6508
@zenweasel @janus-reith @delagroove  I am a first time contributor, i would like to work on this issue, could you please assign this to me?

[2022-10-16 09:02] brent-hoover commented on #6468
This work is already part of a much larger project that is already underway. So it doesn't make sense as a one off ticket. It would be better to focus on the tickets that have the `hacktoberfest` tag.

[2022-10-16 09:05] #6496 closed, assigned to smriti0710

[2022-10-17 03:01] brent-hoover commented on #6462
Moving this to Discounts Epic/Sprint

[2022-10-18 10:16] sunakshijain commented on #6500
@zenweasel @vannguyenn Can I work on this issue?

[2022-10-18 10:19] brent-hoover commented on #6500
@sunakshijain sure, give it a shot. You are assigned.

[2022-10-19 05:36] brent-hoover opened #6573 "Add coverage stats and requirements per plugin"
We need to have a coverage requirement (somewhere around 70-80% in my experience) and track that per plugin so that we don't drop below it.

[2022-10-19 06:52] range123 commented on #6501
@zenweasel I'd like to work on this

[2022-10-19 06:53] brent-hoover commented on #6501
@range123 assigned to you. Let me know if you have any questions

[2022-10-19 06:55] range123 commented on #6501
The fix would involves a change in docs here - https://github.com/reactioncommerce/docs/blob/trunk/docs/fulfilling-orders.md#shipping-restrictions right? @zenweasel

[2022-10-19 06:57] brent-hoover commented on #6501
Not sure what you mean, the fix would be to make it work with nested properties? Do you mean to update the docs in addition to the fix?

[2022-10-19 07:05] range123 commented on #6501
Yes, I meant in addition. So I would fix the logic here - https://github.com/reactioncommerce/reaction/blob/trunk/packages/api-plugin-shipments-flat-rate/src/util/attributeDenyCheck.js#L28-L34
and then the docs to use `parcel.*` for weight, height, width, length

[2022-10-19 07:13] brent-hoover commented on #6501
@range123 got it, yes. We would want to update the docs as well

[2022-10-19 17:04] range123 commented on #6501
@zenweasel This exact issue seems to not exist anymore, the items objects contain the fields height, weight, width etc at the `item` level as well as the `item.parcel` level. Find below a sample `items` object.
[code]

[2022-10-19 17:08] range123 commented on #6501
However, the restrictions on the fields `price`, `subtotal` still don't work. ([from the docs](https://mailchimp.com/developer/open-commerce/docs/fulfilling-orders/#shipping-restrictions))
So, I think implementing this fix would be required to make sure restrictions can be placed on these fields and any such nested fields.

[2022-10-19 17:10] range123 commented on #6501
I'll work on raising a PR for this.
does this sound good to you? @zenweasel

[2022-10-19 18:28] range123 commented on #6501
PR for this issue - https://github.com/reactioncommerce/reaction/pull/6578

[2022-10-20 05:25] #6501 closed, assigned to range123

[2022-10-20 05:46] brent-hoover opened #6580 "Remove Semantic Release badge from the READMEs of all the packages"
Not a huge priority but it looks bad

[2022-10-20 10:22] range123 commented on #6501
I'd like to update the docs as well, Should I add all the properties from the `item` object (posted above) to the docs?. Or will it be sufficient to update the `price` and `subtotal` properties to `price.amount` and `subtotal.amount`?. @zenweasel

[2022-10-20 11:37] sunakshijain commented on #6500
@zenweasel I am getting below error while starting the app-
<img width="1148" alt="Screenshot 2022-10-20 at 5 06 07 PM" src="https://user-images.githubusercontent.com/29012822/196938064-7b637d64-56be-441f-82aa-7b437eefd364.png">

Is there a way to resolve this?

[2022-10-20 12:07] brent-hoover commented on #6500
@sunakshijain I don't see any error message so I can't really tell what's happening. Is this before you have made any changes?

[2022-10-20 12:38] sunakshijain commented on #6500
yes

yes. I am doing the normal setup.

[2022-10-20 12:40] brent-hoover commented on #6500
@sunakshijain never seen that before @tedraykov @vanpho93 any ideas?

[2022-10-20 12:44] brent-hoover commented on #6500
@sunakshijain what OS are you on?

[2022-10-20 12:57] tedraykov commented on #6500
Removing node_modules and instilling again usually solved such problems for me

I use this script to recursively remove them from packages:
[code]

[2022-10-20 14:06] rheasharma13 commented on #6485
Hi @zenweasel , can I please work on this?

[2022-10-20 14:17] brent-hoover commented on #6485
@rheasharma13 assigned to you

[2022-10-20 14:48] redxzeta commented on #6573
I'd like to work on this

[2022-10-21 02:00] brent-hoover commented on #6573
@redxzeta assigned to you

[2022-10-21 03:33] brent-hoover commented on #6501
I think just a couple of examples would be fine

[2022-10-21 06:10] range123 commented on #6501
Cool, I've raised a PR!

[2022-10-21 09:24] #6508 closed, assigned to sushmitha-malae

[2022-10-21 11:55] akhilchoudhary2k commented on #6580
Hii @zenweasel, can you describe a little bit more about the issue?

[2022-10-24 07:42] brent-hoover commented on #6580
It's pretty much just like it says. We no longer use semantic release so we should remove the badges from all the READMEs for the plugin.

[2022-10-24 10:15] tuanvu0995 commented on #6510
I would like to work on this issue

[2022-10-25 03:34] #6510 closed, assigned to tuanvu0995

[2022-10-27 02:29] brent-hoover commented on #6573
@redxzeta Do you plan on working on this or can I assign this to someone else?

[2022-10-27 05:58] #6539 closed, assigned to nobody

[2022-10-27 06:21] brent-hoover commented on #6482
Closing this issue as the existing discount code implementation is being deprecated and replaced with a new implementation which should take this into account.

[2022-10-27 06:21] #6482 closed, assigned to nobody

[2022-10-27 06:23] brent-hoover commented on #6481
Closing this issue since the existing coupon code implementation is being deprecated in release 5 and replaced with a new implementation.

[2022-10-27 06:23] #6481 closed, assigned to nobody

[2022-10-27 06:24] brent-hoover commented on #6486
Closing this as it is a bug in the existing discount code implementation that is being deprecated

[2022-10-27 06:24] #6486 closed, assigned to nobody

[2022-10-27 06:25] brent-hoover commented on #6494
Closing as this is an issue with the existing discount code implementation which is being deprecated

[2022-10-27 06:25] #6494 closed, assigned to brent-hoover

[2022-10-27 06:35] brent-hoover commented on #6490
Closing since this issue is two years old and no additional input

[2022-10-27 06:35] #6490 closed, assigned to nobody

[2022-10-27 06:43] brent-hoover commented on #6506
We built a surcharge UX in Kinetic and didn't run into this so going to say this fixed. The issue is over 2 years old

[2022-10-27 06:43] #6506 closed, assigned to nobody

[2022-10-27 06:52] brent-hoover commented on #6487
Closing as this bug is in the existing discount code implementation which will be deprecated/removed in Release 5

[2022-10-27 06:52] #6487 closed, assigned to nobody

[2022-10-27 13:50] redxzeta commented on #6573
I will soon

[2022-10-27 23:33] skodamarthi commented on #6580
@zenweasel Can I work on this as part of hacktoberfest?

[2022-10-27 23:47] brent-hoover commented on #6580
@skodamarthi sure. Assigned to you.

[2022-10-27 23:57] skodamarthi commented on #6580
@zenweasel Raised https://github.com/reactioncommerce/reaction/pull/6595. Happy to make any additional changes if needed.

[2022-10-28 03:50] arainfa commented on #897
![Uploading IMG20221012163120.jpg…]()

[2022-10-28 11:38] tuanvu0995 commented on #6513
Hi @kieckhafer.

I think this issue is not a bug. Because your `decodeGroupOpaqueId` function gets second arguments with an instance of Error class.
But when you use the `decodeGroupOpaqueId` function with map like `opaqueGroupIds.map(decodeGroupOpaqueId)`. It will pass the `opaqueGroupId` with the second argument as an index of the array (map will pass two arguments (element, index)).
In this cas

[2022-10-28 14:08] skodamarthi commented on #6580
@zenweasel Closed the previous PR and raised https://github.com/reactioncommerce/reaction/pull/6598 to clean up and address the review comments.

[2022-10-29 12:26] brent-hoover commented on #6431
@vannguyenn created [this PR](https://github.com/vercel/commerce/pull/759) for this which is still awaiting review since May

[2022-10-31 01:27] brent-hoover commented on #6396
We may want to look at just jumping to Node 18 since that just became LTS

[2022-10-31 02:43] brent-hoover opened #6603 "Promotions should use timezone in shop settings for time calculations not server time"
Time zone is set here in the shop settings

![image](https://user-images.githubusercontent.com/72819/198920034-ce32b6fc-8c78-42d6-adb6-76e8fc7a5d96.png)

I think this probably only involves changing `const now = new Date()` to something like `const now = new Date().toLocaleString("en-US", { timeZone: "America/Chicago" });` where "America/Chicago" would be the timezone from ShopSettings. And probab

[2022-10-31 03:37] #6580 closed, assigned to skodamarthi

[2022-11-01 01:47] brent-hoover opened #6608 "Use inclusion and exclusions to calculate total for condition"
e.g. "If total more than $100" needs to be able to do things like:

* Exclude gift cards or any cash equivalent

or

* Include only certain products:
  e.g. "Spend more than $100 on Nike, get $10 off"

We should create a new enhancer that adds a "calculatedTotal" that should be used by default when doing conditions off cart value

[2022-11-02 16:49] gempain opened #6611 "SSL certificate at reactioncommerce.com is down"
Hello,
Your SSL certificate at https://reactioncommerce.com/ is invalid.
Cheers and keep up the great work!

[2022-11-02 22:30] brent-hoover opened #6612 "When a promotion becomes active, all existing carts need to be checked if the promotion retroactively applies"
Will have to think about how we would do this since there is no real trigger action happening there. It would just be a matter of finding all carts and firing the cart updated event. But it should also probably be metered to avoid some sort of event storm

We should also do the inverse, when a promotion expires, it should be removed from all carts

[2022-11-03 22:55] brent-hoover opened #6617 "Make ReactionError more meaningful and useful"
1. Add a `severity` parameter
2. Standardize the short message
3. Add a third parameter that takes an array of messages that allows more detailed info about what happened rather than the single string (this could be added to the existing GraphQL endpoints without breaking compatibility)

The goal is that we separate normal user input errors from real errors that we need to alert about

[2022-11-03 22:58] brent-hoover opened #6618 "Add Prometheus stats throughout the app"
Some thought needs to happen to standardize what we put where, but this allows us to do alerting on trends rather than just single events. There are some built in reporting (or plugins that allow this) for GraphQL endpoints

[2022-11-04 13:18] brendan-shea-pm opened #6619 "As an admin I want to set a promotion as "Never Stackable" to restrict it from being combined with any other promotions"

[2022-11-06 15:53] brendan-shea-pm opened #6620 "Promotions Listing Page"

[2022-11-06 16:09] brendan-shea-pm opened #6621 "As an operator I want to see a Promotions Listing page that lists my promotions so that I can easily find the promotion I’m looking for"

[2022-11-06 16:10] brendan-shea-pm opened #6622 "As a operator, I want to take an Action on my Promo Listing page"

[2022-11-06 16:10] brendan-shea-pm opened #6623 "As an operator I want to be able to see promotions, or a list of only active ones, or a list of “upcoming” promotions"

[2022-11-06 16:11] brendan-shea-pm opened #6624 "As a operator I want to search and filter the promos in my Promo Listing pa ge so that I can find the one(s) I’m looking for"

[2022-11-06 16:23] brendan-shea-pm opened #6625 "As an operator, I want to see a status in the listing page that is based on the dates of the promotion and whether it is enable or disabled"

[2022-11-06 18:57] brendan-shea-pm opened #6626 "Promotions - Create Promotion"

[2022-11-06 19:00] brendan-shea-pm opened #6627 "As an operator, I want to see a Promotions detail page that outlines all of the information relevant to my promotion"

[2022-11-06 19:01] brendan-shea-pm opened #6628 "As an admin when I create a new promotion, I want the system to assign it a unique numeric promo ID"

[2022-11-06 19:01] brendan-shea-pm opened #6629 "As an operator I want to be able to assign my promotion a name"

[2022-11-06 19:01] brendan-shea-pm opened #6630 "As an operator I want to add a Description to my promotion so that I can enter freeform text information about it"

[2022-11-06 19:01] brendan-shea-pm opened #6631 "As an operator I want to duplicate an existing promotion and then edit the duplicate rather than building one from scratch"

[2022-11-06 19:02] brendan-shea-pm opened #6632 "As an operator I want indicate an Promotion Type that represents the kind of Action the promo will trigger"

[2022-11-07 01:34] brent-hoover commented on #6454
The issue here going to be price type. This is not data we have access to in the cart or even in the catalog. Also this is very customer-specific

[2022-11-07 01:41] zenweasel commented on #6632
We should discuss this as this list seems muddy

[2022-11-07 03:21] zenweasel commented on #6624
Can we talk about how exactly we would filter by inclusions and exclusions?

[2022-11-07 03:37] zenweasel commented on #6619
We need to talk about:

Not sure this is doable in Milestone 1 as it is a really big scope increase.

[2022-11-07 13:51] loan-laux commented on #6431
There's a response on the PR. Need to implement Dynamic API Routes and updated TS types. @zenweasel

[2022-11-07 14:28] chethan27 commented on #6493
Hi  @zenweasel , are planning to implement this. If yes I am interested to work on it.

[2022-11-07 16:19] chethan27 commented on #6527
Hi zenweasel , are you planning to implement this ?  if yes, I am happy to start working no this.

[2022-11-07 16:59] tedraykov opened #6634 "Surchages query missing permission validation"
Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description
The surcharges query in `api-plugin-surcharges` is missing the `read` permission validation.
https://github.com/reactioncommerce/reaction/bl

[2022-11-07 17:58] Vinitvh commented on #6634
Hi @tedraykov, I would like to work on this.

[2022-11-07 18:24] tedraykov commented on #6634
You can take onto the issue. In order to add a new role, you need to add a new migration in the authorization plugin as so:
https://github.com/reactioncommerce/reaction/blob/trunk/packages/api-plugin-authorization-simple/migrations/3.js

You also have to update the migration in the following repo:
https://github.com/reactioncommerce/api-migrations/blob/trunk/migrator.config.js

[2022-11-08 02:17] brent-hoover opened #6635 "As an admin I want to be able to limit an offer by the # of redemptions ( 20% off 1 item ( customer has 3 qty, discount only applies to 1 unit"

[2022-11-08 02:18] brent-hoover opened #6636 "As an admin I want to be able to apply limits to the maximum discount that be applied (e.g. 10% off up to $200 off) in a single use"

[2022-11-08 02:52] brent-hoover opened #6637 "Promotions should have a "Promotion Type""
This is used for Stackability and also to template out certain parameters when creating a new Promotion

[2022-11-08 03:14] Vinitvh commented on #6634
@tedraykov Need some help here. I'm getting this error while starting dev server with `pnpm run start:dev`.
`ERROR Reaction: Module "file:///home/vinit/Desktop/opensource/reaction/apps/reaction/plugins.json" needs an import assertion of type "json"`.
I tried `const plugins = await importPluginsJSONFile("../plugins.json", {
    assert: { type: "json" },
  });` but this doesn't seem to work.

[2022-11-08 03:21] Vinitvh commented on #6634
@tedraykov Never mind, I have fixed the above error. But there seems to be a new one
 `Error [ERR_PACKAGE_PATH_NOT_EXPORTED]: Package subpath './collectionIndex.js' is not defined by "exports" in /home/vinit/Desktop/opensource/reaction/packages/api-core/node_modules/@reactioncommerce/api-utils/package.json imported from /home/vinit/Desktop/opensource/reaction/packages/api-core/src/ReactionAPICore.

[2022-11-08 03:28] brent-hoover opened #6638 "Create "price type" attribute that can be used for Promotions"
Basically this is used to include or exclude items that are on sale or on clearance.

Stock price types are:

full - (not MSRP, but not discounted)
clearance - Permanently marked down to move
sale - Temporarily on sale (e.g. Black Friday or Mother's Day sale) but return to full price

[2022-11-08 11:35] brent-hoover opened #6639 "Add graphQL Cart subscriptions"
Brian's PR #6437 adds GraphQL subscriptions in general but we need to add a specific Cart Subscription

[2022-11-08 11:53] brent-hoover opened #6640 "All filterable/excludable attributes should be included in the cart by default"
Functions that add this extra data to the cart when you add a product

Attributes:
- Tag
- Brand
- Price

- Price Type : Full Price ( not on sale )
- Price Type : On Sale (sale or member pricing)
- Price Type : On Clearance (Perm Pricing)

[2022-11-08 12:28] brent-hoover opened #6641 "Add promotion type as an attribute of the promotion record"

[2022-11-08 13:18] brent-hoover commented on #6639
closing. duplicate

[2022-11-08 13:18] #6639 closed, assigned to nobody

[2022-11-09 04:04] Vinitvh commented on #6634
@tedraykov Do I have to write any additional tests? I ran `npm run test` and it seems there were no failed tests with my changes.

[2022-11-09 04:07] brent-hoover commented on #6634
You should write two additional tests. One that it works when you have the correct permissions (which might be covered by existing tests if you changed them) and one that it fails when you don't have the correct permissions

[2022-11-09 04:20] Vinitvh commented on #6634
@zenweasel Okay, so if I got this right, It's for `unauthenticated` and `authenticated with read permissions` just like groups tests, right?

[code]

[2022-11-09 04:41] brent-hoover opened #6642 "Add informational warnings to the cart whenever we either remove a promotion or a promotion can't be applied"
When we remove a previously applied promotion, or we attempt to apply a qualifying promotion but can't because of things like stackability, we need to add warnings to the cart that can be displayed to the customer. These would include things like:

1. **The severity of the message,**: info, warn, error (I am thinking we might be able to leverage these messages for other things like price change me

[2022-11-09 04:47] brent-hoover commented on #6641
@brendan-shea-pm should promotion type be a required field?

[2022-11-09 06:21] brent-hoover commented on #6641
The promotion types defined in the [Kinetic ticket](https://app.zenhub.com/workspaces/moc-main-board-62fd8e881686130027eafc31/issues/reactioncommerce/kinetic/104):

Item Discount (Discount: Item)
Shipping Promotion (Discount: Shipping)

[2022-11-10 01:19] brent-hoover commented on #6634
@tedraykov Can we confirm that this query without permissions is not used anywhere in the storefront by customer-facing code

@Vinitvh Yes that seems right. Not sure if this particular query returns a cursor or not though

[2022-11-10 09:15] tedraykov commented on #6634
I checked that. The only public access to the surcharges are trough the cart, but the cart resolvers does not use this query but rather directly fetch the data from the database.

[2022-11-10 11:46] brent-hoover commented on #6573
Removing assignment due to inactivity

[2022-11-11 00:51] brent-hoover commented on #6493
@chethan27 sorry for the late reply. If you would like to work on this please do. Reach out if you need any help

[2022-11-11 00:53] brent-hoover opened #6647 "Add offset pagination"
@mpaktiti commented on [Wed Jun 24 2020](https://github.com/reactioncommerce/categories/issues/250)

The pagination util function supports `offset` automatically, but the `offset` field needs to be added to the GraphQL schema params for each query for it to work.

We should update [the schema](https://github.com/reactioncommerce/categories/blob/trunk/resources/reaction/categories/schema.graphql) t

[2022-11-11 00:59] brent-hoover opened #6648 "Make API responses consistent"
Sort of as the inverse of [this ticket](https://github.com/reactioncommerce/reaction/issues/6262) which is about making the query API more consistent, this about making the response more consistent. Mostly this is about mutations

Some initial ideas:

1. Throwing a `ReactionError` as a way to send an error response should be considered an anti-pattern.
2. Mutations should include a `success` type

[2022-11-11 03:11] brent-hoover opened #6649 "Utilize OpenTelemetry project to add telemetry where applicable"
Focus would be on places where we could add things globally rather than things you need to intermingle with code.

[2022-11-11 03:16] brent-hoover opened #6650 "Improve Logging"
Main things that should be enforced.

1. Following logging standards
2. audit existing logging for matching standards
3. Every significant event should have a logging entry with applicable data. This includes but is not limited to:
- a cart is created or updated
- an order is placed
- an order is updated with status
- a product is created
- a product is updated
- a promotion is applied
- a non-use

[2022-11-11 06:07] brent-hoover opened #6651 "Omni Search"
Creating a new ticket to separate this from the per-collection filter/search because they don't really have anything to do with each other from an implementation perspective

# Master Search
* Provide a "master" or "omnipresent" search that would search across all relevant entities by a predefined subset of fields. For example if I typed "12345", it should return an order with the order ID of 1234

[2022-11-11 18:03] brendan-shea-pm commented on #6458
@zenweasel Should I create a separate ticket in Kinetic for the FE of the discount action? I'm not able to edit this one

[2022-11-12 11:13] brent-hoover commented on #6458
Not sure why you can't edit those one but yes, all FE tickets should be in the Kinetic Repo

[2022-11-13 16:06] brendan-shea-pm commented on #6458
Looks I can edit this one now, probably user error on my part somehow. Anyway yes I will add new tickets for the outstanding Kinetic stories tomorrow, just wanted to check with you first as they will overlap some of the Reaction tickets but makes sense that we'd want to track the work separately.

[2022-11-15 08:11] brent-hoover opened #6655 "Promotion records should have a "state" field that relates to the current status of the promotion"
The currently defined states would:

created - The default status on creation
active - When the current promotion is active
completed - When the promotion has completed it's run but has not been archived
archived - When the user wishes to be able to "hide" the promotion, they can place it in the archived state

[2022-11-15 10:02] brent-hoover commented on #6612
Initial thoughts on this go something like:

1. Cron job runs once an hour, determines if there are any enabled promotions that are not set to active, sets those to active. Does the inverse for active jobs whose time has expired. It records each of those.
2. For the second case: For existing carts where `appliedPromotions` exists and is not empty, a cart change is triggered which should recalculat

[2022-11-17 00:18] brent-hoover commented on #6500
Removing assignment and moving back to queue due to lack of activity

[2022-11-17 01:19] brent-hoover commented on #6437
This ticket is specifically for Cart subscriptions. Enabling subscriptions in general is already on a PR by @vanpho93

[2022-11-17 04:04] brent-hoover opened #6659 "Upgrade to Apollo 3"
We are actually upgrading to Apollo 4, but their docs suggest going to 3 first before going to 4. So this ticket covers that first step

[2022-11-17 04:07] brent-hoover opened #6660 "Upgrade to Apollo 4 from Apollo 3"
We are on 2 and plan to move to 3, but 3 is not being deprecated so we need to move to 4. This ticket is for the work on moving from 3 to 4.

This work is linked to Promotion because we require Cart subscriptions and subscriptions require the latest version of Apollo

[2022-11-17 08:06] brent-hoover opened #6663 "Migrate @reactioncommerce/nodemailer to the monorepo or revert to using the original non-forked version"
This was missed in the original migration. It seems like there is probably no reason to maintain a private fork through so we might want to investigate is we can just use the primary package at https://www.npmjs.com/package/nodemailer

[2022-11-20 19:22] brendan-shea-pm commented on #6468
@zenweasel Does the user have other options on how to calculate the discount or will this be the standard? Asking because if there are other options I'll want to mock that up in the UI, otherwise I think this would just be a backend issue

[2022-11-20 22:27] brent-hoover commented on #6468
No, no other options

[2022-11-21 09:48] brent-hoover opened #6665 "Enable Memory Mongo for unit tests for packages"
When writing code that utilizes Mongo it should be easy to write tests that actually tests the code

[2022-11-22 07:37] brent-hoover commented on #6637
This is a duplicate that @brendan-shea-pm helpfully tagged so now I can see it. So closing as this work is already complete

[2022-11-22 07:37] #6637 closed, assigned to brent-hoover

[2022-11-22 08:55] brent-hoover opened #6667 "Fix incomplete Logger entry"
https://github.com/reactioncommerce/reaction/blob/51882bb9e49bf4b845673a9907502fe16df1f68f/packages/api-plugin-promotions/src/startup.js#L31

[2022-11-23 03:56] brent-hoover opened #6668 "As an operator I want to preview how my promotions would operate on a date that I choose"
Basically this is a "Time Travel" mode there I would be able to set my current date somewhere to any date, say Black Friday and see my promotions be active and be able to test/use them just as if it was that day, but only for the particular user, all other users would be unaffected. This could something you set in Kinetic but it would need to affect both the backend and storefront (although it may

[2022-11-24 09:04] brent-hoover commented on #6603
This should use the `getShopTimeZones` util that I added for state. I was thinking that we could just use state for the query but I think the addition of #6668 means that we need to have more flexibility in how we query based on time. We should think about that as we build this.

[2022-11-26 19:53] alexmukho commented on #6396
That would be great. Since nothing works on Macbooks with M1.

[2022-11-29 01:23] brent-hoover opened #6672 "SiteMap Improvement/Fixes"
Placeholder issue for now. @brendan-shea-pm to provide detail

[2022-11-29 01:45] brent-hoover opened #6673 "Create a Options sort order field for use on the PDP"
A priority field on each option which if it exists will affect how options are sorted by default. This field also needs to be exposed in the API,  etc.

[2022-11-29 01:46] brent-hoover opened #6674 "SPIKE: Permissions Audit"
Audit all existing queries and mutations to verify that we are doing a permissions check.

[2022-11-29 05:27] #6466 closed, assigned to nobody

[2022-11-29 05:27] #6467 closed, assigned to nobody