[2017-05-19 01:15] zenweasel commented on #2304
@mikemurray This was closed with #2303 wasn't it?

[2017-05-19 01:17] zenweasel commented on #2278
@mikemurray Was this closed by #2279

[2017-05-19 01:29] zenweasel opened #2313 "shopId not available when fixtures are loaded"
### Expected behavior
Shop should be loaded before all other fixtures so that every record that requires a `shopId` (which is almost all of them) can use it

### Actual Behavior
Fixture data is getting loaded with a `null` for `shopId` resulting in numerous errors since these records will never be found by the application

One example is #2180

### Steps to Reproduce the Behavior
This is the hard

[2017-05-19 01:37] zenweasel opened #2314 "Signin and Cart icon scroll out of viewport when using a longer shop name"
### Expected behavior
Signin and Cart icon should always remain visible

### Actual Behavior
Signin and Cart icon scroll out of view. Also scrolling down becomes more awkward.
![glass_and_iphone_6_ _ios_10_3__14e269_](https://cloud.githubusercontent.com/assets/72819/26229695/391f2492-3c76-11e7-942a-3439515e53c7.png)

### Steps to Reproduce the Behavior

1. Using a device or device simulator in Chr

[2017-05-19 06:37] mikemurray commented on #2304
yes it was!

[2017-05-19 06:37] #2304 closed

[2017-05-19 06:39] mikemurray commented on #2291
May need to try this on a live site. FB may be trying to lookup the localhost:3000 site and getting an error.

[2017-05-19 06:40] mikemurray commented on #2278
Yup.

[2017-05-19 06:40] #2278 closed

[2017-05-19 08:49] kieha commented on #2307
@zenweasel I tested it out on master, development, and kieha-login-views-to-react. I got the same outcome. But I opened this one from master.

I'll update my Reaction CLI though. Thanks.

[2017-05-19 13:46] abdulsemiu-atanda commented on #2203
Closed via #2266

[2017-05-19 13:46] #2203 closed

[2017-05-22 08:14] #2215 closed

[2017-05-22 09:02] erichen510 commented on #2264
Thanks for the advice, it really works. Others can have a try @hrath2015

[2017-05-22 09:03] #2264 closed

[2017-05-22 09:17] michael-alade commented on #2254
A PR has been opened for this issue #2290 .

[2017-05-22 10:18] michael-alade commented on #2285
Found the solution for this ticket by updating the `canMakeAdjusments` helper for `shippingInvoice.js`. Preparing a PR for this.

[2017-05-22 17:32] spencern opened #2318 "Shipments fulfilled via Shippo should subscribe to tracking webhook"
Shipments that have been fulfilled via Shippo integration should subscribe to tracking updates for that order.

Once a Shippo order has been created, we should programmatically subscribe to shipping notifications for that tracking number, or multiple tracking numbers in the case of an order with multiple shipments.

#### Resources
*   [Shippo tracking webhook docs](https://goshippo.com/docs/webhoo

[2017-05-22 17:45] #2099 closed

[2017-05-22 17:51] mikemurray opened #2319 "Duplicate route definitions causes 2 `Route` components to be rendered."
## Expected behavior
Routes should be unique

### Actual Behavior
Routes are not unique

![screen shot 2017-05-22 at 10 50 12 am](https://cloud.githubusercontent.com/assets/42217/26321654/80539a1a-3edc-11e7-991e-66bddebbbbe7.png)

### Steps to Reproduce the Behavior

[code]

### Versions

Node: 7.2.0
NPM: 4.0.5
Meteor Node: 4.8.2
Meteor NPM: 4.5.0
Reaction CLI: 0.8.2
Reaction: 1.2.0
Reaction branc

[2017-05-22 17:55] spencern opened #2320 "Orders with tracking subscriptions should trigger an event when a shipping update has occurred"
Orders with tracking subscriptions must trigger an event whenever the shipping tracking gets updated.

There should be specific emails and notifications that get triggered for specific updates.

Updates:
* **TRANSIT**
  *   The first time an order receives the TRANSIT notification, the order and all order items should be progressed to status "SHIPPED"
  *   Subsequent TRANSIT notifications should

[2017-05-22 18:07] spencern opened #2321 "Admins with Orders permissions should be able to track an order from the order details view"
Users with permissions to view order details should be able to see all order tracking updates for any order that is subscribed to order tracking update webhooks.

This view should highlight the latest tracking update including current delivery status, location, estimated delivery date, and date and time of last update.

This view should also show all historical shipping updates for this order.

@r

[2017-05-22 18:13] spencern opened #2322 "Order managers should be able to see a risk evaluation for an order"
Users with permissions to see the order details view should be able to see a risk evaluation for an order.

Orders with a normal risk evaluation should not be highlighted abnormally.

Orders with an `elevated` or `high` risk evaluation should be highlighted and there should be a large notification present on the order details page as well as a badge on the order list page.

Orders with a `high` ri

[2017-05-22 18:20] spencern opened #2323 "Order managers should be able to toggle between list and detail view in the order Dashboard"
Users with permissions to view the list of orders should be able to toggle between list and detail view.

The list view is a "rolled up" view of each order but should still show the most relevant information
* Order ID
* Customer Name
* Order Status
* Order Date
* Order Risk Assessment if `elevated` or `high`
* Transit Status if SHIPPED
*

#### Resources
- [Orders List View Design](https://app.zep

[2017-05-22 18:29] spencern opened #2324 "Order managers should be able to export orders to CSV"
Users with orders export permissions should be able to export a list of orders to a CSV file.

The order export should permit the following
* [ ] Selection of fields that users want exported
* [ ] Date range to include in the export (before, after, between)
* Export filters
  * [ ] Orders with specific status
  * [ ] Orders with value (above, below or between)
  * [ ] Orders with taxes paid
  * [

[2017-05-22 18:32] spencern opened #2325 "Order managers should be able to select orders to from the orders list"
Users with permissions to view the orders list should be able to select or "check" orders within the order list.

There should be a method to select all orders currently listed, taking current filters or search criteria into account.

There should be a method to check or uncheck individual orders within the order list.

#### Resources
* [Orders Bulk Actions Design](https://app.zeplin.io/project/58

[2017-05-22 18:59] hrath2015 opened #2326 "Tests should report consistent outcome across platforms/OS(s)"
### Expected behavior
Consistent behavior across platforms
### Actual Behavior
Different results
### Steps to Reproduce the Behavior

- On windows 10, latest Master.  The Stat is (130 Passing, 10 Pending, 138 Failing).
   `meteor test --once --full-app --headless --driver-package dispatch:mocha`
     `reaction test` does not work on windows

-  On unbuntu 16.04
     `reaction test` failed with tim

[2017-05-22 19:15] rymorgan commented on #2270
@abdulsemiu-atanda I'm not sure what design direction you want on this issue? If you multi-tap on an item on the product grid while in edit mode you should go directly to the product.

It does bring up a related issue that we need a way for multiple select of items on the grid for mobile.

[2017-05-22 20:02] abdulsemiu-atanda commented on #2270
@rymorgan I was thinking disabling `Grid Settings` overlay in mobile might be breaking the design we already have but #2315 fixes the multi-tap situation.

[2017-05-22 20:27] kieha opened #2328 "Weird behavior on checkout login/signup"
This happens when logging in/signing up on the checkout panel.

### Expected behavior

#### Scenario A

When logging in/signing up and I have entered the wrong credentials, an error message should pop up on the form.

#### Scenario B

When logging in/signing up and I have the correct credentials, I should be redirected back to the checkout panel immediately to continue filling out the checkout ste

[2017-05-22 21:28] rymorgan commented on #2270
@abdulsemiu-atanda We need to give this behavior more thought. Grab another issue while we figure out what the behavior should be between mobile and desktop.

[2017-05-22 23:56] jshimko commented on #1961
What is the state of this issue @weitony111?

[2017-05-22 23:57] #2169 closed

[2017-05-23 00:31] jshimko commented on #2177
Hey @owenhoskins.  Sorry this issue kind of fell through the cracks.

I coincidentally just fixed [this same issue in another image](https://github.com/jshimko/meteor-launchpad/issues/41) earlier today.  Based on the [comments from the Meteor issue](https://github.com/meteor/meteor/issues/8157#issuecomment-301473507) about the `TOOL_NODE_FLAGS` environment variable, it sounds like at least setting

[2017-05-23 00:36] jshimko commented on #2176
Any further developments with this @owenhoskins?  I haven't been able to reproduce it yet.

[2017-05-23 01:00] jshimko commented on #2313
I'm pretty sure this shouldn't be possible after my fix in #2224 (which is merged into `development` now).  The shop fixture is the [first thing to load](https://github.com/reactioncommerce/reaction/blob/development/server/startup/load-data.js#L11-L17) on app startup ([before Reaction.init()](https://github.com/reactioncommerce/reaction/blob/development/server/startup/init.js#L9-L12)) and then loa

[2017-05-23 01:04] jshimko commented on #1424
This was "fixed" multiple times, but I believe we finally got it in #2224.  The changes are in the development branch now.  If you're still experiencing this issue, make sure to try the development branch from any time after 13 days ago.

I'm closing this for now, but feel free to reopen if the problem returns.

[2017-05-23 01:04] #1424 closed

[2017-05-23 01:13] jshimko commented on #2180
I believe the shopId race condition was finally fixed in #2224.  (which is now in the development branch).  @jujes, can you test your deployment with the latest code from development and see if that solves your issue?

Also, something seems seriously wrong if it takes 10 seconds to load the base fixtures and return a single shop document.  That should happen near instantly.  What is your deploymen

[2017-05-23 01:17] zenweasel commented on #2180
@jshimko I'm pretty sure he already tested it with that fix in place and no go.

[2017-05-23 01:38] jshimko commented on #2180
Alrighty, give this PR a test then...

https://github.com/reactioncommerce/reaction/pull/2329

[2017-05-23 03:00] jshimko commented on #2281
@dancastellon, the `MAIL_URL` parsing has been updated in #2330 to fix your use case.  Please give it a test drive when you have a moment.  Thanks!

[code]

[2017-05-23 03:07] jshimko commented on #1946
@aaronjudd @prakspcd Are you specifically seeing `Error: EXDEV: cross-device link not permitted, rename`?

I get an issue with the build (another Meteor file system headache on macOS), but it's not the same issue from this PR.  I haven't been able to make that happen since the fix Meteor released a couple months back.

[2017-05-23 09:24] zenweasel opened #2332 "Anonymous and Logged in Cart not properly merged"
### Expected behavior
Previous cart and items added anonymously should be combined

### Actual Behavior
The cart is combined but line items are not merged
![basic_reaction_product_and_msedge_-_win10_preview__running_](https://cloud.githubusercontent.com/assets/72819/26347542/7ac8130e-3fdc-11e7-9494-ed399ca0738d.png)

### Steps to Reproduce the Behavior
1. Login
1. Add item to cart
1. Logout
1. Add

[2017-05-23 10:43] gsc-dev commented on #1946
Hi @jshimko

I am also still having issues during the building phase...

[code]

[2017-05-23 10:48] prakspcd commented on #1946
@jshimko nvm my report, i faced the issue after upgrading to sierra but for a different framework. I posted here by mistake.

If it helps I fixed the build by running
`sudo launchctl unload /System/Library/LaunchDaemons/org.ntp.ntpd.plist`

[2017-05-23 14:27] impactmass commented on #1312
fix going in #2251

[2017-05-23 14:33] owenhoskins commented on #2177
Hey @jshimko, Thanks for that build-arg option -- it's exactly what I was looking to set! I've just tested it out and it does the trick. Thanks!

[2017-05-23 14:33] #2177 closed

[2017-05-23 14:38] jshimko commented on #2177
Great.  Confirmed fixed by https://github.com/reactioncommerce/base/commit/4901b5586b5095350a3867f4e94aa82180f4884f

[2017-05-23 15:13] dancastellon commented on #2281
@jshimko thanks for this! I'll test it on my client's env and report back!

[2017-05-23 15:15] jshimko opened #2333 "macOS Docker build error: Error: Cannot find module '../'"
Several people (including myself) have been consistently seeing this when trying to build the default Reaction image on macOS.  I believe this is a result of [changes that Meteor released](https://github.com/meteor/meteor/pull/8569) to fix the _last_ macOS/Docker file system nightmare that took 6 months to clear up.

The original Meteor/Docker build issue was (https://github.com/meteor/meteor/pull

[2017-05-23 15:20] jshimko commented on #1946
@gsc-dev that's the same issue I've been seeing for a while too.  Since it's not the same error as the one this issue was opened for, I've opened a new issue for it (#2333) and included my current understanding of the problem.

[2017-05-23 16:23] #1946 closed

[2017-05-23 16:25] aaronjudd commented on #1946
Closed in favor of #2333 which is the current error I'm experiencing, although the overal "can't build on macOS" remains true...

[2017-05-24 00:56] aaronjudd opened #2336 "Cannot read property 'domains' of undefined"
Resolve `Cannot read property 'domains' of undefined`.

To reproduce, replicate, run `reaction test`.

[code]

[code]

[2017-05-24 08:25] #2254 closed

[2017-05-24 08:52] zenweasel opened #2337 "Receive error in console when going to order summary console"
### Expected behavior
No errors in console

### Actual Behavior
Receive this error
[code]

### Steps to Reproduce the Behavior
1. Place an order
1. Login an admin
1. Go to order panel
1. Observe error

### Versions
[code]

[2017-05-24 10:12] abdulsemiu-atanda commented on #2213
This Issue seems to be fixed by Reaction Commerce latest release (release 1.2.0) but should be reopened if it reoccurs
http://g.recordit.co/gsu8rFVjka.gif

[2017-05-24 23:19] #2281 closed

[2017-05-24 23:33] aaronjudd commented on #2328
@mikemurray sounds like react router? however, we've had a similar behavior when the guest logins in the past as well...  where you see "oops your cart is empty" right after login, and then the cart loads..

[2017-05-24 23:35] aaronjudd commented on #2332
never seen this, we need to replicate, and if we are able to replicate, we need to write a test for this. (I don't think this should be happening, for sure!)

[2017-05-24 23:38] aaronjudd commented on #2336
Possibly related to #2329?

[2017-05-24 23:40] aaronjudd commented on #2337
Confirmed, I've seen this as well. @kieckhafer you may want to take this as part of orders milestone?

[2017-05-24 23:47] aaronjudd commented on #1993
@zenweasel we need to dig into this one some more, I think we've squashed the other safari bugs, this is the last?

[2017-05-24 23:47] #1638 closed

[2017-05-24 23:48] zenweasel commented on #2125
Closed via #2216

[2017-05-24 23:48] #2125 closed

[2017-05-24 23:50] aaronjudd commented on #2179
@michael-alade status update on this issue?

[2017-05-24 23:51] zenweasel commented on #2285
Closed via #2317

[2017-05-24 23:51] #2285 closed

[2017-05-24 23:51] aaronjudd commented on #2269
@jshimko status update on this issue?

[2017-05-24 23:52] aaronjudd commented on #2300
Closing in #2302

[2017-05-24 23:52] #2300 closed

[2017-05-24 23:53] aaronjudd commented on #2284
@kieckhafer was this resolved in #2302 ? @michael-alade should be as simple as adding the key?

[2017-05-24 23:55] aaronjudd commented on #2289
@abdulsemiu-atanda  status update on this issue?

[2017-05-24 23:57] aaronjudd commented on #2270
@abdulsemiu-atanda @rymorgan should remove @abdulsemiu-atanda from the assignee, or add @rymorgan (or whoever is answering the behavior questions) to the assignees.

[2017-05-25 00:03] kieckhafer commented on #2337
Ahh, so this isnt' just in my branch... I thought it was something I was doing, guess it was from my most recent pull from dev...

I have the solution, one line of code, i will make a PR outside of my branch to fix so it gets pulled in quickly.

[2017-05-25 01:04] spencern opened #2341 "Order managers should be able to set an order or multiple orders to a specific status"
Users with permission to view and process orders should be able to update the status of multiple orders in bulk.

If any orders are selected and bulk set to a state that is not the next status in the order flow, there should be a confirmation such as:

[code]

While setting the state of the selected orders, the orders should have an event added to their history showing that they have been set into

[2017-05-25 01:04] spencern opened #2342 "Order managers should be able to print shipping labels in bulk"
If the Shippo integration is being used:

Users with permission to view and process orders should be able to print shipping labels for all selected orders.

These labels should be consecutively displayed ready for print in a single document with page breaks between each order, sized appropriately for the label printer.

Once the print document is generated, the orders should all have an "Label Pri

[2017-05-25 01:05] spencern opened #2343 "Order managers should be able to print invoices / pick sheets in bulk"
Users with permission to view and process orders should be able to print invoices for all selected orders.

These invoices should be consecutively displayed ready for print in a single document with page breaks between each order.

Once the print document is generated, the orders should all have an "Invoice Printed" event added to their order history. (There can, and should, be multiple invoice pr

[2017-05-25 01:07] spencern opened #2344 "Aging orders should be labeled late or due appropiately"
Orders that are have not been shipped on time should be labeled LATE, orders that should be shipped out today should be labeled DUE.

There should be an order processing time that is set for each store, and if one is not set, there should be a default (3 business days?). These are set in #????

Orders that are due to be shipped out _today_ should be noted with a label such as `DUE`.

Orders that s

[2017-05-25 01:09] spencern opened #2345 "Shop owners should be able to configure order processing time"
Shop owners should be able to set their order processing time in business days.

There should be a default amount of time for shop owners that to not change this number.

If an order is not shipped in the set amount of time, it is marked as LATE => #2344

[2017-05-25 01:11] spencern opened #2346 "Slack Order Reporting Integration"
Store Managers should be able to configure new orders to be posted to a specific Slack channel.

This section should accept an API key and a Slack Channel name and should post all new orders to chat channel when they come in.

Possibly could be set to report on events other than Order Created as well.

[2017-05-25 01:40] spencern opened #2347 "Handling orders with expired payment authorization"
Expired orders that can be automatically reauthorized with a token should be reauthorized when they are ready to be captured and the order is being processed.

Expired orders that cannot be reauthorized should be queued for manual resolution.

Basic implementation.
-   Queue order
-   Order manager cancels order from queue
-   Asks customer to repurchase if they still want to

Advanced Implementat

[2017-05-25 01:40] spencern opened #6495 "Handling orders with expired payment authorization"
Expired orders that can be automatically reauthorized with a token should be reauthorized when they are ready to be captured and the order is being processed.

Expired orders that cannot be reauthorized should be queued for manual resolution.

Basic implementation.
-   Queue order
-   Order manager cancels order from queue
-   Asks customer to repurchase if they still want to

Advanced Implementat

[2017-05-25 02:21] zenweasel commented on #2337
Closed via #2340

[2017-05-25 02:21] #2337 closed

[2017-05-25 05:09] jshimko commented on #2269
@kieckhafer I've tried several times and I can't reproduce this.  Is it possible you didn't refresh the browser after the db reset?  If I start the app and login, then kill the app, do a reset, and go back the browser, I can still click around a bit with the client side cache from my previous session.  It appears as if I'm signed in, but it's really just a stale client side cache with no connectio

[2017-05-25 05:16] kieckhafer commented on #2269
Yeah, I'll try that next time, this happens frequently though, and it's not just me. I made the ticket after we discussed in a meeting, but all of us there had experienced it before. I end up having to do a full meteor kill from [here](https://stackoverflow.com/questions/12238382/how-to-stop-meteor): `kill -9 `ps ax | grep node | grep meteor | awk '{print $1}'` - before i'm fully reset and logged

[2017-05-25 05:17] zenweasel commented on #2269
Are we talking about after getting the `toString` error?

[2017-05-25 05:18] kieckhafer commented on #2269
No, this issue is after I do a reset, I restart the app and I'm still logged in as an admin, and still have all my products and settings saved. It's like Meteor never actually reset, it just stopped and started again even though I did the reset command.

[2017-05-25 05:21] zenweasel commented on #2269
This happens to me sometimes when I do `rrr` and don't watch the output carefully to make sure it actually resets. The failed `reset` doesn't fail the command in a `reaction reset && reaction`

[2017-05-25 05:31] kieckhafer commented on #2269
^^ This is occuring with `rrr`'s for me. I'll start using `reaction reset && reaction` for the next few days and see if it occurs at all.

[2017-05-25 05:33] zenweasel commented on #2269
You can't use `reaction reset && reaction`, that's what doesn't work (I don't think I said it clearly enough above). You would need to do it on two separate lines (or just watch for an error more carefully). It would be great if the CLI would throw an error on this rather than just chugging along.

[2017-05-25 05:37] zenweasel commented on #2269
I believe in bash that when you do `command && anotherCommand` that if `command` fails it should not execute `anotherCommand`. But I don't think bash sees a failed `reaction reset` as a failure.

[2017-05-25 09:54] abdulsemiu-atanda commented on #2332
I've been able to reproduce this following the steps above.
<img width="1055" alt="screen shot 2017-05-25 at 10 50 47 am" src="https://cloud.githubusercontent.com/assets/10584060/26445495/54624a42-4138-11e7-8cdd-d3463c7a72ea.png">

[2017-05-25 16:00] jshimko commented on #2180
@jujes @Stat1c14 can you pull the latest development branch and test this again?  #2329 should have fixed this.  It completely blocks the shipping fixtures from being loaded until the initial shop has been inserted and successfully retrieved.

[2017-05-25 16:06] jshimko commented on #2269
It looks like there wasn't proper exit code handling for the `meteor reset` command when `reaction-cli` runs it.  [Now there is](https://github.com/reactioncommerce/reaction-cli/commit/6ff482ebfe81cc997a97037ce5e9536a102cc49e).  Update the CLI to v0.9.2 and let me know if this issue happens again.  If the database reset fails, you should now see an error message and whatever command you have after

[2017-05-25 17:10] rymorgan commented on #2270
After discussing this with @mikemurray and @kieckhafer -- I'm reclassifying this as part of thinking about the mobile experience instead of it being a bug. Double clicking isn't a normal mobile behavior for mobile. It does bring a up a few issues though with regards to mobile. As in, how do you select and edit multiple products on the grid? on mobile? Is there a way to get to the product detail pa

[2017-05-25 17:21] kieckhafer commented on #2284
Yes, this is fixed in #2302. Closing.

[2017-05-25 17:21] #2284 closed

[2017-05-25 17:22] mikemurray commented on #2328
@aaronjudd @kieha The part about there being no error on wrong credentials was happening before React Router.

The second part is most likely React Router. When signing in the routes are re-rendered with updated permissions, and there's a moment where you have no permissions until the subscription is updated.

This update on login is how it used to work with Flow Router. We may have to think of a

[2017-05-25 19:31] hrath2015 opened #2348 "Cascading Effect of 1 Failed Test Case on others (mostly all fail)"
### Expected behavior
If 1 test case fail than there should be no impact on others.
### Actual Behavior
That is is not the case.  Tested  both on windows 10 and Linux Ubuntu 16.04.
### Steps to Reproduce the Behavior
Change code at below line  to fail the test.
https://github.com/reactioncommerce/reaction/blob/development/imports/plugins/included/search-mongo/server/publications/searchresults.app-

[2017-05-25 21:49] spencern opened #2351 "Order Followup"
After an order has been marked as delivered, and order followup email and notification should be sent to the customer.

This should
-   Thank the customer for shopping with the shop(s)
-   provide contact information the shop(s) that sold products to the customer
-   give the customer a roadmap for what to do if they are not satisfied
-   Include or link to the return policy for the shop(s) associ

[2017-05-25 21:56] spencern opened #2352 "Show warning when payment authorization is about to expire"
If an order has not been captured and there is less than (48) hours until the payment does expire, we should show a `EXPIRING` warning badge on both the orders list view and the order detail view.

A setting for the number of days until a payment expires should probably be rolled into each payment package.

[2017-05-25 21:56] spencern commented on #2074
Closing in favor of #2347 and #2352

[2017-05-25 21:56] #2074 closed

[2017-05-26 18:54] spencern opened #2353 "Search orders by orderId"
Users with permissions to view orders dashboard should be able to quickly search orders by OrderId. In small shops, the first 4-5 characters of an `orderId` should likely be sufficient to identify a single order, in large shops, it may require 6-8 characters, but still the most simple way to look them up.

Users should be able to type the first few characters of an orderId and hit enter:

If there

[2017-05-26 18:58] spencern opened #2354 "Search orders by customer information"
Users with permissions to view orders dashboard should be able to quickly search orders by customer information.

Users should be able to type:
-  Customer first or last name
-  Customer phone number
-  Customer email address
-  Last 4 of customer credit card (Maybe useful?)

If there is more than one order with a matching customer information - the search UI should replace the existing list of or

[2017-05-26 19:09] spencern opened #2355 "Search orders by product, variant, or option title"
Users with permissions to view orders dashboard should be able to quickly search orders by the order items.

This search should be fuzzy and case insensitive.

Users should be able to type:
-   Product Title
-   Variant Title / Label
-   Option Title / Label

If there is more than one order with matching products - the search UI should replace the existing list of orders in the orders dashboard wi

[2017-05-26 19:22] katiebvogel opened #2356 "New Tags Menu SideBar Glitch"
It looks like this is related to some previous issues that HAVE been fixed.  One more detail that doesn't seem to be what we'd expect:

When in small screen view, the drop down side bar appears and allows us to view all tags (parent and child-level).  We should be able to select the parent-level tag by clicking on "View All"

When selecting "View All", we see "#"   added to the url, but no re-rout

[2017-05-26 19:41] spencern opened #2357 "Filter Orders By Status"
Users with permissions to view orders dashboard should be able to quickly filter the list of orders by the order status.

From a dropdown, users should be able to filter orders by status. Ideal scenario permits users to filter by multiple statuses simultaneously. (e.g. select orders that are "New" and "Processing" and see only orders with those statuses)

If users `search` while a filter is active

[2017-05-26 19:43] spencern opened #2358 "Users should be able to clear all active order filters in one click"
Users that have permissions to view and filter orders should be able to clear any active order filtering in one click.

After clearing existing filters, the order list should be reset to the default list of orders and sorting.

[2017-05-26 19:52] spencern opened #2359 "Filter orders by created at date"
Users with permissions to view orders dashboard should be able to quickly filter the list of orders by the created date.

Users should be able to set either or both `beforeDate` and `afterDate` fields and return orders that were created between those dates and times.

If the `beforeDate` is not set, the filter should return all orders that were created after the date provided to the `afterDate` fi

[2017-05-26 20:01] spencern opened #2360 "Filter by shipping method"
Users with permissions to view orders dashboard should be able to quickly filter the list of orders by the shipping method.

From a dropdown, users should be able to filter orders by shipping method. Ideal scenario permits users to filter by multiple shipping methods simultaneously. (e.g. select orders that are "Rush" and "Express" and see only orders with those statuses)

If users search while a

[2017-05-26 20:03] spencern opened #2361 "Filter Orders by Billing or Shipping Location"
Users with permissions to view orders dashboard should be able to quickly filter the list of orders by the billing or shipping location.

Users should be able to filter orders by their SHIPPING or BILLING `country`, `region`, `city`, or `postal`

If users search while a filter is active, the search should take the filter into account.

Users should be able to clear all filters easily as well (#235

[2017-05-26 21:47] spencern opened #2363 "Sort Orders by Column"
Users with permissions to view orders dashboard should be able to quickly sort the list of orders by clicking the column header for any column in the orders list.

When clicking the column header the orders should be sorted according to that column.

First click should sort the column in ascending order, second click should sort the column in descending order. A third click on the column should cl

[2017-05-29 06:13] vanloc0301 commented on #2219
Can you add pull request for this feature?

[2017-05-29 18:06] kieha commented on #2050
Notes:
* branch name - `kieha-product-grid-conversion-2050`
* Main folder - `imports/plugins/included/product-variant/client/templates/products/productGrid`
* Approach - start with `item.js` and work my way up

[2017-05-30 08:35] weitony111 commented on #1961
It turns out that this issue is solely due to Azure MongoDB. It looks like their service currently is not mature yet, which results in many incompatibility issue (not only `db.collection.ensureIndex`, but also other index related operations). I think this bug can be closed now since reaction has nothing to do with it.

[2017-05-30 08:40] weitony111 commented on #1961
There is a similar issue.

https://github.com/XervoIO/demeteorizer/issues/265

Basically the root cause is exactly the same. I have also tried to contact Microsoft Azure team. Though they are aware of this issue and promised to fix, until now it is not fixed yet, since someone recently reported this issue in the above link.

[2017-05-30 14:20] spencern commented on #2219
hi @vanloc0301 - This feature is under development and you can follow along here and in the `marketplace` chat room.

[2017-05-30 14:46] jshimko commented on #1961
Thank you for the update @weitony111

[2017-05-30 14:46] #1961 closed

[2017-05-30 16:05] vanloc0301 commented on #2219
that's cool @spencern . I expect expectations like a review of the customer when they buy success.

[2017-05-30 16:54] spencern opened #2367 "Orders should be splittable and support multiple partial orders"
*Note: this may turn into an Order Splitting Epic and be moved out of the general Marketplace Orders epic*

**NOTE: THIS TICKET IS A WORK IN PROGRESS - TALK to @spencern BEFORE WORKING ON THIS TICKET**

## Order Splitting Proposal

To support split shipments, orders from multiple vendors, and marketplace style orders, we should update our order system to support order splitting in some way.

The f

[2017-05-30 17:10] spencern opened #2368 "Smart Tags"
Navigation level tags should have the option of showing products from multiple tags.

e.g. clicking navigation tag "Sweaters" should have the option of showing tags "knitwear", "sweaters", and "sweatshirts"

[2017-05-30 19:18] nygava opened #2370 "I need to add "text input" to products oder."
I apologize If I am posting this question in the wrong place, I am a new user.  I did search to find if someone asked same.

My shop is selling custom t-shirts, and customers will provide me the text and the image before they order, and I print them after taking their payment.

I deployed a standard reaction shop, all I want to add is, a Text Input and an upload image input from the customer that

[2017-05-31 22:34] aaronjudd commented on #2368
Perhaps, like elasticsearch we could build a synonyms library?  Or is this really just an routing task?

[2017-05-31 22:39] spencern commented on #2370
Hi @nygava
This is possible by adding a component to the product detail page, which you can find in the templates collection.

@mikemurray @kieckhafer, can't find the docs on this, can one of you point @nygava in the right direction?

[2017-05-31 22:43] spencern commented on #2348
@zenweasel @hrath2015 Closing this issue. Open it back up if #2349 did not fix it.

[2017-05-31 22:43] #2348 closed

[2017-05-31 22:58] nygava commented on #2370
@spencern thank you so much, what I am confused is, how can I make that be inserted to the database? and be showed on the order, so when someone goes to process to order have that information.

does that mean we will need to edit the database schema?

is this a super easy thing to do ? is there any way you help us to make this as example plugin? I am sure a lot of other people will love to follow

[2017-06-01 02:49] spencern opened #2373 "Generate and send RMA and return instructions to customer"
When an order return is authorized, an RMA should be generated.

Workflow for generating return authorization.

1. Customer can request a return via phone or email.
2. Admin should be able to authorize a return by either clicking "create return", or by reducing the quantity of an order item or removing an order item and then clicking "create partial return"
3. Admin should be prompted to confirm t

[2017-06-01 03:53] spencern opened #2374 "Refund returned orders"
users with orders permissions should be able to refund orders that have a return processing.

Once an RMA has been generated and the order has a status of Returning, it should be possible to refund the order (if the whole order has been returned) or a part of the order (if only part of the order has been returned) with one click.

Refunding the order should update the order status as either Refund

[2017-06-01 04:10] spencern opened #2376 "Refund shipping for an order"
A user with orders permissions should be able to refund shipping for an order.

Refunding the shipping for an order should update the order status as Shipping Refunded.

Refunding the order should trigger an Order Refunded event.

The Order Refunded event should send an email to the customer informing them of the refund having been initiated and add a notification to their notification list.

[2017-06-01 04:14] spencern opened #2377 "Refund a line item or partial quantity of a line item"
A user with orders permissions should be able to refund one or more line items for an order.

Refunding a line item for an order should update the order status as Partially Refunded.

Refunding the order should trigger an Order Refunded event.

The Order Refunded event should send an email to the customer informing them of the refund having been initiated and add a notification to their notificati

[2017-06-01 05:20] spencern opened #2378 "Add a discount to a completed order"
A user with orders permissions should be able to add a discount code to a completed order.

Adding a valid discount code to a completed order should create a refund for the order of the discounted amount.

Refunding an order via discount code should not update the order status.

Refunding an order via discount code should add a discount code event to the order history.

It should be visible from t

[2017-06-01 05:27] spencern opened #2379 "Copy order link to the clipboard"
Users with orders permissions should be able click a link or button to copy the order link to the clipboard from the order detail page.

This also implies that it should be possible to directly link to any given order.

[2017-06-01 05:52] boubex opened #2380 "Error: Node modules were not successfully installed. Exiting."
when i do
   `react init`

i get the following error on osx

npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! bcrypt@1.0.2 install: `node-pre-gyp install --fallback-to-build`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the bcrypt@1.0.2 install script 'node-pre-gyp install --fallback-to-build'.
npm ERR! Make sure you have the latest version of node.js and npm installed.
npm ERR! If you do,

[2017-06-01 06:11] spencern opened #2381 "Share an order via Slack"
After a Slack integration has been setup (#2346) users with orders permissions should be able to click a button to share an order via slack to a user or channel.

[2017-06-01 06:56] spencern opened #2382 "Cancel a line item from an order"
Users with orders permissions should be able to cancel a line item from an order.

Cancelling a line item or reducing the quantity of a line item before an order has been processed should cause the following.
1. Reduce the amount of the credit authorization or cancel and reauthorize for the correct amount.
2. Trigger a Line Item Cancelled event
3. Send the customer an email and a notification lett

[2017-06-01 07:14] spencern opened #2383 "Display split view for orders that have multiple shipments or vendors"
For users that have permissions to view multiple parts of an order that has multiple shipments, vendors, or one or more refunds, the UI should split the display of each part of an order.

Users that have view into only a single part of the order, should see that part as the whole order.

[2017-06-01 07:23] spencern opened #2384 "Split shipments that are partially picked"
Users that have permissions to fulfill an order should be able to split the shipment by clicking a "split shipment" button.

If an order is partially picked, a user that is fulfilling the order should be able to create a shipment out of the currently picked items and push the rest of the items into a separate shipment.

See the [Order Fulfillment flowchart](https://www.lucidchart.com/documents/vie

[2017-06-01 14:16] jshimko commented on #2380
Have you installed all of the requirements for macOs already?

https://docs.reactioncommerce.com/reaction-docs/master/requirements

[2017-06-01 20:53] aaronjudd commented on #1590
This has re-emerged in new Meteor issue: https://github.com/meteor/meteor/issues/8648 maybe this time, it'll get some attention.  It might not be the same issue or multiple issues but the described behavior of dying with an `abort trap 6 ` is the masked behavior here.

[2017-06-01 22:19] rymorgan commented on #2322
@spencern What constitutes a high risk order?

[2017-06-01 23:47] spencern commented on #2322
@rymorgan it all comes from the Stripe (or other payment provider) - Stripe does risk assessment for every transaction and provides that information as part of the response. See the [Stripe Risk Evaluation Docs](https://stripe.com/docs/radar/risk-evaluation) for more details

[2017-06-02 13:43] michael-alade commented on #2297
This was caused due to the change from Flow Router to React Router.

[2017-06-02 15:40] virtualLast opened #2391 "dynamicImportInfo is not defined"
### Expected behavior

app starts and runs on localhost

### Actual Behavior

application crashing, waiting for file change

### Steps to Reproduce the Behavior

I updated my meteor - ran through the install instructions in the reaction docs (for osx), then had to run `meteor --allow-incompatible-update` to fix a different issue, now I am getting the following error output

---CODE DUMP
[code]
---

[2017-06-02 15:43] aaronjudd commented on #2391
dynamic import is a meteor 1.5 package, I'm guessing that when you updated to allow incompatible packages, one of the incompatible packages is requiring meteor 1.5 already for dynamic imports...  we have a branch and PR #2371 open for Meteor 1.5 updates, you might want to try that.

[2017-06-02 16:40] rymorgan commented on #2322
@spencer -- Great thanks.

On Thu, Jun 1, 2017 at 4:47 PM Spencer Norman <notifications@github.com>
wrote:

--
Ryan Morgan | ryan@reactioncommerce.com
Director of Design, Reaction Commerce
<https://reactioncommerce.com/?utm_source=email-signature&utm_medium=email&utm_campaign=pe_email_signature>

[2017-06-02 17:07] mikemurray opened #2392 "Implement Router.getRouteName() && Router.setQueryParam()"
- Implement router methods `Router.getRouteName()` && `Router.setQueryParam()`
- Update docs

[2017-06-02 19:01] aaronjudd commented on #1896
Replaced abernix:standard-minifier-js in #2371 with the standard-minifier-js@2.1.0.

[2017-06-02 21:25] michael-alade commented on #2246
A PR has been opened for this issue, but removing the hard reload seems to affect the product grid after I've clicked on the brand name to return to the product grid. I came up with a solution but it needs to be reviewed and accepted by the core team members. I would be posting a detailed description of the two possible solutions for the issue.

[2017-06-02 22:21] michael-alade commented on #2307
@kieha I tested this out and it seems to be working fine on both master and development branch.

[2017-06-02 22:24] aaronjudd commented on #2307
Facebook is working for me as well.

[2017-06-05 01:56] zenweasel commented on #2246
@michael-alade What's the status on this?

[2017-06-05 02:07] zenweasel commented on #2380
Hey @boubex let us know if you are still having this issue and you can reopen or better yet get support in our [Gitter](https://gitter.im/reactioncommerce/reaction) channel instead

[2017-06-05 02:07] #2380 closed

[2017-06-05 02:46] asholly129 opened #2397 "reaction test"
For bugs, please fill out the three following sections completely. Failure to provide
this information may result in your ticket being closed without comments.

Are you looking for support for installation/getting started with Reaction? Please go
to our [Gitter](https://gitter.im/reactioncommerce/reaction) channel instead.

### Expected behavior

### Actual Behavior

### Steps to Reproduce the Beh

[2017-06-05 02:49] zenweasel commented on #2397
@asholly129 Can you provide a little more detail?

[2017-06-05 09:29] #2307 closed

[2017-06-05 17:38] michael-alade commented on #2246
@zenweasel I joined the daily sit-down to convince the team about using the `.direct` method when updating a product after clicking publish. But I was told to check out subscription manager to try and reset the subscription cache as that might be the cause of the revisions not showing on the product grid.

[2017-06-05 18:51] medyagh opened #2398 "shipping ui is broken"
### Expected behavior
Shipment methods be toggle-able
### Actual Behavior
the toggle is hidden, unless I click on inspect (in chrome or firefox)

### Steps to Reproduce the Behavior

### Versions
I tried both versions
reactioncommerce/prequel:5892
and
reactioncommerce/reaction:latest

[2017-06-05 22:48] mikemurray opened #2399 "Exception when checking out with PayPal express"
![reaction_and_cart_completed_and_router_js_ ___projects_reaction_reaction](https://cloud.githubusercontent.com/assets/42217/26806545/4956000e-4a06-11e7-8be6-6783f5f1fb5e.png)

[2017-06-05 23:03] aaronjudd commented on #2391
Close, please re-open if this wasn't the solution.

[2017-06-05 23:03] #2391 closed

[2017-06-05 23:04] #2397 closed

[2017-06-05 23:13] aaronjudd commented on #2398
Can you provide a screenshot? that'd be helpful.. we will try to reproduce as well.  prequel 5892 should have the last. Feels like this might be related to #2313 #2224

[2017-06-06 02:08] medyagh commented on #2398
minikube start --kubernetes-version v1.5.1 here is the screenshot, I get same thing both firefox and chrome.
<img width="468" alt="screen shot 2017-06-05 at 9 05 07 pm" src="https://cloud.githubusercontent.com/assets/4564227/26810717/d953758e-4a32-11e7-9eec-5ac721241c05.png">
@aaronjudd

I dont see any javascript error in the console. and currently I can no longer make the flip button show again b

[2017-06-06 02:41] hrath2015 commented on #2398
@medyagh  execute `Meteor.call("i18n/flushTranslations");`  from  browser console and see if it fixes

[2017-06-06 15:17] nygava commented on #2398
@hrath2015 i didnt fix it, here is the output in the console

[code]

[2017-06-06 16:12] xelfe commented on #2256
So what we have to use when we register a email template in other language than english ?

Is it the right way to use the language tag into registerTemplate ?

 Reaction.registerTemplate({
  title: "Accounts - Reset Password",
  name: TemplatePaths.resetPaswordTemplate,
  type: "email",
  template: Reaction.Email.getTemplateFile(TemplatePaths.resetPaswordTemplate),
  language: "English",
  subject

[2017-06-06 16:15] medyagh commented on #2398
same, didnt fix it.

[2017-06-06 16:24] hrath2015 commented on #2398
Not sure what is going on then. Do have  this deployed where I can have a look.

[2017-06-06 17:05] kieckhafer commented on #2256
You'd use the [ISO language code](https://www.w3schools.com/tags/ref_language_codes.asp), instead of the full name:

[code]

To change the subject, you could change it here if you'd like, or you can also change it in the Dashboard once the template is registered.

[2017-06-06 18:08] rymorgan commented on #1378
Closed in favor of #2357, #2359, and #2360.

[2017-06-06 18:08] #1378 closed

[2017-06-06 21:34] michael-alade commented on #2398
@medyagh Could you add the steps to reproduce this error?

[2017-06-06 21:40] MaxPleaner opened #2404 "Unclear how to remove product option and a little UI bugginess"
While looking at the default generated product, I tried to remove the red/green variants but had a hard time doing so. All I saw was the "archive" button, and even then, the UI looked buggy:

(all three are archived here, and the labels are not spaced correctly and/or responsively)

![reaction](https://user-images.githubusercontent.com/5035719/26852991-082c6f04-4ac5-11e7-9ffc-dfea70f59d41.png)

Ev

[2017-06-06 21:47] MaxPleaner commented on #2404
Also, I'm not sure how to delete the Variants themselves, as shown in this screenshot:

![reaction 2](https://user-images.githubusercontent.com/5035719/26853476-07a0bd90-4ac7-11e7-9903-4c51925a631e.png)

[2017-06-07 00:13] zenweasel commented on #2311
Possibly this is noted elsewhere, but where is this estimated date coming from?

[2017-06-07 01:06] zenweasel commented on #2324
@spencer how do we think we are going to handles nested objects in CSV?

[2017-06-07 01:18] zenweasel commented on #2373
A little added context:
Many online-retailers require a return authorization number written on the outside of the box before they will accept a return (otherwise they will refuse it for legal reasons). So we need to generate an ID/number that is provided to the customer. We should probably be able to look up orders by their RA # so that when it comes in the door you know what order this is. Also i

[2017-06-07 01:20] zenweasel commented on #2373
@spencer How do we plan on handling returns for replacement/exchange rather than refund?

[2017-06-07 01:21] zenweasel commented on #2377
@spencern How does this overlap with #1849?

[2017-06-07 01:25] zenweasel commented on #2378
I'm not sure we would always want this to be a refund event? For example in a post-pay scenario like COD you are not refunding anything just discounting the order. Probably just Order Refunded if paid, Order Discounted if not yet paid.

[2017-06-07 02:58] spencern commented on #2311
It may not be noted elsewhere, my thought is that you would combine the time it takes to deliver via chosen shipping method to the users address with the estimated shipping date. I'm on mobile now, but I think there's an issue to allow shop owners to set the number of days they need to process an order, and set a default if they don't set that.
In that case, it would be order placed date + process

[2017-06-07 03:40] spencern commented on #2378
@zenweasel
This is a good point.

In most of these issues I'm conflating a "captured" and "completed" order. For people using COD or other post-pay providers, a refund should be a discount up until a payment has been captured.

[2017-06-07 03:41] spencern commented on #2377
Almost entirely, this may have a little more detail.

[2017-06-07 03:43] spencern commented on #2373
I think we decided that any type of return QA process would have to be manual for now, so I think that any exchange would be the same way. We may need to add an option to this issue for a return to be resolved by an exchange rather than a Refund, but I think the inventory handling involved with an exchange or replacement will be manual for now. 80/20 rule.

[2017-06-07 03:49] zenweasel commented on #2373
I would say that return for exchange is firmly in the 80% camp. At least as common as return for refund if not more in my experience.

[2017-06-07 03:54] spencern commented on #2373
I don't disagree with the frequency, but the development required to properly QA a returned item, return it to inventory or discard it, pick out an available replacement item, re-charge a card for a more expensive item, or refund for a less expensive item, etc I think was something we decided was outside of the scope for this initial push.

Agree that it's something we should support at some point

[2017-06-07 14:13] abdulsemiu-atanda commented on #2289
I couldn't reproduce this consistently on the development branch and the time I could reproduce, it happened because for some reason the page didn't reload after publishing the product.

[2017-06-07 22:10] spencern commented on #2185
@impactmass and I discussed this a bit and I think this issue should probably be postponed until we figure out how groups and permission assignment works for multiple shops.

[2017-06-07 22:17] spencern commented on #2187
Seems like a lot of overlap between #2186

[2017-06-07 23:29] spencern commented on #1849
Closing in favor of #2377 which has more detailed specs

[2017-06-07 23:29] #1849 closed

[2017-06-08 09:44] nelsonnovais opened #2409 "Navbar Tag's , problems with accentuation."
### Expected behavior
It is expected when Admin is creating a new Tag for a given type of product to be able create a tag with accentuation for a specific language, like "Relógio" (watch) or "Algodão" (cotton)

### Actual Behavior
But actually what happens when some user tries to create some tag like "Relógio", it end up like
"Rel´ogio" or " Algod~ao".

### Steps to Reproduce the Behavior
Go to ad

[2017-06-08 15:25] xelfe commented on #2256
thank you @kieckhafer. What about adding template into custom path ? Is it possible for the email or I should override files into private/email/templates/ ?

[2017-06-08 15:32] abdulsemiu-atanda commented on #2332
Closed via #2387

[2017-06-08 15:32] #2332 closed

[2017-06-08 17:44] rymorgan commented on #2323
Reaction Core Team Link:
https://zpl.io/Z2x3lkS

Public Link:
https://scene.zeplin.io/project/58af8900737c137280322bd6/screen/58fa9274e553b1e86274a106

[2017-06-08 17:47] rymorgan commented on #2325
**Link for designs below**

Reaction core team link:
https://zpl.io/Z1MCuWh

Public link:
https://scene.zeplin.io/project/58af8900737c137280322bd6/screen/58faa0e175ba8a9495284660

[2017-06-08 17:52] rymorgan commented on #2382
Cancel line item can work just like returns if you change the button to say cancel. When clicking through on the order before capture.

**Link for designs below**

Unopened refund panel
https://zpl.io/Z1BR2E7

Nothing selected for refund
https://zpl.io/Z1o9ExU

Items selected for refund
https://zpl.io/Z10oeN1

For reaction core members, all of this is in the orders project if you have the Zeplin a

[2017-06-08 17:56] rymorgan commented on #1863
Closing because @mikemurray crushed this.

[2017-06-08 17:56] #1863 closed

[2017-06-08 18:12] kieckhafer opened #2410 "Add <Avatar /> component to NavBar"
After PR #2400 is merged, use the new <Avatar /> component to replace gravatar in the Nav:

https://github.com/reactioncommerce/reaction/pull/2306/files/24cdc7dce132a93718a70fda6fb69c48c452d7c2#diff-4368d0dc7ddd23433d47710609d997eb

[2017-06-08 18:22] rymorgan commented on #2104
@zenweasel Is this done? I'd love to see the execution.

[2017-06-08 18:26] rymorgan commented on #458
@mikemurray Is this still something we are planning on?

[2017-06-08 19:50] mariusa opened #2411 "[enhancement request] provide Postgres db support as an alternative to MongoDB"
Please consider providing Postgres db support as an alternative to MongoDB. Thanks!

[2017-06-08 20:21] jshimko commented on #2411
Hey @mariusa.  Reaction is built on [Meteor](https://guide.meteor.com/) and Meteor is _deeply_ integrated with Mongo, so the only way that's going to be possible is to rewrite the entire API to use [GraphQL](http://graphql.org/).  Even once that process is done, someone would have to write the entire database interface layer using another database library.  You're probably looking at a couple mont

[2017-06-08 20:42] mariusa commented on #2411
Appreciate your feedback! Makes sense.

We'll look into it, although investing in customer facing features makes more sense given the effort. Feel free to close. At least it will show in results in future issue searches for Postgres
Thanks!

[2017-06-08 20:42] medyagh commented on #2398
@michael-alade I did nothing special, created a shop form the scratch using the container. added some products. then I tried to check out a product to test, it yelled at me that I dont have a shipping method, when I tried to go to add a shipment method I fliped one of the methods then it broke after that. never could see the fields.

[2017-06-08 20:49] rymorgan commented on #2373
**Links for designs below**

Unopened refund panel
https://zpl.io/Z1BR2E7

Nothing selected for refund
https://zpl.io/Z1o9ExU

Items selected for refund
https://zpl.io/Z10oeN1

For reaction core members, all of this is in the orders project if you have the Zeplin app.

Public link to work on orders:
https://scene.zeplin.io/project/58af8900737c137280322bd6

And public link to work on returns:
https

[2017-06-08 20:58] rymorgan commented on #2359
In these designs, we have a search/filter and sort.

**Links for designs below**

Reaction core team link:
https://zpl.io/1KkP29

Public link:
https://scene.zeplin.io/project/58af8900737c137280322bd6/screen/58fa9274e553b1e86274a106

[2017-06-08 21:03] rymorgan commented on #2374
**Links for designs below**

Unopened refund panel
https://zpl.io/Z1BR2E7

Nothing selected for refund
https://zpl.io/Z1o9ExU

Items selected for refund
https://zpl.io/Z10oeN1

For reaction core members, all of this is in the orders project if you have the Zeplin app.

Public link to work on orders:
https://scene.zeplin.io/project/58af8900737c137280322bd6

And public link to work on returns:
https

[2017-06-08 21:05] rymorgan commented on #2377
**Links for designs below**

Unopened refund panel
https://zpl.io/Z1BR2E7

Nothing selected for refund
https://zpl.io/Z1o9ExU

Items selected for refund
https://zpl.io/Z10oeN1

For reaction core members, all of this is in the orders project if you have the Zeplin app.

Public link to work on orders:
https://scene.zeplin.io/project/58af8900737c137280322bd6

And a public link to work on returns:
htt

[2017-06-08 21:15] rymorgan commented on #2341
**Links for designs below**

Reaction core team link:
https://zpl.io/Z1MCuWh

Public link:
https://scene.zeplin.io/project/58af8900737c137280322bd6/screen/58faa0e175ba8a9495284660

[2017-06-08 21:28] rymorgan commented on #2357
**Links for designs below**

Reaction core team link:
https://zpl.io/1r0Vvm

Public link:
https://scene.zeplin.io/project/58af8900737c137280322bd6/screen/58fa9b08c1ee69df600c0469

[2017-06-08 21:30] rymorgan commented on #2363
**Links for designs below**

Reaction core team link:
https://zpl.io/1r0Vvm

Public link:
https://scene.zeplin.io/project/58af8900737c137280322bd6/screen/58fa9b08c1ee69df600c0469

[2017-06-08 21:37] rymorgan commented on #2343
**Links for designs below**

Reaction core team link:
https://zpl.io/Z1MCuWh

Public link:
https://scene.zeplin.io/project/58af8900737c137280322bd6/screen/58faa0e175ba8a9495284660

[2017-06-08 23:02] kieckhafer commented on #2379
The <ClickToCopy /> component is now available in `development`. We still need to figure out how we want to use a URL to open the panel.

[2017-06-08 23:20] zenweasel commented on #2246
As we had discussed, please make notes on this ticket regarding your progress and where we are leaving this.

[2017-06-08 23:43] michael-alade commented on #2246
Having tried to use the `Route.go` for redirect the seller to the new product permalink after publishing the product, I still got another issue with the product not being found. Also, for the product grid, I tried using subscription manager but it seems to be the wrong approach. We think this is caused by the Revisions collection being updated when publishing the product.

[2017-06-09 00:02] kieckhafer opened #2414 "Rethink design of address validation in cart"
Related to PR #2162

Going to rethink the design on this one, possibly making it a one step validation, instead of validating all fields separately.

[2017-06-09 00:03] rymorgan commented on #2414
![address verification](https://user-images.githubusercontent.com/20409254/26955580-726a3358-4c6c-11e7-8695-8367a91dfc1a.png)

[2017-06-09 01:23] #2411 closed

[2017-06-09 07:36] abdulsemiu-atanda commented on #1993
I'm able to make the payment using PayPal Express successful but there seems to be an issue when calling `cart/submitPayment` since it tries to copy the current cart to order. I'll take one more look at it today and raise a PR of possible

[2017-06-09 09:22] impactmass commented on #2043
Resolved in #2306

[2017-06-09 09:22] #2043 closed

[2017-06-09 09:22] impactmass commented on #1313
resolved in #2306

[2017-06-09 09:22] #1313 closed

[2017-06-09 09:23] impactmass commented on #1312
resolved in #2306

[2017-06-09 09:23] #1312 closed

[2017-06-09 09:29] #2044 closed

[2017-06-09 09:30] #2041 closed

[2017-06-09 10:25] mariusa commented on #357
Hi,

Since the docs reference this
https://docs.reactioncommerce.com/reaction-docs/development/reaction-shops
Reaction Core provides a single tenant shop.

would you please document how to setup a multi-tenant install? That is, allowing completely different businesses to have their own shops & domains, on a single server instance.

Thanks

[2017-06-09 10:38] impactmass commented on #357
@mariusa At the moment you can follow this using the `marketplace` branch https://github.com/reactioncommerce/reaction-docs/blob/spencer-marketplace-docs/developer/tutorial/running-a-marketplace.md

This is not in the main (master) docs yet, because the multi-shop (marketplace) work is still in progress on the `marketplace` branch.

[2017-06-09 10:53] mariusa commented on #357
Thanks Seun!
To confirm, that looks like a marketplace, which is allow multiple vendors have different products and sell in a single shop.

We're looking for completely different shops, each with it's own looks/products/owner and domain. Multi tenant on the same install, instead of requiring an install/server for each shop. Is this being worked on? (would like to help)

[2017-06-09 11:24] kieha commented on #2055
Closed via #2306

[2017-06-09 11:24] #2055 closed

[2017-06-09 11:27] impactmass commented on #357
Okay, I misread you earlier. I thought you were referring to marketplace - which I know we're working on right now.

[2017-06-09 16:38] spencern commented on #357
Hi @mariusa

This idea, true multi-tenant, multi-domain, etc is on our roadmap right now as well. Our backend architecture supports this already though we currently don't have any examples of deployed shops with multiple domains. There's some work you'd have to do on the UI to support this use case, but we'd welcome any contributions towards that.

We've (@aaronjudd specifically) had this specific

[2017-06-09 17:45] spencern commented on #2324
@zenweasel

This is a good question.

I'd like to design the export in that permits us to "import" anything that we export.

The way that Shopify does this and the current way I'm thinking about it is that nested objects turn into new lines in the CSV.

We may need to export "type" columns to identify the different parts of an order that would be nested.

I've seen this done in a couple ways:
###

[2017-06-09 18:24] mariusa commented on #357
Thanks Spencer, that's good news!

A great example is Shopify.com
We'd like to have something similar, but for a specific niche.
Customer A would register, and get a subdomainA.niche.com with a fully functional store.
Customer B would get a different subdomain & store. Nothing between those stores is shared (just like separate reaction installs)

Hope this clarifies?

[2017-06-10 02:57] allanjsx opened #2419 "Search doesn't work well when the item is in Chinese"
### Expected behavior

Partial search of item title in Chinese should show results. For example, if the item's title is "奥迪汽车"（Audi Car），when you search “奥迪” （Audi），the item should show up。

### Actual Behavior

the item doesn't show up unless your search query match the full name

### Steps to Reproduce the Behavior

1. Create a item with title：“奥迪汽车”
2. Search “奥迪”

[2017-06-10 15:34] xelfe commented on #2256
@kieckhafer wrote;

[code]

I've tried and into the dashboard, the language is still stuck to english... I've overrided the default e-mail templates into import/plugins/custom/email-template. See example below;

[code]

[2017-06-10 21:21] impactmass commented on #2183
Current thoughts/direction about groups implementation:

* Building on top of our current way of having permissions on Users/Accounts grouped by shop:
* Add a "groups" field into Shop collection. It can be modeled like:
[code]

* Permissions can then be created (and modified) on "groups" scoped to each shop
* Put an extra "group" field on users accounts as well. This will carry the label of all th

[2017-06-10 23:49] aaronjudd commented on #2183
@impactmass this is the general direction I was thinking as well. makes sense to me.

[2017-06-11 01:03] spencern commented on #2183
Looks good to me @impactmass.

[2017-06-12 02:27] zenweasel opened #2421 "Trying to send invite to already invited email throws server error"
### Expected behavior
If you try to invite a user you have already invited (as determined by email address) it should give you a friendly validation-type error

### Actual Behavior
Receive a toast of "Server Error [500]" on the client and this error on the server:
[code]

### Steps to Reproduce the Behavior
1. Login as admin
1. Invite a user
1. Attempt to invite a user with that same email address

[2017-06-12 04:10] zenweasel opened #2422 "Clicking on link in invite email leads to blank screen"
### Expected behavior
Should receive create password screen

### Actual Behavior
Receive this dialog instead
![reaction](https://user-images.githubusercontent.com/72819/27017600-34737440-4f5c-11e7-8cdf-46304d1c9cb6.png)

### Steps to Reproduce the Behavior
1. Login as admin
1. Invite user with valid email
1. Open invitation email and visit link
1. Observe broken dialog

### Versions
[code]

[2017-06-12 18:25] rymorgan commented on #2383
Users that don't have permissions see the standard view for orders. Users that have permissions to see the whole order, see the below designs:

**Links for designs below**

Reaction core team link:
https://zpl.io/gc2GJ

Public link:
https://scene.zeplin.io/project/58af8900737c137280322bd6/screen/593b33c95da8f4f5eceb85f3

[2017-06-12 23:04] zenweasel commented on #2399
Closed via #2401

[2017-06-12 23:04] #2399 closed

[2017-06-12 23:11] aaronjudd commented on #2404
@rymorgan this needs some review and some design direction before we fix this... two things here: UI layout of the labels, and also the general behavior...

[2017-06-12 23:16] rymorgan commented on #2404
Yep, totally. This has always bugged me.

[2017-06-12 23:17] aaronjudd commented on #2409
For me, `Relógio` ends up as `http://localhost:3000/reaction/tag/relogio` or "Algodão"
 as `http://localhost:3000/reaction/tag/algodao` and "Relógio Algodão" ends up as `http://localhost:3000/reaction/tag/relogio-algodao`.  Is this not the result you are seeing?  (mind I copied and pasted, maybe it's different when manually entered?)

[2017-06-12 23:19] aaronjudd commented on #2409
Also note, tested in the `development` branch, which has an updated version of https://github.com/andyhu/transliteration

[code]

[2017-06-12 23:26] aaronjudd commented on #2419
See: https://docs.mongodb.com/manual/reference/text-search-languages/

There are other approaches, of course, such as elasticsearch, etc...

[2017-06-12 23:26] #2419 closed

[2017-06-12 23:41] aaronjudd commented on #2398
Can you retest with v1.2.0 (or latest), from reactioncommerce/reaction.  The version I think you were testing was v1.1.1, which is missing several fixes related to this from the previously linked issues..  due to a problem in our build scripts, 1.2.0 wasn't pushed yet when you reported this..

[2017-06-12 23:41] spencern commented on #2404
@MaxPleaner
We're aware that this is a pretty big UX issue.

To "fix" your problem, you probably just need to hit the "Publish" button in the upper right hand corner of the screen. If that doesn't work, check for server errors and/or client console errors.

[2017-06-13 02:26] aaronjudd commented on #1895
We should fork nodemailer 4.0.1 as it's now no longer maintained and update the engine/requirements back to our node... (well, at least look at this).

[2017-06-13 02:29] zenweasel commented on #2367
@spencern Can we update this ticket to reflect the new approach that you and I talked about? I wonder if this isn't something that you or I should work on or at least work closely with someone.

[2017-06-13 03:50] vigyano opened #2426 "Non-admin user not able to add/edit/remove product tag in Product details"
### Expected behavior
Non-admin user who can manage the product should be able to add/edit/remove product Tags in Product details page

### Actual Behavior
Non-admin users are not able to manage(add/edit/remove) the Product Tags for new or existing products

### Steps to Reproduce the Behavior
1) Clone https://github.com/reactioncommerce/reaction-example-plugin.git
2) Create new Account and provid

[2017-06-13 09:20] nelsonnovais commented on #2409
@aaronjudd You'r right, if tou copy past it, it ends up like "http://localhost:3000/lana/tag/relogio", but if you type it, the result is: "http://localhost:3000/lana/tag/rel-ogio".
See image:
![image](https://user-images.githubusercontent.com/28451402/27075245-7c9e1462-5021-11e7-93c8-f22ea5331a7b.png)

But, strangely in the product tags, this behavior does not occur.

[2017-06-13 09:23] cusspvz commented on #2409
@aaronjudd I didn't reproduced it, but it seems to me this issue could be linked to some method listening on each keystroke?

[2017-06-13 14:03] thanhtungka91 opened #2428 "cannot start reaction in red-hat"
### Expected behavior
start reaction normally
### Actual Behavior
cannot start reaction ...
Using settings file at settings/dev.settings.json

Setting up plugin imports...

Setting up style imports...

/tmp/shelljs_2813822e20fc7998b0eb:10
    fs.writeFileSync(fname, err.code.toString());
                                    ^

TypeError: Cannot read property 'toString' of null
    at /tmp/shelljs_2

[2017-06-13 16:51] spencern commented on #2428
Hi @thanhtungka91

A few questions:
  * What version of RedHat?
  * How much RAM?
  * Have you run Reaction successfully before?

We've seen this `cannot read property 'toString' of null` before in #1590 (and it still bugs most of us on a fairly consistent basis), but I don't recall having seen it during startup of reaction.

Is this a bug you're getting that is preventing you from starting Reacti

[2017-06-14 00:16] rymorgan commented on #2309
**Links for designs below**

Reaction core team link:
https://zpl.io/21ICk7

Public link:
https://scene.zeplin.io/project/58af8900737c137280322bd6/screen/59407f5ea520df15babe054b

[2017-06-14 00:51] zenweasel commented on #2426
@vigyano Does this happen who you don't have the example-plugin installed? When you say "all permissions", what exact permissions are you providing?

[2017-06-14 07:35] vigyano commented on #2426
It happens both with example plugin and as well as my custom plugin.
All permissions I meant, admin enabling the permissions for that account. First I enabled UI Nav but still the tags are not editable and then enabled all and still the same issue.

[2017-06-14 07:38] zenweasel commented on #2426
Could you provide me a screenshot of which permissions you have enabled exactly?

[2017-06-14 07:42] zenweasel opened #2431 "Get console error when dragging product images"
### Expected behavior
No error

### Actual Behavior
Receive the following error:
[code]

### Steps to Reproduce the Behavior
1. Login as an admin
1. Add multiple product images
1. Publish
1. Drag an image to the main image area
1. Observe error

### Versions
[code]

[2017-06-14 08:39] vigyano commented on #2426
Here is the screenshots of all permissions enabled for the account.

![image](https://user-images.githubusercontent.com/12378687/27123241-1ad27724-50a2-11e7-9359-a0cb239a23cd.png)

![image](https://user-images.githubusercontent.com/12378687/27123250-24c5aaee-50a2-11e7-80d5-37f493fb66f5.png)

![image](https://user-images.githubusercontent.com/12378687/27123259-2fea23fa-50a2-11e7-8c86-f3f75e43b10d.p

[2017-06-14 10:38] zenweasel opened #2432 "Visual glitching when you have unpublished product changes"
### Expected behavior
No change in margins when mousing over the "Publish" button

### Actual Behavior

![publish_button](https://user-images.githubusercontent.com/72819/27128272-6ea7db08-5130-11e7-90aa-e649c4eedd45.gif)

### Steps to Reproduce the Behavior
1. Login as admin using Chrome or FF
1. Edit product so there are unpublished changes
1. Mouse over "Publish" button
1. Observe glitching

###

[2017-06-14 13:45] impactmass commented on #2184
WIP PR: Opening shortly

Todos:
- [ ] Creating a group permission
- [ ] Updating a group permission and updating users belonging to that group
- [ ] Adding a user to a group

[2017-06-14 13:50] thanhtungka91 commented on #2428
Hi @spencern

- What version of RedHat?
 Red Hat Enterprise Linux 7.3 (HVM), SSD Volume Type (run on AWS EC2)
- How much RAM?
 1G
- Have you run Reaction successfully before?
 Yep, reaction has been installed successful
- Reaction never start ... from the first, OS is fresh.. i just install for test on AWS.

[2017-06-14 14:00] spencern commented on #2428
A few notes:

* 1G is probably not quite enough RAM for a production instance of Reaction. It's definitely too little RAM for a development instance
* If you're using `reaction run` you're running a development instance of Reaction. While you can do this on AWS or other cloud providers, we recommend developing locally.
* If you are trying to test a deployment of Reaction, you can follow our deploy

[2017-06-14 14:36] jshimko commented on #2428
I also don't see "install build tools" anywhere in your steps.  That part isn't optional either.  But if your clone of Reaction got through the `reaction init` step, that means it ran `npm install` in successfully.

As Spencer said, 1GB of RAM is probably your problem.  A development build is a very resource intensive process - especially the first time it happens.  I recommend developing/building

[2017-06-14 20:55] kieckhafer commented on #2422
see #2434

[2017-06-15 00:12] spencern commented on #2428
Closing this because I think it's a problem with the amount of RAM on your machine.
If you can reproduce this with 4G+ RAM and it's different than the issue in #1590 please reopen

[2017-06-15 00:12] #2428 closed

[2017-06-15 00:53] zenweasel commented on #2432
This bug does not happen in `master`

[2017-06-15 01:15] spencern commented on #2426
@vigyano I'm currently looking into this as I've seen similar issues for admins from non-primary shops in our `marketplace` branch

[2017-06-15 02:55] zenweasel opened #2438 ""Ooops you don't have permission" screen shown briefly when logging in"
### Expected behavior
A login screen should not be shown in the main screen while the login is processing

### Actual Behavior
"Ooops you don't have permission" screen is briefly shown while login screen is processing
![login](https://user-images.githubusercontent.com/72819/27163286-eeacaac6-51b8-11e7-9981-e8dc65c8703f.gif)

### Steps to Reproduce the Behavior
1. Open Reaction
1. Login
1. Observe

[2017-06-15 03:14] zenweasel opened #2439 "Product images not shown in completed page and admin"
### Expected behavior
Wherever there is a placeholder image, when the product has an image it should be shown.

### Actual Behavior
Even though a product has an image (both on the top-level and on the variant) the image is not being shown
![cart_completed](https://user-images.githubusercontent.com/72819/27163612-2382e984-51bb-11e7-8484-424c25bef716.png)

### Steps to Reproduce the Behavior
1. Logi

[2017-06-15 05:08] zenweasel opened #2440 "Notifications "Mark all as read" does not mark all as read"
### Expected behavior
Clicking on "Mark all as read" in the notification should mark all unread notifications as read

### Actual Behavior
It will either mark some notifications read, or none
![notifications](https://user-images.githubusercontent.com/72819/27166164-87fe74e0-51cb-11e7-8825-2e9553f2d99f.gif)

### Steps to Reproduce the Behavior
1. Place orders so that you have notifications
1. Click

[2017-06-15 05:58] naveen1941 opened #2441 "Can't run "reaction run", issue with fibers\future.js:280 > TypeError: Not a string or buffer"
Using settings file at settings/dev.settings.json

Setting up plugin imports...

Setting up style imports...

[[[[[ C:\Users\akash\projects\chenethasantha ]]]]]

=> Started proxy.
=> Started MongoDB.
C:\Users\akash\projects\chenethasantha\node_modules\fibers\future.js:280
throw(ex);
^

TypeError: Not a string or buffer
at TypeError (native)
at Hash.update (crypto.js:70:16)
at C:\tools\fs\watch.js:

[2017-06-15 06:45] hrath2015 commented on #2441
Can you provide output of `reaction -v` please. Please fill the complete details as per issue templates.

[2017-06-15 06:53] naveen1941 commented on #2441
$ reaction -v

Node: 4.2.4
NPM: 5.0.3
Meteor Node: 4.8.2
Meteor NPM: 4.5.0
Reaction CLI: 0.9.3

[2017-06-15 07:00] hrath2015 commented on #2441
Can u please do it from project directory. I am guessing u are on branch master and meteor version is  1.5.
 Please start fresh.
reaction init and
reaction run
**`do not update the meteor at all.`**

[2017-06-15 07:10] naveen1941 commented on #2441
From project directory-
$ reaction -v

Node: 4.2.4
NPM: 5.0.3
Meteor Node: 4.8.2
Meteor NPM: 4.5.0
Reaction CLI: 0.9.3
Reaction: 1.2.0
Reaction branch: master

[2017-06-15 08:14] michael-alade commented on #2377
I am currently working on this issue, and I am making progress with the implementation of the design specs.

[2017-06-15 14:52] abdulsemiu-atanda commented on #2309
Added `vendor` field to `cartItems` schema so it can be accessible in `orders`. I'm currently implementing the design

[2017-06-15 16:22] spencern commented on #2432
Confirmed that there's an issue on development. Not exhibiting this issue on current `marketplace` branch either which has not yet merged the navbar react conversion. Seems to point to that as the cuplrit

[2017-06-15 16:56] kieckhafer opened #2444 "NavBar hover no longer shows"
I believe this stems from the React-ification of the nav bar.

When you hover over an icon, there is no longer a hover state.
![navbarhover mov](https://user-images.githubusercontent.com/4482263/27192602-e6766b7e-51b0-11e7-8cc6-4e7f5e56c96d.gif)

[2017-06-15 17:05] kieckhafer opened #2445 "Navbar profile no longer shows user's name"
Navbar Profile always says either "Admin" or "Guest", it no longer says my name / initials / display name.

I don't see this being an issue for "Admin" (although I liked seeing my initials insteadd), but I think it's kind of impersonal for registered non-admins to always say "Guest".

![reaction](https://user-images.githubusercontent.com/4482263/27192809-89c20cd4-51b1-11e7-9cd9-9d35875a41c0.png)
!

[2017-06-15 17:57] hrath2015 opened #2446 "Horizontal Scroll Bar on index page"
### Expected behavior
Should not be  seen. (I guess)
### Actual Behavior
![image](https://user-images.githubusercontent.com/14071646/27194898-09d3f8ea-5222-11e7-8ebc-0db3406ee474.png)

Deploy latest image and open in chrome browser.

[2017-06-15 18:06] spencern commented on #2446
I think this is probably connected to #2432 and likely an issue created during the navbar conversion to React.

[2017-06-15 18:07] spencern commented on #2309
The vendor field already existed as shopId. You shouldn't need a new vendor field.

[2017-06-15 20:59] hrath2015 opened #2447 "Node Module install not working on Dev branch host key verification failed"
### Expected behavior
reaction init should   complete successfully.
### Actual Behavior
meteor npm install is failing on Development branch. windows 10
### Steps to Reproduce the Behavior
reaction init -b development
![image](https://user-images.githubusercontent.com/14071646/27201464-60aaee76-523b-11e7-8255-2e528e898831.png)

### Versions
(run `reaction -v` from your reaction directory)

For enha

[2017-06-15 21:07] hrath2015 commented on #2447
master branch is fine.

[2017-06-15 21:30] stunjiturner commented on #2398
i have the same issue running 1.2 on a remote ec2 instance, inside of the docker container

[2017-06-15 21:46] hrath2015 commented on #2447
"braintree": "^2.0.2" is causing this. Not sure why.

[2017-06-16 04:28] stunjiturner commented on #2404
the ability to reorder product options would be helpful as well, ex, if i add 3XL to a product line it will not show up after S

[2017-06-16 07:55] vigyano commented on #2213
Need to reopen this bug. I found this bugs occurs in 1.2.0. Products with unpublished changes appears in all tags. Once it is published that product disappear and shows in appropriate tags.

[2017-06-16 09:37] vigyano commented on #2213
I am able to reproduce this bug using reaction-example-plugin)
Note:
- The issue is not in reaction-example-plugin but is in reaction itself.
- Also, this occurs only when a user is logged in

1) Setup reaction-example-plugin(https://github.com/reactioncommerce/reaction-example-plugin.git) in reaction
2) Login as Admin
2) Click TODDLER tag which should display only "Baby Yoga Outfit"
3) Goto NEWBO

[2017-06-16 17:12] awadesmoline commented on #2445
Hi @kieckhafer, I don't think this is an issue.
A user doesn't register with a name, but with only email and password. And if you get invited (which means you are given a name), and you click the link in the email to update your password, you are automatically signed in, and your name actually shows on the navbar, instead of showing Guest or Admin.
So a user without a name will be Guest or Admin.

[2017-06-16 17:54] spencern commented on #2445
Sorry to butt in here, I do agree that "Guest" is not an ideal label to give a user. At the least it shoudl be trivial for the user to change their name. We could also show their email there.

[2017-06-16 18:09] kieckhafer commented on #2445
@spencern i think that in the past it was the email address if there was no name associated with the account.

@awadesmoline

I do believe this is an issue. I set my name through our `settings.json` file, so it should be automatically populated (and it did used to be automatically populated) when I first sign in. It is not. Even after I add an address / name, my name still does not show as an admi

[2017-06-16 18:27] jshimko commented on #2445
The dropdown and the top of the profile both come from the user document `name` field `Meteor.user().name` (previously, it was `username` field).  And the only way that gets set is either when an admin manually invites someone or you set the `REACTION_USER_NAME` for your default admin.  After either of those scenarios, your full name _does_ show up in the dropdown and profile.

Also, the name in y

[2017-06-16 18:34] awadesmoline commented on #2445
You are right @kieckhafer, I just tested and confirmed it too.

Following what @jshimko wrote, I will see if I can change the name on the navbar to pull from the updated name in the user's address.

[2017-06-16 18:46] jshimko commented on #2445
Not sure if that's exactly what you want either though.  Then it'll say "Guest" until they've entered that address info.  You probably want to have it check the address entry for a name first, then the `user.name`, then the email.  That way the name is always populated in the UI by something other than "Guest".  The moment we have a name, email, or full name (from the address), they're technically

[2017-06-16 18:48] jshimko commented on #2445
FYI, the dropdown name logic is here:

https://github.com/reactioncommerce/reaction/blob/development/client/modules/accounts/containers/dropdown/mainDropdownContainer.js#L106-L127

[2017-06-16 18:50] awadesmoline commented on #2445
Okay @jshimko. Thanks

[2017-06-16 19:27] rymorgan opened #2452 "Icon tool bar UI Bug"
At smaller page heights the icon toolbar overlaps the second icon with the Reaction Dashboard icon.

Steps to reproduce:
Make, your page smaller or inspect and open your console.

<img width="1361" alt="air_presto_and_reaction_ _node_ _node__usr_local_bin_rc_ _158x36_and_reactioncommerce_reaction" src="https://user-images.githubusercontent.com/20409254/27241913-969f19e0-528f-11e7-9407-6162f2f7398a

[2017-06-16 19:57] naveen1941 commented on #2441
Could you please tell me which branch of reaction and which version of meteor should I use to run my first app?

[2017-06-16 19:59] naveen1941 commented on #2441
$ reaction -v

Node: 4.2.4
NPM: 5.0.3
Meteor Node: 4.8.3
Meteor NPM: 4.6.1
Reaction CLI: 0.9.3
Reaction: 1.2.0
Reaction branch: Meteor-1.5

I am getting the following error:

$ reaction

Using settings file at settings/dev.settings.json

Setting up plugin imports...

Setting up style imports...

[[[[[ C:\Users\akash\projects\chenethasantha ]]]]]

=> Started proxy.
=> Started MongoDB.
Warning: unab

[2017-06-16 21:25] rymorgan commented on #2311
Related to:
https://github.com/reactioncommerce/reaction/issues/2309

**Links for designs below**

Reaction core team link:
https://zpl.io/21ICk7

Public link:
https://scene.zeplin.io/project/58af8900737c137280322bd6/screen/59407f5ea520df15babe054b

[2017-06-16 21:26] rymorgan commented on #2309
This issue is also related to: https://github.com/reactioncommerce/reaction/issues/2311

[2017-06-16 21:49] jshimko commented on #2441
@naveen1941 can you run `meteor npm i` without errors?

[2017-06-16 21:53] jshimko commented on #2441
Also, why are you on the `Meteor-1.5` branch?  That's a pull request branch that was merged last week.  It's not being used or updated anymore.  You should be on either master or development.

[2017-06-16 23:42] spencern commented on #2404
@stunjiturner - this is a good suggestion, would you mind creating a new issue for it so it doesn't get lost?

[2017-06-16 23:45] spencern commented on #2309
@abdulsemiu-atanda
I chatted with @zenweasel and realize that I may need to check my language in a few places. I've been using `vendor` as a way to specify non-primary shop owners (e.g. marketplace shops) but just realized that we have a vendor field on the product that is a text only field that describes the manufacturer or similar.

[2017-06-16 23:58] stunjiturner commented on #2404
Will do

S. Tunji Turner
sightuary

[2017-06-17 01:30] aaronjudd opened #2454 "Uncaught error in setDomain during tests"
Running `reaction test`, I see an error related to #2453 and #2329

[code]

[code]

[2017-06-17 02:40] aaronjudd commented on #2445
Keep an on this will all the social logins..  they do set user name, and should continue to show the user's real name.

[2017-06-18 19:09] kainio opened #2456 "Error when updating the repo with "reaction pull": Unsupported platform for fsevents@1.1.1"
### Expected behavior
Update reaction commerce with reaction pull from version 1.2.0 to version 1.3.0-rc.1
### Actual Behavior
Error on installing node modules
### Steps to Reproduce the Behavior
in version 1.2.0 make a "reaction pull" in the repo
### Versions
(run `reaction -v` from your reaction directory)
Node: 7.4.0
NPM: 4.0.5
Meteor Node: 4.6.2
Meteor NPM: 3.10.9
Reaction CLI: 0.9.3
Reaction:

[2017-06-18 23:17] vanloc0301 opened #2457 "How to update reaction?"
I want to update reaction to latest version.

[code]

I tried to run the command: `reaction pull` but `Reaction` still at version: 1.2.0.

[2017-06-19 06:47] rnandhakumar1995 commented on #2292
update the "const url" in "get url" method, which is present in the file "imports/plugins/included/social/client/components/googleplus.js", with the following
const url = encodeURIComponent(preferredUrl+"&text="+this.props.description);

[2017-06-19 07:39] rnandhakumar1995 commented on #2445
Update the following files with corresponding data:

_**client/modules/accounts/templates/signUp/signUp.js**_
-->Add the line "const username = template.$(".login-input-username").val().trim();"
-->Replace "const newUserData" with
**const newUserData = {
      // username: username,
      email: email,
      password: password,
      "profile.name":username,
      username:username
    };**
_**cli

[2017-06-19 11:16] stevaras opened #2459 "RangeError: Maximum call stack size exceeded in Development Branch"
**Expected behavior:**
When I register I shouldn't see a flickering in the screen and get an exception error.

**Actual Behavior:**
When I registered I actually saw a flickering in the screen and got an exception error.

![reaction-issue](https://user-images.githubusercontent.com/13280180/27282705-c3c4133c-54f9-11e7-8475-017cdb9e04a0.png)

**Steps to Reproduce the Behavior:**
Create a new user thr

[2017-06-19 12:22] vivekmore89 opened #2461 "Cardholder name must include both first and last name - even i create cardholder name"
![screenshot from 2017-06-19 17-47-13](https://user-images.githubusercontent.com/6220344/27284827-ed079f48-5517-11e7-9087-dc1269d7e515.png)

[2017-06-19 13:22] abdulsemiu-atanda commented on #2309
I've been converting the current Blaze Templates to React and I've converted `orderListSummary` and `orderListItems`. I should complete the conversion before the end of my day as I have just `dashboardOrdersList` left.

[2017-06-19 15:24] jshimko commented on #2457
You're already on the current latest stable release (1.2.0).  The version checker in `reaction-cli` has just been updated to ignore release candidates.  1.3.0 won't be the official stable release until it's merged into the master branch (which is why your `reaction pull` didn't work).  Once you update `reaction-cli` to v0.10.0+, the update notification should go away.  Sorry for the confusion.

[2017-06-19 15:24] #2457 closed

[2017-06-19 15:25] jshimko commented on #2456
You're already on the current latest stable release (1.2.0).  The version checker in `reaction-cli` has just been updated to ignore release candidates.  1.3.0 won't be the official stable release until it's merged into the master branch (which is why your `reaction pull` didn't work).  Once you update `reaction-cli` to v0.10.0+, the update notification should go away.  Sorry for the confusion.

[2017-06-19 15:25] #2456 closed

[2017-06-19 17:52] aaronjudd opened #2464 "Exception in delivering result of invoking 'email/verifySettings'"
Open email settings in dashboard, update settings, close the dashboard panel, view browser console:

[code]

Node: 7.5.0
NPM: 5.0.0
Meteor Node: 4.8.3
Meteor NPM: 4.6.1
Reaction CLI: 0.10.0
Reaction: 1.3.0
Reaction branch: updated-packages-1.3.1
Docker: 17.03.1-ce

[2017-06-19 18:01] aaronjudd opened #2465 "Cannot read property 'merchantId' of undefined"
With valid paypal express settings, I see:
[code]

[2017-06-19 20:16] aaronjudd commented on #2288
@reactioncommerce/engineering this needs prioritization.

[2017-06-19 20:25] aaronjudd commented on #2461
Can you provide `reaction -v` output, so we know what branch you are testing and also which payment package were you testing?

[2017-06-19 20:28] aaronjudd commented on #2459
@reactioncommerce/engineering this is a priority blocker that needs fixing for 1.3.0 release.

[2017-06-19 20:41] aaronjudd commented on #2459
I also see max call stack errors when clicking on the "profile" link within the user dropdown.. ```modules.js?hash=714f292…:87208 Uncaught RangeError: Maximum call stack size exceeded
    at http://localhost:3000/packages/modules.js?hash=714f292fe02c3b8afedec4d1ebf4a03c187b0eb7:87208:23
    at Object.confirmTransitionTo (http://localhost:3000/packages/modules.js?hash=714f292fe02c3b8afedec4d1ebf4a0

[2017-06-19 21:38] aaronjudd commented on #2225
@zenweasel @michael-alade I've re-opened this issue because while we should not see server errors here, the client should validate and should also ideally open contextually and highlight error source.  While having error alerts (which I think is what #2276 added) -> was a step in the right direction, it is still not a satisfactory solution for the user experience.  If the outcome of this is to cre

[2017-06-19 21:50] zenweasel commented on #2465
I get this every once in a while but when I try to replicate it, it doesn't happen.

[2017-06-19 21:58] rymorgan commented on #2225
@zenweasel @aaronjudd @michael-alade -- I pulled this issue into the design project and will get to it later this week.

[2017-06-19 22:02] aaronjudd commented on #2465
It seems that the checkout still works.. it's like there is a timing issue with the instantiation of the paypal button.. might not even be on our end..

[2017-06-19 22:03] zenweasel commented on #2225
I am pretty sure I already created a separate issue for PDP validation.

[2017-06-19 22:03] zenweasel commented on #2225
https://github.com/reactioncommerce/reaction/issues/2274

[2017-06-19 22:04] rymorgan commented on #2225
@zenweasel gotcha 👍

[2017-06-19 22:06] kieckhafer commented on #2464
I've narrowed this down to the component re-rendering when we close the side-panel, and our `Meteor.call` [here](https://github.com/reactioncommerce/reaction/blob/development/imports/plugins/core/email/client/containers/emailConfig.js#L27) sending data back as the component is unmounted. I'm not sure why it's re-rendering...

There are similar issues in the `react-komposer` github issues list, I'v

[2017-06-19 22:51] kieckhafer commented on #2465
I think this is a timing / callback issue with the PayPal sandbox.

merchantId is set up on PayPal express initiation, and then [stored in a Session](https://github.com/reactioncommerce/reaction/blob/development/imports/plugins/included/payments-paypal/client/templates/checkout/express/checkoutButton.js#L78), so we have the data locally after we connect the first time.

If I set up my payment info

[2017-06-19 23:44] aaronjudd commented on #2454
Duplicate of #2336

[2017-06-19 23:47] #2454 closed

[2017-06-20 00:18] zenweasel commented on #2431
Closed via #2443

[2017-06-20 00:18] #2431 closed

[2017-06-20 00:27] zenweasel commented on #1443
@kieha Hopefully this was just fixed in the rewrite. Can we verify that this was fixed?

[2017-06-20 00:29] zenweasel commented on #1983
Closed via #2386

[2017-06-20 00:29] #1983 closed

[2017-06-20 00:30] kieckhafer commented on #2459
Can confirm both of the above errors. Looks like it stems from here, or something with the Router: https://github.com/reactioncommerce/reaction/blob/development/imports/plugins/core/router/lib/router.js#L185

[2017-06-20 00:33] aaronjudd commented on #1993
@abdulsemiu-atanda did you make any progress on this?

[2017-06-20 00:43] aaronjudd commented on #2213
@abdulsemiu-atanda can you re-examine this? If not reproducible, include version information so we know...

[2017-06-20 00:44] aaronjudd commented on #2225
Close in favor of #2274

[2017-06-20 00:44] #2225 closed

[2017-06-20 00:45] zenweasel commented on #2274
We don't need to wait for design here, I think we all know the basics of how validation should work. The field should be focused, the error should show next to the field, etc.

[2017-06-20 00:48] #2275 closed

[2017-06-20 00:49] aaronjudd commented on #2246
@michael-alade is this resolved?

[2017-06-20 00:51] aaronjudd commented on #2269
@jshimko (I think) this resolved now, can you re-open if not?

[2017-06-20 00:51] #2269 closed

[2017-06-20 00:53] aaronjudd commented on #2288
Closing this in favor of #2274... which needs to resolve this issue as well.

[2017-06-20 00:53] #2288 closed

[2017-06-20 00:53] zenweasel commented on #2289
Nobody has been able to reproduce. Reopen if it comes up again

[2017-06-20 00:53] #2289 closed

[2017-06-20 00:54] aaronjudd commented on #2291
Tested in 1.3.0 Cannot reproduce.

[2017-06-20 00:54] #2291 closed

[2017-06-20 00:58] aaronjudd commented on #2297
Closed in #2388

[2017-06-20 00:58] #2297 closed

[2017-06-20 01:00] aaronjudd commented on #2298
@rymorgan you might want to review this, seems that this may be a responsive issue..

[2017-06-20 01:05] kieckhafer commented on #2242
This isn't the case of a non-working button, this is the case of a bad icon / button / indicator for what it's purpose is supposed to be.

That icon is just an indication that the image has changed, and isn't yet published. That means it's either a newly added image, or a deleted image, and when the product is published, the changes will be made. That's why it goes away when you publish.

@rymorga

[2017-06-20 01:05] aaronjudd commented on #2319
@mikemurray @kieckhafer can you reproduce, verify the status here?

[2017-06-20 01:06] aaronjudd commented on #2328
@mikemurray @kieha is this still a valid issue in 1.3.0?

[2017-06-20 01:09] aaronjudd commented on #2356
@rhenshaw56  Note that the nav bar has been rewritten in React, so this needs to be reproduced/investigated with 1.3.0..

[2017-06-20 01:14] zenweasel commented on #2432
No one can reproduce and @spencern opened an issue for the scroll bar so

[2017-06-20 01:14] #2432 closed

[2017-06-20 01:24] aaronjudd commented on #2465
@kieckhafer shouldn't we just mask the error then, check for `undefined`?

[2017-06-20 01:28] aaronjudd opened #2468 "Remove theme editor and dependencies."
We should remove/ move postcss and other remnants of the theme editor into a stand alone package, with it's own dependencies. We're importing postcss and referencing it in the client, but I'm not sure we're actually using this anymore... (@mikemurray?)

[2017-06-20 01:31] spencern commented on #2461
I was able to reproduce this using Auth.net.
I had the discount codes enabled as well.

@vivekmore89 can you confirm what payment provider you saw this with?

[2017-06-20 01:43] zenweasel commented on #2242
@kieckhafer I feel like this is 100% what should happen and pretty sure we had discussed this before and agreed that's what we should do.

[2017-06-20 02:11] zenweasel commented on #2461
I'm not able to reproduce this using Auth.net and discount codes enabled.

[2017-06-20 04:52] vivekmore89 commented on #2461
@aaronjudd
Node: 7.10.0
NPM: 4.2.0
Meteor Node: 4.8.2
Meteor NPM: 4.5.0
Reaction CLI: 0.9.3
Reaction: 1.2.0
Reaction branch: master

[2017-06-20 04:59] vivekmore89 opened #2470 "I cant find out Buy Button, if there is no Buy button then how to add...pls help"

[2017-06-20 05:00] zenweasel commented on #2470
@vivekmore89 Could you please fill out the issue template? We can't really help you unless you provide us with enough information.

[2017-06-20 05:03] vivekmore89 commented on #2445
![111](https://user-images.githubusercontent.com/6220344/27317412-cf5c1e4c-55a3-11e7-9454-a52abd2a39ea.png)

[2017-06-20 05:12] spencern commented on #2461
Got another confirmed reproduction

Steps:
1. Reset db / new Reaction instance
2. enable free shipping
3. enable discount codes
4. create new discount code "test", 10, discount, 1, 1
5. enable auth.net (test - sandbox mode)
6. from non-logged in window (~incognito) visit app
7. add product to cart.
8. proceed to checkout
9. guest mode
10. use the following for both default addresses:
name: `asdf`

[2017-06-20 05:13] rnandhakumar1995 commented on #2421
Download and copy the content from the file attached below.
Paste the code ,after else at line number 507 ,in server/methods/accounts/accounts.js
[account.txt](https://github.com/reactioncommerce/reaction/files/1087067/account.txt)

[2017-06-20 05:18] vivekmore89 commented on #2470
![sony222](https://user-images.githubusercontent.com/6220344/27317724-e29f9964-55a5-11e7-8833-d099f0974f84.png)
i want to add a button after Add to Cart.

[2017-06-20 05:23] zenweasel commented on #2461
Verified that Auth.net has regex that forces the name to start with a capital letter (but doesn't enforce that there be two names). Probably best to remove that

[2017-06-20 05:28] hrath2015 commented on #2461
Paypal Flow forces 2 names:
![image](https://user-images.githubusercontent.com/14071646/27317945-49f80906-55a7-11e7-80db-cf90a9805b77.png)

[2017-06-20 05:30] zenweasel commented on #2461
It actually doesn't. It enforces that it starts with a capital letter. Add a second name and it still won't work.
[code]

[2017-06-20 05:30] zenweasel commented on #2461
Braintree does enforce two names (and only two)
[code]

[2017-06-20 05:38] hrath2015 commented on #2461
yes that is right. thanks.
 Payment Options need some revamp (in case of multiple options).  If there is validation error  spinner remains.  Only option is to go back and start checkout again.  Once you land on checkout page again,  error remains in red color.  Ideally error should be triggered based on the payment option selected.

[2017-06-20 06:52] amrutraj commented on #2470
@vivekmore89 You mean a "Buy Now" button like this. https://www.flipkart.com/samsung-galaxy-on5-gold-8-gb/p/itmedhx3uy3qsfks?pid=MOBECCA5FHQD43KA&srno=b_1_1&otracker=nmenu_sub_Electronics_0_Samsung&lid=LSTMOBECCA5FHQD43KAK2QMJD

This should take you directly to the payments page.

I dont think reactioncommerce has this built in. Its more like amazon.com
https://www.amazon.com/CafePress-REARDEN-STE

[2017-06-20 07:02] vivekmore89 commented on #2461
thanks... it's work now..

[2017-06-20 07:24] vivekmore89 opened #2473 "i am not able to do 'cash on delivery' so how can i bypass the payment."

[2017-06-20 07:27] zenweasel commented on #2473
@vivekmore89 You would do a lot better asking these sort of support questions in the [Gitter](https://gitter.im/reactioncommerce/reaction) channel instead. These aren't really issues.

[2017-06-20 07:56] vigyano commented on #2426
@spencern any updates on this issue?

[2017-06-20 08:25] hrath2015 opened #2475 "App do not render with Docker Image built with TOOL_NODE_FLAGS="--max-old-space-size=4096""
It is catch 22.  Without  `TOOL_NODE_FLAGS="--max-old-space-size=4096"` option **not able to build the image at all.**  I tried it on VPS(1 vCPU, 4.75 GB memory) and Linux multicore Laptop with 8GB RAM.

When I used the suggested flag I am able to build the image but when deployed app do not render.  I tried following ways to build the image

1.  `docker build --build-arg TOOL_NODE_FLAGS="--max-ol

[2017-06-20 08:34] impactmass commented on #2184
Update:
_ Group methods completed
_ Not all the group methods I've written can be tested from the UI yet...  So, still keeping the WIP label on the PR.

_ But feedback can be given on this file: [`server/methods/core/groups.js`](https://github.com/reactioncommerce/reaction/pull/2448/files#diff-f8c0fc2581fcce57e4037e6f5e9df21a). As it contains the main work.
 ... I added comments to explain some pa

[2017-06-20 08:38] zenweasel commented on #2446
Closed via #2458

[2017-06-20 08:38] #2446 closed

[2017-06-20 08:46] hrath2015 commented on #2446
👍 tested works.

[2017-06-20 08:49] #2473 closed

[2017-06-20 08:57] zenweasel commented on #2444
Closed via #2451

[2017-06-20 08:57] #2444 closed

[2017-06-20 10:44] hrath2015 commented on #2447
It is similar to issue we had with **authorize-net@github:ongoworks/node-authorize-net** module. #1450

command `npm install braintree` works and `meteor npm install braintree` fails.  In recent version 2.1.1 , of braintree a change is made where
`let wrapPrototype = require('wrap-promise').wrapPrototype;`
 is  changed to
`let wrapPrototype = require('**@braintree/wrap-promise**').wrapPrototype;`

[2017-06-20 11:20] zenweasel commented on #2452
Closed via #2460

[2017-06-20 11:20] #2452 closed

[2017-06-20 11:21] prosf commented on #2459
I looked into it a little bit, and the problem seems to be present when the router is re-initialized (As it happens when a user subscribes/logins):

`
Accounts.onLogin(() => {
    if (Meteor.loggingIn() === false && Router._routes.length > 0) {
      initBrowserRouter();
    }
  });
`

@ /imports/plugins/core/router/client/startup.js

So if a Router.go(route) is triggered at the time which a reini

[2017-06-20 11:30] rnandhakumar1995 commented on #2242
In file **imports/plugins/core/ui/client/components/media/mediaGallery.js** enable the state **"disableClick"** of **Dropzone** component at line _131_

[2017-06-20 12:03] zenweasel commented on #2356
Closed via #2472

[2017-06-20 12:03] #2356 closed

[2017-06-20 13:06] abdulsemiu-atanda commented on #1993
I was blocked on `cart/submitPayment` as the method uses `Meteor.userId()` to fetch user cart which is usually a fresh cart in incognito/private mode of Safari.

[2017-06-20 15:10] jshimko commented on #1301
This has been fixed by adding the `APT_GET_INSTALL` build arg in the base image.  You can install any list of `apt-get` dependencies that are available to `debian:jessie`

Example:

[code]

[2017-06-20 15:10] #1301 closed

[2017-06-20 15:11] jshimko commented on #1895
Fixed in #2427.  Nodemailer has been forked and added to Reaction.

[2017-06-20 15:11] #1895 closed

[2017-06-20 15:15] jshimko commented on #1264
Since we haven't heard of this being a problem for anyone in the last 10 months, I'm going to close this for now.  Feel free to reopen if you believe this is still a problem.

[2017-06-20 15:15] #1264 closed

[2017-06-20 15:16] jshimko commented on #2176
Closing due to not being able to reproduce.

[2017-06-20 15:16] #2176 closed

[2017-06-20 16:36] kieha commented on #2328
@aaronjudd I've just tried reproducing it on 1.3.0 and it still happens, but the `unauthorized` page no longer shows up.

[2017-06-20 17:40] spencern commented on #2446
While this does fix this issue, it might be worth trying to determine what was causing the overflow as well.

[2017-06-20 17:46] spencern commented on #2426
@vigyano I'm looking at this from the marketplace perspective and we've recently fixed this issue for multi-shop marketplaces, though it will be a while until any of that is merged into development (2.0 or later).

The issue in marketplace came down to a permissions mismatch and checking the wrong shopId. I have my doubts that it's the same issue you're experiencing.

[2017-06-20 17:56] awadesmoline commented on #2445
Paused work on this complete Critical Issue.

[2017-06-20 18:03] michael-alade commented on #2377
I am done implementing the design for this issue, currently working on the functionality.
Below are the steps I am taking to complete this issue.
- Add the Payment Schema into the Cart Items Schema.
- Add workflow field to the cart items Schema, so it can be tracked when any action is taken for the item e.g refund, captured, etc.
- Allow only shop owner or users with orders permission issue a refu

[2017-06-20 18:20] kieckhafer commented on #2242
@rnandhakumar1995 disableClick is already set to true

[2017-06-20 18:22] joykare commented on #2323
**Notes:**
- Track progress on branch `joykare-orders-listview-2323`

[2017-06-20 19:04] kieckhafer commented on #2242
Closed by #2469

[2017-06-20 19:04] #2242 closed

[2017-06-20 19:13] kieha commented on #1443
@zenweasel tested it out with the rewrite and it works as expected for me.

[2017-06-20 19:14] abdulsemiu-atanda commented on #2213
I've been able to reproduce this behavior with the steps provided by @vigyano and I'll look into resolving it

[2017-06-20 19:21] rymorgan commented on #2274
@zenweasel totally agree. If you guys take a stab at it and send it my way when it's done. But yes it should just as you describe.

[2017-06-20 20:23] rymorgan commented on #2377
@michael-alade If this is ready for a design review can you share a branch name with me? Thanks!

[2017-06-20 20:28] spencern commented on #2183
@impactmass and I just had a discussion on the direction of Permissions and we've decided to focus on the following modifications to the Permissions epic.
- Each user can belong to exactly one group per shop
- From the UI, you can assign permissions to users by assigning a user to a group
- From the UI, you can create 'custom' permissions for users by creating a new group
- Removing a user from a

[2017-06-20 21:21] kieckhafer commented on #2239
This is complete. New Component is the <Badge /> component.

[2017-06-20 21:21] #2239 closed

[2017-06-20 21:22] kieckhafer commented on #2240
Fixed in #2400

[2017-06-20 21:22] #2240 closed

[2017-06-20 21:26] kieckhafer commented on #2150
Large view completed in #2400

[2017-06-20 21:26] #2150 closed

[2017-06-20 21:29] rymorgan commented on #2298
I'm not totally following what the issue is here. I see a way to change it but I'm probably missing something.

![internationalization](https://user-images.githubusercontent.com/20409254/27356732-85fd34cc-55c4-11e7-8fa1-23fec5f5d029.png)

[2017-06-20 22:13] zenweasel commented on #2298
@rymorgan That's for admin, but for consumers. In my example, currency is being auto-detected but I have no way to change to the shop currency. I know these selectors are being hidden on purpose but there should probably still be some way for a consumer to switch currency, especially when we are forcing it to a non-shop-default.

[2017-06-20 22:32] rymorgan commented on #2298
@zenweasel gotcha.

[2017-06-20 23:51] zenweasel commented on #2213
@abdulsemiu-atanda Have we verified that this is still happening in the rewritten product grid? If it is, let's assign this to @kieha

[2017-06-21 00:06] zenweasel commented on #2461
Closed via #2471

[2017-06-21 00:06] #2461 closed

[2017-06-21 00:15] zenweasel commented on #2180
@jujes @Stat1c14 Can you verify if @jshimko's fix has resolved your issue? We are not able to reproduce this so we are relying on your testing to be able to close this issue. Thanks!

[2017-06-21 00:17] zenweasel commented on #2459
Closed via #2476

[2017-06-21 00:17] #2459 closed

[2017-06-21 01:33] zenweasel commented on #2274
I just talked to @kieckhafer and he is willing to take this on. Hopefully we can expand the Autoform replacement work that @mikemurray has been working on

[2017-06-21 03:29] zenweasel commented on #2440
Closed via #2442

[2017-06-21 03:29] #2440 closed

[2017-06-21 03:34] zenweasel commented on #2142
This is not fixed. Reopening

[2017-06-21 03:36] zenweasel commented on #2142
Reopening. Ran into this while testing the dependency PR.

The key part of the duplication steps is "Click into order from notifications panel". It's going from that panel to the orders panel that is causing the problem

[2017-06-21 03:38] zenweasel commented on #2142
Specifically reopening this instead of #2136 per @spencern comment

[2017-06-21 05:03] kieckhafer commented on #2398
This is definitely an issue with translations not loading. I ran into it a few times while implementing the new ReactTable. If it's not already fixed (it should be OK if translations load), it will be taken care of when PR #2416 is merged.

[2017-06-21 05:07] zenweasel commented on #2398
I am pretty sure this issue is yet another instance of https://github.com/reactioncommerce/reaction/issues/2313. You can see from the screenshot that both the translations and the shipping methods are missing.

[2017-06-21 05:12] kieckhafer commented on #2142
This was fixed at some point with #2280 , did you just see this occurring right now (in the last few hours), or has it been longer than that?

I just pulled in a router fix for a different issue ( #2476  ), perhaps that re-broke it:?

[2017-06-21 05:17] zenweasel commented on #2142
I just saw this two hours ago when I reported it.

[2017-06-21 05:21] kieckhafer commented on #2142
Ok... well it's highly possible these two things are related then... todays PR merge fixes a much more serious problem though so we want to keep that pulled in and re-fix this issue I guess.

[2017-06-21 05:26] kieckhafer commented on #2398
True, that makes sense... well from a UI perspective, the overflow that pushes everything to the right of the screen should be fixed with #2416 , the underlying cause not so much.

[2017-06-21 05:39] zenweasel commented on #2398
Yeah, the reporting of the issue refers to the UI, but it's really the underlying data that's broken.

[2017-06-21 06:03] zenweasel opened #2478 "Dragging an image to anywhere in the PDP when the settings drawer is open, uploads the image for the first variant"
### Expected behavior
If you drag an image for the main image area, it should become the "main" product image

### Actual Behavior
It gets uploaded as an image for the first option (or probably whatever option is active for editing)

### Steps to Reproduce the Behavior
1. Login as an admin
1. Click on the edit icon for the variant so that the edit drawer opens
1. Drag an image into the "main" imag

[2017-06-21 09:25] awadesmoline commented on #2447
I have tried reproducing this issue on mac, but I didn't get the error. Need a windows 10 OS to reproduce.

[2017-06-21 09:28] zenweasel commented on #2470
Incomplete information. Closing due to no response.

[2017-06-21 09:28] #2470 closed

[2017-06-21 09:29] zenweasel commented on #2422
Closed via #2437

[2017-06-21 09:29] #2422 closed

[2017-06-21 09:42] zenweasel opened #2480 "Errors importing exported product data"
### Expected behavior
Data exported from Reaction should be able to be imported back in

### Actual Behavior
Receive multiple errors on startup:
[code]
Data loaded is partial and causes the app to crash

### Steps to Reproduce the Behavior
Replace your `Products.json` with the following file: https://slack-files.com/T027FB1A3-F5XTT7TT9-e36ac40cfe

### Versions
[code]

[2017-06-21 12:28] zenweasel commented on #2464
Assigning to @kieckhafer as he seems to understand the issue. Sorry dude.

[2017-06-21 12:45] zenweasel commented on #2445
Closed via #2455

[2017-06-21 12:45] #2445 closed

[2017-06-21 12:57] zenweasel opened #2481 "Alert component doesn't respect the autohide parameter"
### Expected behavior
<Alert> Component should respect the `autohide` parameter and fadeout after the specified time

### Actual Behavior
It doesn't fade out

### Steps to Reproduce the Behavior
Utilize the `<Alert>` component and pass in the `autohide` parameter

We came across this trying to fix a bug that required adding this Alert and could not get it to work nor able to fix the component, so

[2017-06-21 13:46] Stat1c14 commented on #2180
@zenweasel I believe it's all good now. Thanks!

[2017-06-21 13:46] #2180 closed

[2017-06-21 14:35] abdulsemiu-atanda commented on #2213
It seems partially fixed in `product grid` as it displays products that have selected tag other than `Shop` tag where all unpublished products gets displayed alongside products that have the `Shop` tag

[2017-06-21 15:24] jshimko opened #2482 "clicking tag link on PDP causes hard refresh"
### Expected behavior

Clicking link should immediately render page.

### Actual Behavior

The browser does a hard refresh and downloads/re-renders the entire app (which takes several seconds instead of milliseconds).  This is most likely related to #2246 and probably caused by the recent Router updates.

### Steps to Reproduce the Behavior

Visit the product detail page, click a tag link under th

[2017-06-21 15:51] jshimko opened #2483 "Payment processor API key error shown to customers"
### Expected behavior

When the payment provider is misconfigured, give the customer a generic error that tells them to contact the site admin.

### Actual Behavior

When an API key doesn't work for a payment provider (Stripe, in my example) the customer gets an alert in the UI that says `Oops! Invalid API key provided:  ACTUAL_API_KEY_HERE`.  Not only is that something that makes no sense to a cu

[2017-06-21 16:40] jshimko commented on #2313
Are we sure this has continued to happen after #2224 was merged?  I've never been able to reproduce it, so I'm not sure what to do about it at this point.

I'm also not sure how it's even possible for other fixtures to load before the shopId exists.  The fixtures are the [first thing that happens](https://github.com/reactioncommerce/reaction/blob/development/server/startup/init.js#L9-L10) on app s

[2017-06-21 17:09] rymorgan commented on #2274
@kieckhafer let me know when you work on this and we can talk through how the validation should be styled. I'm hoping this is something that does some automatic validation magic with our forms so we're consistent everywhere.

[2017-06-21 17:16] rymorgan commented on #2309
@abdulsemiu-atanda When the UI has been implemented can you mention me and tell me what branch I can review it on. :)

[2017-06-21 17:36] spencern commented on #2249
Was able to reproduce this on the release-1.3 branch

[2017-06-21 19:09] vigyano commented on #2426
I see, if the fix is going to take a while to be released, can you point me to the code fix in marketplace branch and if possible to it's related master branch code?

[2017-06-21 19:39] rymorgan commented on #2190
**Links for designs below**

Design annotations in Zeplin :)

Reaction core team link:
Web: https://zpl.io/1YphHq
Zeplin App: zpl://project?pid=59487558eca97e6140dd4b5b

Public link:
https://scene.zeplin.io/project/59487558eca97e6140dd4b5b

[2017-06-21 19:40] rymorgan commented on #2191
**Links for designs below**

Design annotations in Zeplin :)

Reaction core team link:
Web: https://zpl.io/1YphHq
Zeplin App: zpl://project?pid=59487558eca97e6140dd4b5b

Public link:
https://scene.zeplin.io/project/59487558eca97e6140dd4b5b

[2017-06-21 19:41] rymorgan commented on #2194
**Links for designs below**

Design annotations in Zeplin :)

Reaction core team link:
Web: https://zpl.io/1YphHq
Zeplin App: zpl://project?pid=59487558eca97e6140dd4b5b

Public link:
https://scene.zeplin.io/project/59487558eca97e6140dd4b5b

[2017-06-21 19:47] rymorgan commented on #2193
We want to use the same bulk editing pattern we are using for orders. Please sync with @kieckhafer or whoever works on the list view and bulk editing for orders. I'm hoping bulk editing can be a reusable component group or pattern as we will use it in a number of places in Reaction.

**Links for designs below**

Reaction core team link:
Web: https://zpl.io/1BWOjv
Zeplin App: zpl://screen?pid=58af8

[2017-06-21 21:11] rhenshaw56 commented on #2438
I believe there is a fix for this on #2459

[2017-06-21 23:09] zenweasel commented on #2478
@spencern also agrees this is broken

[2017-06-21 23:24] spencern commented on #2482
Was able to reproduce

[2017-06-21 23:28] michael-alade opened #2485 "SMS Notifications not sent."
### Expected behavior
SMS should be sent after an order event is fired.

### Actual Behavior
Currently, Twilio has updated their library of which the API documentation is different from the previous one. This is now causing the SMS not be sent.

### Steps to Reproduce the Behavior
- Login as admin
- Go the SMS notification settings
- Choose an SMS Provider and account credentials
- Sign up as a ne

[2017-06-22 00:43] jshimko commented on #2475
This should be fixed by #2486

[2017-06-22 00:43] zenweasel opened #2487 "Implement "registerComponent" in all React components"
All React components being created (and we should retrofit all current ones) should be modified so they use the `registerComponent` API that @mikemurray created. This is a great way to allow plug-in authors to override components at any level and would remove one of the big blockers for plugin authors.

[2017-06-22 02:43] hrath2015 commented on #2447
@awadesmoline    May be you can co ordinate  with Mike Murray,  he  knows how to reproduce windows issues  by launching  a windows VM.

[2017-06-22 05:55] hrath2015 commented on #2475
verified  scenario 3 and 4. working fine 👍

[2017-06-22 05:55] #2475 closed

[2017-06-22 08:47] zenweasel commented on #2421
Closed via #2433

[2017-06-22 08:47] #2421 closed

[2017-06-22 10:01] awadesmoline commented on #2319
I created a plugin, with the duplicate routes above but could not get the error. Only one component renders.

[2017-06-22 11:09] zenweasel commented on #2209
Can't reproduce. Closing.

[2017-06-22 11:09] #2209 closed

[2017-06-22 11:11] zenweasel commented on #2319
Closed via #2327

[2017-06-22 11:11] #2319 closed

[2017-06-22 12:30] zenweasel commented on #2438
@rhenshaw56 That PR was merged. Can you verify this was fixed and close this ticket if it is?

[2017-06-22 19:17] jshimko opened #2493 "no UI for users to update their email"
### Expected behavior

Expect that any user can update their email.

### Actual Behavior

There is nowhere in the UI to update your email (unless I'm totally missing it).  Editing the database is currently the only option. This is particularly a problem for initial shop admins where a random email can potentially be generated for them.  Once that has happened, there's no way for them to update it

[2017-06-22 21:56] curranabell opened #2494 "Double Scrollbar in Admin with 1.3"
### Expected behavior
Single Scrollbar in Admin
### Actual Behavior
Producing two scrollbars with this custom theme plugin.
### Steps to Reproduce the Behavior
Create a custom plugin/theme then scrollbars appear. Here is my plugin below
https://github.com/curranabell/nmp
### Versions
(run `reaction -v` from your reaction directory)
1.3
![screen shot 2017-06-22 at 11 53 33 am](https://user-images.g

[2017-06-23 02:08] #2438 closed

[2017-06-23 08:21] #2439 closed

[2017-06-23 08:55] abdulsemiu-atanda opened #2495 "Error when trying to Create Shop and confusing success message"
**Expected Behavior**
Create a new shop for user when `Become A Seller Button` is clicked

**Current Behavior**
Displays`Your Shop is ready` success message and throws the following error in terminal:

`ERROR Reaction: Failed to shop/createShop
  Error: Address book must be an array
      at getErrorObject (packages/aldeed_collection2-core.js:480:15)
      at [object Object].doValidate (packages/a

[2017-06-23 09:11] michael-alade commented on #2377
I would be adding the permissions functionality to prevent users without the orders permission from seeing/using the order line item popover. After I am done, I will be reaching out to Ryan for a design review.

[2017-06-23 09:22] impactmass commented on #2184
*Status:
_ I'm working on adding more tests for the group methods
_ and also adding email notification
_ while @rhenshaw56 is working on UI for accounts dashboard (part of which the groups methods will be used with)

[2017-06-23 14:03] stunjiturner commented on #2333
any update on the situation, cause i have been working to get this resolved for over five days

[2017-06-23 14:34] jshimko commented on #2333
Unfortunately, no news yet.  You should be able to build on any other operating system, so there _are_ workarounds until this is resolved.  Building on CircleCI or a remote machine managed with Docker Machine are my two current recommendations.  Reaction already has a working CircleCI config that you can customize.

If you don't need build automation from CircleCI, you could just use Docker Machin

[2017-06-23 15:40] #2482 closed

[2017-06-23 18:57] curranabell opened #2496 "Top Navbar Dropdowns Don't Close On Click"
For bugs, please fill out the three following sections completely. Failure to provide
this information may result in your ticket being closed without comments.

Are you looking for support for installation/getting started with Reaction? Please go
to our [Gitter](https://gitter.im/reactioncommerce/reaction) channel instead.

### Expected behavior
Navbar dropdowns close on click of primary dropdown

[2017-06-23 22:12] curranabell commented on #2494
The double scroll bar is actually not just evident with a custom theme it also occurs without a custom theme or custom plugins.

[2017-06-24 06:32] vivekmore89 opened #2497 "I wants to integrate paypal payment."

[2017-06-26 03:07] louwers opened #2498 "Docs: broken links 'Payments' page"
The links on [the 'Payments' page](https://github.com/reactioncommerce/reaction-docs/blob/master/developer/core/payments.md) are all broken.

[2017-06-26 05:23] zenweasel commented on #2498
Closing. Opened #207 on Docs repo

[2017-06-26 05:29] #2498 closed

[2017-06-26 05:31] zenweasel commented on #2497
Hey @vivekmore89, Paypal is already built in.

[2017-06-26 05:31] #2497 closed

[2017-06-26 05:38] zenweasel commented on #2496
I can't replicate this on `development`

![navbar](https://user-images.githubusercontent.com/72819/27525934-a4b19b56-5a74-11e7-97e2-12bc8cecc7c5.gif)

[2017-06-26 10:16] vivekmore89 opened #2500 "ACK Failure: Security header is not valid"
![ack](https://user-images.githubusercontent.com/6220344/27535020-a290a03a-5a86-11e7-8d2d-24992c16802f.png)

[2017-06-26 15:59] jshimko commented on #2500
Please fill out ALL of the sections in the issue template that you deleted.  Failure to do so will result in the issue being closed with no further comment.  Help us help you.

[2017-06-26 17:44] louwers commented on #2498
My bad and thank you.

Link: https://github.com/reactioncommerce/reaction-docs/issues/207

[2017-06-26 19:48] curranabell commented on #2496
I realized that the top level navbar items have never actually closed when you click them again. I was really just talking about having the navbar item close when you click the top level navbar item again but you can just click outside of the area.

[2017-06-26 19:48] #2496 closed

[2017-06-26 20:04] spencern commented on #2496
@rymorgan This might be something you want to have input on, I can reproduce it, and I think I agree with @curranabell that it might be better if it toggled.

http://g.recordit.co/pj9ixT1X5k.gif

[2017-06-26 20:10] spencern commented on #2494
@curranabell I'm not able to reproduce this on development in Chrome. Did you change anything else? If it's just happening on a custom plugin, I'm inclined to blame the plugin.
![image](https://user-images.githubusercontent.com/1203639/27558076-32a963ae-5a79-11e7-8ef6-be2095c5994b.png)

[2017-06-26 20:13] curranabell commented on #2494
@spencern If you make the screen smaller it should popup. It happens when I open the console. It was happening on my clean install of reaction without any custom plugins as well
![screen shot 2017-06-26 at 10 11 03 am](https://user-images.githubusercontent.com/16485679/27558187-2301b300-5a58-11e7-8b3e-2ff148260d5a.png)

[2017-06-26 20:14] spencern commented on #2495
@abdulsemiu-atanda This _should_ be fixed with the latest version of `marketplace`. Can you pull marketplace and try again?

[2017-06-26 22:00] zenweasel commented on #2494
fwiw, I am seeing this as well

[2017-06-27 03:20] zenweasel commented on #2441
Closing. No reply to request for more info

[2017-06-27 03:20] #2441 closed

[2017-06-27 09:20] v3yr0n opened #2503 "submitting not defined"
### Expected behavior
Complete credit card payment using payflow

### Actual Behavior
browser console error: submitting not defined

### Steps to Reproduce the Behavior
Do a payment using the payflow method

### Versions
Node: 8.1.2
NPM: 5.0.3
Meteor Node: 4.8.3
Meteor NPM: 4.6.1
Reaction CLI: 0.9.3
Reaction: 1.3.0
Reaction branch: master

Just add `let submitting` at line 11 of the imports/plugin

[2017-06-27 19:35] rymorgan commented on #2496
I agree with @zenweasel , it's a little weird but not a bug.

[2017-06-27 20:20] kieckhafer commented on #1894
Griddle is removed in PR #2416

[2017-06-27 20:20] #1894 closed

[2017-06-27 20:58] joykare commented on #2323
**Notes**
- Merged in Erik's branch to use Sortable Table for list view

LeftOvers
_ General styling -> Including rows
_ Add i18n Translations
_ Re-organising code

[2017-06-27 22:12] kieha commented on #1443
Update:
- Followed this to productsContainer (https://github.com/reactioncommerce/reaction/blob/2b1c3a50cbbf628f86ff2ad988b7f46cd2955501/imports/plugins/included/product-variant/containers/productsContainer.js#L135). The query to find products doesn't seem to comply with the results. Might have something to do with revisions, not 100% sure though.

[2017-06-27 22:19] rymorgan commented on #2384
**Links for designs below**

**Reaction core team links**
Split Detailed View
Web: https://zpl.io/ZTF8Gc
Zeplin App: zpl://screen?pid=58af8900737c137280322bd6&sid=594daaae59b601c87bfa81da

Orders View
Web: https://zpl.io/Z1ooKPp
Zeplin App: zpl://screen?pid=58af8900737c137280322bd6&sid=593b33c95da8f4f5eceb85f3

**Public links**
Split Detailed View
https://scene.zeplin.io/project/58af8900737c137280

[2017-06-28 00:03] zenweasel opened #2504 "No scrollbar in Dashboard"
### Expected behavior
When the space is too short you should be able to scroll down

### Actual Behavior
You can't
<img width="490" alt="reaction_and_1__node" src="https://user-images.githubusercontent.com/72819/27615068-3f6f465c-5bd8-11e7-90d1-c1b2dcb8f15c.png">

### Steps to Reproduce the Behavior
1. Login as admin
1. Make your browser window short
1. Observe that you can't scroll down to hidden

[2017-06-28 00:33] zenweasel commented on #2503
I think this may have already been fixed by #2450

[2017-06-28 00:54] zenweasel commented on #2503
Yeah, that error was fixed but now I am getting another error I am looking into

[code]

[2017-06-28 02:12] zenweasel commented on #2503
Actually I can't recreate that bug after reset so closing. This issue should be fixed on the `development` branch by #2450

[2017-06-28 02:12] #2503 closed

[2017-06-28 02:13] zenweasel commented on #2500
No response to request for more info. Closing. Please reopen if you can give us more info. Thanks.

[2017-06-28 02:13] #2500 closed

[2017-06-28 07:21] v3yr0n commented on #2503
ok, thanks!

[2017-06-28 08:03] michael-alade commented on #2377
The implemented designs for the issue are currently being reviewed by Ryan.

[2017-06-28 09:03] impactmass commented on #2184
I was out for 2 days so there's been no update here. Here's the current status:
_ I've written tests for group methods (can be seen in `methods/core/groups.app-test.js`
_ The tests covered `group/createGroup`, `group/addUser`, `group/removeUser`
_ There's a new discussion on my PR (#2448) about the Groups schema on Accounts to use object-style of saving data instead of Array of objects.
_ I'll be

[2017-06-28 11:32] abdulsemiu-atanda commented on #2495
@spencern I've updated my branch with the `marketplace` branch and in addition to the error above, I'm getting
`Exception in delivering result of invoking 'shop/createShop': clickDataEventActionButtonClickBecomeSeller/<@http://localhost:3000/app/app.js?hash=f6128b19b3b9bf7de49208f82021709a778fa237:9615:9
Meteor.bindEnvironment/<@http://localhost:3000/packages/meteor.js?hash=27829e936d09beae3149ecf

[2017-06-28 16:19] spencern commented on #2495
I cannot reproduce this on a fresh install of `marketplace`

Have you reset your database and installed fresh?

http://g.recordit.co/92RbJ28XI1.gif

[2017-06-28 19:21] rymorgan commented on #2377
@michael-alade -- I put all my reviews in the PR yesterday. https://github.com/reactioncommerce/reaction/pull/2488

[2017-06-28 19:52] joykare commented on #2323
**Notes**
_Figure out_
-  table border styling
- check-boxes roll-over (Where the avatars change to checkboxes you can select)

[2017-06-28 20:28] rymorgan commented on #2323
@joykare - When you work on the check box roll-over can you sync with @michael-alade? He's working on a similar interaction on refunds. We should use consistent code and consistent styling.

Here's a reference for his task:
https://zpl.io/2pc5sL

[2017-06-28 22:56] zenweasel commented on #2483
Closed via #2499

[2017-06-28 22:56] #2483 closed

[2017-06-29 02:09] impactmass commented on #2184
I'm basically done with the implementation change I mentioned in the last comment. I've update the PR.

The only issue on the PR is that some other tests (outside of the tests I wrote) keeps failing inconsistently when I run all tests. Sometimes 1 fails, sometimes 2. It gives different reasons every time.

Last one I got was (as at when I was closing):

[code]

I'll see to resolving this asap, in

[2017-06-29 19:05] vigyano commented on #2426
@spencern any updates on how to deal this issue intermediate.  Can you point me to the code fix in marketplace?

[2017-06-29 19:07] impactmass commented on #2184
Tests fixed now (thanks to help from @zenweasel). [PR ready](https://github.com/reactioncommerce/reaction/pull/2448).

A comment on the scope of this issue: The Custom groups part will be broken into a separate issue. So every other piece stays here which should be resolved by this [PR](https://github.com/reactioncommerce/reaction/pull/2448).

[2017-06-29 19:11] impactmass opened #2509 "[Marketplace] Custom Permission Groups"
If a user's permissions are customized by an admin, the user should be removed from any groups associated with a specific set of permissions and re-granted individual permissions that match the customized set of permissions they now have. The user should no longer be associated with a Permission Group in the Accounts dashboard but should instead be labeled as having a Custom Permissions set in the

[2017-06-29 19:47] spencern commented on #2509
This is not what I meant by Custom Permission Groups. While this would be a nice-to-have feature, I don't think it's top priority right now.

What we need in terms of custom permission groups is for any shop owner to be able to create a new `group` for that particular shop with a _custom_ set of permissions that defines that group. The shop owner could then add or assign users to this newly create

[2017-06-29 19:47] #2509 closed

[2017-06-29 21:05] vanloc0301 opened #2510 "How to login in Frontend page in Reaction?"
I install Reaction success.

But I can't find any method to run frontend pages like Magento or Prestashop.

I can't find the theme for Reaction.
Have any tutorial to create the theme on Reaction?

I see on artlimes.com have a custom view.
Can we make the custom theme for Reaction?

Thanks.

[2017-06-29 21:09] spencern commented on #2426
@vigyano Looking into this now.

[2017-06-29 21:14] kieckhafer commented on #2464
I believe I fixed this in pr #2416, @zenweasel can you confirm?

[2017-06-29 21:18] kieckhafer commented on #2510
Hi @vanloc0301 , here are some references for you, however I think this is better discussed in our Gitter channel as opposed to this issue: https://gitter.im/reactioncommerce/reaction

You should see your login information in your terminal when you first start reaction, use that info to long in as an admin.

The theme we use is located at `/imports/plugins/included/default-theme/`... Check out the

[2017-06-29 21:18] #2510 closed

[2017-06-30 02:29] vanloc0301 commented on #2510
Thanks @kieckhafer

[2017-06-30 02:39] kieha commented on #2213
Update:
- In the rewritten product grid, only unpublished products show up under the `Shop` and any other tags available. On publishing, they don't show up unless they have the tag themselves.

[2017-06-30 03:36] zenweasel commented on #2464
@kieckhafer No, still happening.

[2017-06-30 03:37] zenweasel commented on #2464
@kieckhafer Let me assign this to someone else.

[2017-06-30 04:26] zenweasel commented on #2313
For now I am going off the assumption that #2224 has fixed this problem and we can reopen when it's reported again. I would still like to see `hello.reactioncommerce.com` updated and see if it's still happening there.

[2017-06-30 04:26] #2313 closed

[2017-06-30 04:27] zenweasel commented on #2398
Closing this as we believe this was fixed in #2224. Please reopen if not fixed in current builds.

[2017-06-30 04:27] #2398 closed

[2017-06-30 08:35] abdulsemiu-atanda commented on #2495
I'll do that. Thanks

[2017-06-30 12:25] abdulsemiu-atanda commented on #2495
@spencern I've reset the database and this issue no longer occurs when I did. I'll be closing this

[2017-06-30 12:25] #2495 closed

[2017-06-30 16:39] cusspvz opened #2514 "Translation/i18n of tags and product info"
Hey guys,

I was messing around with reaction for a little bit and it is awesome. I already knew it for a long time but you guys are taking it to a next level and thank you for that.

Inspite, I have a doubt on a feature, since I don't have completely sure if it is possible: **Are the tags and product information supporting i18n / locales?**

Just to let it clear, I was able to change the locale o

[2017-06-30 17:24] spencern commented on #2426
@vigyano I don't think your issue and the marketplace issue were the same after looking into it a bit more. In the marketplace branch, the issue was that we were checking a static shopId (the first shop created) for permission checks even if the user had permissions for a second or third shop. When we added a way to select the "active" shop within marketplace, a lot of the permissions issues were

[2017-06-30 18:14] rymorgan commented on #2308
**Links for designs below**

Reaction core team link:
https://zpl.io/21ICk7

Public link:
https://scene.zeplin.io/project/58af8900737c137280322bd6/screen/59407f5ea520df15babe054b

[2017-07-01 14:34] bebob1 opened #2516 "mail parameter in example reaction.json is missing an option"
Not a big issue, but still I want to share it.

### Expected behavior
When setting the mail parameter in reaction.json correctly the mail server should be working after starting reaction up and show a green dot in the dashboard.

The example reaction.json says:
[code]

### Actual Behavior
Settings are put correctly in the dashboard, but the red stays red. Obviously the "service" option is missing.

[2017-07-03 06:00] vigyano commented on #2426
@spencern thanks for the update. So, will leave this bug open.

[2017-07-03 19:36] prinzdezibel commented on #1993
Fixed: https://github.com/reactioncommerce/reaction/pull/2518

[2017-07-04 09:48] vivekmore89 opened #2520 "How to add carousel on home screen like snapdeal?"
![snapdeal](https://user-images.githubusercontent.com/6220344/27825027-ecdee3a4-60cb-11e7-9325-1e670d75c8b2.png)

[2017-07-05 00:41] zenweasel opened #2521 "Archiving an option does not change price range display in product grid"
### Expected behavior
When an option is archived, the price range should change to reflect the change

### Actual Behavior
The price range remains the same

### Steps to Reproduce the Behavior
1. Clone the "Basic Reaction Product"
1. Archive the "Red" option so the price just shows $12.99 in the PDP
1. Publish
1. Observe that the price range on the product grid has not changed

### Versions
[code]

[2017-07-05 00:51] zenweasel opened #2522 "Setting product visibility is not reflected in the Product Grid reactively"
### Expected behavior
Setting a product as "visible" or "invisible" should be reflected immediately in the product grid when published.

### Actual Behavior
Changes are only shown on reload

### Steps to Reproduce the Behavior
1. Create a product, set it to visible and publish
1. Observe it in the Product grid
1. Set it to "Private" and publish
1. Observe that the Product Grid does not change
1. R

[2017-07-05 05:48] zenweasel commented on #2478
Closed via #2506

[2017-07-05 05:48] #2478 closed

[2017-07-05 06:17] zenweasel commented on #2485
Closed via #2508

[2017-07-05 06:17] #2485 closed

[2017-07-05 10:00] awadesmoline commented on #2464
@kieckhafer I also confirmed this to be caused by `react-komposer`. It calls the method when the component is unmounting, which tries to set the data for the component after it has unmounted already.
Please check if the fix [here](https://github.com/reactioncommerce/reaction/pull/2512) can be okay for now.

[2017-07-05 11:42] #2480 closed

[2017-07-05 22:30] kieha opened #2525 "LoadMoreProducts button not working as it should"
### Expected behavior

As an admin, If you have 24+ (say, 35) products, you should only be able to see the first 24 products and a `loadMoreProducts` button.

When you click on this button, the rest of the products should be loaded onto the page, and the button should disappear.

### Actual Behavior

#### Bug 1
As an admin with 24+ products, all the 24+ products are displayed, together with the `l

[2017-07-05 22:43] kieha opened #2527 "ReactionAlerts re-write to React"
[Reaction Alerts](https://github.com/reactioncommerce/reaction/blob/master/imports/plugins/core/layout/client/templates/layout/alerts/alerts.html) need to be converted to React to be used in the new React components.

E.g. in the React-ified product grid #2402, an alert needs to be rendered on a product when it's cloned. That's not currently possible as the Alerts are in Blaze, and they can't be r

[2017-07-05 23:06] kieckhafer opened #2528 "Use Badge component on Product Grid"
We should transition our product grid / search grid to use our `Badge` component for the `Sold Out` and `Low Inventory` quantity badges

`imports/plugins/included/product-variant/components/gridItemNotice.js`

https://docs.reactioncommerce.com/reaction-docs/master/badge

[2017-07-06 01:54] zenweasel commented on #2527
@kieha Is this different than what is here? https://styleguide.reactioncommerce.com/reaction/guide/alerts

[2017-07-06 05:34] zenweasel commented on #2504
Closed via #2511

[2017-07-06 05:34] #2504 closed

[2017-07-06 07:08] joykare commented on #2323
**Notes**
- WIP PR open for this:
    _ @kieha working off this branch to add some order functionality (the search and filters)
- Styling bits left on the orders:
    _ Pagination on orders list design should be on the top ... using <SortableTable /> the pagination component is rendered at the bottom
    _ When the orders sideview is open the table doesn't collapse enough to let the whole view be

[2017-07-06 08:29] kieha commented on #2527
@zenweasel not really. This allows for dynamic alerts.

E.g. when a product is cloned [here](https://github.com/reactioncommerce/reaction/blob/master/lib/api/products.js#L390), an alert object is added to the Alerts collection, either on success or failure. So, the implementation of [this](https://github.com/reactioncommerce/reaction/blob/master/imports/plugins/core/layout/client/templates/layout/

[2017-07-06 13:00] kieha commented on #2323
Update:
- filter/search functionality to be added in a separate branch/ticket.

[2017-07-06 13:29] kieha commented on #2325
Notes:
- Track progress on `kieha-select-orders-2325`

[2017-07-06 23:24] rymorgan commented on #1627
**Links for designs below**

**Reaction core team links**

Reorganized Top Cart
Web: https://zpl.io/1AnsjW
Zeplin App: zpl://screen?pid=58af8900737c137280322bd6&sid=5956f1e66f9912b81a8ce384

Reorganized Top Cart Edit View
Web: https://zpl.io/1AnsjW
Zeplin App: zpl://screen?pid=58af8900737c137280322bd6&sid=595ebb89a0925af7971479cd

Reorganized Side Cart
Web: https://zpl.io/1AnsjW
Zeplin App: zpl://

[2017-07-06 23:36] zenweasel commented on #1993
Fixed via #2518. Thanks again @prinzdezibel

[2017-07-06 23:36] #1993 closed

[2017-07-06 23:38] kieha commented on #2325
Updates:
- Select multiple orders/all orders listed functionality implemented
- Checking/unchecking functionality implemented
- Have most of the designs implemented

[2017-07-07 00:09] zenweasel commented on #2142
Closed via #2530

[2017-07-07 00:09] #2142 closed

[2017-07-07 00:12] zenweasel commented on #2213
@kieha So it seems like that was the original issue, that products were showing up under the wrong tag when they are unpublished?

[2017-07-07 08:40] zenweasel commented on #2309
I am working on this ticket now and fixing the items in @rymorgan's design review notes. Work is on `brent-completed-order-2309`

[2017-07-07 09:18] impactmass commented on #2186
Note: I started on this yesterday. I'll be posting an update about the state of this later today when I make a WIP PR.

[2017-07-07 09:39] joykare commented on #2377
**Notes**
- Taking up this ticket now

---> Starting with styling issues on the ticket
---> Will ping you @rymorgan when done

[2017-07-07 11:33] rnandhakumar1995 opened #2533 "TaxCloud: Tax codes dropdown is empty after api configuration."
### Expected behavior
Tax codes from tax cloud should load into the `tax code` dropdown in the product detail page after the tax cloud API has been configured.

### Actual Behavior
This does not happen.

### Steps to Reproduce the Behavior
1. Start reaction
2. Configure taxcloud API
3. Access tax codes dropdown in product detail page

### Versions
(run `reaction -v` from your reaction directory)
?

[2017-07-07 16:10] rymorgan commented on #2046
Closing in favor of all the Marketplace Orders Issues.

[2017-07-07 16:10] #2046 closed

[2017-07-07 16:14] rymorgan commented on #2155
Close in favor of https://github.com/reactioncommerce/reaction/issues/2342

[2017-07-07 16:14] #2155 closed

[2017-07-07 16:24] rymorgan commented on #2151
Closed in favor of https://github.com/reactioncommerce/reaction/issues/2323

[2017-07-07 16:24] rymorgan commented on #2151
https://github.com/reactioncommerce/reaction/issues/2323

[2017-07-07 16:24] #2151 closed

[2017-07-07 16:25] rymorgan commented on #2152
@spencern Do we still need this issue or is it covered with Marketplace Orders issues?

[2017-07-07 16:34] rymorgan commented on #2377
@joykare Awesome!

[2017-07-07 17:08] stevaras opened #2535 "IE11 Blank White Page in Development Branch"
**Expected behavior:**
See the Reaction Homepage and everything.

**Actual Behavior:**
Get a blank white page and nothing happens.
Many debugger errors in console but not sure which ones are the important ones.
( Can't post them now because I can't copy them from a Windows Virtual Machine )

**Steps to Reproduce the Behavior:**
Load Reaction Development Branch in IE11

**Versions**
Node: 7.1.0
NPM

[2017-07-07 17:34] spencern commented on #2533
Hi @rnandhakumar1995
Please fill out all of the fields in this bug report. (`Expected behavior`, `Actual behavior` and detailed `Steps to Reproduce the Behavior`) and then copy the output from running `reaction -v` into this bug.

We cannot track down causes for bugs without this information.

[2017-07-07 17:51] #2464 closed

[2017-07-07 17:53] awadesmoline commented on #2464
Closed via #2512

[2017-07-07 18:47] rymorgan commented on #2312
@spencern @zenweasel Will this be noted before the order complete view too? I can see customers getting frustrated if they only find out it's back ordered once the order has been completed.

[2017-07-07 19:43] spencern commented on #2152
@rymorgan I think this is covered by the Marketplace Orders Searching, Filtering, and Sorting issues.

Closing in favor of:
#2353 #2354 #2355  #2357 #2359 #2360 #2361 #2363

[2017-07-07 19:43] #2152 closed

[2017-07-07 19:45] spencern commented on #2312
@rymorgan I think it should be noted in the cart as well as the PDP if possible.

[2017-07-07 21:22] rymorgan commented on #2312
@spencern Agreed.

[2017-07-08 11:18] scottcwilson commented on #1590
Just installed and got this error after running for about 15 mins.  Here's my version information:

Node: 8.0.0
NPM: 5.0.0
Meteor Node: 4.8.3
Meteor NPM: 4.6.1
Reaction CLI: 0.10.2
Reaction: 1.3.0
Reaction branch: master
Docker: 17.05.0-ce

If this helps, my mail configuration hadn't been set so I was getting a series of

07:05:46.634Z  WARN Reaction: Reaction.Email.getMailUrl() - no email provide

[2017-07-08 23:01] nbaldwin opened #2539 "Order workflow reverts to processing"
### Expected behavior
When clicking the order action button, the order workflow should not change to "processing" for completed or cancelled orders.

![Clicking order action on completed order](https://user-images.githubusercontent.com/373151/27989805-4a17a34c-6407-11e7-8785-7750bb2a81dc.png)

### Actual Behavior

When clicking the order action button, the order workflow **always** changes to "pro

[2017-07-09 22:21] zenweasel commented on #1793
We are certified. Closing

[2017-07-09 22:21] #1793 closed

[2017-07-10 02:34] zenweasel commented on #2539
Closed via #2541

[2017-07-10 02:34] #2539 closed

[2017-07-10 02:37] zenweasel commented on #2520
Sorry, we need more information than this to be able to help you. This isn't a bug or enhancement request so I am closing it. You can reopen it if you can add more detail like exactly what you would like us to do.

[2017-07-10 02:37] #2520 closed

[2017-07-10 03:51] zenweasel commented on #2104
Closed via #2162

[2017-07-10 03:51] #2104 closed

[2017-07-10 07:40] #2051 closed

[2017-07-10 08:49] rnandhakumar1995 commented on #2533
When we configure the **taxcloud api**, the **taxcodes** from **tax cloud** does not load into the **taxcode** dropdown, under **taxable** option in **product detail** page.

[2017-07-10 08:55] zenweasel commented on #2533
@rnandhakumar1995 that description does not seem to match the description in the title.

[2017-07-10 09:00] impactmass commented on #2183
A note here:
_ Items/tickets that are checked and crossed out are done. Items that are checked, but not crossed have two parts to them: server implementation (which is complete), and UI aspect (still in progress).
_ The UI part (mostly around the Accounts part of admin dashboard and currently in Blaze) is being changed to React while also implementing the [new design](https://zpl.io/ZS1cRD). Progr

[2017-07-10 15:34] spencern commented on #2533
@rnandhakumar1995 I've updated your original report to reflect the information you've given us in this comment. Can you run `reaction -v` for us and provide the output?

[2017-07-10 16:43] rhenshaw56 commented on #2535
@spencern this seems to be fixed by this [PR](https://github.com/reactioncommerce/reaction/pull/2545). However, i noticed it had to do with IE not recognizing some arrow-functions and ES6 syntax on the current version of `transliteration` currently in use on the app. Importing the bundled version seems to work.

[2017-07-10 16:46] aaronjudd commented on #2535
I'm thinking that might be needed for the client version (the lib/api) (that's how I had to deal with it elsewhere) but not the server side..?

[2017-07-10 23:42] aaronjudd commented on #2527
Also see #429 (which you could close and replace with this issue) and for background  #2044

[2017-07-11 03:56] rnandhakumar1995 commented on #2533
**reaction -v**
Node: 7.10.0
NPM: 4.2.0
Meteor Node: 4.8.2
Meteor NPM: 4.5.0
Reaction CLI: 0.9.2
Reaction: 1.2.0
Reaction branch: master

[2017-07-11 17:42] jaden-chen opened #2546 "Safari shows blank page when running with reactioncommerce/reaction:latest docker image"
### Expected behavior
We should see reaction commerce site on Safari (both iOS and Mac)

### Actual Behavior
Safari shows blank page. Looking at the console, the error is:
`SyntaxError: Cannot declare a const variable twice: 'e'.`

Digging in the bundled js file, the exception happened in this function
`
!function() {
    var e = Package.meteor.Meteor,
        n = Package.meteor.global,
        t

[2017-07-11 17:46] spencern commented on #2546
@jaden-chen thanks for the report.

I'm thinking this might be related to #2535 which is being fixed in #2545

[2017-07-11 18:08] jaden-chen commented on #2546
@spencern
good to know. I just tried it on IE11 and yes, the console error is the same.

Since this is affecting the current stable version `v1.3.0`, and it's causing major service outage, , should this fix be patched instead of waiting for the next release?

[2017-07-11 18:16] spencern commented on #2546
@jaden-chen yes, I've added the `critical impact` label to this bug as it's affecting users of both IE11 and Safari. We've got @rhenshaw56 working on it already (as it's the same as #2535)

[2017-07-11 18:33] jaden-chen commented on #2546
Thanks so much! Looking forward to seeing this resolved.

[2017-07-11 21:00] machikoyasuda opened #2547 "UI bug on Safari: navbar links not vertically centered"
### Expected behavior

The Shop `tag link` text should be vertically centered relative to the navigation bar.

### Actual Behavior

In Safari, the link is not vertically centered. The issue stems from the parent `div`'s height: the `navbar-item` height should be 100% of the navbar, but that attribute is not being rendered by Safari.

### Steps to Reproduce the Behavior

1. open http://localhost:30

[2017-07-11 21:33] kieha commented on #2325
Updates:
- PR: https://github.com/reactioncommerce/reaction/pull/2549

[2017-07-11 22:34] rymorgan commented on #2325
Here are my notes for the design implementation so far.
![orders-list-select](https://user-images.githubusercontent.com/20409254/28093887-58753bae-664e-11e7-8c27-26d7ff480482.png)

[2017-07-11 22:38] rymorgan commented on #2325
@kieha Here's an example for the implementation of the uncheck/check I got from @mikemurray

Example:
<IconButton toggle={true} toggleOn={true} icon="fa fa-times" onIcon={"fa fa-star"} onToggle((event, isToggledOn) => {}) />`
https://styleguide.reactioncommerce.com/reaction/guide/button

[2017-07-12 00:14] carlos-olivera commented on #469
About this topic, I faced the same problem in my custom plugin, this is my solution:

[https://github.com/carlos-olivera/Next-Reaction/commit/bdbe8f8de24db93335c7f66688eca87af43cfc3f](https://github.com/carlos-olivera/Next-Reaction/commit/bdbe8f8de24db93335c7f66688eca87af43cfc3f)

I guess, is not the best way, due to overwriting in the Packages collection, nevertheless, for now, works.

[2017-07-12 01:31] zenweasel commented on #2547
Closed via #2551

[2017-07-12 01:31] #2547 closed

[2017-07-12 08:09] zenweasel commented on #2535
This problem is fixed if you use the fork that includes the code in the PR referenced above. I'm using my fork of it at "github:zenweasel/transliteration" for testing, but you could also use the authors at https://github.com/callthem-online/transliteration

[2017-07-12 08:11] zenweasel commented on #2546
Hey @jaden-chen Could you try changing your entry for transliteration in your `package.json` to be `    "transliteration": "github:zenweasel/transliteration",` and see if that fixes the problem. That's a fork of the transliteration package that includes some fixes for minification problems.

We will either see if we can get the changes merged in or we will create an "official" fork if that turns o

[2017-07-12 08:32] impactmass commented on #2184
Update on the Accounts UI rewrite work as at end of day yesterday:
_ I reviewed the current state of new account dashboard PR #2543 with @rhenshaw56
_ Our first task together was to rename components and container to reflect what they really are
_ Then I started modifying data functions to pass groups/users properly to SortabeTable, http://bit.ly/2tM2cj2 and http://bit.ly/2tLJjN7
_ @rhenshaw56 sta

[2017-07-12 15:34] spencern commented on #2546
Should be fixed by #2553.
We will have to release a patch version and update our latest docker image before this will be live on `reactioncommerce/reaction:latest`, but you should be able to load our development branch on both IE11 and Safari now.

[2017-07-12 15:36] spencern commented on #2535
Fixed by #2553

[2017-07-12 15:36] #2535 closed

[2017-07-12 21:38] spencern commented on #1590
@mikemurray has been experimenting with using the latest release candidate for Meteor which to this point looks to mitigate this bug. I can't imagine we'll push it as the official release until it's an official release for Meteor, but if you're fed up with getting `toString`ed and want to try something try running with Meteor `1.5.1 rc5`

[code]

[2017-07-12 22:31] zenweasel commented on #2546
@jaden-chen You should be able to just test with the current `development` branch now. If that works for you we will try to get a release out shortly.

[2017-07-12 23:30] jaden-chen commented on #2546
@zenweasel @spencern I just verified that it's now working correctly on Safari and IE11 with the changes in `development` branch. Thanks all for the promptly resolution.

FYI (Different issue): It seems like websocket connection fails to establish On Safari
`[Error] Refused to connect to ws://localhost:3000/sockjs/418/kkt124_m/websocket because it does not appear in the connect-src directive of th

[2017-07-12 23:54] zenweasel commented on #2546
@jaden-chen Thanks for the update.

[2017-07-13 00:30] kieha commented on #2325
@rymorgan not entirely sure what you mean by `rectangle for unchecked` on the checkbox unchecked status. Mind giving a visual example, like a checkbox with the rectangle in it perhaps?

[2017-07-13 08:18] #1443 closed

[2017-07-13 08:34] impactmass commented on #2184
Status of the UI: [screen_recording](https://drive.google.com/file/d/0B3QU75e2I0mweG1YV01fSm43MHM/view?usp=sharing)

[2017-07-13 20:34] rymorgan commented on #2325
@kieha And I talked this through on slack. And I added notes to zeplin here:
https://zpl.io/RwXUT

[2017-07-13 21:50] rymorgan commented on #2194
Here are the latest screens for Permissions. After looking through it with @kieckhafer made some small edits.

1. A different way to change the default group.
2. Changed one icon button from a cog to a pencil b/c it makes more sense.
3. Added a way to delete groups.

Screens:
Intial User Screen- https://zpl.io/Z162xqi
Edit Permissions Screen - https://zpl.io/nVX8n
Edit Groups - https://zpl.io/Zh8R

[2017-07-13 21:52] rymorgan commented on #2183
Adding this here -- here are the latest screens for permission, made a few small updates mentioned here: https://github.com/reactioncommerce/reaction/issues/2194

Screens:
Intial User Screen- https://zpl.io/Z162xqi
Edit Permissions Screen - https://zpl.io/nVX8n
Edit Groups - https://zpl.io/Zh8Rdn
Add Group - https://zpl.io/ZTEMLM
Edit Ownder - https://zpl.io/15nVaK

[2017-07-13 22:35] kieha commented on #2325
@rymorgan I made the improvements as requested. The PR is ready for another design review.

[2017-07-13 23:49] rymorgan commented on #1627
Links for designs below

We want to reorganize and clean up the cart. We also want to add the option for a side cart. This should be added as a preference in settings somewhere.

**Reaction core team links**

Reorganized Top Cart
https://zpl.io/1AnsjW

Reorganized Side Cart
https://zpl.io/Z2gsgRt

Public Links:
Reorganized Top Cart
https://scene.zeplin.io/project/58af8900737c137280322bd6/screen/59

[2017-07-14 08:34] impactmass commented on #2194
Thanks @rymorgan. I'll take a look at the designs. If there be questions, I'll ask you/Erik.

Just a note: I'm using this other ticket #2184 to post updates of the state of the implementation.... there's a number of tickets related to this mockup, but I'm just posting in one ticket ( #2184)

[2017-07-14 08:39] impactmass commented on #2184
I've accomplished:
i) A bunch of CSS cleanups on the existing PR #2543 to make the table easier to style as the mockup has it
ii) Added sorting to groups to show owner group at the top
iii) Added and finished `addGroupMember` module (focusing on base functionality and not perfect styling for now)
iii) Current view

![screenshot 2017-07-14 09 17 38](https://user-images.githubusercontent.com/5229321

[2017-07-14 10:44] #2525 closed

[2017-07-14 16:10] rymorgan commented on #2184
@impactmass The Two-factor column doesn't need to be included b/c it's something we don't' have yet. I added it to the mock because it's something we want to add down the line.

[2017-07-14 16:10] rymorgan commented on #2184
Adding these files here since this is the issue that's being updated with status.

Screens:
Intial User Screen- https://zpl.io/Z162xqi
Edit Permissions Screen - https://zpl.io/nVX8n
Edit Groups - https://zpl.io/Zh8Rdn
Add Group - https://zpl.io/ZTEMLM
Edit Owner - https://zpl.io/15nVaK

[2017-07-14 16:54] aaronjudd opened #2557 "ReactTable UI display issues"
UI issues displaying empty tables.

![reaction](https://user-images.githubusercontent.com/439959/28221924-21cabaec-687a-11e7-934c-35a665a4bc63.png)

<img width="561" alt="reaction_and_1__rc__node__and_reactioncommerce_reaction" src="https://user-images.githubusercontent.com/439959/28221908-161e7c60-687a-11e7-9f6a-c890e955e202.png">

[code]

[2017-07-14 22:22] rymorgan commented on #2384
Also, to further clarify how in vision this working here's a link to a prototype.

One note on this is, because of the limitation of the prototype, when you click on pick/pack it selects both of the items when it should just select the one. Which you will see in the static mocks with the different state examples I've included.

https://projects.invisionapp.com/share/6DCLMUHSJ#/screens/243469232

[2017-07-14 22:53] rymorgan commented on #2344
We can use the existing badge status labels (red with the proper label). But I suspect that's not enough urgency.

If that's enough, here's an idea of how we raise the level of alert.
https://zpl.io/1D2fj5

[2017-07-14 22:59] rymorgan commented on #2321
Yea, in this type of order history, you could view the order tracking. I've also added tracking to the line item order fulfillment view.

https://zpl.io/Z1W3XnP

[2017-07-14 23:14] kieckhafer commented on #2557
The No Results UI is the default that comes with React-Table, we can definitely update it to look a little different, but I don't know if that's technically a bug so much an enhancement.

@rymorgan We briefly discussed this, but decided to stay with this just to get it pulled in. Any thoughts since then?

The page dropdown on the second line probably shouldn't be happening.

[2017-07-14 23:22] kieckhafer opened #2559 "Add Instagram Login / registration as an option"
We'd like to add the option to login / register for Reaction with Instagram. There are existing packages that should be looked into:

https://atmospherejs.com/packages/instagram

We'll also need to add a field into the admin which allows the shop owner / admin to add their Instagram developer api key / access token, similar to what we have for Facebook, Twitter, etc.

<img width="487" alt="reactio

[2017-07-15 08:17] ottomMT opened #2560 "Products created with the same name will have the same url"
Sometime,we will have the same general name with the product,so they got the same url, then ,we will just reach the one of them.

So can we add a number or other label to differ their url?

[2017-07-16 23:46] zenweasel commented on #2560
We have talked about doing this automatically, but currently you can change the URL for a product here:

![dc_men_s_pure_se_skate_shoe](https://user-images.githubusercontent.com/72819/28252351-ef101b50-6ac3-11e7-9224-c90584547bb7.png)

[2017-07-17 10:58] ottomMT commented on #2560
Got it,thanks!

[2017-07-17 20:19] spencern commented on #2546
This should be fixed on our docker build with the release of 1.4 https://github.com/reactioncommerce/reaction/releases/tag/v1.4.0

[2017-07-17 20:19] #2546 closed

[2017-07-17 22:45] aaronjudd commented on #2557
I think that this UI looks broken, and it's not an enhancement, but falls under UI QA, and is a bug...  we should clean this up.

[2017-07-17 22:48] aaronjudd commented on #2560
I think this is a valid issue..  more of an enhancement than a bug, but this should get tasked.. it'd obviously similar to the copy functionality when cloning products.

[2017-07-17 22:51] zenweasel opened #2568 "Warning/Errors in Safari in private browsing mode"
If you visit Reaction in Safari in private mode you see the following error messages in the console. Not sure what functionality issues this causes if any but we probably want to track them down a silence the warnings if they aren't pertinent.

![reaction_swag_shop_and_reaction_swag_shop](https://user-images.githubusercontent.com/72819/28297050-60290c4a-6b9e-11e7-8d99-cbb0ea92ee05.png)

[2017-07-17 22:59] aaronjudd commented on #2274
Removed "critical impact" with the merge of #2531

[2017-07-18 02:01] zenweasel opened #2569 "Errors in console when clicking on Order Search results"
### Expected behavior
No errors in console, order panel never opens

### Actual Behavior
Receive the following error in the console and the order panel never opens
[code]

### Steps to Reproduce the Behavior
1. Login as admin
1. Enable shipping and Stripe
1. Place an order
1. Go to home screen
1. Go to Search and select orders
1. Enter a search query that will bring up results (such as your email)

[2017-07-18 04:44] aaronjudd commented on #2333
By removing the `bcrypt` package and letting Meteor default back to the slower js version of `bcrypt`,  I was able to successfully builds now _without the ..module error_.

I am hoping the ..modules error may been caused by the various build issues reported on the bcrypt repo, and that the build was attempting to use the failed install(?).

[code]
...

Successfully tagged reactioncommerce/reaction

[2017-07-18 05:14] jshimko commented on #2333
I can confirm this fixes the build issues on macOS.  And the container definitely runs/works.

I love fixes like that.

This doesn't explain why every other Meteor app isn't having the same problem, but I'll take the win!

[2017-07-18 05:19] aaronjudd commented on #2333
Inspired by @tdmoneybanks suggestion that we remove bcrypt, once I started looking at those build errors I got suspicious as this was very similar to a closed Meteor issue for `node-pre-gyp` failing to build.  I'd looked at this before and didn't want to remove because it leaves us with a nasty warning that life will be 3x slower (although, in practice, will it really?)...

[2017-07-18 06:21] jshimko commented on #2333
JACKPOT.  Just proved it's 100% on Meteor and has nothing to do with Reaction.

Reproduction steps...
[code]
Now confirm it was bcrypt for good measure...
[code]

I'll file an issue with them in the morning.

[2017-07-18 08:13] zenweasel commented on #2559
Closed via #2562

[2017-07-18 08:13] #2559 closed

[2017-07-18 20:50] naymaeu commented on #1868
I agree that - l`m looking for solution how to fix this. Any advice from reaction developers ?

[2017-07-18 22:58] impactmass commented on #2184
Detailed update/status (plus beginning of PR review) on the PR here #2543

[2017-07-19 03:28] Tyler-Churchill commented on #2447
I had this issue today

It happened when using the reaction-cli with "reaction init"
I also had the same "Host key verification failed" messaged when I cloned directly with git
On windows 10 Home 1607 14393.1480 64 bit

I reinstalled meteor/git and the problem has disappeared.

[2017-07-19 08:34] vigyano commented on #2426
@zenweasel - is anyone working on this issue?

[2017-07-19 23:42] #2333 closed

[2017-07-19 23:46] stunjiturner commented on #2333
So is the solution to use the bcryptjs workaround? I would like to get started with the docker image build process, I lost few days when I attempted a couple weeks ago, the docker mac build solution in the docs.

S. Tunji Turner
sightuary

[2017-07-19 23:47] aaronjudd commented on #2213
@awadesmoline any update or progress on this issue? should we unassign?

[2017-07-20 10:10] awadesmoline commented on #2213
@aaronjudd sorry I should have updated this issue instead of the PR (#2534) I raised.

**Update**

I figured this is caused by the before hook on Products in Revisions [here](https://github.com/reactioncommerce/reaction/blob/development/imports/plugins/core/revisions/server/hooks.js#L602-L603). Because of this, we can't add a tag to a product in the database (which means the product will not displ

[2017-07-20 10:14] ronaldocpontes commented on #2333
Hi @jshimko

I would be very interested in following the issue tracker for bcrypt in Meteor.

Would you be able to provide us with the link?

[2017-07-20 11:13] jekaspekas opened #2578 "Return of the standard values of Shop Localization, Languages and Currencies after every Meteor server restart"
### Expected behavior
Do not set the defaults from the file "\private\data\Shops.json" after each server reboot.

### Actual Behavior
Return of the standard values of Shop Localization, Languages and Currencies after every Meteor server restarted.

### Steps to Reproduce the Behavior

1. Start reaction
1. Change any Dashboard values of Shop Localization, Languages or Currencies. After restarting t

[2017-07-20 12:54] aaronjudd commented on #2333
@stunjiturner yes, seems to be the fix. Something else that we could try is going back a few versions of bcrypt until we find one that does work with the Meteor build. (at some point, there had to be a compatible release).

[2017-07-20 13:06] aaronjudd commented on #1590
Depending on how high you've set your file limits, you may still experience this issue occasionally, but with Meteor 1.5.1 the issue is mostly gone, although not 100%.   Closing this issue as `won't fix`,

[2017-07-20 13:06] #1590 closed

[2017-07-20 13:16] zenweasel commented on #2578
I can confirm that this is happening. This has to be a recently (re)introduced bug.

[2017-07-20 22:03] joykare opened #2579 "Issue with reactivity on badges on Orders Detail View"
### Expected behavior
- When the workflow status of an order changes the badge on the orders detail view should change accordingly.

### Actual Behavior
 - Badges on orders detail view remain unchanged after workflow status is changed.

Example:
 - Workflow status is shipped `completed` but badge on the detail view is still `new`

![cart_completed](https://user-images.githubusercontent.com/72819/2

[2017-07-21 01:39] zenweasel commented on #2579
Looks like this only happens on the "expanded detail view". The "summary" view works fine.

[2017-07-21 01:59] jshimko opened #2581 "ProductAdmin meta textfields throwing errors on state change"
Editing meta textfields in the ProductAdmin component is causes an issue with the field's state which throws an error in the console.

<img width="1679" alt="basic_reaction_product_and_reaction_ _working_copy__register-component-api_ _29_changed_files_" src="https://user-images.githubusercontent.com/3077956/28440267-7e3e3846-6d73-11e7-83c1-8994ed285008.png">

The state change that's throwing the e

[2017-07-21 05:34] zenweasel opened #2582 "Option name does not change when edited"
### Expected behavior
When you change the option title (not the label) it should change elsewhere

### Actual Behavior
It does not change unless you delete the existing contents and then click away and then replace it.
![basic_t-shirt](https://user-images.githubusercontent.com/72819/28450308-2595a6ec-6e19-11e7-8d14-deec6987f41a.png)

### Steps to Reproduce the Behavior
1. Login as admin
1. Create

[2017-07-21 10:09] kieha commented on #2341
#### Notes:
- Track progress on branch `kieha-bulk-order-status-2341`

#### Updates:
- Implemented list that shows up on `Bulk Actions` click
- Have most of the designs for the list above implemented

[2017-07-21 10:17] kieha commented on #2325
Closed by #2549

[2017-07-21 10:17] #2325 closed

[2017-07-23 21:14] lil5 opened #2586 "Remove jQuery dependency"
If you are using es6 and react js

Aren't these helpful enough to remove jquery?

_Sent from my Wileyfox Swift using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-24 06:01] lil5 opened #2587 "iDeal payment option (incl. Bitcoin)"
Mollie is the only one I know that has an api for nodejs

Mollie website:
<https://www.mollie.com/nl/>

Nodejs Mollie api:
<https://github.com/mollie/mollie-api-node>

See here all the [Pricing and payment options](https://www.mollie.com/nl/pricing/)

[2017-07-24 11:12] impactmass commented on #2194
A functional (base) UI of the groups view (creating and editing groups, switching user from one group to another, and adding users to groups) was merged in with this PR #2543.
Now, admins can create permission groups from the UI (using the already merged in methods #2448) .

[2017-07-24 11:13] #2194 closed

[2017-07-24 11:21] impactmass commented on #2184
After merging in #2543 (which sets up base UI for creating and editing groups, switching user from one group to another, and adding users to groups), I'll be making the updates below as @spencern mentioned them while we walked through the UI:

(i) Let the "remove" button change a user to customer group, instead of no group at all
(ii) When a new group is created, use default customer permissions +

[2017-07-24 13:09] kenpeter opened #2589 "How to set up reaciton with nginx on ubuntu 16.04?"
### Expected behavior

expect hit shopshop.space will load reaction commence.

### Actual Behavior

[code]

### Steps to Reproduce the Behavior

My nginx config:
[code]

[code]

[code]

### Versions
(run `reaction -v` from your reaction directory)

[code]

For enhancements or other issues, please describe in as much detail as
possible how the app should be changed and how this would benefit
users/

[2017-07-24 13:59] jshimko commented on #2589
This isn't an issue with Reaction.  It's an issue with your proxy setup.  Aside from that, you're running the development version of Reaction by doing what you've outlined above.  That is not suitable for a production deployment for a long list of reasons.  It's only intended for local development.

I suggest you build a Docker container and deploy that instead.  It is the officially supported met

[2017-07-24 13:59] #2589 closed

[2017-07-24 14:00] jshimko commented on #2589
or if you're not customizing Reaction, you can skip the build and just run the official image.

[code]

[2017-07-24 19:03] aaronjudd commented on #2586
Reaction does not have a direct jquery dependency, but Meteor Blaze does. We'd love to see it gone, but it's a dependency of Blaze templates. Once we've converted the entire UI to React (almost there) there won't be any need for it, but I'm betting we have some Meteor dependencies that will still be including jquery - and we'll work through updating/removing as we identify those dependencies.

[2017-07-24 19:03] #2586 closed

[2017-07-24 23:58] aaronjudd commented on #2578
In addition, we should add a flag for the ENV commandline -> that just allows bypassing of the imports completely.

[2017-07-25 00:17] aaronjudd commented on #2582
This is also displaying an uncaptured error on the server console, which should be trapped.

[2017-07-25 00:19] aaronjudd commented on #2587
We don't have any plans to add additional payment methods to the core, but would be happy to re-open with a PR.

[2017-07-25 00:19] #2587 closed

[2017-07-25 04:48] jshimko opened #2592 "update react-measure to 2.x"
[`react-measure`](https://github.com/souporserious/react-measure) has some minor breaking changes in the 2.x update.  Specifically, the `children` prop [must be a function](https://github.com/souporserious/react-measure#children-proptypesfunc).  Passing in a React class component does not work anymore. Not really sure why they'd put this limitation in place, but they did and we can't update until

[2017-07-25 04:53] jshimko commented on #2592
We should also consider using [their HOC](https://github.com/souporserious/react-measure#withcontentrecttypes-hoc) - especially since we now have the new components API and that would allow third parties to override the UI without having to implement the `react-measure` logic.

[2017-07-25 07:53] awadesmoline commented on #2522
Closed via #2561

[2017-07-25 07:53] #2522 closed

[2017-07-25 08:19] zenweasel commented on #2521
Closed via #2585

[2017-07-25 08:19] #2521 closed

[2017-07-25 15:27] aaronjudd opened #2593 "i18n and currency elements not all updating on change"
Change currency or i18n in a page where there are multiple localized elements, and you will see many of the components are not update on language / currency changes.
Behavior was introduced in #2536.

<img width="1193" alt="reaction" src="https://user-images.githubusercontent.com/439959/28579879-c2fc3364-7112-11e7-9251-e267477da1ed.png">
<img width="920" alt="basic_reaction_product" src="https://u

[2017-07-25 17:03] Makinsane opened #2594 "Can you add Indian payment gateways like paytm etc. and also provide indian currency."
Can you add an extension for indian currency too.
I would also like if the templating engine docs are a simpler

[2017-07-25 17:49] #1874 closed

[2017-07-25 22:36] aaronjudd commented on #2593
Verified not in `master` -> discussed with @mikemurray @kieckhafer as well in components meeting.

[2017-07-26 07:25] #2579 closed

[2017-07-26 07:26] joykare commented on #2579
Fixed it PR #2519

[2017-07-26 10:24] rosygupta commented on #2120
Hey how did you solve this?

[2017-07-26 12:44] janus-reith commented on #2592
Funny coincidence - I just did that yesterday in my plugin, as I used react-measure around a react-konva canvas which replaces MediaGallery, and getting the Dimensions after updating the component was not working on some browsers including Firefox and Edge.
react-measure 2.x fixed these issues, so I second that.

[2017-07-26 15:29] Makinsane opened #2595 "Where is the password for the new users created by admin? Why isnt the register button working?"
Where is the password for the new users created by admin? Why isnt the register button working?

[2017-07-26 17:45] #2050 closed

[2017-07-26 20:43] jshimko commented on #2595
Can you please fill out the issue template that you deleted to type your message?  We ask for that info for good reasons.  And we can't help you until you provide more information.

Thanks!

[2017-07-26 21:12] kieckhafer commented on #2594
Hi @Makinsane,

Check out this recent PR for an example of how to add a currency: https://github.com/reactioncommerce/reaction/pull/2517

If you'd like to do that and create a PR into our repo, we'd be happy to review it and pull it in.

We also have a tutorial in our docs specifically geared towards adding a payment provider: https://docs.reactioncommerce.com/reaction-docs/master/creating-a-payme

[2017-07-26 21:12] #2594 closed

[2017-07-26 21:21] #2595 closed

[2017-07-27 00:18] kenpeter opened #2598 "How to run reaction commence in background forever?"
Hi,
I am using reaction commerce https://github.com/reactioncommerce/reaction.

I run from source code, as I did some customisation. I tried `reaction &`. It will eventually die.

How do I run reaction commence in background forever?

[2017-07-27 00:26] aaronjudd commented on #2598
running `reaction` runs in `development` mode.  It should stay running until you ctrl-c.  If it's dying, it's likely due to a need for [increased files limits](https://docs.reactioncommerce.com/reaction-docs/master/requirements), or memory that the development version needs(because it's always watching for changes).

This is not how Reaction runs production, you compile (build) a node app that is

[2017-07-27 00:26] #2598 closed

[2017-07-27 00:27] spencern commented on #2598
Hi @kenpeter

Short answer:
Running Reaction via the `reaction` command is meant entirely for development. It is not built for deployment should not be use in production.

Our [Deployment Docs](https://docs.reactioncommerce.com/reaction-docs/master/deploying) cover how to deploy Reaction in depth, and if you run into any trouble there, I'd recommend checking with our [gitter chat](gitter.im/reacti

[2017-07-27 02:32] curranabell commented on #1815
@spencern @aaronjudd I was working on a plugin that would replace collectionFS with meteor slingshot but got pretty distracted with other projects and wanted to wait until the replace component api was finished. Meteor slingshot is nice because it sends it directly to S3 or other cloud storage without going through the server and putting an unnecessary load on it. https://atmospherejs.com/edgee/sl

[2017-07-27 02:40] jshimko commented on #1815
There are npm packages that do the same thing and aren't Meteor-specific.  And I'm not sure that Slingshot is even still maintained.  I absolutely agree that we need more flexible options, but we may need to write our own (or pull someone else's code in) because we definitely don't want to replace one abandoned package with another.

[2017-07-27 02:43] curranabell opened #2600 "Possible Open Source Drag n Drop Javascript Page Builder"
It would be great if there was a drag and drop page builder for users who don't want to learn how to build custom pages and especially clients. Here's an open source npm package that is pretty cool. A little complicated though.

https://github.com/artf/grapesjs

[2017-07-27 02:45] curranabell commented on #2600
Meant to put this in the content creation milestone.

[2017-07-27 02:48] jack2ky commented on #2120
I just got this error too. What's going on. I use mlab.

[2017-07-27 02:49] jshimko commented on #1815
This is Meteor-specific, but it's actively maintained.  https://github.com/VeliovGroup/Meteor-Files

The biggest complaint I have there is that it's a mess of Meteor-style globals and comes with few other dependencies we don't want/need (coffeescript, etc).  But it's possibly a good starting point for putting together our own solution that isn't dependent on the the database for binary file storag

[2017-07-27 02:50] curranabell commented on #1815
Ahh very very true. Maybe we could just pull some of the code from Meteor slingshot because it still works great with react and react dropzone then package it up in our own plugin. @jshimko

[2017-07-27 02:57] curranabell commented on #1815
Meteor files seems like it is forsure the way to go. Solid. I already got the front end of a media uploader plugin built that allows the user to choose his s3 storage location, bucket name, input api key, and secret key just didn't get any backend stuff going as I wasn't sure what direction you all were thinking of going with the media uploader.

https://github.com/curranabell/reaction-slingshot/b

[2017-07-27 03:25] aaronjudd commented on #1815
`dependent on the the database for binary file storage.` and works ephemerally out of the box without signing up for a 3rd party solution?

That has been one of my primary requirements, and I'm not sure how you can get that without DB based file storage (which in a really high traffic situation could be on their own shard). -> I think that this should be at least available as a backup option (conf

[2017-07-27 05:46] jack2ky commented on #2120
It looks the problems is most likely because you have the "sandbox" version and you used up the space available.

You get a half a gigabyte https://mlab.com/plans/pricing/

[2017-07-27 14:05] jshimko commented on #1815
Oh yeah, I definitely didn't mean that I think we shouldn't have the DB option.  That's extremely useful/convenient.  Requiring people to use a non-free third party destination for images would obviously not be better.  I just meant that we need it to not be the _only_ option.  Which is essentially the same thing you said... default storage comes for free with the DB as always and then the same AP

[2017-07-27 17:53] rymorgan commented on #2557
@aaronjudd Worked with @kieckhafer on this yesterday. Here's the PR to check it out. We are aware there is an issue with the next button when pagination kicks in. @kieckhafer Is creating another issue for that.

https://github.com/reactioncommerce/reaction/pull/2597

[2017-07-27 17:56] kieckhafer opened #2603 "Previous / Next buttons not working in sortableTable"
![somedays_velvet_bomber_jacket](https://user-images.githubusercontent.com/4482263/28684326-d3b70f9c-72b8-11e7-90f0-bf583013b665.png)

The onClick functionality of sortableTables Previous and Next buttons seems to be broken.

I've been chatting in React Table's Gitter room trying to figure out the issue. It looks like even the built in Prev / Next buttons aren't working, so I think the issue is bi

[2017-07-27 23:45] #2370 closed

[2017-07-28 06:45] impactmass commented on #2187
Resolved by #2588

[2017-07-28 06:45] #2187 closed

[2017-07-28 06:48] impactmass commented on #2184
Resolved with the work done in #2184 and #2194

[2017-07-28 09:54] kieha commented on #2341
Updates:
- Have part of the functionality for setting the status of an order implemented.
- I realized that the statuses of `picked` and `labeled` don't currently exist. Working on creating backend methods for them.

[2017-07-28 16:26] spencern commented on #378
Should be closed by #2584.

@aaronjudd should I create a separate PR for merging the Shopify connector into `development` as well?

[2017-07-28 16:30] #2184 closed

[2017-07-28 16:31] spencern commented on #2212
Resolved by #2429

[2017-07-28 16:31] #2212 closed

[2017-07-28 16:37] spencern commented on #2195
@impactmass - I _think_ this is partially completed by your groups PR as changing the permissions in the dashboard will update all users with that group, correct?

What is not completed here is if you use the `addRolesToGroups` method I don't think that checks existing users.

[2017-07-28 16:47] spencern commented on #1578
@lcampanis This may be more feasible from a plugin now with the new accounts components and group based permission features. Let me know if there's anything I can do to help you deliver this feature

[2017-07-28 17:44] impactmass commented on #2195
Yes. Changing it in the dashboard updates the users. The pending part is `addRolesToGroups`.

[2017-07-28 20:38] spencern opened #2604 "Add new migration for splitting order payments and shipments"
Once we've got the schema and data model ironed out for split orders, split payment, & split shipments, we need a migration to upgrade old orders to use the new model.

Initial PR for this is #2524

[2017-07-29 02:54] spencern opened #2605 "[1.5.0] Reset password link and overlays broken"
This seems to be related to the move to the RegisterComponent API and is possibly due to the fact that much of this happens in overlays, but I'm not fully convinced it may just be a rogue component not being registered correctly.

To Reproduce:
1. checkout `development` or `marketplace`
2. Click "reset password"
3. Observer the following error
[code]

Also happens and I first noticed it when tryin

[2017-07-29 06:59] spencern commented on #2195
Closed by #2606

[2017-07-29 06:59] #2195 closed

[2017-07-29 11:29] jshimko commented on #2605
I'm 99.9% positive I know what that is.  I'm traveling today, but I'll knock this out at some point this weekend.

[2017-07-29 21:09] spencern commented on #2605
Thanks Jeremy. We'll hold off on finishing up #2538 until that.

[2017-07-29 23:18] #378 closed

[2017-07-30 12:06] augmen opened #2607 "Error"
i run the command
'reaction run'

`You are attempting to run Meteor as the 'root' superuser. If you are
developing, this is almost certainly *not* what you want to do and will likely
result in incorrect file permissions. However, if you are running this command
in a build process (CI, etc.), or you are absolutely sure you know what you are
doing, set the METEOR_ALLOW_SUPERUSER environment variable

[2017-07-30 12:33] jshimko commented on #2607
This isn't an error.  It's just a warning.  And I'm not sure I can say much about it that isn't already in the warning itself.

In general, you shouldn't be developing as a root user on your development machine, but if you want to, all of the contents of that warning apply.  It mostly just means that if you start working as root, you'll have to either _always_ run as root or you'll have to fix fil

[2017-07-30 12:33] #2607 closed

[2017-07-30 23:53] zenweasel opened #2608 "[1.5.0] Investigate issue with cart merge test failing whenever the quantity is 1 + 1"
I notice that this fails whenever it merges a cart with quantity 1 with another cart of quantity 1. Verify that this isn't an actual bug.

[2017-07-31 02:22] augmen commented on #2607
what is the standard practice . to use as root user or non root user. also guide us on the codes for standard practice. Thanks

[2017-07-31 02:44] zenweasel commented on #2607
@augmen Standard practice is to not run as superuser in development. The instructions don't state to run as `root` so I think you can take that as implicit guidance to run as a normal user.

[2017-07-31 02:47] augmen commented on #2607
so whats the exact code to run as normal user ?

[2017-07-31 02:51] zenweasel commented on #2607
You would need to be logged in as a normal user in whichever operating system you are using. It has nothing to do with the command per se, but who your current user is.

[2017-07-31 02:53] augmen commented on #2607
logged in to VPS as root user . `ssh -t roo@ipaddress`.

[2017-07-31 02:56] zenweasel commented on #2607
It's beyond the scope of what we do here to explain how to use your operating system, but you would need to go through whatever process is required to create a "normal" user and then login using that user. The documentation for your operating system is the best source for that information.

[2017-07-31 02:57] augmen commented on #2607
thanks appreciated

[2017-07-31 05:46] zenweasel commented on #2578
I tested this back to `v1.0.0` and it's still happening so my idea that this is a recently re-introduced bug seems to be false.

[2017-07-31 23:23] aaronjudd commented on #2593
@mikemurray @jshimko assigning this to you guys, whomever gets there first.

[2017-07-31 23:31] aaronjudd commented on #2603
Which version? Marketplace? 1.5.0? master?

[2017-07-31 23:37] zenweasel commented on #2569
Closed via #2574

[2017-07-31 23:37] #2569 closed

[2017-07-31 23:41] spencern commented on #2600
This could be a good community sponsored plugin if there is interest in this.

For the core product, we're moving towards a component based content management. Currently we don't have an open issue for this, but would welcome ideas for third-party components that might help us achieve this goal.

For now I'm going to close this issue for now, but feel free to keep adding more details to this issue

[2017-07-31 23:41] #2600 closed

[2017-07-31 23:47] aaronjudd commented on #2581
@jshimko @mikemurray assigned to you.

[2017-07-31 23:50] spencern commented on #2605
@jshimko Assigning you on this one, but if you can't figure it out quickly let us know what to look for and we can pop someone else on this.

[2017-08-01 00:01] #343 closed

[2017-08-01 01:21] zenweasel commented on #2578
Not sure if this is related to the cause of this issue, but even with the entirety of `load-data.json` commented out `Shops` data is still being loaded. 🤔

[code]

[2017-08-01 06:15] jekaspekas commented on #2578
You run the console command: `reaction reset` ???

[2017-08-01 06:20] zenweasel commented on #2578
pardon?

[2017-08-01 07:54] jekaspekas commented on #2578
In my case, changes to the file "\server\startup\load-data.js" did not change the boot logic without console command: `reaction reset`
P.S. Sorry for my English

[2017-08-01 20:49] kieha opened #2614 "[Marketplace] Notification page not found"
### Expected behavior

When I click on the notifications icon on the navbar, Clicking on `View All` should take me to the notifications page.

### Actual Behavior

Clicking on `View All` takes me to the `Not found` page.

### Steps to Reproduce the Behavior

1. Make an order (as admin or non-admin)
2. Click on the notifications icon on the navbar
3. Click on the `View All` link
4. Observe that you

[2017-08-01 22:01] zenweasel opened #2615 "[Marketplace] Can't check out using Stripe"
### Expected behavior
After submitting payment, should place order and move to completed page

### Actual Behavior
Checkout page just reloads

### Steps to Reproduce the Behavior
1. Login as admin and configure payment method to Stripe
1. Attempt to checkout
1. Observe that after you hit "Complete Your Order" that it will pause and then just return to the checkout page with no errors.

### Version

[2017-08-01 22:08] zenweasel opened #2616 "[Marketplace] Payment gets stuck on "Order Processing" spinner when checking out with Authorize"
### Expected behavior
1. "Order Completed" page should load after order is complete

### Actual Behavior
Endless spinner(s). Order **does** complete however, and a refresh loads the correct page.
![cart_completed](https://user-images.githubusercontent.com/72819/28849207-9f1ae418-7748-11e7-9138-f90578cbe07e.png)

### Steps to Reproduce the Behavior
1. Login as admin and set payment method to Author

[2017-08-01 22:19] zenweasel opened #2617 "[Marketplace] When using "collapsed" order view, order detail is not always visible."
### Expected behavior
Order detail panel should always be visible

### Actual Behavior
Order detail panel appears not to open because it is hidden. The main list view area should shrink to accomodate the expanded panel. Moving to "expanded" view shows the panel however.
![order-detail-panel](https://user-images.githubusercontent.com/72819/28849572-2b96f6ce-774a-11e7-8f98-852b7cee6fca.gif)

### Ste

[2017-08-01 22:29] zenweasel opened #2618 "[Marketplace] Cannot issue refunds"
### Expected behavior
You should be able to issue refunds

### Actual Behavior
Just receive an endless spinner

### Steps to Reproduce the Behavior
1. Place an order
1. Approve and Capture the order
1. Attempt to create a refund
1. Observe that it never completes

### Versions
[code]

[2017-08-01 23:08] spencern commented on #2605
Fixed by #2612

[2017-08-01 23:08] #2605 closed

[2017-08-01 23:18] zenweasel opened #2619 "[Marketplace] Clicking on "Accounts" throws an error/endless spinner"
### Expected behavior
Clicking on Account should take open the accounts panel

### Actual Behavior
Receive following error in the console and endless spinner in main window
[code]

### Steps to Reproduce the Behavior
1. Login as admin on `marketplace` branch
1. Click on Accounts

### Versions
[code]

Because this area is actively being worked on I added the commit info

[2017-08-01 23:50] spencern commented on #2615
Assigning myself to this for now as I think it's related to some legacy marketplace code. Hope to get it fixed during my stripe connect build.

[2017-08-02 00:02] zenweasel opened #2620 "[Marketplace] Receive error when trying to archive product"
### Expected behavior
Should be able to archive a product w/o an error

### Actual Behavior
Receive an error on the server-side:
[code]

### Steps to Reproduce the Behavior
I verified that this doesn't happen on `development`

1. Login as admin
1. Click on default product
1. Select "Clone product"
1. Select newly created product
1. Click on archive
1. Observe error on client and server

### Versio

[2017-08-02 00:24] zenweasel opened #2621 "[Marketplace] Receive error when viewing homepage as incognito user"
### Expected behavior
Should not receive any errors when visiting the homepage

### Actual Behavior
Receive this error in the browser console
[code]

### Steps to Reproduce the Behavior
1. Visit the homepage as an incognito user

### Versions
[code]

[2017-08-02 00:33] zenweasel commented on #2616
Verified that orders go through fine when using Braintree.

[2017-08-02 00:44] zenweasel opened #2622 "[Marketplace] Receive multiple errors in server console when there are Braintree orders"
### Expected behavior
No errors in server console

### Actual Behavior
Receive the following errors when visiting the order panel where there have been Braintree orders
[code]

### Steps to Reproduce the Behavior
1. Login as admin
1. Set payment processor as Braintree
1. Place order
1. Visit order dashboard and open order panel
1. Observe errors

### Versions
[code]

[2017-08-02 00:52] zenweasel opened #2623 "[Marketplace] Receive 404 when clicking on link for "Getting Started" email"
### Expected behavior
Should be taken to this page
![account_verify](https://user-images.githubusercontent.com/72819/28853159-38486c10-7761-11e7-83ec-408a31f104eb.png)

### Actual Behavior
Receive "Not Found" page

### Steps to Reproduce the Behavior
1. Register as a user with a valid email
1. Click on the link in the email
1. Observe it takes you to the "Not Found" page

### Versions
[code]

[2017-08-02 01:47] zenweasel opened #2625 "[Marketplace] Clicking on result in Account/Order search does nothing"
### Expected behavior
Clicking on result should take you to the "Manage Account" screen, or Order management screen

### Actual Behavior
Nothing happens

### Steps to Reproduce the Behavior
1. Login as admin
1. Search for an account or order
1. Click on result
1. Observe nothing happens

### Versions
[code]

[2017-08-02 01:57] zenweasel opened #2626 "[Marketplace] Receive error when browsing by Tag"
### Expected behavior
No errors

### Actual Behavior
Receive error in console
[code]

### Steps to Reproduce the Behavior
1. Create a new product
1. Create a new tag
1. Add tag to product
1. Click on tag in nav
1. Observe error

**Note** This takes a little bit of work to replicate. It doesn't happen every time but if you flip back and forth between tags and then wait a second or two on the added

[2017-08-02 18:53] kieha commented on #2341
Updates:
- Implemented functionality for multiple orders being set to a specific status.

Just a couple of questions on this ticket @spencern:

1. Should we allow people to regress statuses? I.e. if I ignore the flow and set an order's status to `Shipped`, meaning `Picked`, `Packed` and `Labeled` statuses have been skipped, should I be allowed to go back and set it to `Picked` if I wished to?

[2017-08-02 19:38] spencern commented on #2341
Hi @kieha

Yes, I think it's important that people can regress order status, even to status that we're not skipped. Perhaps this is something that could be an admin setting (`canRegressStatus` or similar) but we need the functionality.

Curious what @aaronjudd thinks on this, but it's something I've built before and was highly requested feature at GetOutfitted until we built it.

Sometime's users

[2017-08-03 12:07] arnaud-zg opened #2628 "Shipping costs : Charge what you get"
Shipping fee may not be the same and depend on many factors.
- Custom price per size or weight
- Custom price by location

[2017-08-03 13:12] callmephilip opened #2629 "Development version of React in production"
I am checking https://hello.reactioncommerce.com/ with [React Developer Tools](https://chrome.google.com/webstore/detail/react-developer-tools/fmkadmapgofadopljbjfkapdkoienihi?hl=en) and it says that the site is using development version of React. Does this deployment do it intentionally or is this a bug?

[2017-08-03 17:08] aaronjudd opened #2630 "[Marketplace] Unable to change Email Settings"
### Expected behavior

No Errors, Editable email settings

### Actual Behavior

There appears to be no errors in marketplace and you are unable to edit the email settings.

[marketplace]
![reaction](https://user-images.githubusercontent.com/439959/28933826-744285e8-7833-11e7-8884-d27378b789cd.png)
[seun-change-owner-2188]
![reaction](https://user-images.githubusercontent.com/439959/28933508-21c415

[2017-08-03 17:53] spencern commented on #2615
I think this issue will be solved by the rebuild of the `reaction-stripe` package in the `spencer-stripe-connect-merchant-signup` branch. Will PR that branch today and then split off a new branch for the checkout code.

[2017-08-03 18:46] spencern commented on #2630
@kieckhafer @impactmass this looks like the same type of issue that you guys solved for the other files that hadn't migrated to the new `Components.component` style

[2017-08-03 19:57] aaronjudd opened #2634 "Dynamically load transliteration module"
Reduce application load time by implementing dynamic loading of the `slugify` and `transliteration` modules in the `getSlug()` methods.

### Expected behavior

Use [slugify package](https://www.npmjs.com/package/slugify) by default for western languages, and only load [transliteration](https://www.npmjs.com/package/transliteration) modules when it is needed for languages that require the full tran

[2017-08-03 20:08] aaronjudd opened #2635 "Dynamically load moment and moment-timezone modules"
Reduce application startup load by dynamically importing `moment` and `moment-timezone` only where necessary.  It is mostly used in the various admin dashboards, but also on client order views.

Suggest reviewing usage, I'd suggest that there are some possible lighter weight replacements as well.
`moment-timezone` is also used to populate some client side data, such as timezones, locales.

### Exp

[2017-08-03 21:48] spencern commented on #2619
Closed by #2631

[2017-08-03 21:48] #2619 closed

[2017-08-03 23:16] zenweasel commented on #2305
Nobody wants/needs this right now.

[2017-08-03 23:16] #2305 closed

[2017-08-04 01:37] zenweasel commented on #2213
The issue here is that when Revision control is on we are building a new selector and that selector is grabbing all products, even ones without the correct tag. Probably some sort of `$and/$or` mixup

[2017-08-04 03:35] zenweasel commented on #2578
Closed via #2627

[2017-08-04 03:35] #2578 closed

[2017-08-04 05:25] zenweasel commented on #2608
This is not an "actual" bug on the frontend, so maybe just a problem with the test

[2017-08-04 05:27] kieckhafer commented on #2630
Closing via the PR's above

[2017-08-04 09:40] impactmass commented on #2188
This is largely done. The PR is here - #2609, but it depends on #2538 being merged first

[2017-08-04 09:58] impactmass commented on #2186
Status: PR for this is currently in review #2538 ...

[2017-08-04 10:07] impactmass commented on #2190
Functionally complete, but needs UI work.

[2017-08-04 10:41] impactmass commented on #2189
_ The owner part of this is in place.
_ For admins and owners, grantable permissions is already scoped per shop.
_ For admins, currently updating to ensure invitation is allowed for admin's current group

[2017-08-04 16:14] aaronjudd commented on #2629
This should have been resolved with the release of Meteor 1.5.1 https://blog.meteor.com/announcing-meteor-1-5-1-b65ecddf955b

we're using https://github.com/abernix/standard-minifier-js 2.1.0 instead of https://github.com/meteor/meteor/tree/devel/packages/standard-minifier-js 2.1.1

The abernix package apparently hasn't yet been updated since the release of 2.1.1.