[2017-09-26 05:58] jm-wanja commented on #2623
@aaronjudd Sorry for the the confusion, what I meant to point out was that PR #2905 solves the error where it leads to a 404 `page not found` which was why this ticket was opened. I'll close that PR until I solve the issue with sign in in incognito mode.

[2017-09-26 06:50] aaronjudd commented on #2947
@SebastianSativa I have limited ability to test Windows, but there where a few build issues with Meteor 1.5.2.  I suggest testing our `release-1.4.3` branch, which contains Meteor 1.5.2.1 to see if this helps/resolves.

[2017-09-26 09:41] jujes commented on #2256
Hi @zenweasel @kieckhafer,

I've tried and into the dashboard, the language continue on **en**

![language_template_issue](https://user-images.githubusercontent.com/2881017/30853604-8fa5dabe-a2af-11e7-880c-fb74b193ed48.png)

**imports/plugins/included/email-templates/lib/paths.js**
`export const esResetPaswordTemplate = "accounts/esResetPassword";`

**imports/plugins/included/email-templates/serve

[2017-09-26 13:30] Falenos opened #2951 "$("main").scroll() or on("scroll", ....) is not working"
### Expected behavior
Jquery .scroll() to work

### Actual Behavior
Behaves like the event listener is not added

### Steps to Reproduce the Behavior
Just run from devTools
$("main").on("scroll", () => console.log("Hi!"));

### Versions
Node: 6.11.3
NPM: 3.10.10
Reaction CLI: 0.7.9
Reaction: 1.5.0

[2017-09-26 15:20] joykare opened #2952 "Order Table, extra empty rows added erroneously"
### Expected behavior
Orders table should have the same number of rows as orders.
For example: If there are two orders, have just two rows displayed.

### Actual Behavior
Extra empty rows appear
![screen shot 2017-09-26 at 18 11 05 2](https://user-images.githubusercontent.com/19430074/30882097-a933969a-a310-11e7-8484-e4b52e6a8851.png)

### Steps to Reproduce the Behavior
Option 1:
- Create two ord

[2017-09-26 15:22] kieckhafer commented on #2031
^^ Yes this is done in PR #2893

[2017-09-26 15:29] kieckhafer commented on #2952
@joykare I we set a default minimum rows number on the `minRows` prop in the `sortableTable` component. It's set to 0 if there is data in the table, so it should automatically expand to fit the correct amount of results, however, if there are 0 results, we set the `minRows` to `3`, just to make the table look better with the `No Results` message.

I'd take a look and see if somehow the results cou

[2017-09-26 15:50] rymorgan commented on #2952
@kieckhafer So is that causing this: https://github.com/reactioncommerce/reaction/pull/2914#issuecomment-332239794

[2017-09-26 15:53] joykare commented on #2952
@rymorgan. scratch that, it shouldn't be the cause. Looking into it now.

[2017-09-26 16:28] mikemurray commented on #2923
@aaronjudd I'm talking about that shop switcher in the toolbar for admins that silently switches the `shopId` for the app. It should be moved to the main navbar, and work with the router changes @spencern and I made to allow for marketplace routes.

Then the one in the toolbar would be moved to dev tools, so you can, "view this page as another shop owner", kinda like how we have the edit mode.

[2017-09-26 16:29] joykare commented on #2952
Seen the problem: `order-count` is no longer published on order publication. Therefore its always zero.
Since this is happening on marketplace I'm re-opening this issue and solving it as a separate bug.

[2017-09-26 16:44] spencern commented on #2952
I think @zenweasel may have removed the order-count in #2855

[2017-09-26 16:45] spencern commented on #2952
Also, this is a pretty great example of something that we need automated testing for.

[2017-09-26 16:45] kieckhafer commented on #2952
I don't think that's required though. It should take the `order-count` if available, but should fallback to the `data.length` if it's not available.

[2017-09-26 17:02] joykare commented on #2952
At the moment, the order table still uses the old pub/sub way so till #2768 is done, we probably need to have some sort of count working in the meantime. @kieckhafer

[2017-09-26 17:37] kieckhafer commented on #2256
Is the language showing up in the database?

[2017-09-26 17:39] kieckhafer commented on #2906
@spencern should `New` be one of the statuses to filter by as well?

[2017-09-26 17:48] joykare commented on #2952
Solving this on ticket #2768

[2017-09-26 17:51] joykare commented on #2837
Solving this on #2768

[2017-09-26 18:26] kieckhafer commented on #2911
@spencern what do you think the best option is? To add the toggle to each variant, and control them each separately, or to make the toggle on the top level variant change the settings on all child variants?

[2017-09-26 18:29] spencern commented on #2942
Fixed in `marketplace`/`1.5.x` by #2948 and in `1.4.3` by #2945

[2017-09-26 18:29] #2942 closed

[2017-09-26 18:38] rymorgan commented on #2906
@spencern @kieckhafer I'm wondering if New for both status and shipping status is confusing. Maybe a status like "Not started' would make more sense. So when an order comes in it would have a status of new and a shipping status of not started.

[2017-09-26 18:40] kieha commented on #2817
Update:
- Verified that translations for this are present in the English translation file, but the translations haven’t been generated yet/added to the other files.
- I believe this is part of a larger issue of missing translations throughout the entire application.

[2017-09-26 19:42] kieckhafer commented on #2906
I think `New` makes sense for orders. It makes less sense for shipping, but I'd stick with being consistent between the two over changing just one.

[2017-09-26 21:22] rymorgan commented on #2906
@spencern What do you think?

I wanted to give a little background on what I was thinking for these statuses. We have what we are calling status now which is new, approved, captured, processing, completed and canceled (I still think we should remove approved). These statuses are the overall status of the order. In my mind, the 'shipping status' really amounts to a fulfillment status. The fulfillme

[2017-09-26 22:00] kieckhafer commented on #2404
The UI bugginess (overlapping) was fixed by @machikoyasuda . In addition, we'll be removing some of the icons from this area and moving them over to the sidebar in PR #2893, so more of the UI issues will be fixed.

[2017-09-26 22:10] zenweasel commented on #2770
@spencern I was just planning on dealing with any merge conflicts that came down the pike as I had expected this PR to have been merged by now. Just taking a quick scan of it, it's not really overlapping with the work I am doing.

[2017-09-26 22:13] spencern opened #2955 "userId is not published by new Reactive Aggregate orders publication"
While reviewing #2770, @kieha and I came across an issue in the Reactive Aggregate Orders publication where sometimes the `userId` of an order is not published. That causes an error when sending in-app notifications of the order being shipped.

Clicking this button generated an error on the server, which bubbled up to the client.

![image](https://user-images.githubusercontent.com/1203639/30884696

[2017-09-26 22:13] zenweasel commented on #2870
@spencern No, no PR and I am not expecting to have one today. Still working through some issues with getting Shippo to work properly in a multi-shop environment. I hope to have this completed by the end of the week and will be my main focus after finishing Stripe.

[2017-09-26 22:17] zenweasel commented on #2836
@aaronjudd Yes, this is still WIP. I was asked to finish up Stripe Connect first so I am completing that then will return to this.

[2017-09-26 22:21] zenweasel commented on #2773
As far as I remember (and as listed in the test steps) this affects single shop instances as well. I thought I was going to knock this out with the other order panel changes but apparently not. Unassigning myself for now and will grab it again when I have cleared the other stuff from my plate.

[2017-09-26 22:26] zenweasel commented on #2708
This was definitely broken at some point but it could have been fixed by some other PR. If nobody can reproduce we can close. I will try to reproduce today and close if I can't.

[2017-09-26 22:36] zenweasel commented on #2892
@aaronjudd Do you mean currency? And yes some values in the PDP are in shop currency and some are in the user's currency so I think it's a big.

[2017-09-26 22:38] aaronjudd commented on #2892
@zenweasel yes, sorry currency

[2017-09-26 22:39] aaronjudd commented on #2892
Please screenshot and highlight what you think is a bug, I'm not sure we're in agreement.

[2017-09-26 22:56] zenweasel commented on #2892
@aaronjudd This is the only instance I am currently seeing.
![basic_reaction_product](https://user-images.githubusercontent.com/72819/30888039-e91535d0-a350-11e7-9272-c6f7a18269ff.png)

[2017-09-26 23:27] aaronjudd commented on #2892
I'm assuming the shop base value is USD?  I think we'd expect that value you are pointing at (MSRP) to be USD if the shop base value is (and I suspect price is USD, right), while the PDP should display the Egyptian currency.  What is the rest of the page looking like?

[2017-09-26 23:31] #2770 closed

[2017-09-26 23:34] spencern opened #2957 "Cancel Order Workflow is confusing"
Right now the cancel order workflow is pretty confusing:

Once you click `cancel order` from the order action view, you're presented with two explicit options, and a third hidden option.

Option 1: Yes, but no restocking
Option 2: Yes, and restock.
Option 3: hidden (don't cancel, get me out of this flow)

**EDIT**: Fixed the i18n - which makes it a little better, but not good.
![image](https://use

[2017-09-26 23:41] zenweasel commented on #2892
Right, shop currency is USD here and I've set user currency to be EGP.
MSRP is the only value I see that is **not** in the base currency when I edit a product. But when I create a product I see both price and MSRP with the pound sign. Price on variants doesn't show any currency symbol and correctly shows USD for the product price. (We probably don't need currency symbols for any of these inputs?)

[2017-09-26 23:45] zenweasel commented on #2952
Sorry, the fix for this was lost when I split up the Reactive Aggregate into a separate ticket. The container can just pass in `orderCount` as a prop. I'm not sure why we are trying to get it from the publication. That made sense for "PaginatedOrders" but makes no sense for this publication.

[2017-09-26 23:57] spencern commented on #2910
Closed by #2941
@rymorgan please reopen if that fix does not close this issue

[2017-09-26 23:57] #2910 closed

[2017-09-27 00:00] spencern commented on #2919
Closed by #2954

[2017-09-27 00:02] rymorgan commented on #2943
Something like this for example.

![date-picker](https://user-images.githubusercontent.com/20409254/30889609-7b48e9b2-a2dc-11e7-8dec-14197356eef5.gif)

[2017-09-27 00:35] zenweasel opened #2958 "Shippo does not work with newly created products"
### Expected behavior
Should receive shipping quotes

### Actual Behavior
Receive no shipping quotes

### Steps to Reproduce the Behavior
1. Login as administrator
1. Enable Shippo and enable carriers
1. Create a product (don't use the built-in product)
1. Add **only** the newly created product to cart
1. Attempt to checkout
1. Observe that "No shipping methods are configured. Configure now." is d

[2017-09-27 00:45] zenweasel commented on #2823
This was closed by #2855

[2017-09-27 00:45] #2823 closed

[2017-09-27 00:53] zenweasel commented on #2958
@spencern / @aaronjudd  Not sure if this is something we need to triage first, but it seems like `marketplace` blocker?

[2017-09-27 01:00] zenweasel commented on #2708
Testing on current `marketplace` in a single-shop setup and not seeing this issue.

[2017-09-27 01:00] #2708 closed

[2017-09-27 01:07] zenweasel commented on #2773
Tested again and verified that this happens in a single-shop instance. Discounts work fine just not displayed in the dashboard. Might just be a UI thing that got lost.

[2017-09-27 01:37] zenweasel opened #2959 "Order detail displayed twice when order is selected in Order Dashboard"
### Expected behavior
Order detail should only show up once

### Actual Behavior
Shows up twice with inconsistent results
![order_details_duplicated](https://user-images.githubusercontent.com/72819/30891670-26b69ddc-a367-11e7-9a41-0ee00bf0695f.gif)

### Steps to Reproduce the Behavior
1. Login as admin and enable shipping/payment
1. Place an item in cart and checkout
1. Place a second order
1. Go

[2017-09-27 03:22] spencern commented on #2881
![image](https://user-images.githubusercontent.com/1203639/30894389-c1512c02-a300-11e7-936d-ef24203a456e.png)
Captured works now. 👍
Thanks for the fix @Akarshit!

[2017-09-27 04:55] spencern commented on #2881
Resolved by #2924

[2017-09-27 04:55] #2881 closed

[2017-09-27 04:58] #2919 closed

[2017-09-27 04:58] spencern commented on #2933
Resolved by #2948

[2017-09-27 04:58] #2933 closed

[2017-09-27 04:59] spencern commented on #2955
Fixed by #2956

[2017-09-27 04:59] #2955 closed

[2017-09-27 05:03] spencern commented on #2817
@mikemurray did you happen to resolve this issue in #2919 ?

[2017-09-27 05:08] spencern commented on #2623
@jm-wanja are you still working on #2905? In general, a PR should use [WIP] in the title to indicate that it's not ready for review yet. I'm not sure that closing the PR for now is necessarily the best way to resolve this as it drops off the PRs page which makes it more difficult to follow up on progress.

[2017-09-27 05:09] spencern commented on #2837
@joykare if you're taking this (seems like you are in #2768) would you assign yourself to this ticket.

@aanchirinah I'm removing you from this ticket.

[2017-09-27 05:14] spencern commented on #2911
I think the best option would be to have this either be set at the product level for all variants, or to have it on each option. To me it doesn't make sense to have it set at the variant level.

That being said, @aaronjudd has a lot more experience in designing these types of interfaces, so maybe there's a good reason that it's set where it is, and I'd defer to his expertise here.

If it's set at

[2017-09-27 05:55] spencern commented on #2906
@rymorgan @kieckhafer

Good discussion topic. I have a lot of feelings on this, and agree that it's more nuanced and complicated than we've currently got it.

**Approved**
`approved` as a status and process needs to go away. If you've been waiting for an official pronouncement, this it it.

**Keeping marketplace in mind**
In the case of a multi-part marketplace order, I think that we should track

[2017-09-27 06:03] spencern commented on #2958
Does seem like this could be a blocker. Even if it's not a regression, it should probably be resolved asap.

[2017-09-27 07:01] jm-wanja commented on #2623
@spencern yes I am still working on it. I have made the correction and re-opened it and also added [WIP].

[2017-09-27 09:00] aanchirinah commented on #2837
Sorry for the late response @spencern , I was tackling another issue forgot to un-assign myself when @joykare took it up to fix it

[2017-09-27 09:44] aanchirinah commented on #2533
Will sync with @kieha to fix this issue

[2017-09-27 10:10] jm-wanja commented on #2928
Made the success alert to be a toast and the error alert to be inline so as to notify user where the error is and how to fix it, in #2937

[2017-09-27 11:53] impactmass commented on #2938
I got close to a WIP PR on this, but I'm currently resolving issue mentioned in "Added Units of Length" PR above

[2017-09-27 13:18] Akarshit opened #2961 ""Archived" badge overlapping."
### Expected behavior
The badges should not overlap.
### Actual Behavior
Archived badge is overlapping with the edit badge.
<img width="514" alt="screen shot 2017-09-27 at 6 46 16 pm" src="https://user-images.githubusercontent.com/7762605/30915376-43b22486-a3b4-11e7-9be7-04f868b340a4.png">

### Steps to Reproduce the Behavior
Archive a product with sub-variant.
### Versions
[code]

### Solution
In

[2017-09-27 15:24] spencern commented on #2938
Thanks for the update, let's get this knocked out today if possible :)

[2017-09-27 15:34] spencern commented on #2533
Ok, thanks @aanchirinah. I'd like to see a status update as often as possible on this issue as it's currently a blocker for our `1.5.0` release

[2017-09-27 15:55] josx commented on #469
I am using master version (1.4.x), how can i put and customize the footer for the whole application.?

[2017-09-27 16:27] rymorgan opened #2963 "Large action view not properly implemented on accounts/permissions admin"
### Expected behavior
The cards in the action panel shouldn't have extra space or double lines. And the detail view, in general, should be working properly.

The large view accounts/permissions admin should work like the order large panel with the master and detail part of the page scrolling independently of each other.

### Actual Behavior
They have extra space and double lines. And the panel lin

[2017-09-27 16:37] spencern commented on #2946
Resolved by #2950

[2017-09-27 16:37] #2946 closed

[2017-09-27 16:49] rymorgan commented on #2963
@spencern I added this for more detail. We can pull in the PR for https://github.com/reactioncommerce/reaction/pull/2949 separately.

If this issue is a lower priority and doesn't make it in that's ok per Aaron's comments today. But hopefully, we can get this done right after release in that case.

[2017-09-27 16:54] mikemurray commented on #2931
Looking into this now.

[2017-09-27 17:00] mikemurray commented on #2931
The gray screen of death:

[code]

[2017-09-27 17:05] spencern commented on #2963
Any chance this is related to #2921 and could be fixed there? If so I think we can fit it in, otherwise I think we punt to `next`

[2017-09-27 17:25] mikemurray commented on #2931
The underlying issue is that `shop` is sometimes  `undefined` when signing out for a split second, and it seems a lot of things assume `shop` will always be defined.

[2017-09-27 17:31] impactmass commented on #2931
@mikemurray maybe this fix might resolve #2750 as well? There's mention of a brandAssets error there too. @aanchirinah tried fixing it, but hasn't resolved it yet.

[2017-09-27 17:34] mikemurray commented on #2931
@impactmass It's not only brand assets, its 18n, currency, anything client side accessing the shop without a check.

On my end, I've cleard all the "errors" but I'm still getting the grey screen after a few sign out attempts.

[2017-09-27 17:38] kieha commented on #2816
The issue here is that items are removed from the cart object and moved to the order object, so the brief period between the checkout process being over and the order being processed, the cart has no items, so the default template for the cart not having items is the empty cart page.

[2017-09-27 17:40] rymorgan commented on #2963
@spencern @mikemurray Wanted a separate issue for this fix. This issue is the actual underlying issue behind #2921

[2017-09-27 17:41] aanchirinah commented on #2931
@mikemurray , Yes I also get the blank grey screen when I resolve the errors too when I try to sign in and sign out in approx. 2 cycles consistently.

[2017-09-27 17:49] mikemurray commented on #2931
@impactmass @aanchirinah Confirmed that shop is `undefined` when the grey screen appears. On index ( / ) I get a grey screen. On `/tag/shop` I get "Oops! You don't have permission to view this content." sign in form.

![screen shot 2017-09-27 at 10 46 57 am](https://user-images.githubusercontent.com/42217/30928738-3ff0bee0-a371-11e7-8abd-33ce24836c53.png)

[2017-09-27 18:06] mikemurray commented on #2931
Another thing I want to point out is doing reactive things in presentational reaction components.

// In brand.js inside getShop()
[code]

`find`,  `findOne` and other reactive stuff belong in container components or trackers. React has no concept of Meteor's reactive nature.

[2017-09-27 18:27] kieckhafer opened #2964 "Product prices that end in .00 are truncated and saved without the decimal"
### Expected behavior
When I set a product price to `10.00` (or any other price ending in `.00`), the product price should be saved as 10.00 in the database.

### Actual Behavior
When I set a price to `10.00`, the data is truncated and saved as just `10` inside the database.

### Steps to Reproduce the Behavior
- Change a product price to end in `.00`.
- Look at data in database

![basic_reaction_

[2017-09-27 18:50] mikemurray commented on #2931
In the router `startup.js`, if I place the needed subs there, everything seems to work ok-ish. Sign in feels a little slower, but it works every time.

This may be an issue with the subscription manager and how it attempts to cache subscriptions.

[code]

[2017-09-27 19:14] kieha commented on #2816
On looking into this further, it seems that the empty cart page only flashes when using Stripe as a payment method. I've tested with all the other payment methods and the loading state is shown before the completed orders page appears.

[2017-09-27 19:37] impactmass commented on #2938
I'm about to open for review, a PR that address the 5 things listed on this ticket, but resolving these 5 revealed more 1.0-incompatible changes already in marketplace. Two new ones I just realized are around Order workflow and Refunds. I'll look into these and write up details for them description above, and continue with migration for them too.

For now, I'll write out "How To Test" section on t

[2017-09-27 21:47] tdmoneybanks opened #2965 "localization tab is broken on latest marketplace branch"
### Expected behavior
Open localization from the admin shortcut bar and see an action panel with the localization options
### Actual Behavior
clicking the icon does nothing, breaks several other action panels.
in console:
`Cannot read property 'getHostNode' of null`
### Steps to Reproduce the Behavior
checkout reaction marketplace branch and run it. log in as admin and click localization from admi

[2017-09-27 22:06] mikemurray commented on #2750
@zenweasel @aanchirinah Made a PR here that should address this https://github.com/reactioncommerce/reaction/pull/2966

[2017-09-27 22:06] mikemurray commented on #2931
@rymorgan @impactmass added a PR here https://github.com/reactioncommerce/reaction/pull/2966

[2017-09-27 22:14] mikemurray commented on #2890
@spencern I thought we had an issue that, as a marketplace owner, you still see all products on all grids because of the publication. Will verify shortly.

[2017-09-27 22:42] spencern commented on #2890
@mikemurray We ended up solving something related to this by attaching it to the "edit mode" switch.

[2017-09-27 22:57] zrisher commented on #50
FYI for those landing here from the docs, here is the new tracking issue - https://github.com/reactioncommerce/reaction/issues/1221

[2017-09-27 22:57] zrisher commented on #69
FYI for those landing here from the docs, here is the new tracking issue - https://github.com/reactioncommerce/reaction/issues/1221

[2017-09-27 23:00] spencern commented on #2816
I paired with @kieha for an hour on this today and we figured out a solution. Pushing up a PR shortly

[2017-09-27 23:06] mikemurray commented on #2890
@spencern the edit mode is fine for that, but I noticed some other issues while testing.

The slug for newly created shops is still "reaction" for some reason. Maybe because we duplicate the original shop.

After changing the slug in mongo to `reaction1` I still get" no products found" on `/shop/reaction1`. The product is published and visible and shows up on `/` for both admin and marketplace sho

[2017-09-27 23:08] mikemurray commented on #2890
Also not having images is a real issue. Seems marketplace owners don't have permissions to upload photos.

[2017-09-27 23:09] spencern commented on #2890
@mikemurray - I've been digging through the `shops/createShop` method while fixing #2889, so I'll see if I can figure some of this out

[2017-09-28 00:44] zenweasel opened #2968 "Some order statuses showing workflow string rather than "friendly" title"
### Expected behavior
Labels for order workflow and shipping workflow should show "friendly" statuses rather than the raw workflow status, e.g. "Processing" rather than "coreOrderWorkflow/processing".

### Actual Behavior
For Processing and Shipping, the raw workflow string is shown

### Steps to Reproduce the Behavior
1. Place an order
1. Click on the order so it's status changes to Processing
1.

[2017-09-28 04:06] spencern commented on #2890
@mike I've figured out the slug creation issue issue and that will get fixed in my fix for #2889

Haven't looked into the images issue yet.

[2017-09-28 04:24] mikemurray commented on #2890
@spencern for the media I have to believe it's something to do with the allow/deny here: https://github.com/reactioncommerce/reaction/blob/marketplace/server/security/collections.js#L128

[2017-09-28 04:30] spencern commented on #2890
@mikemurray Maybe fixed by https://github.com/reactioncommerce/reaction/pull/2918 then?

[2017-09-28 04:31] mikemurray commented on #2890
@spencern that's the ticket!

[2017-09-28 07:12] Akarshit commented on #2964
@kieckhafer This would be occuring because, in JS `20 === 20.0` so as soon as the price value will be entering the JS system it would be getting truncated. That's why in most places prices are stored as `string`.

[2017-09-28 13:24] aaronjudd commented on #2964
@Akarshit In most places prices should be stored as numbers and checked for decimal and positions in formatting applied in the UI (parseFloat). 0.00 is not stored as "0" but can be stored as 0 -> as these are the same.  This should validated in the schema like this
[code]

[2017-09-28 21:06] kieckhafer opened #2975 "Publish button is not consistantly displaying PDP or homepage"
### Expected behavior
PDP and grid should always have publishing buttons (if appropriate)

### Actual Behavior
Publish button does not consistently display on PDP or grid. Sometimes it's there, sometimes it's not, although all other admin functions seem to always work regardless

### Steps to Reproduce the Behavior
- Log in as an Admin.
- Go to PDP
- Refresh, do some actions, see the button going

[2017-09-28 21:13] mikemurray commented on #2975
Adding to this. While signed in, keep refreshing the homepage. Eventually, you'll get a grey screen in the middle area. The toolbars remain, but the navbar, product grid are gone.

This doesn't appear to happen for a signed out user.

[2017-09-28 21:55] spencern commented on #2975
@mikemurray Might be worth trying this with meteor `1.5.2.2` https://github.com/meteor/meteor/pull/9151 which has a fix for the bug where people were getting logged out. Not sure they'd be related, but maybe possible if we just started noticing this

[2017-09-28 22:29] mikemurray commented on #2975
@spencern meteor `1.5.2.2-rc.0` does not solve the issue, so my journey continues.

[2017-09-28 22:30] mikemurray commented on #2975
From what I can tell, part of the issue is the index route has no layout `structure` or incorrect structure in some cases, causing the grey screen.

[2017-09-28 23:17] mikemurray commented on #2975
Digging deeper into the router. Inside the "ReactionLayout" function the call to `Router.Reaction.getPrimaryShopId()` sometimes return `null` where `Router.Reaction.getShopId()` always returns the shopId.

Not sure why they would be, any ideas @spencern ?

[2017-09-29 00:48] zenweasel opened #2976 "Order dashboard corruption when viewing orders as merchant"
### Expected behavior
Order dashboard should be displayed correctly regardless of which shop you are in

### Actual Behavior
Missing values/buttons
![dumb_product](https://user-images.githubusercontent.com/72819/30996272-40956a76-a4f2-11e7-8170-f263d7aecb2d.png)

### Steps to Reproduce the Behavior
1. Create a shop, configure Stripe Connect  and create a product
1. As marketplace admin create an o

[2017-09-29 08:21] aanchirinah commented on #2944
I will look into this issue and fix it

[2017-09-29 08:23] #2928 closed

[2017-09-29 12:15] janus-reith commented on #2336
I also get that error on marketplace branch, but not just for test but upon startup, after adding my previous customizations to the new code - Couldn't find the file yet that triggers the error.

[2017-09-29 13:18] ashishgokhale commented on #1036
HI I am also getting similar error during simple update:

Error: Access Denied [403]
    at adjustInventory (imports/plugins/included/inventory/server/methods/inventory.js:100:11)
    at [object Object].inventoryAdjust (imports/plugins/included/inventory/server/methods/inventory.js:158:5)
    at packages/check.js:128:16
    at [object Object].EVp.withValue (packages/meteor.js:1135:15)
    at Objec

[2017-09-29 15:03] spencern commented on #2975
Not sure why that would be either, but let's pair on this.

[2017-09-29 15:26] spencern commented on #1036
@ashishgokhale as this issue is almost a 1.5 years old, I don't think the issue you're experiencing is likely to be related.

At first glance your issue seems to be caused by attempting to call a method from a user without proper permissions or attempting to perform an unauthorized database operation from the client.

If you believe this to be a bug in the software, please file your own issue, if

[2017-09-29 15:29] ashishgokhale commented on #1036
Thanks, I used to try on gitter chat option, but generally no one reply there.

[2017-09-29 15:43] aaronjudd opened #2981 "Error handling in checkout add address validation"
Error in Platform deployed `1.4.3` where shipping is not being configured from `reaction.json` on startup:

Prevents users from adding address.
Browser console:
[code]

![sharing_frame_window](https://user-images.githubusercontent.com/439959/31023836-fcfba8a2-a4f1-11e7-8a88-f1a3e7139a23.png)

Server console:

[code]

[2017-09-29 15:50] spencern commented on #2981
Do we know if this was introduced in `1.4.3` or if it could have come in earlier?

[2017-09-29 15:52] spencern commented on #2981
Also, the startup output indicates version 1.4.4 here
[code]

[2017-09-29 16:13] aaronjudd commented on #2931
Should this issue be closed since the PR is merged?

[2017-09-29 17:36] impactmass commented on #2931
yes. I missed the merge, but it was fixed when I tested it in the PR #2966

[2017-09-29 17:36] #2931 closed

[2017-09-29 17:38] impactmass commented on #2750
closed by #2966

[2017-09-29 17:38] #2750 closed

[2017-09-29 19:31] #2906 closed

[2017-09-29 20:33] #2902 closed

[2017-09-29 20:33] kieha commented on #2902
Fixed by #2972

[2017-09-29 20:33] mikemurray commented on #2938
I get this error when going from 1.0 to 1.5 when you try to invite a shop owner.

[code]

[2017-09-29 20:33] #2837 closed

[2017-09-29 20:34] #2952 closed

[2017-09-29 20:34] #2768 closed

[2017-09-29 21:12] mikemurray commented on #2776
This has been fixed as part of PR #2845

[2017-09-29 21:12] #2776 closed

[2017-09-29 21:56] mikemurray commented on #2975
Fixed as part of #2971

[2017-09-29 21:56] #2975 closed

[2017-09-29 22:04] mikemurray commented on #2938
I also get this error when trying to access "Localization and i18n" in the dashboard. Also seems related to migrating units of measure, as well as potentially not guarding against undefined vars.

[code]

[2017-09-29 22:06] mikemurray commented on #2274
Also assigned @kieckhafer since he's fixing this in his PR #2893

[2017-09-29 22:21] mikemurray opened #2983 "connectors & shopify connectors I18n"
Related to https://github.com/reactioncommerce/reaction/issues/2641

Missing i18n translations for many parts of the `connectors` and `connectors-shopify` packages.

Missing translations on:
- Tooltip on icon toolbar
- Titles on panels
- Form fields related to API key/secret
- Translation file copied from shipping in `connectors` package, needs to be updated with proper namespace and all duplicate

[2017-09-29 22:23] spencern commented on #2911
This is not fixed by #2893

![image](http://g.recordit.co/D3IkEBCWIm.gif)

[2017-09-29 22:24] kieckhafer commented on #2911
Correct, it is not fixed in that PR, was looking for that discussion about best practice.

[2017-09-29 22:26] rymorgan opened #2984 "Refine status and their exact meaning on orders."
This issue is mostly a placeholder for more discussion to our approach on statuses w/in the orders admin.

The goal here is to decide what the statuses are and what they specifically mean. Do we have both a payment status and a fulfillment status? What are those statuses and what are there specific definitions? Also, remove approved as a status and workflow step.

See comments and discussion below

[2017-09-29 22:27] rymorgan commented on #2984
Here's a little background on what I was thinking for these statuses. We have what we are calling status now which is new, approved, captured, processing, completed and canceled (I still think we should remove approved). These statuses are the overall status of the order. In my mind, the 'shipping status' really amounts to a fulfillment status. The fulfillment status is there for a few reasons - o

[2017-09-29 22:27] spencern commented on #2911
I think for now we should cascade from the variant down since that's the current UI, and then maybe create a design issue to re-design how it works.

[2017-09-29 22:28] rymorgan commented on #2984
And here's a comment from @spencern

**Approved**
`approved` as a status and process needs to go away. If you've been waiting for an official pronouncement, this it it.

**Keeping marketplace in mind**
In the case of a multi-part marketplace order, I think that we should track this on a per shop basis, and bubble it up to the overall order, or consider not keep track of this on the overall order a

[2017-09-29 22:30] spencern opened #2985 "Attempting to save a product without a title should identify the field that failed"
When trying to save a product that doesn't have a title, I receive a toast alert letting me know that the title is required, but the field does not get highlighted, nor does the panel open to the product edit panel when I try to save a product without a title.

The UI should identify the field that failed and open the action view panel to the correct section as it does when attempting to save an i

[2017-09-29 22:53] rymorgan commented on #2911
I can see handling this with a similar idea as I suggested for handling the additional shipping fields on options. Which would be to have a checkmark or toggle to apply the backorder down the tree from the variant to your variant options. This would allow them to have the options be 'globally' controlled by the variant. Alternatively, you could have a toggle in the variant option which is defaulte

[2017-09-29 23:37] spencern commented on #2938
One issue I'm seeing that could be resolved in the next ticket is that routes are different between 1.0 and 1.5.

I'm not really sure the best way to resolve this, as it will probably need some type of redirect, and it will be different depending on the shop, especially if any shops in the 1.0 -> 1.4.3 have I think what we need is some way to define redirects within the app. This really will only

[2017-09-29 23:38] kieckhafer commented on #2854
Closed by #2893

[2017-09-29 23:38] #2854 closed

[2017-09-29 23:38] kieckhafer commented on #2853
Closed by #2893

[2017-09-29 23:38] #2853 closed

[2017-09-29 23:39] kieckhafer commented on #2274
Closed by #2893

[2017-09-29 23:39] #2274 closed

[2017-09-29 23:40] kieckhafer commented on #2689
I think #2893 fixes this, but I don't 100% understand the issue, so @zenweasel if you could take a look and see, and close if it does, that'd be great!

[2017-09-29 23:40] kieckhafer commented on #2031
Closed by #2893

[2017-09-29 23:40] #2031 closed

[2017-09-29 23:41] kieckhafer commented on #1647
I know these are older designs so not sure exactly what we're still looking for. A lot of this is fixed by #2893 , I'll leave it to @rymorgan to decide whether there is more that is missing.

[2017-09-30 00:25] spencern commented on #2911
@rymorgan I think this is something that we need to explore a bit as if we put too many checkboxes for turning on or off options I think it will start to clutter the variant a lot. I also feel these should be options that are controlled at the product level, or at the base variant (option, etc) but not at the middle variant level.

[2017-09-30 00:27] spencern commented on #2938
For anyone following this issue, we've merged #2962 which will server as "part 1 "of the migrations from 1.0 -> 1.5.

@impactmass will tag this issue when he creates the next PR to resolve the outstanding issues related to migrating an older shop.

[2017-09-30 00:31] spencern commented on #2816
closed by #2967

[2017-09-30 00:31] #2816 closed

[2017-09-30 00:56] spencern commented on #2851
Resolved by #2893

[2017-09-30 00:56] #2851 closed

[2017-09-30 00:57] spencern commented on #1647
@rymorgan might be worth creating a new issue with the remaining tasks. I'll let you close this one if you decide to do that.

[2017-09-30 00:59] spencern commented on #2811
@rymorgan @machikoyasuda is this closed by #2908? If not, what remains to be done?

[2017-09-30 01:29] spencern commented on #2864
@aaronjudd
I agree that we should have various states for shops. We've discussed the desire to have visibility and publication status both be more flexible than booleans on Products and I don't see any reason not to work with that mindset for Shops as well.

Here are some initial thoughts I've got on a shops workflow

**Shop Workflow**
This may be different for merchant shops than for primary shop

[2017-09-30 01:33] spencern commented on #2889
Resolved by #2969

[2017-09-30 01:33] #2889 closed

[2017-09-30 18:10] janus-reith opened #2986 "[Marketplace] Setting a Brand Asset results in error"
On latest marketplace, setting a brand Image will make the whole cleint ui unusable.
The console throws: `TypeError: Cannot read property 'getShop' of undefined`
The error seems to be in this part of /core/ui/client/containers/navbar.js: (L21-24)

[code]

[2017-09-30 20:45] SebastianSativa commented on #2947
That exact branch didn't work (maybe because it doesn't exist?)

Anyway, I tried release-1.5.0 which is the version branch that DOES seem to exist, but still no luck. Constantly getting that pesky `FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - process out of memory
`

[2017-09-30 20:53] #2939 closed

[2017-10-01 06:39] reidlai commented on #2935
I nearly finished new zh-hans and zh-hant but I found that there is a minor problem.  Even changing language from English to Simplified Chinese or Traditional Chinese, the admin console still stays in English.  But there is no problem when changing to French or other default languages.  Did I miss any setting in mongo or mapping between browser locale and i18next?

[2017-10-01 20:03] SebastianSativa opened #2987 "Huge resource hog on local development (Windows 10 Pro 64-bit)"
### Expected behavior
Medium to medium-high resource usage.

### Actual Behavior

Node.js server takes up ridiculous amounts of resources:

![image](https://user-images.githubusercontent.com/9719427/31058443-d4330a2e-a6f3-11e7-8573-17f29517ced8.png)

### Steps to Reproduce the Behavior

Simply run reaction locally on my windows 10 machine.

### Versions
[code]

[2017-10-01 21:51] zenweasel opened #2988 "Remove "Approve" step from orders workflow"
per @spencern "If you are waiting for official word, this is it"

Creating a separate issue because I think this actually touches quite a few places so want to make sure we understand the ramifications/effects and can test it separately from other changes.

[2017-10-01 22:05] zenweasel opened #2989 "Edit panel opens in PDP even when edit mode is not enabled"
### Expected behavior
Clicking on a variant should not open the edit panel when edit mode is not enabled

### Actual Behavior
Clicking on a variant to select it opens the edit panel

### Steps to Reproduce the Behavior
1. Login as admin
1. Turn off edit mode
1. Select a variant
1. Observe that the edit panel opens
![edit_mode](https://user-images.githubusercontent.com/72819/31059600-7ab4996a-a737-

[2017-10-01 22:10] rymorgan commented on #1647
- [ ] Move public/private buttons for variants to sidebar
- [ ] Move Toggle up/down indicator in panels to the middle.
- [ ] Notification for edited fields -- either a stroke/dot or some other indicator
- [ ] Look at cleaning up images - should the thumbnails be forced into squares. Do we need show images for variants.
- [ ] Move settings "cog" to the publish bar

[2017-10-01 22:15] rymorgan opened #2990 "Placeholder Issue for PDP Publish Flow"
Iron out the publish and visibility flow on the PDP.

[2017-10-01 22:17] rymorgan commented on #2990
preserving this comment from @lcampanis on https://github.com/reactioncommerce/reaction/issues/1647

[2017-10-01 22:20] rymorgan commented on #1647
Closing because all fo the core tasks mentioned in my comment above have been addressed with this PR: https://github.com/reactioncommerce/reaction/pull/2893

I preserved comments and feedback around the publishing flow in a placeholder issue here: https://github.com/reactioncommerce/reaction/issues/2990

[2017-10-01 22:20] #1647 closed

[2017-10-01 22:27] rymorgan commented on #2811
@spencern We fixed a bug where the variant product name and quantity would not show up in the cart when there was a limited supply on that variant. What's still missing is the limited supply label doesn't' show up in cart. We need to decide what's the best way of handling that. Should it show a quantity left or should it simply show a label that says "Limited supply"? (see @aaronjudd comment above

[2017-10-01 22:31] rymorgan commented on #2911
@spencern Yep, let's discuss, I think we might be saying similar things. My main goal is keeping everything as uncluttered as possible.

[2017-10-02 05:30] zenweasel commented on #2958
So I think the solution is simple but twofold.

1. Restore/re-enable setting dimensions/weight at the product level on the PDP (you can currently only set it on the top-level variant)
1. Have shippo use either the variant or the product dimensions/weight when getting quotes for Shippo

[2017-10-02 05:43] spencern commented on #2911
@kieckhafer - as this is a blocking issue for `1.5.0` do you think you can move forward with the functionality to cascade the decision made at the variant level to all of it's options (if any) and we can re-engineer this after the design is more ironed out?

[2017-10-02 05:49] spencern commented on #2811
I think the way it used to work was:
1. There was a set, shop-wide, or install-wide amount that meant to show "x left" in the cart.
2. The "warn at" amount was used to trigger the "Limited Supply" label, and could be any amount - completely up to the admin.

As far as the cart goes, my gut says that both labels could be shown, but if that's too crowded then perhaps the `x left` label trumps the `l

[2017-10-02 06:08] zenweasel commented on #2958
So it actually looks like you can't even set parcel at the variant level. When you set them you get `height`, `weight`, etc. on the top level variant. Not sure where `parcel` is coming from.

[2017-10-02 16:18] janus-reith commented on #2986
the `getShop() `function doesn't exist anymore in navbar.js.
`this.getShop() ` can simply be replaced with `shop`, as there is a var "shop" defined now, which will have the same value that `getShop()` returned.

[2017-10-02 16:55] joykare opened #2994 "Order filters missing translations"
### Expected behavior

Have i18n translations on the order dashboard.

### Actual Behavior

These i18n translations are no longer there/ deleted.

### Versions
Node: 8.1.2
NPM: 5.0.3
Meteor Node: 4.8.4
Meteor NPM: 4.6.1
Reaction CLI: 0.10.0
Reaction: 1.5.0
Reaction branch: marketplace

[2017-10-02 17:09] kieckhafer opened #2997 "Standardize price field locations across variants and variant options"
The forms for variants and variant options show the price fields in a different order.

We should standardize this so `Price` is first, and `Compare at price` is second.

[2017-10-02 17:10] kieckhafer opened #2998 "Panel headers are using CSS to use title casing, we want sentence casing"
Panel titles are being transformed, via `text-transform`, to use title casing instead of sentence casing in panels.

We should remove this, to allow the translations and raw data to determine casing.

[2017-10-02 17:12] kieckhafer opened #2999 "Product Settings panel should open when clicking on the product title"
### Expected behavior
Action view panel should open in context when clicking on the product title.

### Actual Behavior
Action view does not open when clicking product title.

### Steps to Reproduce the Behavior
- Go to PDP in edit mode.
- Click product title

[2017-10-02 17:20] SebastianSativa commented on #2947
Yes, I FINALLY got it working! I somehow fixed it by:

1. Reinstalling Git for Windows (making sure I checked enable symlinks option during install)
2. Adding the TOOL_NODE_FLAGS=--max-old-space-size=1024 environment variable
3. Deleting the reaction folder
4. Running `
    reaction init \
    && cd reaction \
    && reaction
 `
5. Deleting everything in %UserProfile%\AppData\Local\Temp
6. Deletin

[2017-10-02 17:22] #2947 closed

[2017-10-02 17:56] mikemurray opened #3000 "PaypalExpress redirects to a 404"
When using PayPal express, you are redirected to a path that does not exist.

### Expected behavior
The redirect should go to `http://localhost:3000/paypal/done?token=XXX&PayerID=XXX`, which does exist.

### Actual Behavior
Redirect goes to`http://localhost:3000/reaction/paypal/done?token=XXX&PayerID=XXX`, which does not exist as the primary shop's is no longer prefixed.

### Steps to Reproduce th

[2017-10-02 18:04] mikemurray commented on #3000
Updated `possible solution`

[2017-10-02 18:31] spencern opened #3001 "PayPal Express isn't fully setup by default"
### Expected behavior
When I enable PayPal Express, I'd expect that the default settings are configured automatically.

### Actual Behavior
After enabling PayPal express, I'm forced to select when payment should be captured.

![image](https://user-images.githubusercontent.com/1203639/31093023-9c97993e-a76d-11e7-8e33-d081ede9d85e.png)

### Steps to Reproduce the Behavior
On `marketplace` branch
res

[2017-10-02 18:41] spencern commented on #3000
I don't doubt that this is a bug, but I was just able to checkout successfully with paypal express and got redirected correctly on `marketplace:latest`

[2017-10-02 18:42] mikemurray commented on #3000
Maybe it was fixed all stealth like. Will test again and report back.

[2017-10-02 18:45] spencern opened #3002 "Selecting shipping for checkout is BROKEN"
Steps to reproduce:
0. on `marketplace:latest`
1. reaction reset and run
2. log in as admin
3. Setup shipping
  a. refresh shippo methods
  b. enable flat rate shipping
    - enable all three flat rate shipping methods
4. Setup Payment - use PayPal express (I don't think this particularly matters)
5. Add a product
6. As incognito user:
  a. Add the _new_ product to your cart
  b. Start checkout pr

[2017-10-02 19:33] spencern commented on #2958
This is something that @rymorgan and I have discussed in https://github.com/reactioncommerce/reaction/pull/2893#issuecomment-332406765 a little bit.

[2017-10-02 21:53] zenweasel commented on #2921
@rymorgan Was this issue closed by the above PR #2949?

[2017-10-02 22:03] rymorgan commented on #2921
Yea, and the leftover/underlying problems were put into another issue https://github.com/reactioncommerce/reaction/issues/2963

[2017-10-02 22:03] #2921 closed

[2017-10-02 23:28] rymorgan commented on #2958
@spencern I'm not sure I'm following exactly what's going on here. I definitely see that I'm getting the no shipping methods configured when I follow the steps outlined by @zenweasel -- if we need to allow/force height weight etc at option level to get this to work, then we can just add those fields. We can figure out a better UX down the line if that's the case.

[2017-10-02 23:28] spencern opened #3005 "Stripe should work with discounts for single shop"
See #2773 and #2763

It appears that a bug was introduced during the Stripe Connect build out that prevents discounts working even when in a single shop instance.

[2017-10-02 23:31] rymorgan commented on #2963
@joykare While this an important issue for me, check with @spencern whether this is a priority over other crucial issues we need to push out for release.

[2017-10-02 23:34] spencern commented on #2935
Hi @reidlai
Have you tried resetting the app - `reaction reset`

Another option would be to run:
Try `Meteor.call("i18n/flushTranslations")` from your browser console.

[2017-10-02 23:40] spencern commented on #2940
Seems like this issue might be related:
https://github.com/reactioncommerce/reaction-cli/issues/34

[2017-10-02 23:41] spencern commented on #2940
Also perhaps check this forum post: https://forums.reactioncommerce.com/t/1-4-2-fatal-error-call-and-retry-last-allocation-failed-process-out-of-memory/532/18

[2017-10-02 23:47] spencern commented on #2944
What's the status on this?

[2017-10-02 23:48] #2944 closed

[2017-10-02 23:50] #2951 closed

[2017-10-02 23:57] aaronjudd commented on #2951
Suggest you do not use jquery, as it will be removed when we remove blaze. However, to get it to work, you need to `import { $ } from "meteor/jquery"` in the client file.

[2017-10-02 23:59] aaronjudd commented on #2951
Also see: https://github.com/reactioncommerce/reaction/issues/2586

This removed the global.

[2017-10-03 00:14] spencern commented on #2965
@tdmoneybanks Is this for a merchant shop or the primary shop?

I was not able to reproduce this on `marketplace` branch for the primary shop

[2017-10-03 00:17] aaronjudd commented on #2968
Really this should take no longer than 20 minutes. If not, raise a hand.

[2017-10-03 00:21] kieha commented on #2968
If I'm not mistaken, this was fixed on another PR.

[2017-10-03 00:25] aaronjudd commented on #2985
And open and focus on the first error input...

[2017-10-03 00:29] aaronjudd commented on #2986
@janus-reith we tried to reproduce on the `marketplace` as of today.. couldn't. If you can, can you add steps to reproduce?

[2017-10-03 00:32] aaronjudd commented on #2988
👍 Approved.

[2017-10-03 00:39] spencern commented on #3000
This happens when there are multiple shops installed.

[2017-10-03 00:48] spencern commented on #3002
Related #2992 #2958

[2017-10-03 00:50] mikemurray commented on #3000
@spencern PR is here https://github.com/reactioncommerce/reaction/pull/3006 as I feel its sufficiently reproducible for me.

[2017-10-03 00:57] mikemurray opened #3007 "Validate product handle on publish"
### Expected behavior
Product handle should be unique.

### Actual Behavior
Product handle can sometimes be identical to another product's handle.

### Steps to Reproduce the Behavior
1. Create a product
1. Set the title to "Test Product"
1. Click Publish
1. Observe error "label is required", don't fix it
1. Look at the product, and see the slug say "test-product"
1. Create another product
1. Set

[2017-10-03 02:12] janus-reith commented on #2986
Weird, will try to clone the repo again and try without modifications - Although there were no New commits changing that file.
In imports/plugins/core/ui-navbar/client/containers/navbar.js there is the line const brandAsset = _.find(this.getShop().brandAssets, [...]
getShop is nowhere defined in that file.

[2017-10-03 02:33] zenweasel opened #3008 "Receive error in console when creating shop"
This is a pretty big blocker as I can no longer create a shop

### Expected behavior
No errors in server console

### Actual Behavior
Receive error in server console:
[code]

### Steps to Reproduce the Behavior
1. Login as admin
1. Invite a shop owner
1. Observe error in the console.

### Versions
[code]

[2017-10-03 02:47] zenweasel commented on #3008
this appears to only happen on this branch and not `marketplace`

[2017-10-03 02:53] #3008 closed

[2017-10-03 03:21] zenweasel commented on #2867
To be clear we "clean" phone numbers for search so that (323), 323- and 323 all match when searching for 323 so this means that if you search for (323) it's never going to find a match. But we display the original phone # however is was input.

So the ph# part of this is probably invalid.

[2017-10-03 03:50] zenweasel commented on #2773
Closed via #2980

[2017-10-03 03:50] #2773 closed

[2017-10-03 04:23] spencern commented on #3000
Resolved by #3006

[2017-10-03 04:23] #3000 closed

[2017-10-03 04:43] zenweasel commented on #2968
Yep, looks fixed. Closing.

[2017-10-03 04:43] #2968 closed

[2017-10-03 04:57] spencern opened #3009 "Refactor and cleanup of i18n."
i18n issues keep coming up. For now when you see an i18n blocker, please reference this PR, and once we're ready to release 1.5.0, someone can go through and fix all the i18n issues in one go rather than having these things keep coming up as blockers that get fixed piecemeal.

#1593
#1689
#2983

Additionally this issue should cover:
- refactoring existing i18n files to use sentence casing
- Migrat

[2017-10-03 05:03] spencern commented on #2994
closed by #2995

[2017-10-03 05:03] #2994 closed

[2017-10-03 06:39] spencern commented on #3007
Is this similar to #2831 ?

[2017-10-03 06:50] Akarshit commented on #3007
@spencern Yes it is similar, the only difference is on the cause side. That was happening because uniqueness of handle was not being checked across products(which has already been fixed).

This issue is for tracking when the cause is because of the `revisions` flow.

[2017-10-03 07:04] mikemurray commented on #3007
@spencern what @Akarshit said :)

Yes, they similar. This issue points out the fact that it's probably a revision control issue with not validating that the handle is not already taken before publishing.

[2017-10-03 07:20] spencern commented on #2767
Resolved by #2912

[2017-10-03 07:20] #2767 closed

[2017-10-03 07:20] spencern commented on #2766
Resolved by #2912

[2017-10-03 07:20] #2766 closed

[2017-10-03 07:20] spencern commented on #2765
Resolved by #2912

[2017-10-03 07:20] #2765 closed

[2017-10-03 09:34] efalayi opened #3010 "Console error when search icon is clicked"
### Expected behavior
Display search field when search icon is clicked

### Actual Behavior
An error similar to this is shown in the browser console when the search icon is clicked:
[code]

### Steps to Reproduce the Behavior
[code]

### Versions
[code]

<img width="1279" alt="search-console-error" src="https://user-images.githubusercontent.com/28438068/31118736-56a27d9a-a826-11e7-83d3-548d1f5775a

[2017-10-03 10:26] Falenos opened #3011 "Broken translations when using data-i18n attribute"
### Steps to Reproduce the Behavior
At the marketplace branch:
Inspect element on "profile" section
Change from devtools an element with the data-i18n attribute
You can see that the value changes in the browser.

I think this functionality is provided by the jquery-i18next package.
In artlimes, all these translations are broken but the ones with i18next.t(...) seem to function correctly.

### Vers

[2017-10-03 10:35] efalayi commented on #2814
@rymorgan I can't seem to reproduce the issue with the steps provided. Also I couldn't clone an archived variant.

<img width="1280" alt="archived-variant" src="https://user-images.githubusercontent.com/28438068/31121115-ddcd0706-a82e-11e7-9feb-fd31ea276449.png">

[2017-10-03 10:37] efalayi commented on #3001
@aaronjudd what are the default settings for Paypal Express?

[2017-10-03 10:39] efalayi commented on #2135
I was able to reproduce this issue. Other payment methods display a toast message when an update is made to the payment settings (e.g Braintree, Stripe). The issue here is the method that displays the toast is probably not called in Paypal function when an update is made.

[2017-10-03 13:42] jm-wanja commented on #2868
The latest fix where if the product variant is failing validation, upon double click the product opens the edit variant panel is breaking on marketplace. @zenweasel to make a conclusion on whether to close this.

[2017-10-03 13:45] jm-wanja commented on #2623
Have not been able to consistently reproduce the blocker where the link leads to the `permission denied` page as noted in #2905

[2017-10-03 13:46] efalayi commented on #2135
@zenweasel none of the payment method settings have validations.

[2017-10-03 13:47] aanchirinah commented on #2516
I have noticed it too @bebob1 , I will fix it.

[2017-10-03 14:46] aanchirinah commented on #2814
@rymorgan , I also followed your steps and I am unable to clone an archived variant.

[2017-10-03 15:16] jm-wanja commented on #2838
I observed that this is also happening for single shop, after adding a product to cart the `cart collection` has two shipping objects, and so the `reduce()` method that is used to calculate the shipping total (rates), iterates through both shipping objects and sums the totals of the two.

[2017-10-03 16:56] kieckhafer commented on #2998
Closed via #2996

[2017-10-03 16:56] #2998 closed

[2017-10-03 16:56] kieckhafer commented on #2997
Closed via #2996

[2017-10-03 16:56] #2997 closed

[2017-10-03 17:42] rymorgan opened #3014 "Errant error indicator dot on products on the grid."
### Expected behavior
If a product doesn't have an error I shouldn't see an error indicator on the product grid.

### Actual Behavior
When I refresh a store with a publish/visible product with no errors I see an error indicator dot.

![published-shows-error](https://user-images.githubusercontent.com/20409254/31139811-8c1f8e9e-a827-11e7-9e4d-bdc82d48828a.png)

### Steps to Reproduce the Behavior
Cr

[2017-10-03 18:24] kieckhafer opened #3016 "show placeholder / default text in PDP social settings"
### Expected behavior
Default text should show in social settings fields on PDP

### Actual Behavior
No default text shows, you don't see it until you actually click the share button

![basic_reaction_products](https://user-images.githubusercontent.com/4482263/31141843-5c51924c-a82d-11e7-9d2a-960017f502e6.png)

[2017-10-03 18:47] jshimko commented on #2516
@spencern, no, I don't think I changed that any time recently.  Adding that `custom` option is definitely what we want in the reaction.json though, so maybe someone can sneak that into the next merge?

[2017-10-03 18:49] jshimko commented on #2516
The pre-fix alternative is after you load a reaction.json, you can go to the dashboard and select `custom` from the dropdown and click save.  That should accomplish the same thing.

[2017-10-03 19:13] spencern commented on #3011
We did remove the non-meteor version of jquery recently
https://github.com/reactioncommerce/reaction/pull/2948 you should still be able to use jquery with `import { $ } from "meteor/jquery"`

[2017-10-03 19:30] rymorgan commented on #2814
@aanchirinah @efalayi - I think my steps to reproduce weren't clear. I've updated the language to make more sense. It's happening when I make a variant with an option then archive the option, then duplicate the top level variant. I'm also seeing an issue where the duplicated option title, title, and price are not being duplicated.

[2017-10-03 19:55] spencern commented on #2623
I just reproduced this issue 30 seconds ago.
![image](https://user-images.githubusercontent.com/1203639/31145967-6e2bd3c8-a842-11e7-8123-864ecad15ddf.png)

@mikemurray this seems to be related to the `/shop/:shopSlug` vs `/:shopSlug` issue you solved yesterday with paypal express

[2017-10-03 19:58] spencern commented on #2838
@jm-wanja will you please you provide clear reproduction steps for producing this in a single shop

[2017-10-03 19:58] mikemurray commented on #2623
@spencern Yea, there must be other places where `getShopPrefix()` is still returning the wrong prefix, or maybe the prefix is generated with some other method wherever the emails are created.

[2017-10-03 20:02] spencern commented on #2623
my thoughts as well.

[2017-10-03 21:03] zenweasel commented on #3014
Yeah, I think this is sort of a duplicate of #2868. (that ticket talks about marketplace and this is all shops)

So I think what we are going to do for now is just remove the red dots and revisit this at a later time.

[2017-10-03 21:14] zenweasel opened #3018 "Use "Completed Order" component in Profile page"
We use the old completed order Blaze template in the profile page but we should reuse the Completed Order component that was converted to React and made marketplace-aware.

[2017-10-03 21:26] zenweasel commented on #3001
@efalayi I am going to make an executive decision as Vice President in charge of Paypal that the default should be "Authorize, Capture on Complete" since that's the default behavior for the rest of the payment methods.

[2017-10-03 21:33] spencern opened #3019 "Add settings panel to define dimensions for default parcel to shipping dashboard"
With #2992 we now automatically calculate the parcel size for cart items from whichever variant was added to the cart.

We need to add a settings panel within the shipping dashboard that permits defining default parcel sizes for products and variants that don't have dimensions defined.
We should add sensible defaults for the default parcel size so that it's never null which could cause Shippo or o

[2017-10-03 21:37] rymorgan commented on #3014
Redundant, closing.

[2017-10-03 21:37] #3014 closed

[2017-10-03 21:42] zenweasel commented on #2135
@efalayi I'm aware. We will be converting all these to React shortly so we can revisit then.

[2017-10-03 21:46] spencern commented on #3002
Resolved by #2992

[2017-10-03 21:46] #3002 closed

[2017-10-03 21:49] spencern commented on #2958
Resolved by #2992

[2017-10-03 21:49] #2958 closed

[2017-10-03 22:04] zenweasel commented on #2838
This might be the result of the bug I introduced when creating shipping records and am fixing in https://github.com/reactioncommerce/reaction/pull/2847. I wonder if we shouldn't wait until that is resolved (hopefully today) and retest.

[2017-10-03 22:13] spencern commented on #2890
Working on this right now.
The only issue remaining here is that merchant shops routes aren't displaying their products currently.
![image](https://user-images.githubusercontent.com/1203639/31151659-b674421a-a855-11e7-9ba8-609f862c5c14.png)

[2017-10-03 23:15] zenweasel commented on #2911
Closed via #3004

[2017-10-03 23:15] #2911 closed

[2017-10-03 23:34] zrisher commented on #2940
Hey @spencern, thanks for finding those related posts. That helped me understand that [meteor starts its own instances of Node and requires passing node args in the `TOOL_NODE_FLAGS` environment variable](https://stackoverflow.com/questions/42084472/meteor-build-running-our-of-memory/42694149#42694149).

So to avoid this OOM issue, I'm now running reaction with:

[code]

I noticed 2 gigs wouldn't

[2017-10-03 23:45] kieckhafer commented on #2814
I'm able to reproduce.

@rymorgan is pointing out two different things here, however I think by fixing point #1 below, it will take care of fixing the second as well, as they seem related code-wise.

1. It seems that the data on the options - title, option title, price, etc (and probably archived status - see #2) - is not being transferred to the new cloned option. It looks like the new option is

[2017-10-04 00:16] zenweasel commented on #2487
@jshimko @spencern Are there any components that we know that need to refactored/registered that we could open a ticket for? If we don't have anything specific to work on let's just close this as there is nothing actionable on it anymore.

[2017-10-04 00:20] zenweasel commented on #2066
Closed via #2170

[2017-10-04 00:20] #2066 closed

[2017-10-04 00:24] zenweasel commented on #2198
This should be done by using the `<Form>` component rather than the way it was done in Example Payment (and example payment should be rewritten to do this as well).

This should work so that in most cases unless you have advanced needs that you only need to define your schema and your settings panel should be generated automatically. So this may require extending the `<Form>` component some.

If t

[2017-10-04 01:06] zenweasel commented on #3010
Closed via #3017

[2017-10-04 01:06] #3010 closed

[2017-10-04 02:35] joshuacox opened #3023 "Allocation failed - process out of memory"
### Expected behavior
Build a custom image from a default checkout of reaction with no modifications

### Actual Behavior
CircleCI documents my build failure [here](https://circleci.com/gh/OpenBusinessBox/reaction/17)

that is  on the same commit as [8984 here](https://circleci.com/gh/reactioncommerce/reaction/8984) which passed, yet mine fails.

I have another [branch](https://circleci.com/gh/Ope

[2017-10-04 02:51] zenweasel opened #3024 "Receive error in server console after placing an order for a single shop in multi-shop mode"
### Expected behavior
No errors

### Actual Behavior
Receive this error in console:
[code]

This seems to be because this function is returning the paymentMethod for the wrong shop (only the current shop)
https://github.com/reactioncommerce/reaction/blob/0059da1f76b8c51930eedc94a4fd4e9b0c1806ce/server/methods/core/orders.js#L18

### Steps to Reproduce the Behavior
1. Create a marketplace shop and

[2017-10-04 08:01] jm-wanja commented on #2838
**To reproduce in single shop**

1. In a single-shop set up any non free shipping method eg: flat-rate standard
2. Add a product to cart.
3. At checkout observe the shipping total to be twice the price of the shipping rate selected.

[2017-10-04 09:44] jeslin01 opened #3026 "Not able to clone reaction"
### Expected behavior
Will get a complete folder of reaction

### Actual Behavior
not even able to clone from github

### Versions
Node: 6.11.3
NPM: 3.10.10
Meteor Node: 4.8.4
Meteor NPM: 4.6.1
Reaction CLI: 0.14.2

I am using a fresh machine for installation of reaction but i am geeting errors like this -
Cloning into 'reaction'...
fatal: unable to connect to github.com:
github.com[0: 192.30.255.

[2017-10-04 10:33] impactmass commented on #2965
I think this is related to the errors mentioned on [2938](https://github.com/reactioncommerce/reaction/issues/2938#issuecomment-333249832), so might be getting fixed in #3020

[2017-10-04 13:25] janus-reith opened #3028 "[Marketplace] WIth Single Shops, the eMail verify Link for registrations is wrong"
I get a link in the form of http://domain.tld//account/profile/verify?email=email@provider.tld
I guess that the double slashes occur because of some error in the shop prefixing.

[2017-10-04 13:29] impactmass commented on #2888
resolved in #2918

[2017-10-04 13:29] #2888 closed

[2017-10-04 13:29] impactmass commented on #2604
closing in favor of #2938

[2017-10-04 13:29] #2604 closed

[2017-10-04 13:31] impactmass commented on #2075
closing in favor of work done in [epic 55](https://github.com/reactioncommerce/reaction/milestone/55)

[2017-10-04 13:31] #2075 closed

[2017-10-04 13:57] efalayi commented on #2301
@zenweasel has this issue been re-opened?

[2017-10-04 14:01] zenweasel commented on #2301
@efalayi I don't understand your question. This issue has not been closed.

[2017-10-04 14:35] efalayi commented on #2301
I was looking at the referenced issue. My mistake.

[2017-10-04 14:58] aaronjudd opened #3029 "review / update all dependencies"
Task to run `ncu -a` and update all dependencies when we begin using Meteor 1.6.

Right now, you can't just force update/install because there is varying versions of node deps/engines involved in some of our dependencies, which should be resolved with Meteor 1.6, as this is also an update to Node v8.x

[2017-10-04 14:59] aaronjudd commented on #3026
Looks like a network error, or Github was down? Try again, should be resolved.

[2017-10-04 14:59] #3026 closed

[2017-10-04 15:00] aaronjudd commented on #3026
You can also always use any regular `git` command to pull /checkout reaction..

[2017-10-04 15:36] spencern commented on #2940
@zrisher I have seen this issue recently in our CI builds, but haven't seen it in my dev environment yet. I don't have a Windows box to test on (I'm on OSX) but does this seem to be the same issue?
https://circleci.com/gh/reactioncommerce/reaction/8996

Can you also try pulling the latest version of our `marketplace` branch? We just updated to Meteor `1.5.2.2` and I'm curious if that does any bett

[2017-10-04 15:54] spencern commented on #3028
@janus-reith do you think this is the same as https://github.com/reactioncommerce/reaction/issues/2623?

[2017-10-04 15:57] spencern commented on #2533
Resolved by #2973

[2017-10-04 15:57] #2533 closed

[2017-10-04 16:08] janus-reith commented on #3028
Yep, didn't notice that one.

[2017-10-04 16:08] #3028 closed

[2017-10-04 16:19] joykare commented on #2959
*Notes*
- It displays twice because of this line right here: https://github.com/reactioncommerce/reaction/blob/marketplace/imports/plugins/core/orders/client/templates/workflow/workflow.html#L4
- When you have an order and ship, two shipping items are added into the shipping array in the DB
- Next step: figure out why there are two shipping items for one order and if they are supposed to exist in

[2017-10-04 16:25] kieha commented on #2832
Notes:
- Stripe Connect requires user accounts to have emails when processing payments

Approach:
- Check that Stripe Connect is the enabled payment method when users start checkout process/click on `Continue As Guest` button.
- If Stripe, render email form (similar to the `orders/completed` email form).

[2017-10-04 16:51] spencern commented on #161
Hey, we're going to leave the tag Pull Requests Encouraged and `needs-more-detail` on here, but we're going to close this issue because the requirements need to be defined better. If this is an issue that you would like to pursue, please create a new issue with more detail and more specific requirements and link to this old issue.

[2017-10-04 16:51] #161 closed

[2017-10-04 16:52] spencern commented on #225
Hey, we're going to leave the tag Pull Requests Encouraged and `needs-more-detail` on here, but we're going to close this issue because the requirements need to be defined better. If this is an issue that you would like to pursue, please create a new issue with more detail and more specific requirements and link to this old issue.

[2017-10-04 16:52] #225 closed

[2017-10-04 16:53] spencern commented on #334
Hey, we're going to leave the tag Pull Requests Encouraged and `needs-more-detail` on here, but we're going to close this issue because the requirements need to be defined better. If this is an issue that you would like to pursue, please create a new issue with more detail and more specific requirements and link to this old issue.

[2017-10-04 16:53] #334 closed

[2017-10-04 16:55] spencern commented on #1118
Hey, we're going to leave the tag Pull Requests Encouraged and `needs-more-detail` on here, but we're going to close this issue because the requirements need to be defined better. If this is an issue that you would like to pursue, please create a new issue with more detail and more specific requirements and link to this old issue.

[2017-10-04 16:55] #1118 closed

[2017-10-04 17:02] rymorgan commented on #2838
I'm seeing this too. Captured this in incognito mode with only flat rate shipping enabled.
<img width="1227" alt="flat-rate-shipping-bug" src="https://user-images.githubusercontent.com/20409254/31188824-18779170-a8eb-11e7-94d1-d91f04619568.png">

[2017-10-04 17:04] josx commented on #383
@aaronjudd  I will need this feature in the near future.
How can we help to build it up?
Are you thinking to make a custom cms over reaction, or are going to integrate another cms?
what is you plan on this?

[2017-10-04 17:08] spencern commented on #2560
@Akarshit did #2846 resolve this issue?

[2017-10-04 17:09] spencern commented on #2628
Hey, we're going to leave the tag Pull Requests Encouraged and `needs-more-detail` on here, but we're going to close this issue because the requirements need to be defined better. If this is an issue that you would like to pursue, please create a new issue with more detail and more specific requirements and link to this old issue.

[2017-10-04 17:09] #2628 closed

[2017-10-04 17:14] spencern commented on #2743
@Akarshit has this been resolved by #2825
@janus-reith what's the best way to verify that this has been fixed?

[2017-10-04 17:18] spencern commented on #2769
@cindyfirestone can you add some more details to this issue?

[2017-10-04 17:20] mikemurray commented on #2864
Between this ticket and #1578, what's required to get this rolling as an initial start?

[2017-10-04 17:22] spencern commented on #1507
Let's deal with this in #3009

[2017-10-04 17:22] #1507 closed

[2017-10-04 17:25] aaronjudd opened #3034 "Deprecate aldeed:meteor-autoform"
Deprecate https://github.com/aldeed/meteor-autoform, all validation should be done in React components.

### Expected behavior
No use of blaze templates or autoform in core code or UI components.

[2017-10-04 17:26] spencern commented on #1593
Related #2917 #3034

[2017-10-04 17:26] aaronjudd commented on #3034
See related: 2917

[2017-10-04 17:26] #1593 closed

[2017-10-04 17:28] spencern commented on #2079
@mikemurray does this issue still exist?

[2017-10-04 17:30] janus-reith commented on #2743
Took a quick look at the PR, both the schema and the change for the addtoCard method I mentioned have been taken into account - looks fine to me so far.
I also didn't experience the issue on the marketplace branch anymore.

Simple way to verify:
Create a variant with inventoryQuantity 0. set inventoryPolicy/inventoryManagement to false.
Add to card and finish checkout, approve the order in the bac

[2017-10-04 17:35] impactmass commented on #3005
We have this "[TODO](https://github.com/reactioncommerce/reaction/blob/marketplace/lib/collections/transform/cartOrder.js#L208)" placed in the code about coming back to build out shop-by-shop discount.

Is that what we want to solve right now, or for now we want discount to work for just the primary shop? It looks like the focus is for single shop instance, but want to be clear.

[2017-10-04 18:00] jm-wanja commented on #2879
Working on tracking why the action panel is behaving this way, I have tried altering the transform property of the action view using translate values, still trying to understand why the animation is not reversed on rtl.

[2017-10-04 18:12] spencern commented on #2864
MVP thoughts:

I feel that we should still use the workflow/status to determine which shops are active and which shops are not, this will make the transition from simple -> complex shop management much simpler and make the upgrade path possible.

I think we could start with just using two statuses to determine enabled/disable -> "Active" and "Archived" - for now perhaps "Archived" is just an indic

[2017-10-04 18:17] spencern commented on #2986
@janus-reith can you confirm that #3030 resolves this?

[2017-10-04 18:27] janus-reith commented on #2986
Yes, the PR does exactly what I described in the first comment. Closing this as it's fixed :)

[2017-10-04 18:27] #2986 closed

[2017-10-04 18:27] mikemurray commented on #2864
@spencern That's a simple enough concept to start with.

Maybe not for now, but should have some extra metadata stating the reason or at least a date of when a shop became active, archived or other status changes.

[2017-10-04 18:46] kieckhafer commented on #2864
Is "archived" the best terminology? I think `disabled` works better for a store.

[2017-10-04 19:18] joykare commented on #2959
- Observed this behavior on old orders I had. By behavior I mean:

<img width="1192" alt="screen shot 2017-10-04 at 22 15 03" src="https://user-images.githubusercontent.com/19430074/31195046-a69b6498-a951-11e7-9418-3275c0a7a82d.png">
Unable to replicate this on new orders and after `reaction reset`.

@zenweasel @kieha could you try reproducing this bug after a reaction reset/ just on new orders.

[2017-10-04 19:34] kieha commented on #2959
Every first order of every user seems to come with two shipping objects that have the same shopId. The subsequent orders all have one shipping object. This is after a `reaction reset`.

[2017-10-04 19:41] impactmass commented on #2959
To add also, for those two shipping objects mentioned, there's a success/error field in there i.e `shipping.shipmentQuotesQueryStatus.requestStatus`.  (cc @jm-wanja you mentioned this too somewhere, right?)

[2017-10-04 19:50] joykare commented on #2959
@impactmass seen it. Thanks for mentioning it.

*Update*
- Figuring out why this is happening

[2017-10-04 20:06] spencern commented on #2864
@kieckhafer I don't disagree with that idea in premise. Do you think we should add an additional status in the workflow seen above? I feel like archived probably still has a place in the workflow as it's our version of "deleted", but agree that semantically, enabled/disabled might make more sense immediately.

How would you describe the differences between `disabled` and `archived`?

The reason I

[2017-10-04 20:28] kieckhafer commented on #2864
Yeah i see why it's proposed this way, archived does go with our currently terminology. It could just be on the UI end, we change it to say "Disabled" instead of archived, but architecturally, we still keep it archived. I don't think we need an additional status, I see archived and disabled as the same.

It's hard to pinpoint. I guess I think of using `Archived` for a single item that doesn't real

[2017-10-04 20:39] mikemurray commented on #2864
Using `archived` to match with the `archived` state of all the products & content in that shop will be, once you archive that shop. It's not merely `disabled` to be maybe re-enabled. It's `archived` and most likely will never be re-instated. Deleted, but capable of being re-restored to some extent.

- Disabled is like a temporary ban. (Visible / Not Visible)
- Archived is like a permanent ban. (Es

[2017-10-04 20:40] mikemurray commented on #2864
And they are not necessarily exclusive. A shop could be both `disabled` and `archived`.

[2017-10-04 21:09] zenweasel commented on #2868
Closed via #3021

[2017-10-04 21:09] #2868 closed

[2017-10-04 21:10] zenweasel commented on #2690
Reopened by #3021

[2017-10-04 21:13] zenweasel commented on #2838
@jm-wanja Can you or anyone test against #2847 and ensure it's not happening there? I'm not seeing it.

[2017-10-04 21:44] janus-reith commented on #3018
Maybe we could even take this a step further?
The orders are shown on the completed page, the profile page, the orders dashboard panel and the eMail template.
It would be great to generalize this somehow, to make customization easier.

[2017-10-04 21:57] rymorgan commented on #2838
@zenweasel I just checked on your PR brand #2847 and it seems to be working there properly.
<img width="1251" alt="allgood" src="https://user-images.githubusercontent.com/20409254/31201665-5521e8d6-a914-11e7-8c1b-d6bc67a270cd.png">

[2017-10-04 21:58] zenweasel commented on #2838
@rymorgan Thanks! Much appreciated.

[2017-10-04 22:00] zenweasel commented on #2079
@spencern I still see it regularly. But not in any reproducible way.

[2017-10-04 22:03] zenweasel commented on #3005
@impactmass Yes. We only care about single shop discounts working now.
 https://github.com/reactioncommerce/reaction/issues/2763 is the multi-shop discount ticket.

[2017-10-04 22:06] rymorgan commented on #2864
@mikemurray How much or how little fixing of the current accounts UI are you going to do on this issue?  Because this is going to be copying a UI from a broken UI. I can help design this out, but I'm going to design it to where I want it to be, not where it is now.

[2017-10-04 22:14] zenweasel commented on #3018
@janus-reith I would agree except maybe for the orders dashboard as that's an entirely different view with different permissions (especially as it pertains to marketplace). But I think sharing this code for everywhere a user looks at their own order makes a lot of sense.

[2017-10-04 22:21] zenweasel commented on #2959
@joykare I see this issue all day with new orders and I'm constantly resetting. Let me try and drill down into some better reproduction steps.

[2017-10-04 22:22] spencern commented on #2864
@mikemurray I think that explanation makes sense, I've changed the proposal I have above and use `disabled` in place of `invalid` now.

[2017-10-04 22:22] zenweasel commented on #2959
I think the two shipping records is a bug introduced by me that I have fixed on #2847

[2017-10-04 22:27] joykare commented on #2959
@zenweasel cool cool, my findings so far, however, is that it happens only on the first order on a new user. All other subsequent orders by the same user are okay.

Reproduction steps for different findings are highly welcome.

[2017-10-04 22:30] rymorgan commented on #3018
This hasn't been fully reviewed or approved, but that's my plan with the work I've done on our revamped user profile views. https://scene.zeplin.io/project/58af8900737c137280322bd6/screen/59b7272087fcafc969870826

[2017-10-04 22:36] mikemurray commented on #2864
@rymorgan very little fixing if possible. I was going to start with a table view only for the start.

[2017-10-04 22:46] joykare commented on #2959
@zenweasel just tested for this on your PR and its fixed (you could add this as a bug your PR resolves_unless you can reproduce it some other way)
- The shipping having two items for the same order was happening for the first order for every new user

[2017-10-04 23:49] rymorgan opened #3036 "Empty cart flashing when I register a new user"
### Expected behavior
When I register a new user, I should stay on the same page, see a spinner (if there is a delay or pause) and not see a flashing empty cart.

### Actual Behavior
When I register a user in checkout I hit submit and an empty cart screen flashes.

![jujabxxuuq](https://user-images.githubusercontent.com/20409254/31205064-f6ecfde0-a923-11e7-84f9-b5badd03e918.gif)

### Steps to Repr

[2017-10-05 00:03] zenweasel commented on #2867
Closed via #2926

[2017-10-05 00:03] #2867 closed

[2017-10-05 00:09] impactmass commented on #3005
Okay, for now, the focus is getting discounts working for single shop installs.  [`getTotalByShop`](https://github.com/reactioncommerce/reaction/blob/marketplace/lib/collections/transform/cartOrder.js#L202) is where the change needs to happen.

Before the total object is returned we can have a check to confirm that only one shop is featured in the order. Then apply any discount set. If more than a

[2017-10-05 00:18] zenweasel commented on #3001
Closed via #3027

[2017-10-05 00:18] #3001 closed

[2017-10-05 00:22] aaronjudd opened #3037 "Muting Migration Info:`Running up`"
Remove the startup, console logging of `INFO Reaction: Running up() on version 1`.

This is not really a useful message, particularly on a first startup, where there shouldn't actually be any migrations occurring.

On subsequent migrations, we would just display the latest version and the migrations running from there (which I think is the current behavior).

### Expected behavior
[code]
### Actua

[2017-10-05 00:34] cindyfirestone commented on #2769
A simple way to do this would be to pull items with 1 or more tags. We should limit how many related items should show, and this should be randomized so the same items don't always show up.

[2017-10-05 00:51] zenweasel commented on #2625
This should be solved with #2834 as well so I am assigning to @foladipo

[2017-10-05 01:02] aaronjudd commented on #2964
@kieckhafer can this issue be closed? I'm not sure I'm seeing the issue here. 10 vs 10.00 is formatting by currency (which the console isn't applying). right?

[2017-10-05 01:20] Itsneilpatil commented on #2769
For the simplest use cases, related product recommendations can either assist shoppers to see like products with similar facets/attributes (display other blue road bikes) and/or provide complementary recommendations (display bike lock(s) for bike that has been carted).

The initial application of related products for finding "similar" products could be accomplished by matching all the tags of the

[2017-10-05 03:26] janus-reith commented on #2623
I just noticed, that it's not only the verification url, but also when clicking "Your Orders" on the order confirmation mail.
The behaviour here is the opposite: The prefix is added although there is only a single shop, like:
http://localhost:3000/shopname/cart/completed?_id=***** while the valid url would be
http://localhost:3000/cart/completed?_id=*****

[2017-10-05 03:32] kieckhafer commented on #2964
Yes.

[2017-10-05 03:32] #2964 closed

[2017-10-05 06:00] Akarshit commented on #2560
@spencern There is still a case that has not been fixed, which is tracked in #3007

[2017-10-05 06:02] Akarshit commented on #2743
@spencern Will look into what @janus-reith said.

[2017-10-05 07:35] Falenos commented on #3011
Thanks Spencer, will test and get back to you about it

[2017-10-05 07:43] jm-wanja commented on #2838
I have tested this on #2847 for both single shop and marketplace, and the shipping is now working correctly.
I had added a check on the `getTotalShipping()` to use successful shipments (since previously the second shipping object had an error status), should I remove that since the reason the bug was there has been resolved and close this issue? @zenweasel

[2017-10-05 08:19] zenweasel commented on #2838
Yes I think this bug was introduced by me so this issue will just get closed when that PR is merged. I don't think any additional code needs to be added.

[2017-10-05 08:55] foladipo commented on #2625
Seen @zenweasel . And yeah, #2834 should resolve this.

[2017-10-05 10:37] efalayi commented on #2878
@rymorgan when a column header is resized, where should the additional column be displayed? I'm thinking we'll probably need to listen for a drag event, then hide some stuff, and display the new column when the event occurs. CSS might not be our only fix here.

[2017-10-05 13:50] aanchirinah commented on #2989
I just replicated the bug and I'm on it

[2017-10-05 14:18] jm-wanja commented on #2879
I have worked on understanding the VelocityTransitionGroup component in relation to the animation of the actionView, tried to have the animation transition property set to slideLeft for the rtl languages, but that hasn't worked out.

[2017-10-05 14:37] aanchirinah commented on #2814
@rymorgan , I able to reproduce the bug now. Also @kieckhafer , thanks for adding more context.

[2017-10-05 17:18] rymorgan commented on #2878
@efalayi, In this case, I don't think you need to hide anything.

When expanded, the sortable table in orders admin panel should remain contained and not extend outside of the panel. It should all stay inside the table width. We can allow them to move the info inside the table to see a column that has extra data. In that case, we can let the other column hide beyond the edge of the table width. I

[2017-10-05 17:25] kieckhafer commented on #2878
`we can let the other column hide beyond the edge of the table width`

If you mean allow the table to be horizontally scrollable, then yes, this is the way to go. SortableTable should already be set up to do that.

Take a look at the example here, you can see that the table is scrollable, without the whole window being scrollable.

https://react-table.js.org/#/story/custom-column-widths

[2017-10-05 17:53] rymorgan commented on #2878
Good example. That's what I mean, but we should put a min-width on them, maybe of 20px so you can't lose columns entirely off the page.

[2017-10-05 18:12] efalayi commented on #2878
@kieckhafer thanks for that helpful link. I've been trying to figure out how react-table works. @rymorgan I'll give you an update in an hour.

[2017-10-05 18:16] rymorgan commented on #2879
@mikemurray Can you give her a little help on this?

[2017-10-05 18:36] kieckhafer commented on #2878
@efalayi If you have any new insights into it, please add them to the docs!

[2017-10-05 19:08] rymorgan opened #3042 "Inconsistent label spacing on pdp"
### Expected behavior
Labels should have consistent spacing

### Actual Behavior
Labels have inconsistent spacing.

![spacing-bug](https://user-images.githubusercontent.com/20409254/31247576-ddf456ba-a9c5-11e7-9883-9a0d0500a9f4.png)

### Steps to Reproduce the Behavior
Create a new product with both backorder and archived labels.

### Versions
Node: 4.5.0
NPM:
Meteor Node: 4.8.4
Meteor NPM: 4.6.1

[2017-10-05 19:16] efalayi commented on #2878
@rymorgan @kieckhafer so I finally found out what the problem is. Min and max widths were set for `.order-table-header-[column name]` and `.order-table-column-[column name]` in order.less file. Turns out that we can also set maxWidth in React-table. So I removed the min and max width specified and maxWidth as a props. It did the trick. I should probably create a PR so you can see the changes I mad

[2017-10-05 19:18] kieckhafer commented on #2878
@efalayi awesome! Yes, please make a PR and we'll check it out.

[2017-10-05 19:20] efalayi commented on #2878
I'll do that in a bit.

[2017-10-05 19:53] impactmass commented on #3005
PR opened #3041

[2017-10-05 22:21] jshimko commented on #3023
Try adding this to your Circle config... https://github.com/reactioncommerce/reaction/commit/cb6e9e1c80a0fe971a133958b1104f6a28c4dd88

And when local...
[code]

[2017-10-05 22:27] kieckhafer commented on #2983
I don't think this is an issue of missing translations, this seems to be a much bigger issue where no translations are working for any old blaze form that's autoform / simpleSchema.

I'm going to start working on converting this specific form to React, but the overall problem is much bigger and I don't think something I can do alone for `marketplace v1.5.0`

[2017-10-05 22:29] spencern commented on #2983
@kieckhafer is there a chance that this is a jQuery related issue?

[2017-10-05 22:35] kieckhafer commented on #2983
is this is the correct way to import:
`import { $ } from "meteor/jquery";`

I just don't even see where the translations would be getting injected into the form. I guess I'm not familiar enough with autoform yet

jQuery import:
https://github.com/reactioncommerce/reaction/blob/ek-issue2983/imports/plugins/included/connectors-shopify/client/settings/shopify.js#L4-L5

Schema it's using (i'm assuming

[2017-10-05 23:01] zenweasel commented on #2983
@kieckhafer I think that code is here: https://github.com/reactioncommerce/reaction/blob/fac086b96523d2b5de0c21940fe4a672fe1df32c/client/modules/i18n/main.js#L37

[2017-10-05 23:24] kieckhafer commented on #2983
still not 100% what exactly is happening, but it looks like not all translations are being loaded on startup. If you look here, you can see via the logs that not all translations are there (look for reaction-connecters-shopify in particular, as that's what this issue initially started as)

https://github.com/reactioncommerce/reaction/blob/ek-issue2983/client/modules/i18n/main.js#L38

Going to keep

[2017-10-05 23:50] spencern commented on #2623
The issue for the verification URL turned out to be two-fold
1. The route is not accurate for for most shops.
I'll be changing the email template to always use the root route, there aren't any good reasons to use the shop-prefix here as it just adds complexity and all users are global anyway.

2. The email is not being URI encoded which means that some valid emails, such as emails with a `+` in th

[2017-10-06 00:03] zrisher commented on #2940
@spencern Thanks for your continued assistance here.

The error you linked above does look very similar to the one I was receiving, though the GC and functional details are different. I notice these change every time I receive the error, as well:

[code]

So I think it's safe to assume that Meteor 1.5.2.1 has **something** going on that makes many parts of its startup process *generally* require m

[2017-10-06 00:17] kieckhafer commented on #2983
OK. I think I may have figured out the cause of the problem.

It seems that if you register your SimpleSchema locally inside your package, it doesn't get picked up by the i18n initialization. Here's the startup file, as you can see it imports the `Schemas` only from `/lib/collections/schemas`, so any schema you have locally in your package, like `ShopifyConnectPackageConfig` in this case, won't ge

[2017-10-06 00:25] spencern commented on #2940
@zrisher thank you for spending the time to track all of this down and give us a detailed write-up.

Regarding your specific areas that Reaction could be improved:

I agree that this would be helpful to have in the docs. Would you open a PR to our docs with this information? @machikoyasuda can help you figure out the best place for it.

If you can verify this with other Windows users, it seems lik

[2017-10-06 04:19] spencern commented on #2983
@kieckhafer nice work tracking this down.
I agree that forcing schemas to be registered in the lib is not really a good option due to requiring people to touch core.

I've thought before that having a `registerSchema` method similar to registering a react component might be useful, possible that might be a way to solve the problem, but maybe there's a simple solution I'm not thinking of right now.

[2017-10-06 04:38] spencern commented on #2623
Resolved by #3046

[2017-10-06 04:38] #2623 closed

[2017-10-06 04:52] joshuacox commented on #3023
Thanks to @jshimko  we've got some successes in the circleCI builds:
https://github.com/jshimko/reaction/commit/1b45cdb96d93e4a874e515dba80afda9e5ae7416
I'm investigating further on the local builds

[2017-10-06 05:10] spencern commented on #3024
What's the status on this?

[2017-10-06 05:11] spencern commented on #2836
Resolved by #2847

[2017-10-06 05:11] #2836 closed

[2017-10-06 05:12] spencern commented on #2870
Resolved by #2847

[2017-10-06 05:12] #2870 closed

[2017-10-06 05:12] spencern commented on #2838
#resolved by #2847

[2017-10-06 05:12] #2838 closed

[2017-10-06 05:13] spencern commented on #2890
Resolved by #3022

[2017-10-06 05:13] #2890 closed

[2017-10-06 05:13] spencern commented on #2989
Resolved by #3039

[2017-10-06 05:13] #2989 closed

[2017-10-06 05:14] spencern commented on #2516
Resolved by #3013

[2017-10-06 05:14] #2516 closed

[2017-10-06 05:15] spencern commented on #2959
Resolved by #2847

[2017-10-06 05:15] #2959 closed

[2017-10-06 12:26] jm-wanja commented on #2879
On this [commit](https://github.com/reactioncommerce/reaction/commit/a6eb24138a0d8201555cf983ac36b6927ed35a92) I used the `querySelector()` to identify when the html classname is rtl, then set new states for the `rtl` enter/leave animation, this makes sure that the animation for right-to-left languages animates properly.

[2017-10-06 12:28] joykare commented on #2963
*Notes*
On pause till other more urgent marketplace bugs are resolved

[2017-10-06 12:38] zenweasel commented on #2850
@rymorgan Can you verify that this issue has been fixed?

[2017-10-06 12:43] joykare commented on #2625
@foladipo I see this is still on the PR list
Wanna take a look at it together?

[2017-10-06 12:50] aanchirinah commented on #2879
I just experienced this bug just as described and I'm on it.

[2017-10-06 12:58] foladipo commented on #2625
Yeah, no problem. But we'll have to commit our work to #2834 . The major part remaining in that PR is that the search form gets 'stuck' some times. See the PR's conversation for details.

[2017-10-06 13:08] foladipo commented on #2625
@joykare This issue has been resolved already in #2834. I'm going to close it now.

[2017-10-06 13:09] zenweasel commented on #2625
Let's not close tickets until PR's are merged please

[2017-10-06 13:10] joykare commented on #2625
Its not resolved its just on the PR list. We'll close when your PR gets merged @foladipo

[2017-10-06 13:30] joshuacox commented on #3023
These numbers definitly need to be tweaked, I have a machine that will build with 2047, but not 2048.  We have certainly got a working workaround.  There is an npm module [here](https://www.npmjs.com/package/increase-memory-limit)  that just adds this flag to all node calls. But I'm not ready to close this issue yet.  There is a memory leak in building one of the node modules and that might get wo

[2017-10-06 13:46] kieha commented on #3024
Started looking into this but put it on hold to wrap up with #2832. I'll remove my assignment just so someone else not currently working on anything could pick it up, but I'll get back to it once done with my current task if it'll still be unassigned.

[2017-10-06 14:30] jshimko opened #3047 "possible solution for interactive email builder to replace current email templates UI"
Just discovered https://github.com/unroll-io/react-email-editor

I think this could be a great interface to add for editing email templates within the app instead of having to manually edit html files or raw html content in a basic textarea input.  You can save/load the contents as a JSON object and there's a method to output the final HTML.  I haven't tried it yet, but there are a lot of good sam

[2017-10-06 14:46] joykare commented on #2625
@foladipo I made some changes that should fix the getting stuck issue.
Could you test it out

[2017-10-06 15:04] rymorgan commented on #2850
@zenweasel Yep, I just checked it. Fixed.

[2017-10-06 15:04] #2850 closed

[2017-10-06 15:15] spencern commented on #2641
Is this issue being worked on or should it be worked on as part of #3009?

@kieckhafer do you think the translation issues for Product Revisions is due to the same issue you discovered in #2983 ?

[2017-10-06 15:45] spencern commented on #2660
Resolved by #3032

[2017-10-06 15:58] spencern commented on #2963
@joykare thanks for the update.

@rymorgan are you okay pushing this issue out until `release:next`?

[2017-10-06 16:05] aaronjudd commented on #2782
Resolved in #3043

[2017-10-06 16:05] #2782 closed

[2017-10-06 16:07] kieckhafer commented on #2641
No, I think #2983 will only fix SimpleSchema generated form labels translations.

[2017-10-06 16:11] aaronjudd commented on #2983
this would most likely be resolved by #2917

[2017-10-06 16:17] aaronjudd opened #3048 "review all pending/disabled tests"
Review pending and disabled tests for release-1.5.0+ and go through all tests, remove tests that are disabled/pending that cannot be fixed  (this is why we have version control).

- reaction test should run with no pending test.
- all tests that were disabled for release-1.4 and 1.5 should be fixed

[2017-10-06 16:35] rymorgan commented on #2963
@spencern Short answer: yes.

Long answer, yes, but I want to do it properly and do all of the requirements here: https://github.com/reactioncommerce/reaction/issues/2922

[2017-10-06 17:08] spencern commented on #3005
resolved by #3041

[2017-10-06 17:08] #3005 closed

[2017-10-06 20:56] spencern commented on #2917
I've gone ahead and replaced all instances of `type: [String]` or any other arrays that are built like that in our current code base.
See my branch `spencer-node-simple-schema-update-schemas`

Current issues I'm running into:

it appears that the node version does not support our `index` property

[code]

From @mikemurray, we need to be aware of how our [Validation](https://github.com/reactioncomm

[2017-10-06 20:57] spencern commented on #2917
Related #3034

[2017-10-06 20:58] kieckhafer commented on #2917
PR #3053 will be the registerSchema updates. It's working well as is with a few test schemas, just need to make sure all schemas are registered.

[2017-10-06 21:46] kieha commented on #2832
Resolved in #3035

[2017-10-06 21:46] #2832 closed

[2017-10-06 21:56] kieha opened #3054 "Create admin option to force all anonymous users to provide an email address on checkout"
As it currently stands, when checking out as an anonymous user, the user is not required to provide an email address at any point in the checkout process, and on `order/completed`, they are requested to provide an email, but this is optional.

However, in issue #2832, users are required to have an email when checking out with Stripe Connect, thus it becomes a problem for anonymous users to complet

[2017-10-06 22:30] spencern commented on #3024
@kieha how's this issue coming along?

[2017-10-06 22:31] spencern commented on #2864
Resolved by #3049

[2017-10-06 22:31] #2864 closed

[2017-10-06 22:44] kieha commented on #3024
Update:

-If you're in shop A, and you buy a product from shop B, and then complete the order in shop A, this function https://github.com/reactioncommerce/reaction/blob/0059da1f76b8c51930eedc94a4fd4e9b0c1806ce/server/methods/core/orders.js#L18
returns undefined as the shopId of that order's billing record is that of shop B, hence the error.

Solution:
- returning an empty object if the function re

[2017-10-06 22:51] impactmass commented on #2938
Other reported issues above (apart from the redirect comment) and a refunds error due to work done in #2022 should all be fixed in #3020 when merged

[2017-10-06 22:52] spencern commented on #2817
@kieckhafer will this be resolved by #3053 ?

[2017-10-06 22:53] kieckhafer commented on #2817
I don't think so. I think #3053 will only resolve missing translations on existing Autoform / SimpleSchema / Blaze forms

[2017-10-07 01:34] kieckhafer commented on #2817
These translations should be in the local translations file, not in the core file:

https://github.com/reactioncommerce/reaction/blob/release-1.5.0/private/data/i18n/en.json#L186-L187

[2017-10-07 01:35] spencern commented on #2817
by local do you mean in plugins?

[2017-10-07 01:36] kieckhafer commented on #2817
Yeah, they should be here: https://github.com/reactioncommerce/reaction/blob/release-1.5.0/imports/plugins/core/orders/server/i18n/en.json

[2017-10-07 01:46] spencern commented on #2802
resolved by #2834

[2017-10-07 01:46] #2802 closed

[2017-10-07 01:47] spencern commented on #2625
Resolved by #2834

[2017-10-07 01:47] #2625 closed

[2017-10-07 01:48] spencern commented on #2858
@aaronjudd is this a blocker for our `1.5.0` release still?

[2017-10-07 01:56] spencern commented on #2983
Resolved by #3053

[2017-10-07 01:56] #2983 closed

[2017-10-07 02:24] spencern commented on #2999
Resolved by #3015

[2017-10-07 02:24] #2999 closed

[2017-10-07 02:49] kieckhafer commented on #2641
I think this is all working. As @mikemurray mentioned, Tooltips are RTL and LTR, Dashboard is translated, available options is translated, and I'm also seeing "product revisions" as translated, which was his only "not working" note.

[2017-10-07 02:49] kieckhafer commented on #2641
@spencern I think this is all working. As @mikemurray mentioned, Tooltips are RTL and LTR, Dashboard is translated, available options is translated, and I'm also seeing "product revisions" as translated, which was his only "not working" note.

[2017-10-07 05:07] spencern opened #3059 "Tabbing between fields when editing a product variant broken"
As you can see in this video, the focus gets removed from the input field immediately after navigating to it via tab.

I think this is probably caused by the save action, but not certain.

http://recordit.co/nKSTQF1kCE

@kieckhafer or @kieckhafer care to take a look?

Steps to reproduce:
1. `release-1.5.0` branch
2. create or edit a product and use tab to navigate between input fields

[2017-10-07 05:10] spencern commented on #2817
Resolved by #3057

[2017-10-07 05:10] #2817 closed

[2017-10-07 05:33] spencern commented on #3059
Also seeing this server error:
[code]

[2017-10-07 05:40] zenweasel commented on #3059
I think server error is related to https://github.com/reactioncommerce/reaction/issues/2079 and usually disappears after reset or just some time.

[2017-10-07 05:45] spencern commented on #3059
I'm able to reproduce this error specifically by focusing fields, but I'm pulling `1.5.0-rc.3` as well as the current `release-1.5.0` branch to see if I can do a better job with this.

[2017-10-07 05:52] spencern commented on #3059
Actually on a fresh pull of `release-1.5.0` I can't reproduce the server error, so @zenweasel is probably correct that it may not be directly caused buy this issue.

[2017-10-07 07:00] spencern opened #3060 "Currency dropdown displaying multiple values and not working"
![image](https://user-images.githubusercontent.com/1203639/31305590-9edfd09a-aafa-11e7-8e22-0a89e8934180.png)

This was introduced when we merged #2979

[2017-10-08 20:38] yairtal commented on #3023
This workaround did the trick for me

[2017-10-08 23:30] zenweasel commented on #2892
@aaronjudd Are we still not in agreement that this is a bug?

[2017-10-09 04:14] kieckhafer commented on #3059
Looks to be something in [this piece of code](https://github.com/reactioncommerce/reaction/blob/release-1.5.0/imports/plugins/included/product-variant/containers/variantFormContainer.js#L178-L192) causing the issue.

When I comment that all out, and just log something as the only code inside `handleVariantFieldSave()`, then you can tab fine.

I've tried disabling the validation, and just running t

[2017-10-09 09:21] zenweasel commented on #2660
Resolved via #3032

[2017-10-09 09:21] #2660 closed

[2017-10-09 09:24] zenweasel commented on #2135
Closed via #3012

[2017-10-09 09:24] #2135 closed

[2017-10-09 09:28] zenweasel commented on #2812
@machikoyasuda Is there a status on this? Was this resolved by #2932? If you aren't going to be working on it could you unassign yourself?

[2017-10-09 09:31] zenweasel commented on #2831
@Akarshit Was this resolved by #2846?

[2017-10-09 10:10] foladipo commented on #2625
Roger that @zenweasel and @joykare .

[2017-10-09 10:47] janus-reith opened #3063 "[Marketplace/release-1.5.0] Changing the base language (to german) breaks translations on the Orders Panel"
If I switch my base language to german, and the display language in the dropdown to german aswell,
the Orders panel appareantly does not use fallbacks for the order status and the search placeholder.
E.g. it shows coreOrderWorkflow/processing instead of Processing.

If I set the base language to english, and the display language to german, it properly shows fallbacks for these fields, like "Proces

[2017-10-09 10:50] janus-reith commented on #3063
Just tried with Español, same isssue, so not related to german,

[2017-10-09 12:41] zenweasel opened #3065 "Order notification email should reflect Multi-shop"
It's possible I am missing it somewhere, but the "Order Notification" email (and others) needs to be modified to be reflect multi-shop. I did not find anything that mentioned this in https://github.com/reactioncommerce/reaction/issues/2219

Hopefully could repurpose the components, etc. from the "Completed Order" conversion.

[2017-10-09 14:31] efalayi commented on #2409
@aaronjudd `Reaction.getSlug(tagName)` sets the slug for a new tag. I checked through the codebase and discovered that `getSlug` function in `/lib/api/helpers.js` uses `transliteration` package. This package kinda of translates the string parsed as a parameter. I tried setting the slug to the `tagName` and this was reflected in the tag url.
I also did a quick search on (transliteration) [https://g

[2017-10-09 14:39] spencern commented on #3059
@kieckhafer yes, this is only on variants (and options), and `handleVariantFieldSave` seems like a probably culprit as it seemed to be something about the callback that was triggering it, if I got disconnected from the server, tabbing worked well.

[2017-10-09 14:48] spencern commented on #3063
@janus-reith Thanks for reporting!

I think this may be an issue because we have not run some of the translations added through our `LingoHub` account which is the service that provides translations for newly added i18n definitions.

[2017-10-09 14:55] janus-reith commented on #3063
Well this would explain the missing translations that show an english string instead, but what about those that show the bare translation key?

[2017-10-09 14:58] spencern commented on #3063
Good question. @kieckhafer thoughts?

[2017-10-09 16:17] kieckhafer commented on #3063
I don't believe this is "broken", we just might need to update the fallback text.

The orders panel has new translations, and I don't know if they've been translated to all the languages yet.

The placeholder is `coreOrderWorkflow/processing` or `coreOrderWorkflow/new`, etc, it's not `Processing` or `New`.

We'll just need to update the `label` here, (if we want): https://github.com/reactioncommer

[2017-10-09 16:48] kieckhafer commented on #2961
I'd re-check this issue before you do any work on it, because we removed the visibility button from the variants, so there is more room there / this might not be occurring anymore.

[2017-10-09 16:54] spencern commented on #2641
@kieckhafer thanks closing this issue.

[2017-10-09 16:54] #2641 closed

[2017-10-09 16:59] foladipo commented on #2961
@kieckhafer Thanks. I did notice that there was more room on the button because the visibility icon had been removed. But then the overlapping still happens at ~350px screen width.

[2017-10-09 17:25] kieckhafer commented on #3060
This is how it's saved in the database, so it's not "wrong", per se. Perhaps we just need to split it and display USD only?

@mikemurray mentioned it's saved this way in the `Countries` collection, which then sends it to the shops.

![screenshot_10_9_17__10_24_am](https://user-images.githubusercontent.com/4482263/31350474-2aeb3fc4-acdc-11e7-91de-1ca59fc6da47.png)

[2017-10-09 17:31] spencern commented on #3060
@kieckhafer thanks for digging this up. @lcampanis had mentioned similarly in his PR. If we have been splitting the currencies, a la `currency.split(",")[0]` up to this point, I guess it's not a regression to continue to do that, but we also should figure out how we'd like to display/save currencies for countries that have multiple currency codes. I'll create another issue for this particular task

[2017-10-09 17:35] aaronjudd commented on #3060
`currency.split(",")[0]` is fine for now.  I wrote it this way because the vast majority doesn't use anything but that first indicator.. seems like an issue to tackle in future (and the future isn't now). Do we have a case where someone actually needs multiple currencies yet?

[2017-10-09 17:40] spencern commented on #3060
Not that I'm aware of, should I just leave that issue off the table until someone requests it?

[2017-10-09 17:42] aanchirinah commented on #2426
This will be fixed with #3066

[2017-10-09 21:46] spencern commented on #2965
Resolved by #3020

[2017-10-09 21:46] #2965 closed

[2017-10-09 21:47] spencern commented on #2938
Resolved by #3020

[2017-10-09 21:47] #2938 closed

[2017-10-09 21:48] spencern commented on #3024
@kieha will you post an update here about what was decided with this issue? Based on this morning's conversation, it seems like we're ready to resolve it either now or with minimal changes.

[2017-10-09 23:41] kieha commented on #3024
@spencern this is being partially resolved with minimal changes, i.e. iterating over the billing and shipping records and getting the appropriate information from that to use in the email notification. However, a separate issue was opened here #3065 to make the notifications multi-shop aware.

[2017-10-10 05:24] Akarshit commented on #2831
@zenweasel Yes this can be closed.

[2017-10-10 06:41] zenweasel commented on #2831
Closed via #2846

[2017-10-10 06:41] #2831 closed

[2017-10-10 07:15] spencern commented on #3059
Resolved by #3074

[2017-10-10 07:15] #3059 closed

[2017-10-10 07:25] spencern commented on #3060
Resolved by #3061

[2017-10-10 07:25] #3060 closed

[2017-10-10 07:56] spencern commented on #3024
Resolved by #3064

[2017-10-10 07:56] #3024 closed

[2017-10-10 10:05] efalayi commented on #2409
@nelsonnovais I've tried creating tags with the examples you provided (and other special characters) and everything seems to work as expected. Please reopen this issue if it still persists.

[2017-10-10 12:22] #2409 closed

[2017-10-10 12:23] aanchirinah commented on #1916
Followed the reproduction steps thoroughly and still couldn't experience the Dashboard glitch. After consulting with @zenweasel, I will close this ticket.

[2017-10-10 12:23] #1916 closed

[2017-10-10 12:34] foladipo commented on #2198
Here's a WIP list of the parts of the Settings panel that are yet to be converted:
- Actions
    - Analytics

[2017-10-10 14:52] joshuacox commented on #3023
the above works for `reaction build`, but for the other reaction commands you need to set that variable directly in your environment like so:

[code]

[2017-10-10 17:10] kieckhafer opened #3075 "Shipping data area is blank on Cancelled orders"
### Expected behavior
Shipping area should do one of the following on a cancelled order (or really any order), if there is no data in the shipping area.

1. Be removed
1. Show a "No shipping info" message

### Actual Behavior
There is a blank box where the shipping data should be

### Steps to Reproduce the Behavior
As an admin, cancel an order before doing any shipping status updates.

### Versio

[2017-10-10 18:10] kieckhafer commented on #1651
@impactmass do you think all your permissions updates took care of this?

[2017-10-10 19:04] spencern commented on #3063
I think this should be fixed by our i18n fixes (#3072, #3071) we pushed into `release-1.5.0` last night. @janus-reith can you check to see if these issues have been resolved?

[2017-10-10 21:21] janus-reith commented on #3063
Fixed, thank you :)

[2017-10-10 21:21] #3063 closed

[2017-10-10 21:31] aaronjudd commented on #3023
@jshimko is your recommendation to use `docker build`? Just wondering as we have `reaction build` and curious why / should we support both?

[2017-10-10 21:39] kieckhafer commented on #3048
I don't see why we are expecting the last `expect` here to equal `isVisible`. We perform the same check three lines above this, and `expect` it to equal `!isVislble`, and we make no changes to anything that would constitute `isVisible` changing. Perhaps the last line of this test is wrong, and should be `!isVisible`?
[code]

[2017-10-10 21:53] mikemurray commented on #3048
Some newlines between chunks of code would make this 1000% more readable :)

This code its attempt to test toggling the visibility, but I may be using the wrong method. Maybe it was meant to use `products/toggleVisibility`

[2017-10-10 22:00] aaronjudd opened #3079 "Cannot read property 'profile' of undefined"
On logout:
[code]
[code]

[2017-10-10 22:08] aaronjudd opened #3080 "Cannot read property 'theme' of undefined"
Found when processing order with Shippo + Stripe. RC -v 1.5.0-rc 4

[code]

[2017-10-10 22:33] zenweasel commented on #2198
Can drill down one level further? The sections under Payment, Shipping, Tax and others would all be separate panels.

[2017-10-10 22:46] zrisher commented on #2939
@SebastianSativa Did you see https://github.com/reactioncommerce/reaction/issues/2940? Might help you with the above error.

[2017-10-10 23:47] zenweasel commented on #3018
@rymorgan Do I need to wait for any designs for the task in the title or can I have someone start on that?

[2017-10-10 23:52] zenweasel commented on #3011
@Falenos Can you confirm if this issue has been fixed for you?

[2017-10-11 00:01] joshuacox commented on #3023
[it appears so](https://github.com/reactioncommerce/reaction-cli/commit/e90df496e02bd1d699138c3fbb11ed8cef3dc38b).  Though, that is not a deprecation _per se_, which would be letting people know that this feature would not be supported in the future while it continues to work. This is more of an decapitation, with a warning message as a cauterization to stop the hemorrhaging.

[2017-10-11 00:30] jshimko commented on #3023
`reaction build` sounded like a good idea at the time I added it because it was just an alias... back when no special options were required to get the build to work.  At this point, it's way easier to just recommend everyone use the standard docker build command so we don't have to parse the `--build-arg` flags that are apparently now a requirement to get builds to work.

As of 0.16.1, the build c

[2017-10-11 00:42] zenweasel opened #3085 "Set default "methods supported" values for payment providers properly"
### Expected behavior
If a payment provider does not support "Refund" that button should not be available.

### Actual Behavior
Refund button is shown for Authorize.net and others that don't support refunds and they show a message that says basically "We don't support refunds" when you try to process a refund.

### Steps to Reproduce the Behavior
1. Login as admin and configure shipping and Author

[2017-10-11 00:59] spencern commented on #3080
I just ran through an order and processed it and was unable to reproduce this, but have found the code that was causing the problem and pushed up a fix.

[2017-10-11 01:58] spencern commented on #3048
Resolved by #3077

[2017-10-11 01:58] #3048 closed

[2017-10-11 02:33] spencern commented on #3080
Resolved by #3086

[2017-10-11 02:33] #3080 closed

[2017-10-11 02:54] spencern commented on #3079
Resolved by #3081

[2017-10-11 02:54] #3079 closed

[2017-10-11 05:44] zenweasel commented on #3065
@rymorgan Do we have a design for what a multi-shop version of the current notification email should look like? Probably needs design and review for terminology, etc.

[2017-10-11 06:06] zenweasel commented on #2985
So we've written about ten issues for this same problem now and can't seem to get this solved. So I think the requirements here are:

If a new product fail validation from Simple Schema it should:

1. Stop the attempt to publish so that we don't get a server error
1. Open the appropriate panel for the field that failed validation
1. Highlight the field(s) that are/is failing validation
1. Focus on

[2017-10-11 06:21] zenweasel commented on #2690
This is still a valid ticket, we just need to ensure that the "red dots" are only shown when the product is actually invalid and double check that creating products in a marketplace shop show up correctly.

[2017-10-11 07:40] stevaras commented on #3011
@zenweasel Probably gets solved by https://github.com/reactioncommerce/reaction/pull/3068

[2017-10-11 07:42] zenweasel commented on #3011
@Falenos Should I close for now and you can reopen if it's still happening?

[2017-10-11 09:25] stevaras commented on #3011
@zenweasel Yeap for sure :)

[2017-10-11 09:57] #3011 closed

[2017-10-11 13:44] impactmass commented on #1651
The permissions epic took care of mostly point 2 and 3 mentioned on the description of this ticket. There is more work to be done around  point 1. I'll go through the issues and write up a new ticket that will take over (and close this off).

[2017-10-11 15:30] aanchirinah commented on #3042
@rymorgan , So I was able to get label spacing to appear as the image below,
![screen shot 2017-10-11 at 4 29 16 pm](https://user-images.githubusercontent.com/28437833/31450483-726d1e46-aea1-11e7-9b1f-466b51baae76.png)
Is this acceptable?

[2017-10-11 15:34] aanchirinah commented on #3042
@rymorgan should there be space too for the variant available options labels too?

[2017-10-11 15:51] rymorgan commented on #3018
@zenweasel You can start this now. As you can see from the zeplin designs, I want us to make the user profile pages more user-friendly in the near future. Those new designs assume we use the complete order template here as well so it'd be good to do it now so it's ready for the redesign.

[2017-10-11 16:12] foladipo commented on #2198
@zenweasel I've added more detail to the list.

[2017-10-11 18:21] rymorgan commented on #3065
@zenweasel No, I don't, but I can mock something up quickly for transactional emails. As far as the rest, I know we've updated some, mostly around inviting new shops and shop managers. I'm not sure what other emails need to be updated. We should probably test all of them, which I can do but have not been able to do b/c I can't get any email method working. I'll try and get someone to help me with

[2017-10-11 18:23] rymorgan commented on #2985
@zenweasel That UX feels right. Thanks for detailing that.

[2017-10-11 19:12] rymorgan commented on #3042
@aanchirinah Yes, we should do the same for variant options.

[2017-10-11 20:20] spencern commented on #2426
@aanchirinah does this mean you’ve been able to reproduce this on our `release-1.5.0` branch?

[2017-10-11 20:31] aanchirinah commented on #2426
@spencern , Yes I have been able to reproduce it on `release-1.5.0` branch

[2017-10-11 21:47] #2811 closed

[2017-10-11 22:16] rymorgan commented on #3065
@zenweasel -- here's a variation on what we currently use for confirmation emails showing multiple stores.

![multistore-order-confirmation](https://user-images.githubusercontent.com/20409254/31469594-110e6f56-ae97-11e7-9b43-eeb5342bc532.png)

[2017-10-12 00:04] spencern commented on #1651
@mikemurray and I discovered today during our final review of 1.5 that the dashboard does does not take permissions into account when determining which modules are available to the user. It appears that the dashboard permission is the only one that mattered.

[2017-10-12 09:02] foladipo commented on #2198
Update: I have started work on converting the "Analytics" panel to React.

[2017-10-12 09:18] kieha commented on #2700
@zenweasel a bit of clarity on this ticket: the designs linked to this are for the splitting the checkout shipping per shop, but the description talks of the cart. Should this cover both instances?

[2017-10-12 09:24] zenweasel commented on #2700
@kieha I really meant Checkout but it really should be both Cart and checkout as the changes to cart should be very minimal and can probably be lifted/reused from Completed Order.

And just to be clear, this task involves a rewrite to React and along with settings is the last vestige or Blaze.

[2017-10-12 09:37] kieha commented on #2700
@zenweasel noted.

Update:

- Starting with checkout split shipping as there are already designs for that in place.
- @rymorgan there should probably be designs for a split cart per shop as well.

[2017-10-12 10:02] zenweasel commented on #2198
Just to document this here:

Let start with Taxcloud, Search and SMS. These are all simple panels just a couple of text fields and/or booleans. If those go smoothly then let's move on from there.

[2017-10-12 16:25] impactmass opened #3091 "Make Dashboard Icon List (Vertical ShortcutBar) show/hide based on needed permission"
### Expected behavior
Icons showing on the Vertical ShortcutBar should be based on if the logged-in user has required permission for that function e.g a user without `orders` role should not see the Orders shortcut icon. This is leading to clicking the icon and seeing a blank Order dashboard.

### Actual behavior
All the icons show up.

### Steps to reproduce the behavior
* Add a user to Shop Mana

[2017-10-12 16:54] mikemurray opened #3092 "Add linter for stylesheets to enforce better practices"
Our CSS is a wild, wild west of many different practices. We should add a linter to enforce some practices, like always using variables for colors, standardize property order, etc.

The [stylelint](https://github.com/stylelint/stylelint) linter seems to be a good choice for this.

Also, comment below if you have any other libraries, suggestions for rules that could be applied to a linter, or moder

[2017-10-12 18:08] rymorgan commented on #2700
I'm not 100% sure we need to split by shop in cart, that's why we don't have designs. Amazon, does not split by shop in the cart, as they want to look like they are the marketplace. Google express does do that because it's heavily driven by known brands. What's the 80/20 for us?

[2017-10-12 18:49] foladipo opened #3093 "Convert the TaxCloud panel to a React component"
Part of #2198.

We, the ReactionCommerce team, decided a while ago to replace Blaze templates with React components (as much as possible). So, let's continue that migration by converting the TaxCloud panel to a React component. (It can be found in `Dashboard > Settings > Tax`.)

Note that this issue is part of [a larger ticket](https://github.com/reactioncommerce/reaction/issues/2198) that aims to

[2017-10-12 19:00] spencern commented on #2985
I'd like to add that under no (normal) circumstance should saving a Product cause the server to throw an error because of invalid schema.

[code]

I'm still seeing this error when attempting to publish a product without a title. We should be validating on the client before sending to the server and not relying on the server to respond with an error before informing the user that the fields are inv

[2017-10-12 19:04] spencern commented on #2700
Pretty sure we decided _not_ to split by shop in cart.

[2017-10-12 19:05] spencern commented on #2700
Split in checkout should probably be based on _fulfillment_ rather than shop (though shop is a good 80% start to that for marketplace)

[2017-10-12 21:09] machikoyasuda opened #3094 "add build tools for reaction-jsdoc"
- Every time Reaction `master` gets deployed, JSDoc should be updated and deployed to S3.

- So far, I have:
[code]

and the `jsdoc.json` file.

[2017-10-12 21:17] rymorgan commented on #2700
Discussed this with Aaron, and he wants to split in cart, but the priority here is the checkout part of the task.

[2017-10-12 21:17] machikoyasuda opened #3095 "add jsdoc validation and presence check to eslint"
For bugs, please fill out the three following sections completely. For the ticket to be resolved, you'll want to provide as much information as possible.

Are you looking for help with getting started on Reaction? Please go
to our [Gitter room](https://gitter.im/reactioncommerce/reaction) instead.

### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

### Versions
(run `

[2017-10-12 21:31] zenweasel commented on #2985
Right, I think I covered that in point one, but it stands to be said again. This is webdev 101, validate on the client before validating on the server. If we are still getting server errors, this ticket is not complete.

[2017-10-12 21:47] zenweasel commented on #2700
This is a pretty big issue with some implied requirements (different shippers per shop). Do we want to break this down any and spec it out a little more than just the one design?

[2017-10-12 22:00] rymorgan commented on #2700
@zenweasel -- yes, that would be great. Maybe the cart/checkout should be separate issues.

[2017-10-12 22:10] zenweasel opened #3096 "Cart should be broken down by Shop during shopping"
Breaking this apart from #2700.

Customers should see which items are being purchased from which shop while Shopping (i.e. Cart Drawer and anywhere else it appears)

[2017-10-12 22:11] zenweasel commented on #2700
Cart is broken out into a separate issue in #3096

[2017-10-12 23:32] spencern opened #3097 "Shops should be able to set global default for social sharing message"
Currently the social sharing messages are generated for each product and there is not any way to set an app wide or shop-wide message for social sharing.

There should be a way to set default social sharing for the app or a shop via the social dashboard.

[2017-10-12 23:48] spencern opened #3100 "Users should be able to "zoom" into a high-res image on the PDP"
When browsing the PDP, users should be able to click, over or pinch to zoom on the currently active product image.

[2017-10-12 23:52] spencern opened #3101 "PDP shows "pointer" cursor for non-admins when hovering over PDP image"
The PDP _should_ show a cursor for the admin, as there is an action that the admin can take by clicking on the PDP image gallery.

The PDP _should not_ show a cursor for the customer (until #3100) because there is no action that can be taken by clicking.

Related: #2469

[2017-10-12 23:57] rymorgan opened #3102 "Accounts Admin - Clicking header should allow editing groups"
### Expected behavior

When I click on the edit groups header, I should be able to edit the group in the action view detail panel. The panel should open and focus on that particular group. Designs showing clickable headers and side bar here:
https://zpl.io/bJq6ZDa

Header designs should match the design:
Remove the border
Remove the corner radius

### Actual behavior

Header is not clickable

[2017-10-13 01:36] zenweasel opened #3103 ""Failed to get currency exchange rates" error in server"
I get the `Failed to get currency exchange rates` error even though I don't have an Open Exchange Rates app ID set up. If I don't have that set up it should just not be fetching rates and not giving me that error.

### Steps to reproduce

1. Start Reaction without an open exchange rate ID loaded (e.g. don't use `reaction.json`).
1. Navigate around Reaction some (click on products, etc)
1. Observer

[2017-10-13 01:48] zenweasel commented on #2864
When I disable a shop should I still see their products as an admin? They disappear for the average user for still appear for admins

[2017-10-13 16:13] rymorgan commented on #3018
@efalayi Yes, that's the point of this issue. Let's bring it into the profile as it is now (the new react component that Brent built). It'll probably need some design adjustments, but this should use the same component.

[2017-10-13 17:57] aaronjudd opened #3104 "Order workflow: uniqueItem._id undefined"
Order created:  shippo + stripe + avalara.

Single item, single shop.  Seen in browser console when clicking the order in the order dashboard.

### Expected behavior
No errors

### Actual behavior

<img width="1668" alt="basic_reaction_product" src="https://user-images.githubusercontent.com/439959/31559279-eed2cfee-b004-11e7-86dc-a7aa4742713e.png">

### Steps to test
1. Login as admin
1. Enable Sh

[2017-10-13 18:13] spencern commented on #2864
I think that's how @mikemurray designed this first iteration.

[2017-10-13 18:51] rymorgan opened #3105 "Accounts Admin - Implement accordion editing for group editing"
### Expected behavior

- [ ] The groups should be editable in accordion fashion vs below the table. Where it is placed now loses context for the user because the correlation between the group and it’s permissions aren’t apparent.

Closed: https://zpl.io/bJq6ZDa
Open: https://zpl.io/ad7orpV

- [ ] Also, the group name should be editable via the penicel icon button.
- [ ] The styles should match the

[2017-10-13 21:05] rymorgan opened #3106 "Accounts admin - Toggle all permission on/off"
### Expected behavior
A user should be able to toggle all permissions on and all off. If possible this should be included as a property of lists (?). The interaction should match how it’s handled in localization/languages.

Design link:
https://zpl.io/ad7orpV

### Actual behavior
This wasn't included in the first iteration.

[2017-10-13 21:18] rymorgan opened #3107 "Implement account owner flow"
### Expected behavior

An owner should be able to switch account owners by clicking on the current owner and go through an account owner switch flow via the action view details panel.

Design link - https://zpl.io/bPY3Xy2

### Actual behavior
Currently, the way to switch an account owner is via a drop down like the other groups. B/c changing owners is a more permanent action, it should have its ow

[2017-10-13 21:26] rymorgan opened #3108 "Accounts admin - ability to edit and reset password for a user"
### Expected behavior

When I click on a user I should see a select state and be able to edit the user. If possible I'd like to reuse the add admin card and change the title to edit user with the buttons changing to resend password and reset password. (this may or may not need some design work)

### Actual behavior

This behavior doesn't exist.

[2017-10-13 21:33] rymorgan opened #3109 "Accounts admin- fix button placement"
### Expected behavior

Primary action buttons should be on the right and secondary action buttons should be spaced to their left. (not all the way across or left aligned.) This should all flip for right/left languages.

### Actual behavior

Buttons are columns spaced across the details panel.

[2017-10-13 22:29] rymorgan opened #3110 "Accounts admin styling"
### Expected behavior
Styles should match designs.

- [ ] Tables in the master view have not been styled per the design - https://zpl.io/2vYXKvb
- [ ] Edit groups in the detail panel has not been styled according to the design - https://zpl.io/2vYXKvb
- [ ] Dropdowns have not been style per the design - https://zpl.io/bJq6ZDa
- [ ] The permissions toggle list is not styled according to the design

[2017-10-13 22:45] rymorgan commented on #2922
@spencern Fully converted this issue into an epic. It's 90% designed out, I've also identified a few leftover design tasks.

[2017-10-16 09:05] meuschke commented on #1952
Same question here. I found that but it did not really help me.
https://forums.reactioncommerce.com/t/bulk-importing-products-and-images/265/3
https://docs.reactioncommerce.com/reaction-docs/master/reaction-import#image-uploader

[2017-10-16 15:16] spencern commented on #3019
This should default to a flat rate priority box dimensions and a weight of 1lb for all reaction.
This should also permit users to update the default.

[2017-10-16 16:42] spencern opened #3114 "Confirmation of shopify / connectors import success or failure and "real time" progress indicator"
1. Shopify connector should notify the user upon completion even if the component is no longer mounted to the DOM.

2. Shopify connector should update an "events" type of collection so that the user can see progress of the import in near real-time.

[2017-10-16 16:59] spencern opened #3115 "Remove "load more products" button in favor of loading products automatically when you reach the bottom"
We should (possibly optionally) remove the "load more products" button on the bottom of the product grid and load more products automatically as the user gets close to the bottom of the dom element.

[2017-10-16 17:12] spencern opened #3116 "Shopify Import not working"
Shopify importer does not work (issue with Meteor fibers) when a node_modules directory does not exist within the connectors-shopify plugin directory.

[2017-10-17 01:08] rymorgan opened #3119 "Admins need a way to search for users in permissions"
### Expected behavior

The accounts admin should be searchable. I should be able to search by name, email, or group. Search results should filter as I type. The search in the accounts admin should be componentized and work the same as the search in the orders admin.

In terms of design, the search can look/operate much like it does in our orders admin. Designs here - https://zpl.io/bJq6ZDa

The nu

[2017-10-17 01:17] aaronjudd opened #3120 "Order shipped email total undefined"
Order Total is `undefined` in the order completion email.

![inbox__10_099_messages__164_unread_](https://user-images.githubusercontent.com/439959/31642104-0f9ea612-b29e-11e7-885d-8b4a2191de4b.png)

[code]

[2017-10-17 06:04] garychapman commented on #1961
October 17, 2017 - this issue still seems to be occurring FWIW.

[2017-10-17 18:37] kieckhafer commented on #2848
@rymorgan I believe this was fixed in `release-1-5-0`, can you please re-check?

[2017-10-17 18:38] kieckhafer commented on #2814
@rymorgan I believe this was fixed in `release-1-5-0`, can you please re-check?

[2017-10-17 18:40] kieckhafer commented on #2287
Fixed in #2642

[2017-10-17 18:40] #2287 closed

[2017-10-17 19:24] rymorgan commented on #2814
Yep, this should have been closed. Closing.

[2017-10-17 19:24] #2814 closed

[2017-10-17 20:14] rymorgan commented on #2848
Verified fixed.

[2017-10-17 20:14] #2848 closed

[2017-10-17 22:43] zenweasel opened #3122 "Make all `Meteor.Error` calls consistent"
This is just a "cleanup" task

`Meteor.Error` should be `Meteor.Error("short-message", "Long message with more detail");`

Currently we have a hodgepodge of different styles. Specifically we want to eliminate versions that use a number instead of a message as these don't really convey any helpful info.

[2017-10-17 22:44] #1872 closed

[2017-10-18 02:25] spencern commented on #3116
Resolved by #3111

[2017-10-18 02:25] #3116 closed

[2017-10-18 02:33] spencern opened #3125 "Product importer should redirect to shop index after import"
Once the import has started, instead of staying on the importer dashboard, we should redirect the admin to their product grid, initially this will just be the index route for their shop.

This should probably be connected to the overall onboarding workflow once we start building that out.

[2017-10-18 04:32] zenweasel opened #3129 "Eliminate all uses of "ValidatedMethod""
Another cleanup task
Remove all uses of the "ValidatedMethod" package and remove the package from the dependencies. Especially remove it from the Example Payment method so we don't propagate the pattern.

It seemed like a good idea but it wasn't and adds unneeded complexity.

[2017-10-18 05:00] JoeyLyman opened #3130 "Overall reactivity, database updating, and usability issues. Possible npm issues"
### Expected behavior
When doing a fresh reaction init, I don't expect 'npm list' to show a whole bunch of missing packages.  Also expect general usability (though, I am not sure if I have a local problem, and would be stoked if you could spot anything that I may be missing in the screencast video I made).

### Actual behavior
Video of a fresh install, and attempted usage of RC: https://www.youtub

[2017-10-18 05:15] zenweasel commented on #3130
I get this if I try to view the video

![youtube](https://user-images.githubusercontent.com/72819/31701961-65cf6e18-b406-11e7-9614-d9b7677dcd90.png)

[2017-10-18 05:20] JoeyLyman commented on #3130
sorry, it defaulted to private I just set it to public

[2017-10-18 11:31] joykare opened #3131 "Disable shops"
An admin should be able to:

1. Archive or disable a shop - which includes removing permissions/access for all users of that shop
2. Hide from view all of the products from that shop
3. Remove that shop from the navigation

Linked to issue on Foray repo

[2017-10-18 16:21] joykare commented on #3131
This seems to be linked to #2864

[2017-10-18 22:18] spencern commented on #3130
To give some more context:

Here's a screenshot of the machine specs from this video:
![image](https://user-images.githubusercontent.com/1203639/31743800-b634492e-b419-11e7-86d5-0ecb42d2e45f.png)

@JoeyLyman will you run `ulimit -a` on your machine and post the output.

A few notes:

#### bcrypt
the `npm install --save bcrypt` warning is due to us intentionally leaving that out. It causes certain

[2017-10-18 23:16] #3125 closed

[2017-10-19 01:04] origin22 opened #3136 "Cant Install Reaction CLI using NPM"
Hi

I am trying to install reaction CLI using NPM but am getting the following Errors

[code]

Any one has any ideas why this might be happeing ?

[2017-10-19 01:28] spencern commented on #3136
Your versions of node and npm are quite old. Can you try updating to the latest `node` and `npm`

[2017-10-19 07:01] bayareacoder opened #3137 "Image names with spaces don't display in the homepage"
### Expected behavior
Image with filename that has space(s) in it, when added from PDP, shows on PDP but not on product grid

### Actual behavior
It should show

### Steps to reproduce the behavior
1. Login as admin
2. Add product and create product variant
3. Upload image from filename with one or more spaces in it & publish
4. See that it shows on PDP page but not on product grid
5. Change filen

[2017-10-19 11:06] mursalal opened #3138 "Background image, fonts, colors etc."
Hello! Sorry for such a simple question anyway, can someone link me to how set fonts, background images, colors and so on? I didn't find in Docs.

[2017-10-19 11:10] zenweasel commented on #3138
Hi @mursalal ,

You can find that info here: https://docs.reactioncommerce.com/reaction-docs/master/creating-a-theme.

You should also try our [Gitter room](https://gitter.im/reactioncommerce/reaction) if you have further questions.

[2017-10-19 11:10] #3138 closed

[2017-10-20 00:25] zenweasel opened #3144 "Convert all `Packages.findOne` to `getPackageSettings`"
Another cleanup task. As long as it exists in the old code, people keep creating new versions of it.

[2017-10-20 01:42] zenweasel commented on #3019
@rymorgan Do we actually need design for a settings panel?

[2017-10-20 01:46] zenweasel opened #3145 "Rewrite "Example Payment Method" to support multi-shop"
This also needs a cleanup/purge to make it more similar to how Stripe Connect is handling multi-shop and to eliminate ValidatedMethod

[2017-10-20 06:15] JoeyLyman commented on #3130
Here's my output for  'ulimit -a'

core file size          (blocks, -c) 0
data seg size           (kbytes, -d) unlimited
file size               (blocks, -f) unlimited
max locked memory       (kbytes, -l) unlimited
max memory size         (kbytes, -m) unlimited
open files                      (-n) 65536
pipe size            (512 bytes, -p) 1
stack size              (kbytes, -s) 8192
cpu time

[2017-10-20 06:41] spencern commented on #3130
@JoeyLyman Thanks for spending time pulling this together.

Regarding the `reaction -v` issue, we had an issue where we released `1.5.2` yesterday but the package.json version did not get bumped. This will be corrected when we release `1.5.3`.

Sounds like you've got the correct version and the correct amount of tests. Not sure what I was seeing in the last video.

I don't see any issues with your

[2017-10-20 08:17] codejockie commented on #3104
@aaronjudd please could you throw more light into this?

[2017-10-20 08:41] zenweasel commented on #3104
I think if you run through an order with Stripe, Shippo and Avalara enabled you should see that error.

[2017-10-20 08:46] joykare opened #3146 "Products sub not updating component reactively"
### Expected behavior

When you disable a shop, products of said shop should be hidden from view without having to refresh.
The products sub is not being re-called on the component till a refresh is done.

### Actual behavior

You have to refresh for the products to be filtered out.

### Steps to reproduce the behavior

- Remove/delete filter in `productsContainer.js` https://github.com/reactionco

[2017-10-20 09:45] zenweasel commented on #3100
Can we get a little more detail on how exactly this should work? Are we just using the original unresized images and just showing it in a modal on the desktop?

[2017-10-20 11:19] zenweasel commented on #3104
I updated this ticket to fit the format

[2017-10-20 11:45] zenweasel commented on #2528
@machikoyasuda Any status update on this?

[2017-10-20 11:47] zenweasel commented on #2410
@kieckhafer Did we do this already?

[2017-10-20 12:29] codejockie commented on #3104
@aaronjudd I could not reproduce this bug using the steps provided. Can you give more details about how to reproduce this?

[2017-10-20 14:13] codejockie commented on #3085
@zenweasel is it just Authorize.net that doesn't support refunds? If there are others, could you let me know so I can handle them as well?

[2017-10-20 15:49] spencern commented on #3100
Ideally we should lazy load the high-res image when it's requested. I don't think we should be loading all high-res images when the PDP loads, especially on mobile devices.

I think a simple react component such as this https://github.com/ethanselzer/react-image-magnify could potentially work, but I have not evaluated this particular component for size or efficiency.

 https://ethanselzer.github.i

[2017-10-20 18:26] rymorgan commented on #3019
@zenweasel I think we might at this stage. But something on my upcoming agenda is to work on some standards for settings cards that will enable us to build this w/out design.

[2017-10-20 22:25] kieckhafer commented on #2410
@zenweasel just made a PR for it.

[2017-10-21 00:10] JoeyLyman commented on #3130
Cool, so no issue with npm thinking there are all these missing dependencies, or with the errors in the test?

[2017-10-21 00:25] zenweasel commented on #2410
Nice

[2017-10-21 04:38] spencern commented on #3130
We've got one or two tests that seem to fail occasionally, so it seems like one of those got you.
The missing dependencies shouldn't be a problem, and I think those are just warnings, as long as the `meteor npm install` went through correctly, I wouldn't worry about that.

[2017-10-22 21:28] aanchirinah commented on #2324
@rymorgan could you please make a design for this feature. I need a mockup to work with.

[2017-10-22 22:44] aanchirinah commented on #2324
@spencern and @zenweasel I have been able to implement the _Papa Parse_ library in this experiment branch `audax-export-orders-to-csv`, to try it out just navigate to your orders action view panel click the `EXPORT TO CSV` button and it will download `.csv` file with the orders. Its a work in progress but I would like to sync up with @spencern for more discussions on the implementation.

- I added

[2017-10-23 11:34] zenweasel commented on #3085
Authorize is the only one that doesn't support refunds at all.

[2017-10-23 11:57] zenweasel commented on #2981
Are the steps to reproduce just start the app without a `reaction.json` and you see this bug?

[2017-10-23 12:07] zenweasel commented on #2790
Closing due to no response to request for more detail.

[2017-10-23 12:07] #2790 closed

[2017-10-23 14:32] efalayi commented on #3019
@rymorgan is there layout for this section that I can use?

[2017-10-23 16:01] iakhator commented on #3075
@kieckhafer , Can You buttress more on how the shipping info should look like or be?

[2017-10-23 16:57] sgobotta opened #3154 "SKIP_FIXTURES=true starts infinite loop on initialization"
### Expected behavior
There should be a hook that runs functions before the core initialization where Shop data can be imported when a user skips default data load.

### Actual behavior
Since there are no "beforeCoreInit" hook operations, if SKIP_FIXTURES=true then the applications starts an infinite loop searching for a shopId.

### Steps to reproduce the behavior
Delete everything from Mongo dat

[2017-10-23 17:01] #3094 closed

[2017-10-23 17:01] #3095 closed

[2017-10-24 00:06] kieckhafer commented on #3075
@iakhator the info looks fine, if it's available.

The change we need to make here is if there is no shipping status, we need to put a message there to say that, instead of the blank box.

A simple "No shipping information available" would suffice.

[2017-10-24 08:18] iakhator commented on #3075
alright.

[2017-10-24 09:46] codejockie commented on #3137
I also noticed it's regardless of the image file name, even with file names without spaces it doesn't show after reproducing.

[2017-10-24 14:51] chrisformula opened #3159 "Multi tenant"
Hi Guys am I just being dof, but where do you enable multi tenant functionality?

[2017-10-24 15:29] spencern commented on #3159
HI @chrisformula
Multi-tenant functionality can be enabled from the "Shops" dashboard panel when logged in as an Admin panel

![image](https://user-images.githubusercontent.com/1203639/31952409-5e1de7ec-b895-11e7-99f1-8dad8bcb8d7d.png)

[2017-10-24 15:29] #3159 closed

[2017-10-25 01:05] kieckhafer commented on #2797
After diving in, I think the best course of action on this is to not split up the password reset flow into two completely separate templates / components, but rather, at least for now, add a `type` prop that will allow for subtle changes between the two templates.

Feedback is welcome.

[2017-10-25 01:17] zenweasel commented on #3101
@codejockie Remember to assign an issue to yourself if you are working on it so no one else starts working on it.

[2017-10-25 01:18] zenweasel commented on #2879
Closed via #3062

[2017-10-25 01:18] #2879 closed

[2017-10-25 08:35] codejockie commented on #3101
That was an oversight @zenweasel . Won't happen again. Thank you.

[2017-10-25 09:17] origin22 commented on #3136
I have updated all the versions

Node: 8.8.0
NPM: 5.4.2
Meteor Node: 4.8.4
Meteor NPM: 4.6.1
Reaction CLI: 0.19.0
Reaction: 1.5.4
Reaction branch: master

The Installl process gets stuck at Started Proxy or Started Mongo

[2017-10-25 09:57] codejockie commented on #2798
@spencern what should I replace the text "Quantity Total" with? "Items in order" or "Items in cart"?

[2017-10-25 13:13] coooolers opened #3170 "Username/Password and Route to access the Admin panel"
I am running “reaction” on my local machine. It just displays You are a guest user. I do not know what is the link/URL route/username/password to access the Admin panel.

Could anybody help me out?

Thanks

[2017-10-25 14:03] zenweasel commented on #3170
@coooolers You just need to login with the admin username/password and the admin dashboard will appear on the right side.

[2017-10-25 14:03] #3170 closed

[2017-10-25 14:47] coooolers commented on #3170
What is the admin's default username/password?

[2017-10-25 16:24] bayareacoder opened #3171 "product detail page URL shown in URL bar does not work"
### Expected behavior
The PDP page should be accessible from the URL shown in the address bar

### Actual behavior
It is not. The URL in the address bar returns no page. Tested only for a non-marketplace shop setup.

### Steps to reproduce the behavior
1.  Go to a PDP page. The URL will show as `http://<domain>/product/<product_slug>`.
2. Open new browser window and load above URL - no page is fou

[2017-10-26 10:47] dtaipov commented on #2017
@solancer `npm install` solved the problem for me.
Not sure if this is a proper way to solve this problem though.

[2017-10-26 10:51] coooolers opened #3176 "Back and Forward buttons/history not displaying contents when on Search page"
### Expected Behavior
Back button should return you to the previous content

### Actual Behavior
Content is not displayed

### Steps to Reproduce
1. Add an item to a cart
1. Browse back to Shopping
1. Click on Search
1. Press the Back button ... the URL changes but the corresponding content is not displayed
1. Press the Forward no content is idsplayed

[2017-10-26 10:55] coooolers opened #3177 "What is the admin's default username/password?"

[2017-10-26 12:55] josx opened #3178 "Npm package Aliases doesnt work on custom plugins"
### Expected behavior

Same way to include reaction imports on my custom plugin,.
I think if this cant be fixed at least we need clear documentation on how to do it or an advice.

### Actual behavior

Aliases on reaction package.json doesnt propagate to my custom plugin, if i am using package,json in my custom plugin.

So I need to replace  ``` import { registerComponent } from "@reactioncommerce/

[2017-10-26 13:25] stevaras commented on #3177
@coooolers Whenever you do a Reaction reset, and afterwards run your application for the first time, it shows you the username and password in your console.
It used to be a random generated password but nowadays Reaction has a specific one which if I'm not mistaken is:

    EMAIL/LOGIN: admin@localhost
    PASSWORD: r3@cti0n

![image](https://user-images.githubusercontent.com/13280180/32055332-2cf

[2017-10-26 14:12] aaronjudd commented on #3177
@stevaras is right on. @machikoyasuda https://docs.reactioncommerce.com/reaction-docs/master/installation . maybe we can refresh this with a new screenshot and the default info?

[2017-10-26 15:18] josx opened #3179 "Fix translation provider to move from React.PropTypes to PropTypes"
### Expected behavior
All RC code havent to use React.PropTypes becase are deprecated
Will no work on React >= 16
https://reactjs.org/blog/2017/04/07/react-v15.5.0.html#migrating-from-react.proptypes

### Actual behavior
Shows an annoying message on console,

### Steps to reproduce the behavior
Open console, and look for message:
```Accessing PropTypes via the main React package is deprecated, and

[2017-10-26 15:28] spencern commented on #2798
@rymorgan

[2017-10-26 15:51] codejockie commented on #3122
@zenweasel what about ones like this `Meteor.Error(`Undefined conditional operator ${operator}`);` with just a single argument?

[2017-10-26 15:54] codejockie commented on #3122
In the case of this style `Meteor.Error(403, "Access Denied");` would it be appropriate to remove the number like this: `Meteor.Error("Access Denied");` passing in just one argument?

[2017-10-26 17:42] #3177 closed

[2017-10-26 18:01] zenweasel commented on #3171
I tried to replicate this issue with my local install and I can't

[2017-10-26 18:15] bayareacoder commented on #3171
If you let me know your email address I'll email you with my public site URL where I observe this issue. (I don't want the site URL to be seen publicly). Thanks.

[2017-10-26 18:17] zenweasel commented on #3171
@bayareacoder I'm brent@reactioncommerce.com

[2017-10-26 18:56] rymorgan commented on #2798
Once a cart has been completed, language should change to "Items in order"

[2017-10-26 18:56] zenweasel commented on #3171
@bayareacoder Do you have more than one shop in your `Shops.json`? You shouldn't be getting the prefix in your URL if you have only one shop.

[2017-10-26 18:59] codejockie commented on #2798
@rymorgan all is done. PR for this has been raised.

[2017-10-26 19:02] bayareacoder commented on #3171
Attached the shops.json file from private/data directory.
I only setup 1 shop.

[2017-10-26 21:54] bayareacoder commented on #3171
One more input on this: while I did not setup more than 1 shop, I may have flipped the switch to 'marketplace' and back from the admin login (to see the effect on the UI). Maybe this has an impact.

[2017-10-26 23:49] sophiehe opened #3181 "Content for showcase page"
Here is a list of stuff to put on showcase page:

[2017-10-26 23:58] sophiehe commented on #3181
[IT Furniture Store](https://www.itfurniturestore.com/)

https://blog.reactioncommerce.com/meet-the-developer-community-2/

[artlimes](https://artlimes.com/)

https://blog.reactioncommerce.com/meet-lorenzo-campanis-ceo-of-artlimes/

[Easy Wine](https://easy-wine.de/)

https://blog.reactioncommerce.com/meet-the-developer-community/

[Pin Up Magazine](https://shoppe.pinupmagazine.org)

In progress

[2017-10-27 00:26] machikoyasuda commented on #3177
@aaronjudd done: https://github.com/reactioncommerce/reaction-docs/pull/320/files

@stevaras thanks for answering this superfast!

[2017-10-27 08:22] dtaipov opened #3182 "Wrong scale for RUB currency"
Prices in Russian rubles appears 100 times as much as their correct values.
For example, a price "$12.99 - $29.99" shows up in rubles like "75490 - 1 74284 руб."
Correct values should be "754,90 - 1 742,84 руб."

Reproduces on the main page and the product details pages.

Fixed this in local database by removing "scale: 0" property from meteor.Shops.currencies.RUB

Versions:
Node: 6.11.0
NPM: 3.10

[2017-10-27 08:22] dtaipov opened #6519 "Wrong scale for RUB currency"
Prices in Russian rubles appears 100 times as much as their correct values.
For example, a price "$12.99 - $29.99" shows up in rubles like "75490 - 1 74284 руб."
Correct values should be "754,90 - 1 742,84 руб."

Reproduces on the main page and the product details pages.

Fixed this in local database by removing "scale: 0" property from meteor.Shops.currencies.RUB
with query: `db.Shops.updateMany(

[2017-10-27 09:21] codejockie commented on #3176
This issue is regardless of whether you have an item in cart.

[2017-10-27 14:17] nsrtky opened #3183 "FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - process out of memory?"
![image](https://user-images.githubusercontent.com/12385044/32108524-a86287ca-bb3a-11e7-9af1-e5dd51fbb459.png)

OS: Windowns 10 Enterprise 64 bits

reaction -v

Node: 6.11.4
NPM: 5.5.1
Meteor Node: 4.8.4
Meteor NPM: 4.6.1
Reaction CLI: 0.19.1
Reaction: 1.5.4
Reaction branch: master

### Expected behavior
normal start app at 3000 port

### Actual behavior
fatal error

### Steps to reproduce the beh

[2017-10-27 14:31] nsrtky commented on #3183
I have entered reaction directory and run meteor -v comment so app started run but show nothing.
here log file for your acknowledgment.

=> Started proxy.
Local package version is up-to-date: abernix:minifier-js@2.1.0
Local package version is up-to-date: abernix:standard-minifier-js@2.1.0
Local package version is up-to-date: accounts-base@1.3.6
Local package version is up-to-date: accounts-faceboo

[2017-10-27 16:50] zenweasel commented on #3019
@efalayi So these values should be used like this:
1. When a new product is created it should use these values as defaults.
1. When shipping is calculated if no values are set (i.e. they are 0) then it should use those values to send to Shippo.
1. When the store owner sets the values it should ask them if they want to reset all existing products, and if so it will overwrite all values with this ne

[2017-10-27 16:58] zenweasel commented on #3019
from @spencern
USPS Priority Mail Medium Flat Rate Box - 11 1/4" x 8 3/4" x 6"
Not sure what a good default weight would be, maybe 7 or 8 lbs?

Reference for dimensions:
https://www.usps.com/ship/priority-mail.htm

[2017-10-27 17:01] cindyfirestone opened #3184 "Logged in should always land me on my own shop"
### Expected behavior
As a store operator with a shop on a marketplace, when I log into my shop it should land me on the shop associated with the account I logged in with.

### Actual behavior
When I login, it lands me on the main marketplace, and I need to go into the dropdown in the upper left hand corner and select my shop.

### Steps to reproduce the behavior
1. Log into your shop
2. Land on m

[2017-10-27 17:16] zenweasel commented on #3122
No. There should always be two values, short string and long string. Sometimes the long string won't add a lot of value over the short one but they should still be there. We should be adding more detail to those messages when we can as long as we are being sensitive to what information we expose to the client.

[2017-10-27 17:27] zenweasel commented on #2324
So discussing this with @spencern I think we decided that we want to make this an initial simple version that could be used for simple order reporting. But we also want to define an architecture to allow people to build out their own exporters as most people will have specific requirements.

1. We should have a structure similar to `shipping` or `payments` where we have a `core` plugin that manage

[2017-10-27 19:42] glmaljkovich opened #3185 "Expand Featured Images to fit container in Product Detail view"
### Expected behavior
Product Images in the Product detail view fit the image container.

### Actual behavior
If the image is smaller than the container it displays in its actual size and aligned to the left.

### Steps to reproduce the behavior
Add a featured image to a product with a small resolution (lets say 250px x 250px)

### Versions
(run `reaction -v` from your reaction directory)
- Node:

[2017-10-27 19:45] glmaljkovich commented on #3185
#3186

[2017-10-27 21:13] zenweasel commented on #3183
@nsrtky What OS are you on and can you let me know what the results of `reaction -v` are?

[2017-10-27 21:18] machikoyasuda commented on #3181
Closing in favor of reaction-drive repo

[2017-10-27 21:18] #3181 closed

[2017-10-27 21:48] kieckhafer opened #3187 "Convert Shopify import to React"
The Shopify import screen is currently still built in Blaze.

Although the overall React conversion is a high priority, this particular issue is extra high priority as a few client projects are waiting on an update to this component.

[2017-10-27 22:59] impactmass opened #3189 "No Success Message Shown when Inviting New Shop Owner into Marketplace"
### Expected behavior
When inviting a shop owner to a marketplace, there should be a success message and the spinning should disasppeear when invitation is done.

### Actual behavior
The spinner persisted even after the email was already sent, and there was no success message toast.

### Steps to reproduce the behavior
Go into Shop > Marketplace > Invite Owner. Invite a new owner and try inviting

[2017-10-27 23:19] efalayi commented on #3019
@zenweasel should the user also have the option of not resetting existing products?
Also, should the minimum values for size be 0 or 1?

[2017-10-28 15:36] prosf opened #3190 "In multi-merchant order buyer is charged the total shipping cost for each individual sub-charge"
### Expected behavior
If there are more than one shops in an order, for each individual sub-charge(one for each shop), buyer should get charged the cost of this specific shipment.

### Actual behavior
If there are more than one shops in an order, For each individual sub-charge(one for each shop), buyer gets charged the full shipping cost(of all shipments combined)

### Steps to reproduce the behav

[2017-10-29 14:12] janus-reith commented on #3178
Instead of doing the the direct imports, an easier short term solution is to copy the related aliases part of the main package.json to your custom plugin's file.

[2017-10-29 16:25] LukasNavickas opened #3191 "reaction init produces error on Windows 8.1"
### Expected behavior
start "reaction init"
### Actual behavior
error
### Steps to reproduce the behavior
reaction init on Windows

Meteor, Python and Windows Build Tools are installed

[code]

[2017-10-29 16:53] jshimko commented on #3191
Do you have OpenSSH installed?  I'm pretty sure that's a requirement of git.  It looks like all of the errors there are related to ssh commands failing (which is one of the ways a `git clone` pulls down a repo).

[2017-10-29 16:56] jshimko commented on #3191
You can also try using the git command directly to isolate `reaction-cli` from the problem.

[code]

[2017-10-29 17:28] jshimko commented on #3178
I was thinking that this could possibly be fixed by syncing the aliases automatically with `reaction-cli` when the app starts.  The only potential issue is those changes would then need to be committed to the user's repo and it feels a little weird to make the assumption that that's ok to do on their behalf without asking every time the plugin's `package.json` gets updated.  Might still be worth d

[2017-10-29 17:52] LukasNavickas commented on #3191
1. Didn't find any tutorials on how to install OpenSSH on Windows 8. Do you know any?
2. I tried doing "git clone ... " successfully. Then I entered the reaction folder and executed "meteor npm install" successfully. I tried to launch it with "reaction", but it gets stuck at "Started Proxy -> Started MongoDB". Waiting for 10 minutes, nothing happens.

[2017-10-29 18:00] jshimko commented on #3191
1. https://www.google.com/search?q=windows+openssh+install

2. Are you positive there were no errors on the `git clone` or the `meteor npm install`?  Can you share the log output?

[2017-10-29 18:25] prosf commented on #3190
I' ll push a pr tomorrow

[2017-10-29 20:15] LukasNavickas commented on #3191
I could install OpenSSH, restarted my PC and tried to do "reaction init" again. This time, I didn't get the error from above, but the whole process stopped (actually it was running for ages), at:

[code]

I have stopped the process, entered the "reaction" folder and executed "reaction". After few minutes I got the messages "Started proxy" and "Started MongoDB". After about 20 more minutes, I got t

[2017-10-29 23:01] cantuket commented on #300
Curious if anyone has started on sketches for this? Would love to see this implemented and happy to start on some designs or help out if someone is working on them already.

[2017-10-30 07:14] nsrtky commented on #3183
OS: Windowns 10 Enterprise 64 bits

reaction -v

Node: 6.11.4
NPM: 5.5.1
Meteor Node: 4.8.4
Meteor NPM: 4.6.1
Reaction CLI: 0.19.1
Reaction: 1.5.4
Reaction branch: master

[2017-10-30 14:21] josx commented on #3178
I dont know how is done the build in reaction, but it is an alias in the js processor (like aliases in webpack).

[2017-10-30 16:44] rymorgan commented on #3036
I confirmed it's not flashing anymore, but it's a jarring experience for small action like registering a user to have a spinner happen on the whole page. If a spinner is necessary it should happen on the component level.

[2017-10-30 16:59] rymorgan commented on #300
@cantuket List view for orders and account admin has been implemented and released with release 1.5+. Products is something on our roadmap for the next section of our roadmap - https://reactioncommerce.com/roadmap

Having said that, we welcome feedback and input. We're working on gathering requirements for bulk product management but if you want to give input I'd suggest this issue as the best pla

[2017-10-30 17:15] rymorgan commented on #300
Closing this issue because of the following.

- List view for orders has been implemented.
- List view for accounts admin is covered here -  https://github.com/reactioncommerce/reaction/issues/2922
- And bulk product management is covered here - https://github.com/reactioncommerce/reaction/issues/1732

[2017-10-30 17:15] rymorgan commented on #300
Closing this issue because of the following.

- List view for orders has been implemented.
- List view for accounts admin is covered here -  https://github.com/reactioncommerce/reaction/issues/2922
- And bulk product management is covered here - https://github.com/reactioncommerce/reaction/issues/1732

[2017-10-30 17:15] #300 closed

[2017-10-30 18:06] spencern commented on #2797
Resolved by #3166

[2017-10-30 18:06] #2797 closed

[2017-10-30 18:09] kieckhafer opened #3199 "Allow user to request re-send of password reset email if token is expired"
### Expected behavior
When a user clicks a password reset link in an email over 24 hours after the link was sent, the token is expired, and the password modal gives you a "Token expired" message. You should be able to click a button to resend a new email with a new token, from this password modal.

### Actual behavior
When a user clicks a password reset link in an email over 24 hours after the lin

[2017-10-30 19:14] arsen3d opened #3200 "Notification not being sent to customer"
### Expected behavior
Notification being sent to customer
### Actual behavior
Notification not being sent to customer

Oct 30 12:07:59 app/web.1: Exception while invoking method 'orders/sendNotification' TypeError: Cannot read property 'url' of undefined
Oct 30 12:07:59 app/web.1:     at [object Object].ordersSendNotification (server/methods/core/orders.js:572:51)
Oct 30 12:07:59 app/web.1:     at

[2017-10-30 20:27] zenweasel opened #3201 "Cannot navigate to products in Marketplace shops"
### Expected behavior
Should be able to navigate to a product

### Actual behavior
The URL string is `http://localhost:3000/undefined/product/reaction-2-product` so the page just renders a 404

### Steps to reproduce the behavior
1. Create a marketplace shop
1. Create a product within that marketplace
1. Go the "homepage" (i.e. http://localhost:3000) and click on a product.
1. Observe you receive

[2017-10-30 21:29] rymorgan opened #3202 "Test making one of our UI components an NPM package."
As proof of concept for making our react component library independent via an NPM package we need to test one UI element first.

@mikemurray suggested starting with the icons component.

If successful we'd like to migrate all our component library.

## tasks
1. Create a icon component npm module
2. Use the component in Reaction
3. Use the component  in Launchdock
4. Document how to use, install, c

[2017-10-30 22:03] spencern commented on #3096
This is part of the `performance` epic as it's part of the conversion from Blaze to React

[2017-10-30 22:09] spencern opened #3203 "Blaze to React Conversion"
Finish converting any remaining Blaze templates to React components.

The goal here should be to remove the Blaze package from our dependencies

[2017-10-30 22:11] spencern commented on #3097
This should be moved to an optional/included plugin and out of core.

[2017-10-30 23:10] spencern commented on #3114
@spencern this is two separate issues. Closing as (1.) is done but (2.) should have a separate ticket.

[2017-10-30 23:10] #3114 closed

[2017-10-30 23:13] spencern opened #3204 "[DRAFT] Shopify Connector Import should report progress"
Shopify connector should update an "events" type of collection so that the user can see progress of the import in near real-time.

[2017-10-30 23:38] arsen3d opened #3207 "Meteor 1.6 Support"
Stops working after update

imac5k2015:reaction arsen$ meteor update
cfs:tempstore: updating npm dependencies -- combined-stream...
cfs:gridfs: updating npm dependencies -- mongodb, gridfs-stream...

Changes to your project's package version selections from updating the release:

accounts-base              upgraded from 1.3.6 to 1.4.0
accounts-facebook          upgraded from 1.2.1 to 1.3.0
account

[2017-10-30 23:40] arsen3d opened #3208 "Sometimes the first variant is not automatically selected on page load. A placeholder is shown."
Node: 8.6.0
NPM: 5.3.0
Meteor Node: 4.8.4
Meteor NPM: 4.6.1
Reaction CLI: 0.19.1
Reaction: 1.5.4
Reaction branch: master
Docker: 17.09.0-ce

[2017-10-31 14:33] stoil commented on #3191
I have the exact same problem like @LukasNavickas .
Following the installation guide and after everything installed correctly. Running the **reaction run** command on Windows 10 machine, outputs the following:
[code]
or in other situations it just freezes on
[code]
and then outputs the same error as above

[code]

[2017-10-31 17:42] machikoyasuda commented on #2812
Unassigning myself

[2017-10-31 17:43] machikoyasuda commented on #2528
Unassigning myself

[2017-10-31 17:52] cantuket commented on #300
@rymorgan Ah ok thanks, the Product list view is what I was looking for so makes sense now.

[2017-10-31 17:54] oaulakh opened #3211 "I dunno why its throwing this server connecting error??"
Can anyone understand why i am getting this error all the way in starting!
`boo (master *) reaction $ reaction --port 8080

Using settings file at settings/dev.settings.json

Setting up plugin imports...

Installing dependencies for connectors-shopify...

npm WARN reaction-connectors-shopify@1.0.0 No repository field.

up to date in 0.085s
Setting up style imports...

[[[[[ ~/code/test/reaction ]]

[2017-10-31 17:56] aaronjudd commented on #3211
Looks like you updated to Meteor 1.6..  Closing in favor of #3207

[2017-10-31 17:56] #3211 closed

[2017-10-31 17:57] jshimko commented on #3207
There are a few Meteor 1.6 bugs to sort out, but try installing `core-js`.  I believe that's what fixed this for me in another app.

[code]

[2017-10-31 18:14] cindyfirestone opened #3212 "Shop dropdown should only show if I have/manage multiple shops"
### Expected behavior
The dropdown to switch between shops should only exist if I manage multiple shops.

### Actual behavior
The dropdown always shows up, even if I only manage one shop and there is one item in the drop down.

![home](https://user-images.githubusercontent.com/22083616/32241175-b2d2c0c2-be2c-11e7-8a59-71e7588d40e0.png)

[2017-10-31 18:15] cindyfirestone commented on #3212
If this is fixed, may eliminate the need for #3184

[2017-10-31 18:23] oaulakh opened #3213 "Ok this time again this one throwing error for autoprefixer"
Now this error

=> Errors prevented startup:

   While processing files with less (for target web.browser):
   imports/plugins/included/default-theme/client/styles/main.less:156: Unknown
   import: {}/node_modules/react-select/less/select.less

   While minifying app stylesheet:
   module.js:325:15: Cannot find module 'autoprefixer'
   at Function.Module._resolveFilename (module.js:325:15)
   at F

[2017-10-31 18:27] oaulakh commented on #3211
http://paste.ubuntu.com/25860359/

this time run reaction without update, and its still throwing error!

[2017-10-31 18:42] zenweasel opened #3215 "Order summary values being stored as strings instead of decimals"
### Expected behavior
Numbers should be stored as numbers

### Actual behavior
Numbers stored as Strings

### Steps to reproduce the behavior
1. Place an order
1. Open Robomongo or similar
1. Go to billing/invoice and observe the values are stored as string
<img width="678" alt="robo_3t_-_1_1" src="https://user-images.githubusercontent.com/72819/32242485-2ff1bca4-be30-11e7-83cf-472a5270e0f6.png">

[2017-10-31 19:29] zenweasel commented on #3208
@arsen3d Can you fill out the issue template so we some way of reproducing this bug?

### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

[2017-10-31 19:32] zenweasel commented on #3190
I actually think this is the expected/desired behavior not a bug. Each shop requires a shipment and needs to charge for it. @spencern We discussed this a bunch of times. This is how we decided to do this for now, correct?

[2017-10-31 19:48] prosf commented on #3190
Hmm Sorry it seems it's not clear in these pics what is the problem. The actual problem is that the shipping rate selected had an amount of 3 . So each of these sellers should get paid this 3$ (not 6)

[2017-10-31 21:15] zenweasel opened #3216 "Cannot cancel orders processed using Authorize.net"
### Expected behavior
Should be able to cancel an order processed using any payment provider

### Actual behavior
Clicking on cancel does nothing and an error is shown in the server console
[code]
Basically, if a payment processor does not support refunds, it should not attempt to refund when cancelling.

### Steps to reproduce the behavior
1. Place an order using Authorize.NET
1. Approve and Capt

[2017-11-01 03:15] aaronjudd commented on #3213
in your full log I see: `Warning: unable to resolve "env" in presets of `,etc leads me to think modules weren't installed. run `meteor npm install` and it should reinstall all the required modules.

[2017-11-01 03:38] oaulakh commented on #3213
i'm sorry, but i followed your git tutorial, so yeah it's working now

thanks!

[2017-11-01 03:38] #3213 closed

[2017-11-01 05:15] arsen3d commented on #3208
Expected Behavior
-For image of first variant to be shown
Actual behavior
-The top variant is not selected
Steps to reproduce the behavior
-Loading the page
<img width="1273" alt="screenshot 2017-10-31 22 11 21" src="https://user-images.githubusercontent.com/298235/32260951-8023007c-be88-11e7-8820-7fecabc70181.png">

[2017-11-01 05:19] arsen3d commented on #3207
Same problem
<img width="1264" alt="screenshot 2017-10-31 22 19 33" src="https://user-images.githubusercontent.com/298235/32261103-9965feda-be89-11e7-8aa9-337052ec9504.png">

[2017-11-01 08:36] Gary-Pan opened #3217 "Tag edit permission in add/edit product"
Hi,
I want to create a new group with permissions that can edit tag in add/edit product. But I can't complete this after I created a new group and enable all the permissions.
Is it possible to enable edit tag permission?

Reaction: 1.5.5

[2017-11-01 09:35] codejockie commented on #3146
@joykare could you please clarify on this issue, I've tried reproducing the issue but I'm unable to do that. The link you provided is dead.

[2017-11-01 09:46] codejockie commented on #3103
@zenweasel any way to reproduce this issue?

[2017-11-01 09:57] prosf commented on #3190
I updated the pics so it's easier to spot the problem : Buyer gets charged $337,96 instead of $323,98 as he's charged the order's total shipping cost(6.99+6.99) twice.

[2017-11-01 17:27] zenweasel commented on #3103
Issue updated with steps to reproduce

[2017-11-01 17:29] codejockie commented on #3103
Issue fixed.

[2017-11-01 18:19] efalayi opened #3219 "Invalid prop `noDataText` browser console error"
### Expected behavior
No errors in console when setting is clicked

### Actual behavior
Show `Invalid prop noDataText` in browser console

![dashboard-error](https://user-images.githubusercontent.com/28438068/32290311-fe1c27cc-bf39-11e7-80fd-8f7dcc73c774.gif)

### Steps to reproduce the behavior
- Pull master branch
- Start application and refresh page
- Click on `Accounts` setting
- Observer erro

[2017-11-01 19:05] impactmass commented on #3219
This shows up when I open Accounts, Email, or MarketplaceShops settings panel, likely because they all use SortableTable.

[2017-11-01 19:11] efalayi commented on #3219
@impactmass yes. I think somewhere along the line, `noDataText` props wasn't defined. `noDataText` is required in SortableTable.

[2017-11-01 19:30] roboto-cloud opened #3220 "Only 10% of performance: how long take to show content and become usable?"
### Expected behavior
#### **more than 77% of usability using google-chrome audits tests...**

### Actual behavior
#### **only 10% of usability using google-chrome audits tests...**
![screenshot from 2017-11-01 20-19-44](https://user-images.githubusercontent.com/32390825/32293017-24886256-bf42-11e7-9fd7-a8ba94a5847f.png)

### Steps to reproduce the behavior
**hardware:** 300 GB 100% SSD + RAM 12 G

[2017-11-01 20:50] arsen3d commented on #3207
As much as I am looking forward to meteor 1.6. It looks like debugging support in webstorm is lacking. Forcing update would prevent webstorm users from stepping through code.

[2017-11-01 22:18] arsen3d opened #3221 "Responsive Sizing Issues"
![screenshot 2017-11-01 14 57 52_preview](https://user-images.githubusercontent.com/298235/32300675-e5f5ee16-bf17-11e7-9ec7-5623429cf7d1.png)

[2017-11-01 22:19] arsen3d commented on #3221
Only works when margin is as big as the image

[2017-11-02 10:43] efalayi commented on #3019
@zenweasel could you please explain this part:
[code]

[2017-11-02 16:42] prinzdezibel opened #3223 "Components.Alert reconciliation issue when more than two instances are displayed"
Ensure that three Alert boxes are displayed on page.

Wait for approximately 10 seconds to see the boxes disappearing again.

### Expected behavior:

All 3 boxes disappear.

### Actual behaviour:

Only 2 boxes are disappearing. The 2nd box will remain visible.

[2017-11-02 16:43] prinzdezibel commented on #3223
![screen shot 2017-11-02 at 17 43 34](https://user-images.githubusercontent.com/1733229/32338546-63e7cc8a-bff5-11e7-83ec-5377ed9a883c.png)

[2017-11-02 16:50] prinzdezibel commented on #3223
Fixed with PR #3224

[2017-11-02 17:59] impactmass opened #3225 "Remove marketplace shop settings from merchant admin dashboard"
### Expected behavior
Merchant shop owner/admin should not be able to see (and attempt to edit) all other marketplace shops in their admin view.

### Actual behavior
Merchant shop owner/admin can see all other marketplace shops in their admin view. Attempting to edit the status of the shops gives an error in the console
[code]

### Steps to reproduce the behavior
- Login as admin into a new mercha

[2017-11-02 18:59] arsen3d opened #3227 "Image for variant not showing when clicking on a product"
### Expected behavior
Product images to show
### Actual behavior
Placeholder images show
### Steps to reproduce the behavior
Click between products
https://hello.reactioncommerce.com/
Do not use back button
Do not click refresh.
Clicking refresh brings the image in.
### Versions
1.5
### Notes
I think the problem is at ReactionProduct in /lib/api/products.js.
The bug can be seen at function compose

[2017-11-02 19:13] arsen3d commented on #3227
![screen recording 2017-11-02 at 12 09 53 pm](https://user-images.githubusercontent.com/298235/32345356-27b258e4-bfc7-11e7-82fd-303dad714c10.gif)

[2017-11-02 19:16] arsen3d commented on #3227
![screen recording 2017-11-02 at 12 09 53 pm 2](https://user-images.githubusercontent.com/298235/32345484-9006f76a-bfc7-11e7-8283-9dba379c85cd.gif)

[2017-11-02 19:22] arsen3d commented on #3227
Can someone label this as a bug with critical impact.

[2017-11-02 19:53] Jawadwithw opened #3229 "a node js issue ; undefined value of an string key"
Hi all!
in the server side, i have these codes:

    data= Object {from: USER1,sendto: ﻿﻿USER2,message: hello}
    clients=Object { USER1: 'Df0BRydnLO1AcNgYAAAC', USER2: 'tvpEquFf7GwPBKS-AAAD' }
when I want to get the value of USER1, i type my code like this:

    var sendmsgto=data["sendto"];

    var user=clients[sendmsgto];
    console.log(user);
and the output of log is :

    undefined

**but

[2017-11-02 20:51] arsen3d commented on #3227
Note the file name in debugger, the function being called, and that varientId in console does not change as I click between products.
![screen recording 2017-11-02 at 1 47 53 pm](https://user-images.githubusercontent.com/298235/32349580-c045efdc-bfd4-11e7-870d-55b1d2e5750a.gif)

[2017-11-02 20:53] arsen3d commented on #3227
Looks like the video is too blurry. Here is a screenshot
![screen recording 2017-11-02 at 1 47 53 pm](https://user-images.githubusercontent.com/298235/32349679-212eec18-bfd5-11e7-926d-85c99aec3353.gif)

[2017-11-02 20:57] arsen3d commented on #3227
As you can see in the commented code, I've attempted  to resolve the problem by waiting for subscription to be ready. This did not solve the problem as it appears that ReactionProduct is being synchronized with autopublish in the background. Though it's not entirely clear to me about exactly how the underlying components are working.

[2017-11-03 12:16] jshimko commented on #3229
I don't see an actual error with Reaction here.  This sounds like you're asking for help writing your custom code.  You should consider asking for help in Gitter or the forum.

You also didn't fill out the required issue template, so...

[2017-11-03 12:16] #3229 closed

[2017-11-03 13:04] yanickrochon commented on #3207
Upgrading was fine one one machine, but the same project with the same env on another computer failed with all sorts of problems, notably a bunch of missing modules that I have never used before :

[code]

I dumped `node_modules` and try `meteor npm i` and got a different error on the client only :

[code]

¯\_(ツ)_/¯

[2017-11-03 16:15] joykare commented on #3146
@codejockie replaced the link. If you remove that snippet every time you disable a shop you need to refresh the page for changes to occur.
- You need to have the subscription run continuously if you want the changes to be reactive. What is happening now is that the subscription runs only once(when the component is rendered).

[2017-11-03 16:24] codejockie commented on #3146
@joykare Why is the `ProductsContainer` used in a Higher Order Component?

[2017-11-03 16:58] #3131 closed

[2017-11-03 18:41] spencern opened #3233 "Performance"
# Performance Epic
## Planning
During the planning phase of this epic, our goal is to benchmark, document, and communicate these efforts. We need to be able to measure where we are starting and the progress we make.

[Kadira](https://github.com/kadira-io) is now an open source project. During the benchmarking and planning phase of this performance epic, we will set up Kadira and gather initial dat

[2017-11-03 18:43] LukasNavickas commented on #3191
@jshimko any solution to this problem? Many users encounter it as far as I can see.

[2017-11-03 20:00] machikoyasuda opened #3234 "Research + present about dynamic module loading"
## Part of
https://github.com/reactioncommerce/reaction/issues/3233

## Task
- Research + present to the team

## Answer this question
- Does dynamic module loading improve performance? How much improvement?
- Which specific modules are most important to dynamically load?

[2017-11-03 20:06] machikoyasuda opened #3235 "Research + present on migrating to Meteor 1.6"
## Questions to answer
- What are the blockers in upgrading to Meteor 1.6?
- How long do you think this will take to get thru the blockers?
- What are the gains?

Part of https://github.com/reactioncommerce/reaction/issues/3233

[2017-11-03 20:09] machikoyasuda opened #3236 "Research + present on React component re-rendering"
## Answer these questions
 - Are the actions that are slow also the actions w/ re-rendering React components?
 - Which components re-render the most in the app?
 - What are the areas of the app where the components re-render multiple times? Specifically the side panel in Admin.

## Part of
https://github.com/reactioncommerce/reaction/issues/3233

[2017-11-03 20:21] machikoyasuda opened #3237 "Research + present on running Kadira"
## Part of
https://github.com/reactioncommerce/reaction/issues/3233

## Goal
- Write docs so anyone can run Kadira

[2017-11-03 20:30] machikoyasuda opened #3238 "Research + present on auditing all packages"
## Part of
https://github.com/reactioncommerce/reaction/issues/3233

## Present
- What's our bundle size?
- What are the top packages we're requiring + how can we lessen them?

[2017-11-03 20:34] joykare commented on #3238
Notes:
- top packages/how big and how useful/alternatives
- npm packages usage/ how useful/alternatives if any
- blaze and code not used (e.g. Sliders)

[2017-11-03 20:42] machikoyasuda opened #3239 "Create sample data sets along with our 3 different user personas"
Part of https://github.com/reactioncommerce/reaction/issues/3233

# Personas
- Standard
- Small shop
- Big shop

[2017-11-03 21:00] #3154 closed

[2017-11-03 21:21] kieckhafer commented on #2410
PR'd in #3149

[2017-11-03 21:22] #2410 closed

[2017-11-03 21:59] tom-gerken commented on #2718
For shopify orders, they should populate with the customer name and address, as well as the following fields;

fulfillment_status:"unfulfilled",
note:“Order Processed by <<Store name, ie Foray Collective>>”,
financial_status:“paid”,

Possibly?
"landing_site": "<<ROOT URL of reaction site>>”,

for reference:
https://help.shopify.com/api/reference/order

[2017-11-03 22:50] fisshy commented on #3207
Did anyone manage to get it to work?

[2017-11-04 02:05] mikemurray opened #3241 "Flash 403 / 404 views when auth state changes"
Due to the way the router was implemented, there is a flash of 403 / 404 views when signing in or signing out.

This is in part due to the Trackers in the router startup that re-render the entire browser router when there is new data from the publications.

Also, the reactivity of these trackers means that, as you are transitioning from an authenticated user to an unauthenticated user, your permis

[2017-11-04 18:28] spencern commented on #3136
@origin22 this sounds like a different issue that initially reported (can't install reaction-cli with npm). I'd recommend visiting our [gitter chat](https://gitter.im/reactioncommerce/reaction) for help with installation or setup as this isn't an issue with the codebase.

[2017-11-04 18:28] #3136 closed

[2017-11-04 18:49] spencern commented on #3137
Resolved by #3157

[2017-11-04 18:49] #3137 closed

[2017-11-04 18:52] spencern commented on #3120
Resolved by #3153

[2017-11-04 18:52] #3120 closed

[2017-11-04 18:52] spencern commented on #3085
Resolved by #3152

[2017-11-04 18:52] #3085 closed

[2017-11-04 18:56] spencern commented on #3018
Resolved by #3112

[2017-11-04 20:48] roboto-cloud commented on #3233
here!!! finally **performance** is a word what I can see  from a collaborator or member team  :)
this two issues can be closed...

https://github.com/reactioncommerce/reaction/issues/3220
https://github.com/reactioncommerce/base/issues/7

[2017-11-05 11:21] mulianto commented on #3191
I have the same problem, settings environment variable TOOL_NODE_FLAGS = --max-old-space-size=1024 taking care of the issue with FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - process out of memory.

The issue I have now is the client see only empty page when running http://localhost:3000

Here is the server console looks like:

Using settings file at settings/dev.settings.json

Setting up p

[2017-11-05 11:23] mulianto commented on #3191
Here is the version I use:

Node: 8.3.0
NPM: 5.5.1
Meteor Node: 4.8.4
Meteor NPM: 4.6.1
Reaction CLI: 0.20.0
Reaction: 1.5.6
Reaction branch: master

[2017-11-05 12:15] mulianto commented on #3191
found the issue. Run: "npm install" works, instead of "meteor npm install"

[2017-11-05 12:58] it-all opened #3242 "Confusing Marketplace Seller Signup Process"
### Expected behavior
There should be a link to "Become a Seller" on the homepage after enabling the Marketplace and Allow merchant signup.

### Actual behavior
A seller is required to Register before seeing the Become a Seller link. This is very confusing and I believe would prevent most seller applications/registrations.

### Steps to reproduce the behavior
Enable Marketplace in the Admin
Check

[2017-11-05 14:21] zsavicreative commented on #3183
umm, not sure if this helps cause I'm a nub by all counts, but I'm running similar environment to nsrtky and getting the same error.

Win 10 64bit
and reaction -v results:

Node: 6.11.3
NPM: 3.10.10
Meteor Node: 4.8.4
Meteor NPM: 4.6.1
Reaction CLI: 0.20.0
Reaction: 1.5.6
Reaction branch: master

[2017-11-06 13:30] speedingdeer commented on #3184
same here

[2017-11-06 17:42] spencern commented on #2718
From @tom-gerken

We should consider creating an unlisted Shopify App to make onboarding easier.

[2017-11-06 19:31] machikoyasuda commented on #3207
Follow along: https://github.com/reactioncommerce/reaction/pull/3243

[2017-11-06 20:13] rymorgan commented on #3242
@it-all I agree that the ux here is confusing. It's something on our design roadmap that we know we need to address. At the same time, I think it's a fairly normal marketplace approach to ask a potential seller to register in order to become a seller. I think the UX confusion could be solved around messaging. Maybe, there is a Login/Join link or some messaging that says register to become a seller

[2017-11-06 21:31] sellomkantjwa commented on #3183
Also getting the same issue:
Node: 6.9.1
NPM: 3.10.8
Meteor Node: 8.8.1
Meteor NPM: 5.4.2
Reaction CLI: 0.20.0
Reaction: 1.5.6
Reaction branch: master
Docker: 17.09.0-ce
Memory peaks at about a gig and then the process just crashes

[2017-11-06 22:59] zenweasel opened #3244 "Automate the release process"
The release process should be simple, quick and not manual. Perhaps you could just put in a release number and PR numbers and it could:

1. Create the release branch
1. Rev the `package.json`
1. Merge the PR's into the release branch
1. Create the release PR with the release notes

Or alternately it could iterate through all open, non-WIP, approved PR's and ask "Ready to release?" for each to make

[2017-11-06 23:49] zenweasel commented on #3244
Probably as a corollary to this, we should have some sort of simple, automated smoke testing that can be run at the command line

[2017-11-07 11:28] nsrtky opened #3245 "Ubuntu Fatal Error addMapping with Code"
![image](https://user-images.githubusercontent.com/12385044/32491299-3c20aab6-c3c7-11e7-8b19-b796cb41847e.png)

Are you looking for help with getting started on Reaction? Please go
to our [Gitter room](https://gitter.im/reactioncommerce/reaction) instead.

### Expected behavior
run and work
### Actual behavior
fatal error due to x86 architecture
### Steps to reproduce the behavior
install ubuntu 1

[2017-11-07 13:32] jshimko commented on #3245
Thank you for reporting your issue.  It looks like this is a duplicate of #3023 and #3183.  Closing in favor of them, but I recommend you try the `TOOL_NODE_FLAGS` environment variable that Meteor provides.

[code]

[2017-11-07 13:32] #3245 closed

[2017-11-07 13:46] jshimko commented on #3183
This is a duplicate of #3023.  I think we should probably close this and move the conversation there so we can have it all in one place.

But the short answer is try using the `TOOL_NODE_FLAGS` environment variable to set the amount of RAM the Meteor tool can use for the build.

[code]

See also...

https://stackoverflow.com/questions/16586705/configuring-v8s-memory-management-to-be-smart-for-a-no

[2017-11-07 13:46] #3183 closed

[2017-11-07 14:32] joykare opened #3246 "Hide options card on Shop panel for Merchant Shops"
### Expected behavior

Merchant shops should not have the ability to set shop options
These include (all in the options card):
- [ ] Exchange rates
- [ ]  Google Client Ids and passwords

### Actual behavior

Merchant shops can change these settings since card is visible to them

### Steps to reproduce the behavior

- Log in as merchant shop
- On the sidebar click on `shops` icon
- Open options ca

[2017-11-07 14:47] zsavicreative commented on #3183
so just to clarify my understanding of that stackoverflow post, does that mean this is mainly due to way reaction has been set up? not splitting single processes into several workers accordingly?  forgive the nub question, I always assume that my understanding of something is wrong before I reach the another conclusion.

[2017-11-07 15:03] jshimko commented on #3023
To summarize this issue, it appears to be happening because the v8 engine in Node has fairly low default memory allotments for a single Node process.  If you take a look at the [Node source for v4.x](https://github.com/nodejs/node/blob/v4.x/deps/v8/src/heap/heap.cc#L76) (which the current release of Reaction uses), you can see the default is 700MB for 32bit machines and twice that (1.4GB) for 64bi

[2017-11-07 15:15] aldeed commented on #2917
@aaronjudd @spencern Let me know if you want me to tackle this and #3034. I'm going to try getting back into the reaction codebase a bit.

[2017-11-07 15:58] aaronjudd commented on #2917
@aldeed that'd be awesome! happy to have you.

[2017-11-07 16:14] jshimko commented on #3023
Also worth noting is Meteor didn't add support for 64bit Windows until a few weeks ago.  This means the default Node memory allocation on Windows machines (700MB) is half of what everyone on 64bit machines gets by default.  That certainly may explain why Windows users appear to run into this issue more often.

https://github.com/meteor/meteor/pull/9218

It is now available in Meteor 1.6, but Windo

[2017-11-07 16:50] spencern commented on #2917
Would love that @aldeed
I've got a branch that has a decent start (updates all arrays in our schema to fit the node-simple-schema model) if you want a head start.

https://github.com/reactioncommerce/reaction/tree/spencer-node-simple-schema-update-schemas

[2017-11-07 17:39] mikemurray opened #3248 "Cannot checkout with merchant products with stripe"
### Expected behavior

Should be able to checkout with a product from a merchant shop.

### Actual behavior

Cannot checkout with a product in the cart from a merchant shop.

Error received:

[code]

### Steps to reproduce the behavior

1. Invite a shop owner
1. Accept invitation
1. As the marketplace owner set the shop to `active` under `Marketplace Shops` (globe icon in icon toolbar)
1. As a mar

[2017-11-07 18:02] joshuacox commented on #3023
@jshimko that definitely explains the low memory end on windows.  However, there are still many issues where I've seen a 64-bit linux machine with monstrous amounts of ram fail with a ridiculous line like:

[code]

of note approaching 32 gigs of ram should be way beyond what is necessary here, and yet I've seen that exact setup fail.

I think the best solution is to follow @jshimko  and the reacti

[2017-11-07 18:21] jshimko commented on #3023
@joshuacox yeah, as I mentioned in the code comments above, more is not necessarily better.  For example, when it set it to `4096` on my MacBook Pro, it would just hang for over an hour, but when I set it to `2048` it would pass every time.  So it appears that the trick is to only set it as high as necessary for the machine you're on.  Not really an ideal user experience, but hopefully Meteor 1.6

[2017-11-07 18:35] jshimko commented on #3183
No, it means that the Reaction build (which is performed by Meteor) is a single process.  And that's not really optional because it has to happen in a specific order.

See my additional updates from earlier today here https://github.com/reactioncommerce/reaction/issues/3023#issuecomment-342510093

[2017-11-07 18:58] mikemurray commented on #3248
Can checkout with a product from a merchant shop. Missed a setup phase where the merchant shop needs to open shop settings, enter their address, and connect with Stripe. Need to verify there is documentation for this.

[2017-11-07 18:58] #3248 closed

[2017-11-07 19:59] joshuacox commented on #3023
just a little extra info I've got two shells open at the moment and one is a `reaction` and during the process it will show:

[code]

in my other shell I can `watch -n1 'free -m'` or `htop` or similar and watch memory continuously being consumed, it surpassed 5 GB on this machine.  At some point gridfs appears to be satisfied and let's loose.  @jshimko this was just done on a fresh checkout of the

[2017-11-07 20:30] jshimko commented on #3191
Now that we know the OpenSSH issue was the first issue, the rest of this is a duplicate of #3183.  Specifically, take a look at all of the comments from earlier today.

For the sake of organization, I'm closing this issue in favor of #3183.

[2017-11-07 20:30] #3191 closed

[2017-11-07 22:01] zenweasel commented on #3235
Since @jshimko has already done this, assigning this to him.

[2017-11-07 22:04] aldeed commented on #2917
@spencern Thanks, I will start from there

[2017-11-08 01:58] zenweasel opened #3253 "Should be able to create products or modify configuration in marketplace shop when set to "new""
Not sure this is really a "bug" so much as a "feature that doesn't work as expected" but writing as a bug for clarify.

### Expected behavior
Should be able to fully set up a shop including creating product before making the shop "active/visible". This is probably the most common use case.

### Actual behavior
All URL's that need the shop slug return `undefined` so you can't create a product or mo

[2017-11-08 07:42] speedingdeer opened #3254 "Marketplace search"
I have marketplace with three shops. When I search it always search ONLY within primary search context. I've tracked the search and the shopId is given as parameter but there is no option / navigation to change this context or search over all products.

### Expected behavior

When I search I search over all products or in the specific shop context.

### Actual behavior

Search modal always searche

[2017-11-08 07:46] speedingdeer commented on #3227
Same here

[2017-11-08 12:22] prinzdezibel opened #3256 "Eliminating dead code: adminControlsFooter field in LayoutStructure schema."
This is not a bug.

I've found that the layout registry has a property called `adminControlsFooter`. This field is found many times in the code base, yet it's not used anywhere.

I'd consider this a candidate to clean up the codebase.  It was used to allow customization of Blaze templates once upon a time, but I think it's not necessary any more. Especially when considering the new component API.

[2017-11-08 13:05] prinzdezibel commented on #3256
If you agree, please assign back to me for implementation.

[2017-11-08 21:53] machikoyasuda commented on #3234
Meteor's video on dynamic module loading

https://www.youtube.com/watch?v=j-WcyAjVceM

https://www.youtube.com/watch?v=2wlOmWI2s_0

[2017-11-08 21:54] machikoyasuda commented on #3238
Related: https://www.youtube.com/watch?v=dUKIO47iHF4

[2017-11-08 22:36] arsen3d commented on #3227
@speedingdeer I have not tested that. I suggest you make a new issue out of it. Make a video/gif if you can.

[2017-11-09 01:51] zenweasel commented on #3256
@prinzdezibel I think we can add this ticket to this Epic for removing all Blaze. (If you don't have the ZenHub Chrome extension installed, you will probably want to do that)

[2017-11-09 03:14] zenweasel opened #3260 "Newly added shops don't show up under "Marketplace shops" until you refresh"
### Expected behavior
When you create a shop it should automatically show up under "Marketplace Shops"

### Actual behavior
Shops only show up after you refresh

### Steps to reproduce the behavior
1. Enable marketplace
1. Invite a shop owner (aka create a shop)
1. Open "Marketplace Shops"
1. Observe that the newly created shop is not there
1. Refresh
1. Observe that the shop now shows up

### Ver