[2018-02-06 01:57] zenweasel commented on #3497
@kieckhafer Yeah, I guess the idea would be for it not to do all that stuff just to toggle a toggle? Could/Should components check a `shouldComponentUpdate` to see if their specific component changed or is that a brute-force method?

[2018-02-06 02:17] zenweasel opened #3652 "Error in browser console when opening a Shop Manager invitation"
### Expected behavior
No errors in console

### Actual behavior
Receive a chain of errors all similar to this:
[code]

### Steps to reproduce the behavior
1. Login as admin and enable Marketplace
1. Invite a user
1. Using Incognito to open the link in the invitation
1. Observe errors in browser console

### Versions
[code]

[2018-02-06 02:58] aldeed commented on #3236
@aaronjudd I spent a little time poking around various components, but I didn't find any smoking guns. It might be that someone more familiar with the slowness issues can do this better. However, since we are already planning component changes that will address some of this, and I will be trying to keep a better eye on reactivity issues and teaching others to do so, my vote is to close this issue

[2018-02-06 03:12] zenweasel commented on #3617
This is probably the same bug as #3652

[2018-02-06 03:17] zenweasel commented on #3628
Since the use case for this is pretty limited, I would consider this a low-impact bug and thus a lower priority

[2018-02-06 04:08] zenweasel commented on #3646
As noted in another ticket, these booleans are not redundant. One refers to whether it should show up in the dashboard, and one refers to whether it is actually enabled/disabled. Someone is probably checking the wrong value.

[2018-02-06 05:40] JoeyLyman commented on #3617
I get this too

[2018-02-06 08:27] prinzdezibel commented on #3646
@zenweasel This is what I was thinking too. But then I've realized, that toggling stripe on/off
actually alters both booleans synchronously. Which doesn't quite make sense. Also the
plugin appears still in dashboard, even if the upper boolean is false. I guess that the behavior/intention of the booleans may have changed over time causing the inconsistent behavior we see now.

[2018-02-06 11:08] zenweasel commented on #3239
Added full tags set with three layers of navigation and 100 products assigned to each category. Should work well for testing. Still not done with large dataset

[2018-02-06 16:11] Akarshit commented on #3652
@zenweasel This happens because when the shop has not been set to active(we only publish active shops to client).
What should be done in the case when the shop has not yet been activated and the admin of that shop is using the invite link?

[2018-02-06 17:05] spencern commented on #3404
@Akarshit what's the status on this issue?

[2018-02-06 17:06] spencern commented on #3297
@Akarshit what's the status on this issue?

[2018-02-06 17:15] hrath2015 commented on #2326
For me final few lines are:
[code]

[2018-02-06 17:15] mikemurray commented on #405
Closed by https://github.com/reactioncommerce/reaction/pull/3582 and additional tickets https://github.com/reactioncommerce/reaction/issues/3623 https://github.com/reactioncommerce/reaction/issues/2040

[2018-02-06 17:15] #405 closed

[2018-02-06 17:20] ticean commented on #1837
# GeoIP

### Setup

A GeoIP lookup client is configured in [server/api/geocoder.js](https://github.com/reactioncommerce/reaction/blob/f40ff536c139d70da02ca10ae12655247452d658/server/api/geocoder.js) and exported in [server/api/index.js](https://github.com/reactioncommerce/reaction/blob/db4e8d2aa500a9da59f994e64df4f8999ebe6965/server/api/index.js)

### Usage of GeoIP

1. [`server/methods/core/shop.

[2018-02-06 17:41] kieckhafer opened #3654 "React throws setState warnings for NotificationDropdown component"
### Expected behavior
There should be no setState in the console when using Reaction. This particular issue relates to the `setState` warnings seen in the `NotificationDropdown` component.

### Actual behavior
When loading Reaction, as a user who has notifications enabled, a `setState` warning is given as `moment` loading causes the component to unmount before the state is set.

### Steps to repro

[2018-02-06 19:43] ticean opened #3655 "Configuration for GeoIP lookup server URL should not be hardcoded"
The GeoIP server is hardcoded in the GeoIP module. Change this to use configuration from a setting or env.

The value is hardcoded in these locations:

1. [`server/api/geocoder.js`](https://github.com/reactioncommerce/reaction/blob/f40ff536c139d70da02ca10ae12655247452d658/server/api/geocoder.js)
2. [`imports/plugins/core/accounts/client/templates/addressBook/add/add.js#L13-L18`](https://github.com

[2018-02-06 22:06] spencern commented on #3236
Closing, we'll create specific issues as we are able to surface specific issues with React or UI slowness.

[2018-02-06 22:06] #3236 closed

[2018-02-06 22:06] #3632 closed

[2018-02-06 22:06] #2635 closed

[2018-02-06 22:08] spencern commented on #1837
Closing in favor of #3655

[2018-02-06 22:08] #1837 closed

[2018-02-06 22:12] spencern commented on #2666
@aaronjudd
Can I close this in favor of the more specific #2634, #2635, #3595, #3594, or should we update this ticket to address anything more specifically?

[2018-02-07 00:01] rymorgan opened #3656 "Right to left sidebar animation is not reversed as it should be."
Right to left sidebar animation is not reversed as it should be.

### Expected behavior
When I'm using the app in right to left language the sidebar animation should slide from the left not from the right.

### Actual behavior
It does the reverse.

### Steps to reproduce the behavior

1. Switch to right to left language
2. Open side bar

See example:
![vbqxz5uvkl](https://user-images.githubusercon

[2018-02-07 01:37] zenweasel commented on #3652
Marketplace admins should have access to their shop even when it's not active

[2018-02-07 01:46] Akarshit commented on #3297
@spencern The PR would fix a small part of this, but not the whole thing.
I haven't tested with huge no. of products, but I will we working on this.

Will update once I find anything.

[2018-02-07 01:53] zenweasel commented on #3297
@Akarshit Can you link your PR properly? Also, I feel like the PR does in fact solve this issue? Can you explain how it doesn't and what you are waiting for? This should take top priority since it's a performance issue in the sprint.

[2018-02-07 01:55] zenweasel commented on #2326
Ok, I am taking @hrath2015's confirmation that this is fixed and closing.

[2018-02-07 01:55] #2326 closed

[2018-02-07 02:46] Akarshit commented on #3652
@zenweasel The problem is in the publishing of merchant shops, [here](https://github.com/reactioncommerce/reaction/blob/master/server/publications/collections/shops.js#L52) we are only publishing the `active` shops if the user doesn't have `admin` role for primary shop.
We need to change it so that all the shops that the user is `admin` for are published.
But now Shop Manager doesn't have `admin`

[2018-02-07 02:55] Akarshit commented on #3297
@zenweasel The admin sidebar lags because many `Tracker.autorun` are executed before it is opened. With the single product configuration, 50% of the lag is in reloading translation(which #3463 fixes) while the rest is re-rendering many components.

I will have to check which components are getting re-rendered again and why.

[2018-02-07 03:16] zenweasel commented on #3652
Shop Managers should not see all inactive shops, but they should see **their** shop whether it is active or not. So you may need to modify the publication so that they see active shops + their shop (probably need to extend the query)

[2018-02-07 03:18] Akarshit commented on #3652
@zenweasel Is there some specific `role` having which the users would be able to see the shops(active shops + their shops).

[2018-02-07 03:20] kieckhafer commented on #3497
The issue seems to boil down to the `Router`. Anytime we do `Shops.update`, the `Router` re-renders. Since these toggles are changing shop settings, we run `Shops.update`, the `Router` re-renders, and that delay is what we are seeing.

So I think in this case, a toggle isn't just a toggle, since it updates the Shop settings as a whole, not just package settings inside the shop.

If the `Router` re

[2018-02-07 03:21] zenweasel commented on #3652
Try inviting a shop owner and checking their roles to see what's there, I don't know off the top of my head

[2018-02-07 03:34] Akarshit commented on #3652
@zenweasel I did that, the roles that I think could be used to check are `core`, `dashboard` and `marketplaceShops`. Do you think any of these would work?

[2018-02-07 04:49] zenweasel commented on #3652
Dig a little deeper and determine if `marketplaceShops` is the role assigned to shop admins. Maybe @impactmass can help us?

[2018-02-07 05:09] Akarshit commented on #3404
@spencern The PR #3463 fixes the performance issues, I tested with ~200 products, but that doesn't make it super fast. The majority of the UI is still re-rendered when the Action Panel is opened. All the product thumbnails, navbar, action panel items are re-rendered and I don't see a way of preventing that from happening.

Any changes in the Grid Settings are reflected on the layouts(reactively) n

[2018-02-07 08:15] zenweasel commented on #3498
Still getting this deprecation warning

[2018-02-07 08:50] zenweasel commented on #3239
Ok. I am adding images now. I swear to god that I am going to finish this tomorrow though. If you want to use it for loading testing, the medium dataset should work for you

[2018-02-07 11:26] Akarshit commented on #3297
I tried looking through the components but couldn't find any re-rendering that wasn't supposed to happen.

[2018-02-07 19:31] aaronjudd opened #3660 "Product URL not opening selected variant"
### Expected behavior
When you click the product in the cart, the PDP should open with the matching option/variant selected.

Generally - product urls are not working (from checkout or otherwise) to select variants.

### Actual behavior

Opens the first/default variant.
<img width="1291" alt="basic_reaction_product" src="https://user-images.githubusercontent.com/439959/35937114-0d67d318-0bfa-11e8-

[2018-02-07 19:57] kieckhafer commented on #3497
Notes for discussion: It seems like the Router is re-rendering one additional time every time a language / currency is enabled.

The first time you click a toggle, it'll run `x` times (usually 2). The second time, it runs `x+1`. The third, `x+2`, etc.

[2018-02-07 22:48] kieckhafer commented on #3495
`react-taco-table` is only used by `SortableTableLegacy`, and only in the search modal, for Accounts. If we can update that to use `SortableTable`, or even better, move account search to the accounts dashboard, we could remove that dependency.

[2018-02-08 08:33] zenweasel commented on #3239
I think this is done and MJ is testing it tonight.

[2018-02-08 09:53] prinzdezibel opened #3662 "Prevent publishing all Products for non-admin user, it breaks the app for large product sets."
### Expected behavior
Navigation should be snappy and fast, regardless of the number of products that are available in shop. Browser should not freeze at any time.

### Actual behavior
When having 1000 or more products, the app becomes unusable. Navigating to the index route (or tag route) will take minutes before it gets displayed. On many occasions it freezes and the browser tab becomes unrespon

[2018-02-08 10:23] prinzdezibel commented on #3239
The test data plugin itself is usable, but there's a performance problem resulting out of it when tested as non-admin user. Created a ticket for that: https://github.com/reactioncommerce/reaction/issues/3662

[2018-02-08 10:46] prinzdezibel commented on #2328
Can't reproduce scenario B.  Works as expected when signing in or registering as new user. During user creation/login, the screen gets white for a couple of seconds, but aside from that, it works ok.

[2018-02-08 11:09] prinzdezibel commented on #2328
Bug description for scenario A still holds true partially. When entering wrong credentials, unauthorized page is not shown any longer, but there's still no error message displayed.

[2018-02-08 15:45] prinzdezibel commented on #3649
Because editing / creating groups needs the admin rights server side, I'd propose to display the EditGroup component read-only, if this permission is not available.

[2018-02-08 16:26] DenisBogatirov commented on #1497
Any movements here?
I am using `private/custom` to store my own fixtures. After build of Docker image from `reactioncommerce/base:v3.0.0` the `custom` folder is empty.

[2018-02-08 19:15] machikoyasuda opened #3667 "Cart's X is not aligned"
### Visual bug: Screenshots

| Expected   	| Actual     	|
|----------	|:------------:	|
| <img width="316" alt="screen shot 2018-02-08 at 11 10 22 am" src="https://user-images.githubusercontent.com/3673236/35992979-c545c744-0cc0-11e8-966d-c839ee6cf6da.png">	| <img width="277" alt="screen shot 2018-02-08 at 11 10 51 am" src="https://user-images.githubusercontent.com/3673236/35992980-c55cf900-0cc0-

[2018-02-08 19:24] machikoyasuda opened #3668 "Checkout now button overlaps with Cart item container"
### Expected v. Actual: Screenshots

<img width="1435" alt="screen shot 2018-02-08 at 11 19 33 am" src="https://user-images.githubusercontent.com/3673236/35993397-1c047f84-0cc2-11e8-9162-ab4a20cae905.png">

<img width="1439" alt="screen shot 2018-02-08 at 11 20 04 am" src="https://user-images.githubusercontent.com/3673236/35993412-2821d046-0cc2-11e8-85c4-614393d19f5c.png">

Comparing 1.7 (https://

[2018-02-08 19:27] machikoyasuda opened #3669 "Remove from Cart (X) does not remove from cart."
### Expected behavior
- Clicking on the (X) on an item in the cart should remove it from the cart.

### Actual behavior
- Clicking on the (X) on an item in the cart does not remove it.
- No console errors

Result: There is _no_ way for a user to remove an item from the cart.

### Steps to reproduce the behavior
1. Add item to cart
2. Click cart
3. Click the X -- nothing happens

### Versions

[cod

[2018-02-08 19:32] machikoyasuda opened #3670 "Clicking on CTA multiple times returns multiple error messages"
### Expected behavior
Only one error box will show up, no matter how many times you erroneously click the CTA without choosing a variant.

### Actual behavior
Multiple error boxes show up

<img width="689" alt="screen shot 2018-02-08 at 11 30 42 am" src="https://user-images.githubusercontent.com/3673236/35993915-b0ab2326-0cc3-11e8-85ef-aada418eb811.png">

### Steps to reproduce the behavior
1. Cli

[2018-02-08 19:53] machikoyasuda opened #3671 "Major bug: Unable to place 2 consecutive orders as an anonymous user"
### Expected behavior
A user should be able to place 2 consecutive orders as an anonymous user, 1B from https://docs.reactioncommerce.com/reaction-docs/master/acceptance-testing

### Actual behavior
After successfully placing one order as an anonymous user, I click the store name from the Thank you page. I attempt to buy another product again, as an anonymous user.

I get to here:
<img width="1247

[2018-02-08 20:13] machikoyasuda opened #3672 "Choosing between several Shipping/Billing addresses is blocked by UI lag"
### Screenshot gifs

| Expected: 1.7   	| Actual: 1.8     	|
|----------	|:------------:	|
| ![out2](https://user-images.githubusercontent.com/3673236/35996604-d2415aa2-0ccb-11e8-9937-908f96896c30.gif)| ![out](https://user-images.githubusercontent.com/3673236/35996602-d224fdd0-0ccb-11e8-9204-76c2d56daa41.gif)|
|In 1.7, choosing between Shipping/Billing addresses should be fast and responsive. Afte

[2018-02-08 20:33] machikoyasuda commented on #3671
Closing for now b/c it is duplicate w/ https://github.com/reactioncommerce/reaction/issues/3649

[2018-02-08 20:33] #3671 closed

[2018-02-08 21:23] zenweasel commented on #3669
This is a duplicate

[2018-02-08 21:59] nnnnat opened #3673 "Newly tagged unpublished product shows as sold out/ missing product img in edit mode"
### Expected behavior
- Product should display with an "unpublished" notification
- Product should have correct product image

### Actual behavior
- Product is missing product image and listed as sold out

### Steps to reproduce the behavior
- As an Admin add a new tag to the tag nav
- Apply new tag to existing product
- Navigate to new tags product page

### Versions
[code]

[2018-02-08 22:07] zenweasel commented on #3669
Sorry, my mistake. Not a dupe. Was a PR but no issue.

[2018-02-08 22:15] zenweasel commented on #3672
We should probably try to make titles more descriptive than "is buggy". Maybe "is unresponsive" or "UI lags" or something? Makes is easier to find issues later on.

[2018-02-08 22:20] kieckhafer opened #3674 "Unneeded "Cancel" button visible on change password screen"
### Expected behavior
- There should be no "Cancel" button n the update password area of the User profile

### Actual behavior
- There is a "Cancel" button in the update password area of the User profile
- The cancel button does nothing

![account_profile](https://user-images.githubusercontent.com/4482263/36113101-8b521f60-0fe0-11e8-81ce-3e789a1c50cb.png)

### Steps to reproduce the behavior
1. Lo

[2018-02-08 22:21] machikoyasuda commented on #3672
Retitled to `blocked by UI lag`

[2018-02-08 22:21] machikoyasuda opened #3675 "i18n: SortableTable copy is not internationalized"
### Expected behavior
`Previous`, `Next` should be internationalized copy keys.

### Actual behavior
<img width="695" alt="screen shot 2018-02-08 at 2 18 01 pm" src="https://user-images.githubusercontent.com/3673236/36001365-ee1752fe-0cda-11e8-84ed-117669b356fa.png">

### Steps to reproduce the behavior
1. Log into admin
2. Switch into nonEnglish language
3. Click into any panel with a sortable ta

[2018-02-08 22:23] kieckhafer opened #3676 "Show a warning before deleting an address from the user profile"
### Expected behavior
- There should be a warning alert / action shown before deleting an address from the address book

### Actual behavior
- No warning alert / action is shown before deleting an address book

### Steps to reproduce the behavior
1. Login as a registered user
2. Navigate to your user profile
3. Add an address (if one is not already there)
4. Delete the address

![delete addresses

[2018-02-08 22:27] machikoyasuda commented on #2267
Closing this b/c we have a new component library repo

[2018-02-08 22:27] #2267 closed

[2018-02-08 22:45] kieckhafer commented on #3672
This is also happening on the user profile page - which makes sense, since it is the same component.

My initial thought was shipping was recalculating in the background, and the lag was due to the calculations not being finished.

[2018-02-08 22:53] kieckhafer opened #3677 "Set primary shipping / billing address if only one address is left"
### Expected behavior
If my primary shipping / billing address is deleted, and there is only address left in the address book, it should automatically become my primary address

**OR**

I should not be able to delete my primary address, I should have to remove primary status before deleting an address

### Actual behavior
- When my primary shipping / billing address is deleted, a remaining address

[2018-02-08 23:28] kieckhafer opened #3678 "Inventory updates work incorrectly when cancelling an order"
### Expected behavior
- If I cancel an order, and choose to restock, my available inventory for the product should increase by the number of items I've "cancelled". For example, if I started with 20 products, ordered 5, captured the payment, and then cancelled the order with restocking, I should have 20 available products.
- If I cancel an order, and choose not to restock, my available inventory f

[2018-02-08 23:34] nnnnat opened #3679 "Sub navigation does not open on mobile"
### Expected behavior
- Sub navigation should open when top-level nav item arrow is clicked

### Actual behavior
- Clicking the top-level nav item arrow send the user to the top-level tag page

### Steps to reproduce the behavior
- As an Admin created a new tag navigation item
- Create subtags under the new top-level tag
- In a mobile browser open the main reaction navigation and try to click the

[2018-02-08 23:43] kieckhafer opened #3680 "sweetAlert2 depreciation warning"
SweetAlert2 throws the following warning on modals
`SweetAlert2: The parament "useRejections" is depreciated and will be removed in the next major release`

### Versions

[code]

### QA

QA by @kieckhafer + @cassytaylor

[2018-02-08 23:46] nnnnat opened #3681 "Marketplace dropdown is showing in main nav on mobile"
### Expected behavior
- When Marketplaces are not active the marketplace dropdown should not show in main mobile nav

### Actual behavior
- Marketplace dropdown is available in the main mobile nav

### Steps to reproduce the behavior
- With a fresh reaction shop that has marketplaces disabled
- In a mobile browser open the main navigation to see the marketplaces dropdown

![marketplace-mobile-nav]

[2018-02-08 23:51] cindyfirestone opened #3682 "Toggling on Marketplace shifts the order of my dashboard icons"
### Expected behavior
When I toggling on Marketplace, the order of my dashboard icons should remain the same. Any additional dashboard icons/items that appear due to toggling on marketplace should appear at the bottom of the list.

### Actual behavior
Toggling on marketplace randomly shifts the order of my dashboard icons.

### Steps to reproduce the behavior

1. Log in as marketplace owner
2. Nav

[2018-02-08 23:51] zenweasel opened #3683 "Server crash when uploading a product JPEG on WIndows"
### Expected behavior
Should be able to load all sorts of images for products

### Actual behavior
Receive an error on the server and the browser

### Steps to reproduce the behavior
1. Login as admin
1. Upload a JPEG
1. Receive an error in the server console
1. Receive an error in the browser console

Server Error:
[code]

### Versions

Node: 8.9.4
NPM: 5.6.0
Meteor Node: 8.9.3
Meteor NPM: 5.5.1

[2018-02-08 23:54] kieckhafer opened #3684 "Orders list UI allows you to retry Capture when that action shouldn't be available"
### Expected behavior
- If I cancel an order, I should not be able to "re-capture" an order using the orders list

### Actual behavior
-If I cancel an order, I can use the orders list table to mock "re-capturing" the order on the client side. The order actually isn't recaptured, and a ton of server errors are thrown, however there is no indication on the client-side that something is wrong, it jus

[2018-02-08 23:54] vwadher commented on #3683
[code]

[2018-02-08 23:54] vwadher commented on #3683
![acclamator_class_ortho_by_unusualsuspex-d6w49uq](https://user-images.githubusercontent.com/35978747/36004613-bf653dfc-0cf0-11e8-9ceb-891a4fc92c01.jpg)

[2018-02-08 23:56] zenweasel commented on #3683
Was able to upload PNG's and smaller JPEG, but any image of a decent size caused a server crash

[2018-02-08 23:58] cindyfirestone opened #3685 "Email Status doesn’t update until you navigate away from the email mail provider setting"
### Expected behavior
When I enter in my mail provider setting under the email icon of the dashboard, and the information is successfully entered, the `status` should change immediately from red to green.

### Actual behavior
The `status` remains red until I navigate somewhere else on dashboard and then come back to the email settings or do a hard refresh and go back to the email settings - then i

[2018-02-09 00:07] nnnnat opened #3686 "Tag editor covers marketplace dropdown durning scroll"
### Expected behavior
- Marketplace dropdown to either be above or behind the tag editor as it scrolls

### Actual behavior
- when scrolling through the tag editor on mobile the tag fields overflow the marketplace button

### Steps to reproduce the behavior
- You need to first create several tags/subtags to get a list of tags long enough to scroll
-  In a mobile browser log in as an Admin with edi

[2018-02-09 00:15] nnnnat opened #3689 "TagNavContainer displays a setState(...) warning in browser console"
### Expected behavior
- No react warning should show in the browser console

### Actual behavior
- setState(..) warning shows in console

### Steps to reproduce the behavior
- While logged in as an admin go to a Product Detail Page and open the browser console
- Toggle edit mode on and off to see the warnings in the browser conole

### Versions
[code]

[2018-02-09 00:19] j commented on #1407
@aaronjudd do you have any writeups on what's "next" ?

[2018-02-09 00:21] zenweasel opened #3690 "Translation issue with brand asset"
### Expected behavior
Shows label rather than text

### Actual behavior
Shows translation key
`shopSettings.shopBrandAssetsSaved`

### Steps to reproduce the behavior
1. Upload a brand image
1. Observe the toast shows translation key

### Versions
Node: 8.9.4
NPM: 5.6.0
Meteor Node: 8.9.3
Meteor NPM: 5.5.1
Reaction CLI: 0.26.4
Reaction: 1.7.0
Reaction branch: master
Docker: 17.12.0-ce

[2018-02-09 00:22] nnnnat opened #3691 "Order variant option labels overflow the edit button"
### Expected behavior
- Variant option labels should not cover or block the edit button

### Actual behavior
- If variant option is sold out/backorder the label covers the edit button of the neighboring option

### Steps to reproduce the behavior
- As an admin create a new product and a new product variant
- select one of the variants and create an option with 0 quantity
- duplicate the new varian

[2018-02-09 00:36] zenweasel commented on #3689
This is a duplicate of https://github.com/reactioncommerce/reaction/issues/3654

[2018-02-09 00:39] kieckhafer opened #3692 "Bulk Actions editor removes previous confirmation statuses when workflow is advanced"
### Expected behavior
In the Bulk Actions orders list editor, when I move forward in workflow steps, I should see an indication that the previous workflows have been completed.

### Actual behavior
When clicking forward through different states / workflows, previous state confirmations are removed, and I get no indication which workflows have been completed already.

![orderstatesaving mov](https:

[2018-02-09 00:41] #3689 closed

[2018-02-09 00:45] zenweasel commented on #3680
This is a duplicate of https://github.com/reactioncommerce/reaction/issues/3498. Closing. Reopen if you disagree.

[2018-02-09 00:45] #3680 closed

[2018-02-09 00:50] zenweasel opened #3693 "Application takes an extraordinary amount of time to build/rebuild on Windows"
### Expected behavior
Build/Rebuild time to be approximately the same as other platforms

### Actual behavior
First build takes upwards of 5 or more minutes

### Steps to reproduce the behavior
1. Be on Windows
1. `reaction init && cd reaction && reaction`
1. Wait forever

.

[2018-02-09 00:58] kieckhafer opened #3694 "Various translations not showing up and not falling back throughout order fulfilment"
### Expected behavior
- Translations should be available, or fallbacks should be available, throughout the app

### Actual behavior
- There are various locations where translations are not loading, and fallbacks are not either.

![image](https://user-images.githubusercontent.com/4482263/36005698-ac7ff978-0ced-11e8-9815-2bedc74c12d4.png)

![image](https://user-images.githubusercontent.com/4482263/3

[2018-02-09 01:22] kieckhafer opened #3695 "Move addresses above orders list in User Profile"
We should think about moving the Address Book above orders in a User profile. Once a user has a couple orders, it's a looooong scroll down to the Address Book.

We should also thing about using ReactionTable to list users orders, instead of this seemingly infinite list.

[2018-02-09 01:25] zenweasel commented on #3557
Closed via #3558

[2018-02-09 01:25] #3557 closed

[2018-02-09 01:28] sophiehe opened #3696 "Translation missing on toast alert when sending marketplace invitation to owner"
### Expected behavior
After sending a marketplace invitation to owner, toast alert should display 'Invitation sent' type message.

### Actual behavior
![image](https://user-images.githubusercontent.com/20484811/36007034-5c5b7140-0cf5-11e8-87c7-f4e8e92d3b28.png)

### Steps to reproduce the behavior
1. Click on Shop.
2. Click on Marketplace to open invite panel.
3. Fill in fields to invite owner.
4.

[2018-02-09 01:38] sophiehe opened #3697 "Translation missing on email connection failed message"
### Expected behavior
Buttons should display translation, eg. 'Save' and 'Cancel.'

### Actual behavior
![image](https://user-images.githubusercontent.com/20484811/36007224-633143f4-0cf6-11e8-8b96-85689754a665.png)

### Steps to reproduce the behavior
1. Click on Email.
2. Click on 'Mail Provider' settings icon.
3. Enter incorrect credentials into 'Edit Settings' fields.
4. Click 'Save.'

### Vers

[2018-02-09 01:39] zenweasel commented on #3490
No detail provided. Closing.

[2018-02-09 01:39] #3490 closed

[2018-02-09 01:42] cindyfirestone opened #3698 "Language and currency drop down do not display scroll bar"
### Expected behavior
There should be a scroll bar for the language setting and currency setting in the top navigation bar if there are more items than what is displayed.

### Actual behavior
There are no scroll bars to indicate that there are additional items below. The only time the scroll bar shows up is if I happen to scroll down, and then the scroll bar appears on the right.
![localhost_3000]

[2018-02-09 02:01] machikoyasuda opened #3699 "README Contributing section outdated"
### Expected behavior
- links to issues should be up to date
- links to contributing doc should be up to date

### Actual behavior
- goes back to old Pull Requests Encouraged
- goes to CONTRIBUTING.md, not the Docs

### Steps to reproduce the behavior
- Read readme

[2018-02-09 02:11] sophiehe opened #3701 "Email status notification confirms and turns green even when connection fails"
### Expected behavior
After entering incorrect email settings, messaging should indicate error and status should turn red.

### Actual behavior
![alt](http://g.recordit.co/PHcVKHupao.gif)

### Steps to reproduce the behavior
1. Click on Email.
2. Click on 'Mail Provider' settings icon.
3. Enter incorrect connection info into 'Edit Settings'
4. Click 'Save.'
5. Click either 'app.save' or 'app.cance

[2018-02-09 05:07] kieckhafer opened #3702 "JS NaN error when refunding individual items in order processing"
### Expected behavior
When processing an order, and trying to refund individual items, I should be able to use both the up / down quantity arrows, as well as type in a number to the input field to change the quantity.

### Actual behavior
When processing an order, and trying to refund individual items, I can use the up / down quantity arrows to change quantity, but when I try to type a number insi

[2018-02-09 05:17] kieckhafer opened #3703 "Inputting refunds while processing orders is difficult, or nearly impossible in some cases"
### Expected behavior
When typing a refund inside the dollar amount input box, I should be able to easily input a number that correctly registers in the input.

### Actual behavior
When typing a refund, there are two main issues.
1) Due to what seems like our `currency.js` internationalization of prices, it is hard to type the correct number in the input box, without clicking at the beginning of t

[2018-02-09 05:27] kieckhafer opened #3704 "Server error when trying to refund an order for more than the balance of the order"
### Expected behavior
When trying to refund an amount that's greater than the balance of the order, I should get a Client warning that alerts me I cannot do this, and should not get a server error (or get a pretty / simple server error)

### Actual behavior
When trying to refund an amount that's greater than the balance of the order, I get a Client warning that alerts me I cannot do this, and I al

[2018-02-09 05:47] kieckhafer opened #3705 "Selecting Completed orders and clicking "Capture" on the bulk order editor throws a server error"
### Expected behavior
There should be no server errors - and perhaps a client notice that says an order is already complete - when clicking "Capture" after selecting orders using the bulk order table.

### Actual behavior
When I select already completed orders in the bulk orders table, and then click the Capture button again, I get the following server error:

[code]

### Steps to reproduce the be

[2018-02-09 05:50] kieckhafer opened #3706 "Mobile view or order processing is cut off"
### Expected behavior
Order processing should fit the screen correctly on mobile view

### Actual behavior
Order processing is cut off in multiple places in mobile view

### Steps to reproduce the behavior
- View order processing in mobile view

![mobile-2](https://user-images.githubusercontent.com/4482263/36013602-fc219e24-0d19-11e8-9f21-f0a67cc0e795.jpg)
![mobile](https://user-images.githubuserc

[2018-02-09 05:54] kieckhafer opened #3707 "(placeholder) 404 error from Gravatar"
PLACEHOLDER UNTIL I CAN REPLICATE AGAIN

### Expected behavior

### Actual behavior
Gravatar throws a 404 when.... ??

![grav](https://user-images.githubusercontent.com/4482263/36013692-9e46762a-0d1a-11e8-889d-8539a5e06fda.jpg)

### Steps to reproduce the behavior

### Versions

[code]

### QA

QA by @kieckhafer + @cassytaylor

[2018-02-09 05:59] kieckhafer opened #3708 "(placeholder) Scrolling warning when scrolling through order fulfillment"
PLACEHOLDER UNTIL I CAN REPLICATE AGAIN

### Expected behavior
There should be no warning when scrolling through Reaction's order fulfillment

### Actual behavior
There is a warning related to scrolling smoothness when scrolling through order fulfillment
![scroll](https://user-images.githubusercontent.com/4482263/36013749-edc9fdde-0d1a-11e8-89d9-e83831f75a56.jpg)

### Steps to reproduce the behavi

[2018-02-09 06:14] mikemurray opened #3709 "Order ID incorrect on order confirmation page"
### Expected behavior

Order ID on checkout confirmation page should match order ID in the confirmation email and order admin.

### Actual behavior

Order ID on checkout confirmation page **differs** from the order ID in the confirmation email and order panel.

<img width="742" alt="basic_reaction_product" src="https://user-images.githubusercontent.com/42217/36013858-8226449c-0d1b-11e8-9081-da32cb

[2018-02-09 06:32] zenweasel commented on #3703
fwiw I have been complaining about this for literally years

[2018-02-09 07:39] Akarshit commented on #2560
Fixed in #2846

A test case still leads to duplication of `handle` and is tracked separately in #3007

[2018-02-09 07:39] #2560 closed

[2018-02-09 07:54] Akarshit commented on #2286
This issue still exists in `release-1.8.0` as can be seen in screenshot below(the "Price" field is not formatted).

<img width="405" alt="screen shot 2018-02-09 at 1 19 19 pm" src="https://user-images.githubusercontent.com/7762605/36017109-4f06edd8-0d9c-11e8-97cd-1fabd9cfc6c7.png">

[2018-02-09 08:23] Akarshit commented on #2404
The icons/badges have been moved around to fix this.
1. The visibility badge is replaces by setting the opacity of the variant/option.
2. Backorder badge is removed and is now only available in the sidebar.

These changes fix the problem as can be seen in the screenshot below.
<img width="560" alt="screen shot 2018-02-09 at 1 50 11 pm" src="https://user-images.githubusercontent.com/7762605/3601810

[2018-02-09 09:14] prinzdezibel opened #3710 "Toast message not translated for several dashboard items"
### Expected behavior
Saving changes to the API credentials/username/password of the Shopify connector, Payment methods, and Shipping methods should result in a properly translated alert message.

### Actual behavior
The toast does display the i18n translation key instead of the translated message.

### Steps to reproduce the behavior
- log in as admin
- go to shopify setting, payment methods, or

[2018-02-09 09:21] #2404 closed

[2018-02-09 10:07] prinzdezibel opened #3711 "Shopify-Connector: Import customers does not work as expected"
### Expected behavior
After importing customers from Shopify, I'd expect to have them shown up in the Accounts dashboard panel.

### Actual behavior
After importing customers from Shopify, they don't show up anywhere. They are inserted into database to the Accounts collection, though.

### Steps to reproduce the behavior
- Login as shop admin
- Specify Shopify credentials in dashboard settings
- I

[2018-02-09 10:30] prinzdezibel opened #3712 "Shopify-Connector: Typo"
### Expected behavior
`Shopify` should be written correctly

### Actual behavior
It's written "Shoify" in several language translation files

### Reproduce

See i18n keys `syncSetupFailure` and `hookSetupFailure` in /imports/plugins/included/connectors-shopify/server/i18n/*.json

![screen_shot_2018-02-09_at_11_22_39](https://user-images.githubusercontent.com/1733229/36023354-751962ae-0d8c-11e8-9e8

[2018-02-09 12:53] prinzdezibel commented on #1897
There was an env variable REACTION_SECURE_DEFAULT_ADMIN introduced, which allows the admin to decide it the email needs to be verified or not. This means that the verification is now optional, which should address @jshimko proposal.

What's open is to confirm that the email link does include the port specified in ROOT_URL. Jumping right into that and testing in dev mode and for docker builds..

[2018-02-09 13:43] Akarshit commented on #3036
No "empty card flashing" screen when registering user.
Checked in `release-1.8.0`

[2018-02-09 13:43] #3036 closed

[2018-02-09 14:05] Akarshit commented on #2863
When changing the shipping method, the user doesn't get feedback that something is changing though the shipping cost and total is updated(almost instantaneously).
The lack of feedback can be seen from the recording below.

![](http://g.recordit.co/fw5o1ZSkTz.gif)

[2018-02-09 15:18] prinzdezibel commented on #1897
I can verify that for docker builds and in development mode the port is added to the verification link provided that ROOT_URL has defined it.

[code]

But the verification itself does not seem to work. After navigating to the above link, the database still hasn't updated the `verified` field. Neither in `Accounts.emails.$.verified` nor in `Users.emails.$.verified`.

I realized that this is because

[2018-02-09 15:28] prinzdezibel opened #3714 "Email verification link for admin user does not work."
### Expected behavior
When defining the environment variable REACTION_SECURE_DEFAULT_ADMIN=true and start a stock Reaction with empty database, a new admin user should be created. Depending on wether a mail  host is defined or not the console should show a verification link (or sent it to the mailhub respectively), which can be copied into the browser's address bar. After loading that link, the us

[2018-02-09 15:29] prinzdezibel commented on #3714
I realized that this is because the above link seems wrong. I don't know if this is because it's a hash-based URL, but it seems like the URL is a no-op (maybe it has to do with the react router not supporting hash-based URLs, I don't know)

The URL scheme that actually is working would be:

http://tsp.dyn.projekt-und-partner.de:3000/account/profile/verify?email=testing%40localhost

[2018-02-09 15:31] #1897 closed

[2018-02-09 18:38] cindyfirestone opened #3715 "Convert Shop settings panel to React"
Related to #2198

Convert Shop settings panel to React using the <Form> component

[2018-02-09 18:41] Akarshit opened #3716 "Shopify Connector - Enabling sync hides hooks form."
### Expected behavior
Setup Sync should not hide Setup Hooks
### Actual behavior
After clicking setup sync, Setup Hooks form is hidden
### Steps to reproduce the behavior
1. Add Shopify credentials in connector
1. Enable "Update Inventory when new Shopify order is placed"
1. Observe the `Setup Hooks` form is hidden

![](http://g.recordit.co/2t0UxKx8TA.gif)

[2018-02-09 18:45] sophiehe opened #3717 "Translation for Default Payment Method dropdown missing"
### Expected behavior
Dropdown should translate from app.auto to designated message.

### Actual behavior
![image](https://user-images.githubusercontent.com/20484811/36044041-3069084a-0d86-11e8-9144-b293844f6814.png)

### Steps to reproduce the behavior
1. Click on 'Payment'
2. See 'app.auto' in the dropdown

### Versions
Node: 6.5.0
NPM: 3.10.3
Meteor Node: 8.9.3
Meteor NPM: 5.5.1
Reaction CLI: 0

[2018-02-09 18:47] Akarshit opened #3718 "Shopify Connector - Inventory not updating on Shopify order."
### Expected behavior
After enabling `Setup Sync` inventory should be updated when order is placed in shopify.
### Actual behavior
Inventory not updated, and following error is observed on the server
[code]
### Steps to reproduce the behavior
1. Login as shop admin
1. Specify Shopify credentials in dashboard settings
1. Import products
1. Setup sync.
1. Go to Shopify console and place order for a

[2018-02-09 18:52] Akarshit commented on #3502
@zenweasel Just found another reason that this was not working. The `topic` being passed to the Shopify API is incorrect.
It was working for me because I was testing on branch of a old master(before the code responsible was introduced.)
Working to fix it.

[2018-02-09 18:58] cindyfirestone commented on #3418
@zenweasel it's also happening in the tax panel

[2018-02-09 20:10] jshimko commented on #3023
Since this issue has the above workarounds and is essentially a Meteor build tool issue, we're going to close this issue.

[2018-02-09 20:10] #3023 closed

[2018-02-09 21:40] cindyfirestone commented on #3710
This is also happening on Payment Settings and Account Settings

[2018-02-09 22:16] sophiehe opened #3719 "Missing border in SMS notifications panel"
### Expected behavior
Panel should have border.

### Actual behavior
![image](https://user-images.githubusercontent.com/20484811/36052653-6f85c992-0da3-11e8-82ce-7337b08eac74.png)

### Steps to reproduce the behavior
1. Click on SMS icon from the dashboard. Observe panel.

Versions
Node: 6.5.0
NPM: 3.10.3
Meteor Node: 8.9.3
Meteor NPM: 5.5.1
Reaction CLI: 0.19.0
Reaction: 1.8.0
Reaction branch: re

[2018-02-09 22:49] cindyfirestone opened #3720 "Taxcloud setting copy needs a space"
The instructions in the TaxCloud admin settings panel reads:
`Add API Login ID to enableTaxCloud`
Should have space between enable and TaxCloud
`Add API Login ID to enable TaxCloud`
<img width="473" alt="tax cloud space" src="https://user-images.githubusercontent.com/22083616/36053872-64c2dcde-0da8-11e8-8370-377fd5a75502.png">

[2018-02-09 23:55] zenweasel commented on #3710
@cindyfirestone these should be in a separate issue rather than a comment on an existing one? Or edit this one to include it in the description?

[2018-02-10 14:59] mattt416 commented on #3649
I don't want to divert attention from this specific bug, but I've seen two additional issues trying to replicate this bug:

1. As a `Shop Manager` user, on the `Accounts` tab I can select `Shop Manager` under `Edit Groups` and can then successfully toggle `Accounts` (to off).  This seems to work but then results in a blank `Accounts` page. The user can't seem to flip this back on and requires the

[2018-02-10 15:00] prinzdezibel opened #3721 "Mailing addresses should not contain punctuation characters"
### Expected behavior
Mailing addresses should not contain punctuation characters according to this link: [https://www.wikihow.com/Write-an-Apartment-Address](https://www.wikihow.com/Write-an-Apartment-Address) , Part 3

Assuming the above reference is valid, I'd expect not to see punctuation characters in any of the addresses.

### Actual behavior
Most addresses contain punctuation characters.

#

[2018-02-10 15:09] prinzdezibel commented on #3649
@mattt416 Yes, please create new tickets.

I've seen your number 1 as well, but this is some kind of expected. If you're going to revoke yourself the permission to see the current page, you won't see it any longer. But you may file this as issue nevertheless, because maybe we should address this, because it's certainly no UIX best practice.

Also I've recognized number 2 but missed to address this

[2018-02-11 23:14] zenweasel commented on #2863
I can't tell from re-reading this ticket whether we are talking about the delay in getting shipping rates or the delay when selecting a shipping rate for recalculating the cart.

[2018-02-11 23:39] zenweasel commented on #3721
@prinzdezibel I'm not sure I would consider WIkiHow the canonical reference on **anything** but I do agree it should be consistent. However it's totally wrong that the apartment should never contain punctuation. As a life-long apartment dweller I can tell you that nobody puts "Apartment 5" and if you force people to do that you will lose customers. Customers know better than we do what to put to g

[2018-02-11 23:57] zenweasel commented on #3721
I guess what I am saying is that what is "right" and what we should force people to do are two separate things.

[2018-02-12 00:41] zenweasel commented on #3720
Not adding to sprint milestone since there is already a PR submitted

[2018-02-12 00:45] zenweasel commented on #3712
Not adding to sprint milestone since there is already a PR

[2018-02-12 00:50] zenweasel commented on #3711
@spencern Leaving out of the sprint milestone since I think this is sort of a judgement call whether this is a bug or an enhancement.

[2018-02-12 08:39] prinzdezibel commented on #3721
@zenweael: Agree, that this Wiki is not a reference on anything, of course. It served me to get a clue on how US addresses are supposed to be formatted in general, because I had no clue.

I think this was not meant by the wiki. I think they wanted to state that punctuation should not be used to separate city, street and apartment from each other. As I've understood, it's still ok to use it as abbr

[2018-02-12 14:10] aldeed commented on #3482
@kieckhafer Why was this reopened? Is it because the Meteor package still needs to be removed?

[2018-02-12 14:27] Akarshit commented on #3709
This was happening because cartId was being displayed instead of orderId on the `orderCompleted` page.

[2018-02-12 15:54] aldeed opened #3727 "Use eslint config from package"
## Goal

Use shared eslint config so that any changes can be easily pulled in and all reactioncommerce repos use consistent code style

## Work

Remove most of the eslint config from the Reaction Meteor app and instead extend this: https://github.com/reactioncommerce/reaction-eslint-config

The eslint config may need a few overrides for Meteor globals, etc. because the base config package is not t

[2018-02-12 16:18] kieckhafer commented on #3482
@aldeed I don’t recall re-opening this. Definitely didn’t do it on purpose. Could’ve accidentally changed columns on stand up on Friday. Reclosing.

[2018-02-12 16:18] #3482 closed

[2018-02-12 16:43] prinzdezibel commented on #3638
Approved via: https://github.com/reactioncommerce/reaction/pull/3640

[2018-02-12 16:48] prinzdezibel commented on #2328
Approved via : https://github.com/reactioncommerce/reaction/pull/3664

[2018-02-12 16:50] prinzdezibel commented on #3694
Moved to `ready` via https://github.com/reactioncommerce/reaction/pull/3724

[2018-02-12 16:51] prinzdezibel commented on #3601
Moved to `ready` via https://github.com/reactioncommerce/reaction/pull/3643

[2018-02-12 17:10] spencern commented on #3683
From @aaronjudd:

This issue is also repeatable by clicking the "clone" button and seems.

Additionally, because this bug report is targeting the `master` branch, it may be resolved or impacted by the work done to replace `gm`, `cfs` or any of the collection hooks.

This error that has been thrown appears to be a generic error and not specific to image uploading.

[2018-02-12 17:11] spencern commented on #3683
We should also consider "handling" these unhandled error events. @aldeed suggests that the Kadira project may have some code that could serve as a pattern for handling these types of errors.

[2018-02-12 17:17] mattt416 commented on #3649
👍 @prinzdezibel, I'll get these created ASAP.

[2018-02-12 17:22] spencern commented on #3672
May be related to some of the collection hooks changes we've made recently.

[2018-02-12 17:26] spencern commented on #3660
This could be an issue with the link from the cart or the way that the PDP resolves the route from the cart or both.

[2018-02-12 17:30] spencern commented on #3662
@prinzdezibel do you have any indication as to what is causing this performance decrease? Is this related to the issue with the product grid publication performance #3368

[2018-02-12 17:34] prinzdezibel commented on #3662
@spencern The reason for that is because all products are published to client.

See also the code in products.js linked above. For non-admin users,  `limit:productScrollLimit` is commented out.

[2018-02-12 17:41] spencern commented on #2301
The real work to be done here should be removing the current implementation of analytics.
Part two would be a feature that implements analytics in a way that works with our React UI, but that should be done in a separate ticket.

[2018-02-12 17:42] prinzdezibel commented on #3662
@spencern This happens in master branch. maybe I'm missing something?

[2018-02-12 17:42] spencern commented on #3518
@zenweasel does this still happen on the release-1.8.0 branch?

[2018-02-12 17:43] spencern commented on #3435
This seems to be a feature request, and we would need more details before considering it.

[2018-02-12 17:43] #3435 closed

[2018-02-12 17:45] spencern commented on #3352
This issue has been unable to be reproduced by @codejockie or @Akarshit. Closing.
Please re-open with more detail if you can reliably reproduce on the most current version.

[2018-02-12 17:45] #3352 closed

[2018-02-12 17:51] cindyfirestone commented on #3710
@zenweasel updated the original description

[2018-02-12 18:05] spencern commented on #3707
We need reproduction steps for this issue.

[2018-02-12 18:08] spencern commented on #3707
This seems to be caused when using an email address which is not associated with a gravatar account

[2018-02-12 18:17] spencern commented on #3698
@rymorgan do you want to force a scrollbar to show for these sections at all times?
Currently we're using `scroll: auto` which Windows 10 and OSX hide by default until the user has started scrolling. This is a setting that can be adjusted by each user.

We could also add an arrow at the bottom of these menus when there are additional items not shown, but will need some design direction on this.

[2018-02-12 18:21] spencern commented on #3693
@zenweasel do you have any recommendation or ideas as to what should be done to resolve this issue? As it stands this issue is not very actionable.

[2018-02-12 18:23] spencern commented on #3691
@cassytaylor @rymorgan can you look at this and give us some design direction.

[2018-02-12 18:25] prinzdezibel commented on #3710
This is most probably a duplicate of: https://github.com/reactioncommerce/reaction/issues/3694

[2018-02-12 18:26] prinzdezibel commented on #3696
This is most probably a duplicate of: https://github.com/reactioncommerce/reaction/issues/3694

[2018-02-12 18:26] prinzdezibel commented on #3697
This is most probably a duplicate of: https://github.com/reactioncommerce/reaction/issues/3694

[2018-02-12 18:26] spencern commented on #3685
This seems to be an issue with the status not getting updated reactively. I think this may be the same issue reported by #3701

[2018-02-12 18:29] spencern commented on #3682
Possible that this was introduced recently by a Package publication update adding or changing a sort.

@rymorgan how _should_ these be sorted?

[2018-02-12 18:30] prinzdezibel commented on #3717
This is most probably a duplicate of: #3694

[2018-02-12 18:32] spencern commented on #3675
![image](https://user-images.githubusercontent.com/1203639/36112931-65b31ebe-0fe8-11e8-8684-3916b16c454b.png)

[2018-02-12 18:38] spencern commented on #3673
@nnnnat I'd love to see a screencap or gif showing this issue.

Is this on the PDP page or on the product grid?

[2018-02-12 18:39] spencern commented on #3674
@rymorgan @cassytaylor We probably need some design direction on whether this button should exist or not, and if so, what it should say and do.

[2018-02-12 18:45] spencern commented on #3654
Specific things to check with this issue:
Make sure that we're not loading moment while the dropdown is hidden.

[2018-02-12 18:46] spencern commented on #3646
@zenweasel can you clarify for us if this is a bug or if this is expected behavior?

[2018-02-12 18:49] spencern commented on #3677
@rymorgan we may need some design direction on this.

[2018-02-12 18:50] spencern commented on #3670
@rymorgan is this the correct functionality?

[2018-02-12 21:46] spencern commented on #3560
We should be using the same components across all address creation views. This may be an issue that is caused by having React in one place and Blaze in another.

[2018-02-12 21:47] spencern commented on #3541
@Akarshit do you have any progress or updates for this issue?

[2018-02-12 22:31] kieckhafer commented on #3637
Notes for reference.

PDP:
![sweet_tee_s](https://user-images.githubusercontent.com/4482263/36123136-a03aff12-1000-11e8-8336-7e4af2590bc3.png)

Cart:
![sweet_tee_s](https://user-images.githubusercontent.com/4482263/36123195-c88c3314-1000-11e8-9bb7-988ccc73a939.png)

Post-cart Invoice:
![sweet_tee_s](https://user-images.githubusercontent.com/4482263/36123309-1363d996-1001-11e8-8478-e6423554bf85.png

[2018-02-12 22:37] spencern opened #3728 "Should be able to add images to a base product"
### Expected behavior
As an administrator, I should be able to upload images to the base product from the PDP. I should be able to deselect the default variant, or we could consider not having a default selected variant for users with ~`product-variant` roles. After deselecting from any active variant, I should be able to upload or remove images from the base product.

### Actual behavior
![image]

[2018-02-12 22:47] spencern opened #3729 "Most recent search is saved to local storage"
### Expected behavior
Given a term that I've recently searched for using Reaction's search
1. If I log out, that search query should not be saved or persisted for other users of the same machine
2. I'm not sure what the value of persisting the most recent search term is at all, so potentially we should not persist that through a hard refresh either.

### Actual behavior
The most recent search term

[2018-02-12 22:51] zenweasel commented on #3697
I defer to however @spencern wants to handle it but I prefer keeping these in separate tickets and disagree they are "duplicates" since they talk about different parts of the app.

[2018-02-12 22:55] zenweasel commented on #3693
Why isn't this actionable? It seems like we should be able to profile and build and see why it's taking so long and try to determine why this is only happening to us? Just as we were approaching the greater dev performance issues?

[2018-02-13 00:09] spencern commented on #3693
I think that profiling the start

"It's slow on windows" without any measurements or comparisons to an equivalent startup or build time on another platform with similar resources is not a clear issue and I wouldn't consider it to be actionable.

Many developers don't even have access to a windows box, so even attempting to reproduce this issue and generate comparable build times would be a signifi

[2018-02-13 00:13] dhonig commented on #3693
If we remove the windows pre-condition, then is it actionable?  We might learn some things that help everyone on all platforms?

[2018-02-13 00:24] zenweasel commented on #3693
@dhonig We do have a build issue overall, but Windows build time is probably 5-10X what it is on OSX and Linux. There is probably at least something in there that is Windows-specific.

[2018-02-13 00:27] zenweasel commented on #3693
@spencern so if we had build time then this ticket would be actionable? Beyond that what would you expect this ticket to include?

[2018-02-13 00:39] spencern commented on #3693
I think ideally the research is done before a ticket is put into the backlog. As this is _not_ a ticket specifically about researching and comparing build times on various platforms (and I don't think it should be), I'd expect that the ticket would, at the least, have build profiles that exemplify the differences between the two platforms, with a link to full profiling in a gist for the platforms

[2018-02-13 01:00] zenweasel commented on #3693
@spencern Makes sense. Will add more detail.

[2018-02-13 01:03] spencern commented on #3693
@zenweasel another thing I'm just now thinking of:
For comparison tickets like this where we're comparing across platforms, it would be valuable to know the high level specs of the different machines as well (e.g. i7 16GB is going to perform differently than i3, 4GB regardless of platform)

[2018-02-13 01:38] spencern opened #3731 "Product context menu has too many sections open"
### Expected behavior
When I open a section in the product editor action view within the PDP, other sections should close. When clicking a variant or option to open the editor for that variant or option, all other panels should close.

### Actual behavior
The `Taxable` and `Inventory tracking` panels get stuck open and do not close or roll up when a different variant or option is selected.

<img s

[2018-02-13 01:44] spencern opened #3732 "Page title and meta information is not accurate for checkout view"
### Expected behavior
When navigating the app, the page title and other meta information should be dynamically updated. When I browse to the checkout page, I should see something about the checkout in the page title.

### Actual behavior
When visiting the checkout section, the page title seems to get stuck on the previous product that was viewed.

<img src="http://g.recordit.co/hVht2KfcFS.gif">

#

[2018-02-13 01:48] zenweasel commented on #3693
Using this batch file to time Windows
[code]

Time on an i7/8GB and a non-SSD, running `reaction test`
`command took 0:10:45.28`

On Mac OSX 2017 2.7 GHz Intel Core i7, 16GB Ram, non-SSD
using `time` utility to test `reaction test`

[code]

Both projects are from a fresh clone

[2018-02-13 01:56] spencern opened #3733 "Stripe connect guest checkout email form needs client validation"
### Expected behavior
When an email address is required before continuing past the first step of the checkout process, we should validate the submitted email address against some type of email regex to ensure it's at least in the right format

### Actual behavior
On the first step of the checkout when email addresses are required (Stripe Connect), a user can skip past the email input form by submi

[2018-02-13 02:18] zenweasel commented on #3693
Comparing a blank Meteor project created with `meteor create`, running command `meteor build $HOME/.`

OSX:
[code]

Windows:

[code]

[2018-02-13 02:39] zenweasel commented on #3693
From the above numbers you can see that Reaction rebuild is roughly proportional. Rebuilding the default project takes 30 seconds and a Windows rebuilt takes about 3 minutes (roughly 3-6X).

There is this long standing (closed) issue on the Meteor project: https://github.com/meteor/meteor/issues/5091
One solution that keeps getting pointed out is switching to the Linux subsystem for Windows. I thi

[2018-02-13 03:07] zenweasel commented on #3693
I would like to get Vishal's numbers from another Windows box if possible.

[2018-02-13 03:40] zenweasel commented on #3683
I disagree that it's not related to uploading image as it only happened when we uploaded images over a particular size.

Also, I am able to clone products on Windows without any problems.

[2018-02-13 03:50] vwadher commented on #3683
+1 what Brent said

[2018-02-13 03:56] vineethEPM opened #3734 "Unable to custom build image in my machine."
### Expected behavior
Building image should be successful, which is around 620MB+, however, I always get around 154MB
### Actual behavior
Building image should be successful
### Steps to reproduce the behavior
1. `reaction init easypeasy`
2. `cd easypeasy`
3. Added reaction swag shop code into imports/plugins/custom folder
4. Added payments-cod code into imports/plugins/custom folder
4. created do

[2018-02-13 04:52] Akarshit commented on #3541
@spencern The fix for the issue has already been merged in `release-1.8.0`.

[2018-02-13 05:01] zenweasel commented on #3541
@spencern it looks to me like this ticket was up to date? We were just waiting for `release-1.8.0` to be ready for it to be closed?

[2018-02-13 05:13] zenweasel commented on #3734
It appears this is not an issue with Reaction but an issue with your particular installation. We would be glad to help you troubleshoot this problem further via our [chat channel](https://gitter.im/reactioncommerce/reaction) where we can continue the conversation in real time or via our [forums](https://forums.reactioncommerce.com).

[2018-02-13 05:13] #3734 closed

[2018-02-13 05:40] zenweasel commented on #3256
@prinzdezibel What's the status on this? If you aren't actively working on this can you unassign?

[2018-02-13 06:52] Akarshit commented on #3656
Couldn't reproduce this on the `release-1.8.0` branch.

![](http://g.recordit.co/MNMID4AoKT.gif)

[2018-02-13 07:40] zenweasel commented on #3656
@Akarshit What RTL language is being used in the original bug report there? I think @rymorgan did this in Hebrew? Can you try in this as well?

[2018-02-13 07:47] Akarshit commented on #3656
Yes, Hebrew is used in @rymorgan's GIF. Checked that too, the Action Menu animation is correct with that too.

[2018-02-13 08:14] prinzdezibel commented on #3256
Not working on that, because it was moved to backlog. Unassigning.

[2018-02-13 09:28] zenweasel commented on #3627
@joelquatro Can you clarify what exactly you were expecting. It seems like this is working correctly:

[code]

[2018-02-13 10:55] loanlaux commented on #3495
In my opinion, moving the account search to the accounts dashboard makes a lot of sense. Coming from traditional e-commerce platforms, I remember being confused about this mixed search feature and I think lots of new users will be as well.

[2018-02-13 11:51] Akarshit commented on #3501
@zenweasel Not able to reproduce in `release-1.8.0`.

[2018-02-13 12:31] prinzdezibel commented on #3697
Agree to keep them in separate tickets. I just mentioned it because it can possibly save some time if one would check that first.

[2018-02-13 13:29] teralabs commented on #3452
try, to allow crossdomain:
import { BrowserPolicy } from "meteor/browser-policy-common";

BrowserPolicy.content.allowOriginForAll("*");  //insecure, change to the chat domain

than add the rocket chat script to an includet html file

[2018-02-13 16:01] spencern commented on #3541
@Akarshit @zenweasel thanks for the update, I didn't see that there was an attached PR and it was in the "in progress" column, so I wasn't sure.

[2018-02-13 16:55] #3487 closed

[2018-02-13 17:04] #3293 closed

[2018-02-13 17:04] #3396 closed

[2018-02-13 17:05] #3712 closed

[2018-02-13 19:11] cassytaylor commented on #3667
It looks like this issue could be resolved by simply removing the 2px border on the "X" button.. or at least it would make any misalignment less noticeable :)
<img width="505" alt="screen shot 2018-02-13 at 12 03 13 pm" src="https://user-images.githubusercontent.com/36006187/36168454-668bd08c-10b6-11e8-8937-2cdca898debf.png">

here's a mock with the button moved down a couple of pixels as well (so

[2018-02-13 19:16] aaronjudd commented on #3667
👍 I also saw this (new) ui issue.. @cassytaylor there is no reason to the current X UI -> except it's leftover from the most early days of creation, and can be safely updated as I also think this is the only representative of this ui anywhere -> maybe we could look at what the modal / popup X styling and converge on a normal "X"? In this case, I think that'd probably just mean removing the color b

[2018-02-13 19:34] kieckhafer commented on #3667
@cassytaylor Came into this ticket to assign it to myself. I fixed the alignment issue in #3740, happy to discuss updating the styling as well if we want to do that at this time.

[2018-02-13 20:32] cassytaylor commented on #3667
@aaronjudd @kieckhafer yeah, in terms of making it consistent with the next most similar "remove" X button - the one on the PDP product images in Edit mode - I think it would just require changing the background to white.

I haven't done a full audit of all of the remove/close icons around the site, but it sounds like @rymorgan wants to move to a model in the cart where you'd edit the quantities o

[2018-02-13 23:08] kieckhafer commented on #3667
@cassytaylor The PDP page does not have a border on it either, which makes it look a bit odd in the cart with a white background, when the image has a white background too:

![sweet_tee_s](https://user-images.githubusercontent.com/4482263/36178986-88450590-10cf-11e8-95f6-e475deacca49.png)

I think white background + 1px border (dropped from 2px) looks pretty good and more consisten, what do you th

[2018-02-13 23:42] zenweasel commented on #3297
This ticket is pending the merge of this PR: https://github.com/reactioncommerce/reaction/pull/3463

[2018-02-14 00:01] zenweasel commented on #1209
@machikoyasuda Are you working on this? If not can you unassign yourself?

[2018-02-14 00:02] zenweasel commented on #1651
@impactmass So is this ready to close?

[2018-02-14 00:12] cassytaylor commented on #3667
@kieckhafer hmm 🤔the designer in me wants to get rid of the border entirely, but I do agree with you that it works better for product images with white backgrounds (so generally, most all)..

Maybe we could compromise and keep the pinkish gray background (but no border)?

@rymorgan and I will be working on reining in all of these components with the style guide... so we'll create some rhyme and re

[2018-02-14 00:14] zenweasel commented on #2895
@impactmass Since @foladipo is no longer here can you take this over?

[2018-02-14 00:16] zenweasel commented on #3390
@kieckhafer It was part of the spec at the time that we weren't doing partial word search, definitely not a bug.

[2018-02-14 00:16] kieckhafer commented on #3667
@cassytaylor
![sweet_tee_s](https://user-images.githubusercontent.com/4482263/36181340-4fb87306-10d9-11e8-970e-e0621b543a13.png)

[2018-02-14 00:18] zenweasel commented on #3390
Closing this since the "four letter" search constraint is not real. If we want to add partial word search we can open a new ticket for that.

[2018-02-14 00:18] #3390 closed

[2018-02-14 00:24] cassytaylor commented on #2863
The way I've decided to approach this from an experience standpoint is by showing a loading state in the "Review" box, when the total is being refreshed after selecting a new shipping option-

https://drive.google.com/open?id=13xCOsXEoqDJRXaZ8FM1iIyM30BdA88Iw (video mockup, so it's a gDrive link)

Showing that the totals are being recalculated with a loading animation should be enough to convey pr

[2018-02-14 00:24] cassytaylor commented on #2863
<img width="1070" alt="screen shot 2018-02-13 at 5 24 35 pm" src="https://user-images.githubusercontent.com/36006187/36181617-c91545c2-10e2-11e8-9ba3-2a26f007881a.png">
https://drive.google.com/open?id=13xCOsXEoqDJRXaZ8FM1iIyM30BdA88Iw

[2018-02-14 00:26] cassytaylor commented on #3667
@kieckhafer, works fer me!

[2018-02-14 00:35] zenweasel commented on #2324
This was moved to a [separate repo](https://github.com/reactioncommerce/reaction-export-orders-csv). Closing this ticket here

[2018-02-14 00:35] #2324 closed

[2018-02-14 00:42] rymorgan commented on #3667
I get the logic to where we ended up here, but it shouldn't be that yellow. I think it should be like 15% grey. We do need to revisit this whole ux flow for removing items from cart though.

[2018-02-14 00:42] kieckhafer commented on #3667
Updated to be grey.

[2018-02-14 00:49] zenweasel commented on #1213
Closing this as mobile apps are not on the current roadmap

[2018-02-14 00:49] #1213 closed

[2018-02-14 00:51] kieckhafer opened #3743 "New uncommited README files in repo"
There are two uncommitted / untracked README files that show up in git whenever creating a new branch:

`public/plugins/README.md`
`private/plugins/README.md`

We should either commit / track
 these permanently, or not.

Related to #3335

### Steps to Reproduce
1. `reaction init -b release-1.8.0 reaction-fresh`
1. `cd release-fresh`
1. `reaction`
1. Quit
1. Observe that there are two new README fi

[2018-02-14 00:57] rymorgan commented on #3656
I'm still seeing it. See if others can reproduce.

[2018-02-14 01:00] rymorgan commented on #3656
@kieckhafer Can't reproduce either so I'm going to close.

[2018-02-14 01:00] #3656 closed

[2018-02-14 01:01] zenweasel commented on #3656
@rymorgan not sure why you tagged @kieckhafer but ok 😄

[2018-02-14 01:09] zenweasel commented on #152
We are closing any feature requests which have not been active and are not on our current roadmap. If you are interested in possible improvements to Reaction, we suggest you create a new topic on the [forums](https://forums.reactioncommerce.com)

Thanks for your contribution

[2018-02-14 01:09] #152 closed

[2018-02-14 01:12] aaronjudd commented on #287
Closing like a madman.. @rymorgan @cassytaylor have designs for this and can create appropriate issues as needed.

[2018-02-14 01:12] #287 closed

[2018-02-14 01:14] rymorgan commented on #3656
@zenweasel To annoy him with github notifications, obviously, lol.

[2018-02-14 01:27] rymorgan commented on #3670
I think it should only come up once. But, I think they better UX solution is to show the CTA with a disabled state until they make the required selection.

[2018-02-14 01:28] #301 closed

[2018-02-14 01:28] zenweasel commented on #301
Closing to revise Roadmap

[2018-02-14 01:30] zenweasel commented on #330
Closing to Review roadmap

[2018-02-14 01:30] #330 closed

[2018-02-14 01:30] zenweasel commented on #383
Closing to Review roadmap

[2018-02-14 01:31] zenweasel commented on #415
Closing to Review roadmap

[2018-02-14 01:31] #415 closed

[2018-02-14 01:31] aaronjudd commented on #415
Feature request that requires more definition to meet our current issue guidelines.

[2018-02-14 01:32] zenweasel commented on #443
Closing to Review roadmap

[2018-02-14 01:32] #443 closed

[2018-02-14 01:32] aaronjudd commented on #2368
Feature request that requires more definition to meet our current issue guidelines.

[2018-02-14 01:32] #2368 closed

[2018-02-14 01:32] aaronjudd commented on #2144
Feature request that requires more definition to meet our current issue guidelines.

[2018-02-14 01:32] #2144 closed

[2018-02-14 01:33] aaronjudd commented on #2035
Feature request that requires more definition to meet our current issue guidelines.

[2018-02-14 01:33] #2035 closed

[2018-02-14 01:33] aaronjudd commented on #1715
Feature request that requires more definition to meet our current issue guidelines.

[2018-02-14 01:33] #1715 closed

[2018-02-14 01:33] zenweasel commented on #518
We probably will be releasing this as a separate plugin. You can look in the [swag shop](https://github.com/reactioncommerce/reaction-swag-shop) for an example of implementing this.

[2018-02-14 01:33] #518 closed

[2018-02-14 01:35] aaronjudd commented on #367
Feature request that requires more definition to meet our current issue guidelines.

[2018-02-14 01:36] zenweasel commented on #659
We are closing any feature requests which have not been active and are not on our current roadmap. If you are interested in possible improvements to Reaction, we suggest you create a new topic on the [forums](https://forums.reactioncommerce.com)

Thanks for your contribution

[2018-02-14 01:36] #659 closed

[2018-02-14 01:39] zenweasel commented on #1020
We are closing any feature requests which have not been active and are not on our current roadmap. If you are interested in possible improvements to Reaction, we suggest you create a new topic on the [forums](https://forums.reactioncommerce.com)

Thanks for your contribution

[2018-02-14 01:39] #1020 closed

[2018-02-14 01:41] zenweasel commented on #1092
Closing in favor of: https://github.com/reactioncommerce/reaction/issues/2301

[2018-02-14 01:41] #1092 closed

[2018-02-14 01:44] zenweasel commented on #1153
Closing to Review roadmap

[2018-02-14 01:44] #1153 closed

[2018-02-14 01:45] zenweasel commented on #1209
Closing to Review roadmap

[2018-02-14 01:45] #1209 closed

[2018-02-14 01:47] zenweasel commented on #1245
Closing to Review roadmap

[2018-02-14 01:47] #1245 closed

[2018-02-14 01:48] zenweasel commented on #1257
Done!

[2018-02-14 01:48] #1257 closed

[2018-02-14 01:50] #1268 closed

[2018-02-14 01:51] #1270 closed

[2018-02-14 01:51] #1272 closed

[2018-02-14 01:51] aaronjudd commented on #1394
Feature request that requires more definition to meet our current issue guidelines.

[2018-02-14 01:51] #1394 closed

[2018-02-14 01:52] zenweasel commented on #1278
This is still a valid issue but should be address in Reaction:Next

[2018-02-14 01:52] #1278 closed

[2018-02-14 01:52] zenweasel commented on #1321
We are closing any feature requests which have not been active and are not on our current roadmap. If you are interested in possible improvements to Reaction, we suggest you create a new topic on the [forums](https://forums.reactioncommerce.com)

Thanks for your contribution

[2018-02-14 01:52] #1321 closed

[2018-02-14 01:53] zenweasel commented on #1327
We are closing any feature requests which have not been active and are not on our current roadmap. If you are interested in possible improvements to Reaction, we suggest you create a new topic on the [forums](https://forums.reactioncommerce.com)

Thanks for your contribution

[2018-02-14 01:53] #1327 closed

[2018-02-14 01:53] #1348 closed

[2018-02-14 01:59] zenweasel commented on #1353
We are closing any feature requests which have not been active and are not on our current roadmap. If you are interested in possible improvements to Reaction, we suggest you create a new topic on the [forums](https://forums.reactioncommerce.com)

Thanks for your contribution

[2018-02-14 01:59] #1353 closed

[2018-02-14 02:02] zenweasel commented on #1354
We are closing any feature requests which have not been active and are not on our current roadmap. If you are interested in possible improvements to Reaction, we suggest you create a new topic on the [forums](https://forums.reactioncommerce.com)

Thanks for your contribution

[2018-02-14 02:02] #1354 closed

[2018-02-14 02:06] zenweasel commented on #1431
We are closing any feature requests which have not been active and are not on our current roadmap. If you are interested in possible improvements to Reaction, we suggest you create a new topic on the [forums](https://forums.reactioncommerce.com)

Thanks for your contribution

[2018-02-14 02:06] #1431 closed

[2018-02-14 02:06] zenweasel commented on #1434
We are closing any feature requests which have not been active and are not on our current roadmap. If you are interested in possible improvements to Reaction, we suggest you create a new topic on the [forums](https://forums.reactioncommerce.com)

Thanks for your contribution

[2018-02-14 02:06] #1434 closed

[2018-02-14 02:07] zenweasel commented on #1440
We are closing any feature requests which have not been active and are not on our current roadmap. If you are interested in possible improvements to Reaction, we suggest you create a new topic on the [forums](https://forums.reactioncommerce.com)

Thanks for your contribution

[2018-02-14 02:07] #1440 closed

[2018-02-14 02:08] zenweasel commented on #1497
I believe this should be closed now via the Asset provisioning step in the `reaction-cli`

[2018-02-14 02:08] #1497 closed

[2018-02-14 02:09] #1545 closed

[2018-02-14 02:09] zenweasel commented on #1545
Issue moved to [reactioncommerce/reaction-feature-requests #1](https://github.com/reactioncommerce/reaction-feature-requests/issues/1) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-14 02:11] mattt416 commented on #3721
I've used this link in the past, it's quite extensive:

https://www.canadapost.ca/tools/pg/manual/PGaddress-e.asp#1417197

[2018-02-14 02:11] #1498 closed

[2018-02-14 02:11] zenweasel commented on #1498
Issue moved to [reactioncommerce/reaction-feature-requests #2](https://github.com/reactioncommerce/reaction-feature-requests/issues/2) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-14 02:12] #1500 closed

[2018-02-14 02:13] zenweasel commented on #1535
We are closing any feature requests which have not been active and are not on our current roadmap. If you are interested in possible improvements to Reaction, we suggest you create a new topic on the [forums](https://forums.reactioncommerce.com)

Thanks for your contribution

[2018-02-14 02:13] #1535 closed

[2018-02-14 02:16] zenweasel commented on #1707
Need to verify this is done

[2018-02-14 02:17] #1846 closed

[2018-02-14 02:17] zenweasel commented on #1846
Issue moved to [reactioncommerce/reaction-feature-requests #4](https://github.com/reactioncommerce/reaction-feature-requests/issues/4) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-14 02:19] zenweasel commented on #1862
Issue moved to [reactioncommerce/reaction-feature-requests #5](https://github.com/reactioncommerce/reaction-feature-requests/issues/5) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-14 02:19] #1862 closed

[2018-02-14 02:22] zenweasel commented on #2016
Closing to Review roadmap

[2018-02-14 02:22] #2016 closed

[2018-02-14 02:26] #2040 closed

[2018-02-14 02:26] aaronjudd commented on #2040
Issue moved to [reactioncommerce/reaction-feature-requests #7](https://github.com/reactioncommerce/reaction-feature-requests/issues/7) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-14 02:26] zenweasel commented on #1995
No details provided. @hrath2015 Can you please reopen if you are still seeing this?

[2018-02-14 02:26] #1995 closed

[2018-02-14 02:28] aaronjudd commented on #3470
Issue moved to [reactioncommerce/reaction-feature-requests #8](https://github.com/reactioncommerce/reaction-feature-requests/issues/8) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-14 02:28] #3470 closed

[2018-02-14 02:28] aaronjudd commented on #3452
Issue moved to [reactioncommerce/reaction-feature-requests #9](https://github.com/reactioncommerce/reaction-feature-requests/issues/9) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-14 02:28] #3452 closed

[2018-02-14 02:34] aaronjudd commented on #330
Issue moved to [reactioncommerce/reaction-feature-requests #10](https://github.com/reactioncommerce/reaction-feature-requests/issues/10) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-14 02:36] #2134 closed

[2018-02-14 02:36] aaronjudd commented on #2134
Issue moved to [reactioncommerce/reaction-feature-requests #12](https://github.com/reactioncommerce/reaction-feature-requests/issues/12) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-14 02:36] #279 closed

[2018-02-14 02:36] zenweasel commented on #279
Issue moved to [reactioncommerce/reaction-feature-requests #13](https://github.com/reactioncommerce/reaction-feature-requests/issues/13) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-14 02:38] #367 closed

[2018-02-14 02:38] zenweasel commented on #367
Issue moved to [reactioncommerce/reaction-feature-requests #14](https://github.com/reactioncommerce/reaction-feature-requests/issues/14) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-14 02:41] #383 closed

[2018-02-14 02:42] zenweasel commented on #383
Issue moved to [reactioncommerce/reaction-feature-requests #15](https://github.com/reactioncommerce/reaction-feature-requests/issues/15) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-14 02:47] zenweasel commented on #415
Issue moved to [reactioncommerce/reaction-feature-requests #16](https://github.com/reactioncommerce/reaction-feature-requests/issues/16) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-14 02:47] aaronjudd commented on #2769
Issue moved to [reactioncommerce/reaction-feature-requests #17](https://github.com/reactioncommerce/reaction-feature-requests/issues/17) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-14 02:47] #2769 closed

[2018-02-14 02:47] zenweasel commented on #2035
Issue moved to [reactioncommerce/reaction-feature-requests #18](https://github.com/reactioncommerce/reaction-feature-requests/issues/18) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-14 02:48] aaronjudd commented on #2263
Issue moved to [reactioncommerce/reaction-feature-requests #19](https://github.com/reactioncommerce/reaction-feature-requests/issues/19) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-14 02:48] #2263 closed

[2018-02-14 02:49] #2869 closed

[2018-02-14 02:49] aaronjudd commented on #2869
Issue moved to [reactioncommerce/reaction-feature-requests #20](https://github.com/reactioncommerce/reaction-feature-requests/issues/20) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-14 02:51] zenweasel commented on #2368
Issue moved to [reactioncommerce/reaction-feature-requests #21](https://github.com/reactioncommerce/reaction-feature-requests/issues/21) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-14 03:16] zenweasel commented on #2079
I'm debating whether to close this since it's not actionable but keeping open so that we can have the history so someone doesn't just open a new issue with the same error.

[2018-02-14 03:19] zenweasel commented on #2122
You currently can select your "Units of Weight/Dimensions" in Shop Settings

[2018-02-14 03:19] #2122 closed

[2018-02-14 03:25] zenweasel commented on #2249
Making this minor because it's bad when it happens but doesn't happen very often

[2018-02-14 03:29] zenweasel commented on #2270
@rymorgan If this is not a bug, are we acting on it? This seems like a straight-ahead bug that doesn't seem to have anything necessarily to do with mobile?

[2018-02-14 03:30] zenweasel commented on #2292
Or maybe just remove Google+? Who uses Google+ in 2018?

[2018-02-14 03:34] zenweasel commented on #2293
I am classifying this as a bug but I feel like this needs to be a `core` bug because it probably involves implementing some new functionality? I'm adding this new label called "core-bug" which means the community team should leave it for core. If you disagree I'm fine with passing it back to us.

[2018-02-14 03:36] zenweasel commented on #2295
@rymorgan This has had the design label removed, is this still under design? Should we classify this as a bug?

[2018-02-14 03:38] spencern commented on #2164
Yep, this is done.

[2018-02-14 03:38] #2164 closed

[2018-02-14 03:39] spencern commented on #2166
The base of this is done, and I don't know that we'll be building any specific enhancements, though some of those could become feature requests with some more detail

[2018-02-14 03:39] #2166 closed

[2018-02-14 03:42] #2920 closed

[2018-02-14 03:42] zenweasel commented on #2920
Issue moved to [reactioncommerce/reaction-feature-requests #22](https://github.com/reactioncommerce/reaction-feature-requests/issues/22) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-14 03:48] zenweasel commented on #3202
So this is basically the styleguide/component library project, so I don't see a purpose for this tracking ticket any longer

[2018-02-14 03:48] #3202 closed

[2018-02-14 03:50] zenweasel commented on #3284
@aldeed Should this get the `performance` label?

[2018-02-14 03:59] spencern commented on #2293
@zenweasel I think we need some design direction along with some @reactioncommerce/architecture direction.

I agree that it's an area in need of some attention, and while it's not a feature request, it's more of a UIX bug than anything.

[2018-02-14 04:56] #3652 closed

[2018-02-14 05:00] Akarshit commented on #3502
Both the reason for this issue were fixed in the PR.

[2018-02-14 05:00] #3502 closed

[2018-02-14 05:01] #3541 closed

[2018-02-14 05:02] #3617 closed

[2018-02-14 05:03] #3530 closed

[2018-02-14 05:31] zenweasel commented on #3670
I don't know that we should ever put bugs in the Icebox?

[2018-02-14 05:36] zenweasel commented on #3721
I think we need to rewrite the title/details for this issue so that it's clear that we are make the way that addresses display consistent. It's not clear to me what's broken from the current title and description.

[2018-02-14 06:53] zenweasel commented on #3627
Closing. Reopen if you are still having an issue.

[2018-02-14 06:53] #3627 closed

[2018-02-14 06:57] zenweasel commented on #1117
This has already been fixed.

[2018-02-14 06:57] #1117 closed

[2018-02-14 07:08] zenweasel commented on #1707
We have `getPackageSettings` and `getPackageSettingsWithOptions`. Closing

[2018-02-14 07:08] #1707 closed

[2018-02-14 07:51] zenweasel commented on #3720
Closed via #3722

[2018-02-14 07:51] #3720 closed

[2018-02-14 07:54] prinzdezibel commented on #3721
done.

[2018-02-14 08:02] prinzdezibel commented on #3743
@kieckhafer Can't reproduce this. Can you tell me the exact steps you've taken?

[2018-02-14 08:07] zenweasel commented on #3354
Closed via #3358

[2018-02-14 08:07] #3354 closed

[2018-02-14 08:23] zenweasel commented on #3743
What I am seeing (after following the instructions above) is:
[code]

These are files being DELETED, not being added

[2018-02-14 08:24] prinzdezibel commented on #3743
Thank you! The asset provisionsing step should not delete them. I'll file a PR to reaction-cli.

[2018-02-14 08:27] zenweasel commented on #3239
@spencern or anybody else who wants to try this and give me any feedback would be helpful. Otherwise I would declare this done.

[2018-02-14 09:09] prinzdezibel commented on #2249
On place this can happen is in the short time between publishing and redirection: https://github.com/reactioncommerce/reaction/blob/ac07d02a971797863d0f593fc4608dd4b0a2611c/imports/plugins/included/product-detail-simple/client/containers/publish.js#L52

I'm refactoring this as part of #2246, because the page reload is not good anyway. Not unlikely, that this problem gets resolved as part of it.

[2018-02-14 10:40] Akarshit commented on #1958
Not able to reproduce in `release-1.8.0`.

[2018-02-14 12:36] willmoss1000 opened #3747 "Error when inviting new marketplace seller on localhost"
### Expected behavior

1. Invite new seller by email from the shops tab on the right.
2. They open in email and accept
3. They set password on prompt
4. Goes to profile

### Actual behavior

4. Blank reaction page
5. Try to login as newly registered user and receive the following console log:

`TypeError: Cannot read property 'name' of undefined at TagNav.renderShopSelect (app.js:108464) at TagNav

[2018-02-14 13:14] impactmass commented on #1651
yes can be closed, in favor of the new issues created above, plus the UI epic (#2922)

[2018-02-14 13:14] #1651 closed

[2018-02-14 13:18] zenweasel commented on #3747
Duplicate of https://github.com/reactioncommerce/reaction/issues/3652. Fixed in `release-1.8.0`.

[2018-02-14 13:18] #3747 closed

[2018-02-14 16:40] nnnnat commented on #3673
gif of the steps to reproduce

![unpublished-product-tag-nav](https://user-images.githubusercontent.com/1135948/36216018-4770ae4e-1173-11e8-9887-22ca6f993193.gif)

[2018-02-14 17:06] prinzdezibel commented on #2249
One example, where it happens reliable is when navigating to ProductGrid before acutally publishing a change to the permalink.
![unpulished_notfound](https://user-images.githubusercontent.com/1733229/36217143-f9491fd8-11b0-11e8-91d9-765ab188e24b.gif)
See the gif as example.

This is addressed through the following PR (#Placeholder for PR).

There's also another PR on how the changed handles are pu

[2018-02-14 17:18] vwadher commented on #3693
@zenweasel - Unfortunately I don't have another windows machine to leverage for this.  Lets spin one up on AWS?

[2018-02-14 18:06] #3709 closed

[2018-02-14 19:02] impactmass commented on #3648
fixed by #3659 merged into release-1.8.0

[2018-02-14 19:02] #3648 closed

[2018-02-14 19:24] rymorgan commented on #2295
@zenweasel Since I can't have my own board for managing issues when they need design because of limitations with zenhub, I've been playing with different ways to address using labels. What I've come up with is labeled design means, it needs design. Design pipeline means we've identified it as something we are going to be working on in the near future. Design-complete and put back in the pipeline w

[2018-02-14 21:58] cassytaylor commented on #3674
@rymorgan and I agree that the cancel button isn't needed here.

[2018-02-14 22:41] zenweasel commented on #3693
@vwadher Is there a reason you can't use your main one? I just wanted to get a "best case" number for reference and AWS is probably going to be behind running an actual desktop machine

[2018-02-14 22:45] vwadher commented on #3693
@zenweasel yup I can absolutely use my main one.  I thought you said you'd like to have "another" windows box of mine since we already saw what happened on my main box.  But anyway, yes of course I can use my main box.  Let's connect on slack so you can run me through what is needed.

[2018-02-14 22:46] zenweasel commented on #3693
@vwadher Sorry, just meant another besides mine

[2018-02-15 03:34] #3334 closed

[2018-02-15 03:36] #3371 closed

[2018-02-15 04:02] aaronjudd opened #3750 "missing parcel error handling for shipping"
A product, such as those imported via the `Shopify Connector` will cause an error in Shippo shipping rate lookup when the parcel information has not been provided.

<img width="1624" alt="650c_45mm_micro_wheelset" src="https://user-images.githubusercontent.com/439959/36239758-fffdf1f4-11c0-11e8-943c-826fbe490957.png">

This blocks the entire order, where the goal should be capturing the order rega

[2018-02-15 06:36] zenweasel opened #3752 "Can't run default image in Docker for Windows or Linux"
### Expected behavior
Image should start like it does on other platforms

### Actual behavior
Receive this error:
[code]

### Steps to reproduce the behavior
1. Install Docker for Windows
1. Attempt to start docker image with `docker run -d -p 80:3000 reactioncommerce/reaction:latest`
1. Observe the error

### Versions
[code]

[2018-02-15 06:37] zenweasel commented on #3752
Possibly pilot error but it seems like running the pre-built image should be straight-ahead

[2018-02-15 06:56] zenweasel commented on #1226
The error message is not completely clear but it does appear to get validated on startup:

[code]
Checked on the `node-simple-schema` branch and error message is the same

[2018-02-15 07:10] Akarshit opened #3753 "Upgrade PayPal Express API."
### Expected behavior
We should be using the [new REST API](https://developer.paypal.com/docs/integration/direct/express-checkout/integration-jsv4/?mark=express) for Paypal Express
### Actual behavior
We are using the NVM API that have been [deprecated since Jan 1, 2017](https://developer.paypal.com/docs/classic/api/#express-checkout).

[2018-02-15 07:12] Akarshit commented on #1236
Working on a PR for this, have made the code changes.
Still need to test them because the PayPal credentials doesn't work for me and I can't get past the "Security Check" screen on the API creds generation page on PayPal.

[2018-02-15 07:15] Akarshit commented on #2061
@zenweasel I am not able to follow the reproduction steps.

How do I do this?

[2018-02-15 07:16] zenweasel commented on #2061
https://docs.reactioncommerce.com/reaction-docs/master/plugin-fixtures-5

[2018-02-15 08:19] Akarshit opened #3754 "Security: Shop ids sent from client are published"
### Expected behavior
Client should not be able to control what gets published
### Actual behavior
The publisher publishes the shop whose id id sent from the client.

### Cause
[Here](https://github.com/reactioncommerce/reaction/pull/3725/files#diff-b0d0d70a497afa4201d210de916e2c6fR14), the shopIds are being sent from client to the publisher to publish.

There is a Shops publication that should pu

[2018-02-15 08:21] Akarshit commented on #3754
I am working with @jshimko to find a good solution for this problem.

[2018-02-15 08:30] Akarshit commented on #2061
@zenweasel This is happening because [here](https://github.com/reactioncommerce/reaction/blob/release-1.8.0/server/startup/load-data.js#L40) we are saying to load the products with `title` as the identifier.
So if a product with the same `title` already exists we update it [here](https://github.com/reactioncommerce/reaction/blob/release-1.8.0/server/api/core/import.js#L426).

Should I change the "

[2018-02-15 09:03] zenweasel commented on #2061
I thought it only used that to determine which collection but if that's how it's determining uniqueness can we use `handle` which I believe needs to be unique, or `handle` + `shopid`?

[2018-02-15 09:51] Akarshit commented on #2061
@zenweasel I checked it again because I saw a piece of code written to prevent this(the issue) from happening.
I am not able to reproduce this issue in `release-1.8.0`.

[2018-02-15 10:13] Akarshit commented on #2179
Not reproducible in `release-1.8.0`

[2018-02-15 15:48] aaronjudd opened #3756 "Shipping settings expand beyond view"
After refreshing shipping methods the table expands and UI elements, such as the toggle disappear.

### Expected behavior
To be able to use the toggles and header in the Shipping Panel.

### Actual behavior
<img width="557" alt="localhost_3000_and_circleci___slack_app_directory" src="https://user-images.githubusercontent.com/439959/36265486-22674340-1224-11e8-92b4-eed61f5fbff5.png">

### Steps to

[2018-02-15 16:56] vwadher commented on #3693
Here are the results -

Setting up plugin imports...

Installing dependencies for connectors-shopify...

up to date in 0.048s
Setting up style imports...

Running full-app test command:
 meteor test --once --full-app --headless --driver-package dispatch:mocha

[[[[[ Tests ]]]]]

=> Started proxy.
=> Meteor 1.6.1 is available. Update this project with 'meteor update'.
=> Started MongoDB.
W20180215-

[2018-02-15 16:58] #3667 closed

[2018-02-15 17:06] #3668 closed

[2018-02-15 18:16] impactmass commented on #3678
Findings:
#1.  Within the cancelOrder method, the restock logic is like thus:
[code]

[2018-02-15 18:33] impactmass commented on #3678
**Findings**:

Within the cancelOrder method, the restock logic is like this:
[code]
which means that when when the admin decides NOT to restock, the product quantity still gets decreased. This is led to the problem of double decrease in quantity (first at order capture, then second at order cancellation). This was introduced in #2022 (and #3513).

The correct logic should be:
[code]
which will me

[2018-02-15 18:42] aaronjudd opened #3757 "cleanupAvalaraJobs moment require fails"
Uncaught exception in `cleanupAvalaraJobs`.  Most likely introduced in #3602 / #2635
### Expected behavior
No errors.

### Actual behavior
[code]
### Steps to reproduce the behavior

Enable avalara, wait for job to run, or run the job manually.

### Versions
Node: 8.9.3
NPM: 5.6.0
Meteor Node: 8.9.4
Meteor NPM: 5.6.0
Reaction CLI: 0.27.0
Reaction: 1.8.0
Reaction branch: refactor-3600-spencern-upgr

[2018-02-15 20:24] spencern commented on #2666
Closing in favor of the more specific issues.

[2018-02-15 20:24] #2666 closed

[2018-02-15 20:24] prinzdezibel commented on #3694
@spencern Hi Spencer, is there a reason you put that back to "in progress" ? From my side this can be reviewed.

[2018-02-15 20:29] spencern commented on #3694
not on purpose, I think it did that automatically when I connected it to an issue. Has this been merged already?

[2018-02-15 21:33] zenweasel commented on #2061
@Akarshit If you can't reproduce something with older issues like this, just make that note and go ahead and close. We can always reopen if it pops up again, but there's nothing else that can be done here.

[2018-02-15 21:33] #2061 closed

[2018-02-15 21:36] zenweasel commented on #2179
I wonder if this was because the Shop was not active? This particular weirdness about marketplace shops bites me all the time. Closing. Please reopen if this reoccurs.

[2018-02-15 21:36] #2179 closed

[2018-02-15 21:45] zenweasel commented on #3693
So the time on your machine @vwadher was almost the same amount of time it took on my OSX box. 🤔

[2018-02-15 21:48] zenweasel commented on #3678
@impactmass I feel that probably there wasn't a good reason besides not thinking it through.

[2018-02-15 22:00] #1226 closed

[2018-02-15 22:50] mikemurray opened #3760 "Cannot switch orders dashboard between list and table view"
### Expected behavior

Should be able to switch between table and list view of orders dashboard.

### Actual behavior

Receive a `moment is not a function` error, and the view never switches.

![basic_reaction_product](https://user-images.githubusercontent.com/42217/36285007-d0ba2e28-125e-11e8-8d8a-6fe1983bf326.png)

![screen shot 2018-02-15 at 2 41 55 pm](https://user-images.githubusercontent.com

[2018-02-15 22:53] aaronjudd commented on #3029
Closed by https://github.com/reactioncommerce/reaction/pull/3615

[2018-02-15 22:53] #3029 closed

[2018-02-15 22:53] #3600 closed

[2018-02-15 22:55] aaronjudd commented on #2027
@aldeed can we close this without a more specific issue? this isn't really very actionable.. more a general goal of the performance sprints...

[2018-02-16 00:42] zenweasel commented on #3693
It would appear that this is Meteor error that we can't really do anything about. The most hopeful path seems to be the Linux Subsystem for Windows which appears to be near completion.

Another possible solution would be to create a new version of the Docker image that points to a local drive but allows you to build/run the application within the container. Would certainly love to see a community

[2018-02-16 00:42] #3693 closed

[2018-02-16 00:51] nnnnat opened #3761 "Clicking shop title/logo makes mobile navigaiton flash open & close"
### Expected behavior
- In a mobile browser while on the homepage clicking the shop title/logo should do nothing.

*master*
![master](https://user-images.githubusercontent.com/1135948/36288153-036956da-127f-11e8-981e-ff9040874d65.gif)

### Actual behavior
- In a mobile browser while on the homepage clicking the shop title/logo makes mobile nav flash open and close.

*release 1.8.0*
![release-1 8 0

[2018-02-16 03:22] #3756 closed

[2018-02-16 04:38] zenweasel opened #3762 "Placeholder image doesn't show up in PDP when not in edit mode"
### Expected behavior
Placeholder image should show up everywhere

### Actual behavior
Doesn't show up on PDP when not in edit mode (or not logged in)

### Steps to reproduce the behavior
1. Go to PDP for the "Basic Reaction Product"
1. Observe that the placeholder image is not visible

### Versions
[code]

[2018-02-16 05:02] zenweasel opened #3763 "Artifact in order summary"
### Expected behavior
Should just display date without additional pipe character

### Actual behavior

![2018-02-16_12-59-54](https://user-images.githubusercontent.com/72819/36294088-503f4aec-1319-11e8-9d12-46710509138b.png)

Using a single pipe rather than a double-pipe for OR
https://github.com/reactioncommerce/reaction/blob/4fae50ddac1bc69474b90e98b9564f68a83f785a/imports/plugins/core/orders/cl

[2018-02-16 05:09] zenweasel opened #3764 "Items in Cart drawer go off screen"
### Expected behavior
You should be able to see items in the "Cart Drawer" at all time

### Actual behavior
When you have more than a few items in the cart, items go offscreen
![2018-02-16_13-06-44](https://user-images.githubusercontent.com/72819/36294263-7f0db0f6-131a-11e8-8410-8392619db43c.png)

Items sometimes go off to the right and you can't get to them at all (no scroll bar)
![2018-02-16_13-

[2018-02-16 05:22] zenweasel opened #3765 "Credit card accepts invalid expiration date"
### Expected behavior
Credit card validation should reject a expiration date that is in the past

### Actual behavior
Will accept an expiration of 1/2018 or another date in the past

### Steps to reproduce the behavior
1. Add an item to the cart
1. Enable Braintree as Payment Provider (may not be relevant)
1. Enter address and select shipping
1. Enter valid cc information except an expiration date

[2018-02-16 05:40] zenweasel opened #3766 "Receive "No shipping methods defined" when checking out as guest"
### Expected behavior
Shipping methods should not show until you've entered an address

### Actual behavior
"No shipping methods are configured" displays even though, shipping methods are in fact configured.

### Steps to reproduce the behavior
1. Visit the site in incognito mode
1. Add something to cart
1. Click on "Continue as Guest"
1. Observe that the "No shipping methods are configured. Pleas

[2018-02-16 05:41] zenweasel commented on #3766
I don't know if this is a regression yet but will update shortly

[2018-02-16 05:55] zenweasel opened #3767 "Page title and description is not shown as page title when on any page except the product page"
### Expected behavior
Should see the site name in the page title for bookmarking etc.

### Actual behavior
Just shows `localhost:3000`. Works correctly once you go to a product page

### Steps to reproduce the behavior
1. Start the app
1. Observe the tab title or use a plugin like "Meta inspector" to see that no meta information is set

### Versions
[code]

[2018-02-16 06:11] spencern opened #3769 "Add you-dont-need-lodash plugin and resolve errors"
**Summary**
Install the `eslint-plugin-you-dont-need-lodash-underscore` and resolve any problems that it finds.
We have some code that's still reliant on lodash/underscore methods when there is a prototype method that would do. This lint plugin identifies the spots where we're unnecessarily using lodash and suggests a native solution.

1.  Run
[code]
2. add a line `"plugin:you-dont-need-lodash-und

[2018-02-16 06:15] zenweasel commented on #3766
Doesn't happen on `master`.

[2018-02-16 06:35] prinzdezibel commented on #3760
Not repro.

Probably fixed with:

`c672be50c Merge pull request #3602 from reactioncommerce/feat-2635-kieckhafer-
dynamicallyLoadMoment`

[2018-02-16 06:53] prinzdezibel commented on #3760
@mikemurray  Can you verify that? If so, I'm going to close.

[2018-02-16 08:11] zenweasel commented on #3760
I've verified that this is still happening on the current HEAD on `release-1.8.0`

[2018-02-16 10:20] prinzdezibel commented on #3766
Has probably to do with this: https://github.com/reactioncommerce/reaction/pull/3640/files

[2018-02-16 10:23] prinzdezibel commented on #3766
@Akarshit Yup, I see you found it out already. Thank you!

[2018-02-16 16:34] eziel opened #3777 "Log IP address for each order"
Having the IP address from the computer creating the order could be very helpful for fraud detection and analysis. please add a field to the order collection with the users IP address.

Thank you.

[2018-02-16 16:41] #2027 closed

[2018-02-16 17:27] prinzdezibel commented on #3731
After reading the code, it's clear that this is not a bug fix anymore, but would represent an enhancement of existing UI components. In the screenshot below the current component layout is shown:
![basic_reaction_product_and_2__tmux_](https://user-images.githubusercontent.com/1733229/36320112-61503cde-1345-11e8-8ddf-0feb6b0f66db.jpg)

The idea of the Settings Card is to persist the expanded state

[2018-02-16 17:27] prinzdezibel commented on #3731
Removed the bug label, as I would consider this an enhancement of the current functionality.

[2018-02-16 17:30] spencer commented on #3731
I don't think it should be my call, it should be @spencern 's call!

[2018-02-16 17:32] prinzdezibel commented on #3731
Man, this is the second time already, that I got @spencern's nick wrong. sorry!

[2018-02-16 17:47] aaronjudd opened #3778 "Error on adding address, moment is not a function."
Unexpected error in add.js prevents new address/checkout.

### Expected behavior
To be able to add an address.

### Actual behavior

You cannot.

![basic_reaction_product_and_slack_-_reaction_commerce_and_reactioncommerce_reaction__reaction_is_a_customizable__real-time_reactive__javascript_commerce_platform_](https://user-images.githubusercontent.com/439959/36320879-ab4a0e8a-12fc-11e8-80b7-7267855

[2018-02-16 18:02] kieckhafer commented on #3672
https://github.com/reactioncommerce/reaction/pull/3463 seems to alleviate the bulk of the issue here. There is still a small delay - it takes `~.5` - `1`s for the address to be "active" to be changed again after it's clicked, but it's much better.

[2018-02-16 18:18] spencern commented on #3507
@zenweasel are you or @jshimko going to review this one?

[2018-02-16 18:20] spencern commented on #3672
I'm still seeing some issues where the selector freezes entirely. In some cases the database ends up in an invalid state
![image](https://user-images.githubusercontent.com/1203639/36322631-52059934-130b-11e8-8cf9-29898e4c677e.png)

[2018-02-16 18:24] Akarshit commented on #3507
This might be fixed in #3463 [here](https://github.com/reactioncommerce/reaction/pull/3463/files#diff-e0509424f4672c76deaab12707ba478dR465).
Basically the setShopId is not done when the newId is same as the old one, hence all the multiple calls to `getShopId`(because of reactiveness) are prevented.
But not 100% sure.

[2018-02-16 19:23] prinzdezibel commented on #3638
need to test with again with PR: https://github.com/reactioncommerce/reaction/pull/3771

[2018-02-16 22:57] mikemurray opened #3783 "Discount codes account limit and total limit not honored"
### Expected behavior

Discount `Account Limit` and `Total Limit` should be honored.

### Actual behavior

Discount codes can be used past their limits.

### Steps to reproduce the behavior
![cart_completed](https://user-images.githubusercontent.com/42217/36332065-807a8198-1325-11e8-8aa7-b1643e72a9c7.png)

1. Add a discount code in payment settings: see screenshot
2. Check out and apply the code
3

[2018-02-17 01:08] spencern opened #3784 "Address Review always adds a new address"
### Summary
The Address review step that's used by the Avalara tax package to verify addresses creates a new address every time. If a user is editing an existing address this causes problems because it creates a duplicate address.

### Expected behavior
When editing an address, the address review step should update the existing address.

### Actual behavior
When editing an address, the address rev

[2018-02-17 01:15] #3777 closed

[2018-02-17 01:15] zenweasel commented on #3777
Issue moved to [reactioncommerce/reaction-feature-requests #23](https://github.com/reactioncommerce/reaction-feature-requests/issues/23) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-17 01:35] zenweasel commented on #3674
@cassytaylor Once design input is complete for a ticket can you unassign yourself? My folks won't grab a ticket that already has an assignee. Thanks!

[2018-02-17 02:10] zenweasel commented on #3507
My mistake. Assigning to @jshimko to review

[2018-02-17 02:15] zenweasel commented on #3784
@spencern Did you mean Flat Tax or Flat Rate shipping in the repro steps?

[2018-02-17 15:52] willmoss1000 opened #3785 "Order Components not registered"
### Expected Behaviors
All components that are part of the public API should be registered

### Actual Behavior
These components are not registered
1) completedOrder.js in directory/imports/plugins/core/checkout/client/components

2) ordersList.js in directory/imports/plugins/core/accounts/client/components
**[Update]** orderList is no longer directly called but part of `Component`

[2018-02-17 17:24] prinzdezibel opened #3786 "Should update release-1.8.0/package-lock.json to reflect new braintree version 2.7.0"
Checking out with Braintree causes a server side error in release-1.8.0, because in package-lock.json [braintree bindings](https://github.com/braintree/braintree_node) are pinned to 2.6.0, which is incompatible with the current code base. The package is pinned to 2.7.0 in package.json of branch release-1.8.0.

### Expected behavior
Checkout with braintree should work without error

### Actual beha

[2018-02-17 20:18] lauragobrightly commented on #2718
+1 on the unlisted Shopify app. Most Shopify merchants who connect to external marketplaces do this via Shopify apps (which can be costly to develop)

[2018-02-17 23:57] zenweasel commented on #3786
I'm confused how this happened because I specifically tested the Braintree checkout when we upgraded the library. The only thing I can think of was that I accidentally reset my package.json at one point and did an ncu to get the changes back and somehow the library was updated again during that two hour time frame? Ugh

[2018-02-18 05:16] zenweasel commented on #3786
I tested this on the node dependency branch `refactor-3029-spencern-review-update-npm-deps` and not seeing the error. The version is pinned to 2.7.0 as it is on the `release-1.80` branch.

[2018-02-18 05:27] zenweasel commented on #3786
I'm also not seeing this error on the `release-1.8.0` branch.

[2018-02-18 08:18] prinzdezibel commented on #3786
it's pinned 2.6.0 (works not) in package-lock.json, but 2.4.0 (works) in package.json.

what happens if you delete node_modules/braintree and install again?

[2018-02-18 09:37] impactmass commented on #2895
I can't at this moment, but maybe sometime in coming sprints

[2018-02-18 09:43] zenweasel commented on #3786
I always do that every time I test it

[2018-02-18 09:49] zenweasel commented on #3786
I don't see any of those references to 2.6 you are talking about. Can you double check you are up to date with master?

[2018-02-18 10:00] zenweasel commented on #3786
Maybe this is the problem, looks like there might be discrenpency betwee package.json and package-lock.json
[code]

[2018-02-18 10:12] prinzdezibel commented on #3786
weird.
these are from my branch:

https://github.com/reactioncommerce/reaction/blob/fix-3778-error-on-adding-address/package.json
https://github.com/reactioncommerce/reaction/blob/fix-3778-error-on-adding-address/package-lock.json

and those from release-1.8.0:
https://github.com/reactioncommerce/reaction/blob/release-1.8.0/package.json
https://github.com/reactioncommerce/reaction/blob/release-1.8

[2018-02-18 10:56] prinzdezibel commented on #3786
I pulled package.json from release-1.8.0 again. `npm install` did update package-lock.json to braintree 2.7.0 (and others as well).

It seems that we need to update
https://github.com/reactioncommerce/reaction/blob/release-1.8.0/package-lock.json.

[2018-02-18 23:10] zenweasel commented on #3786
Yeah, this was my mistake when I updated the npm package I didn't commit the package-lock.json

[2018-02-19 01:06] #2173 closed

[2018-02-19 01:06] zenweasel commented on #2173
Issue moved to [reactioncommerce/reaction-feature-requests #24](https://github.com/reactioncommerce/reaction-feature-requests/issues/24) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-19 02:01] zenweasel commented on #3608
Closed via #3609

[2018-02-19 02:01] #3608 closed

[2018-02-19 02:02] #3534 closed

[2018-02-19 02:02] zenweasel commented on #3534
Issue moved to [reactioncommerce/reaction-feature-requests #25](https://github.com/reactioncommerce/reaction-feature-requests/issues/25) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-19 02:45] zenweasel commented on #3752
Seeing the same error on Linux. Removing the `windows-only` tag

[2018-02-19 05:15] Akarshit commented on #3766
@prinzdezibel Yes #3628 is still fixed with my changes.

[2018-02-19 08:42] Akarshit commented on #2292
@zenweasel Should I remove G+?

[2018-02-19 08:45] zenweasel commented on #2292
That's a product question. Let's get it working if we can

[2018-02-19 16:06] danny-waite opened #3791 "Adding Featured Products to default landing page"
Guys, currently building a proof of concept on Reaction, so far so good, enjoying your approach.

I'm trying to restrict the products that display on the home page to products that include the Featured tag, I'm guessing this is a logical way of doing it, seems this would a common requirement however its not immediately apparent how best to do this.  I've read Part 2 of "Building a Swag Shop" which

[2018-02-19 20:18] prinzdezibel commented on #3757
This issue is fixed via: PR https://github.com/reactioncommerce/reaction/pull/3780

[2018-02-20 03:12] spencern commented on #3694
@prinzdezibel is this finished? I see it was mentioned in #3724 but was not closed by that issue at the time.

[2018-02-20 05:01] Akarshit commented on #2298
@rymorgan Would it be ok if the dropdown to select the currency is added next to the search button?

[2018-02-20 06:46] spencern commented on #3239
@zenweasel Just had a chance to look over this.
Should be super valuable for QAing the app beyond using the initial starter data.

Do you have any suggestions for what the new standard data load should be for basic QA? Now that (with this plugin) it's super simple to load products and orders, there shouldn't be any reason to test PRs with only 1 product.

A nit to pick would be that it could use a

[2018-02-20 07:08] spencern commented on #3634
@willopez why did this issue get moved from `In Progress` to `Icebox`?

[2018-02-20 07:10] prinzdezibel commented on #3694
@spencern Yes, it was merged in. Going to close this issue.

[2018-02-20 07:10] #3694 closed

[2018-02-20 07:24] #3778 closed

[2018-02-20 07:24] #3757 closed

[2018-02-20 07:24] prinzdezibel commented on #3757
PR 3780 was merged in. closing.

[2018-02-20 07:35] #3649 closed

[2018-02-20 07:35] prinzdezibel commented on #3649
Merged, going to close now.

[2018-02-20 07:37] prinzdezibel commented on #2328
Was merged. Going to close.

[2018-02-20 07:37] #2328 closed

[2018-02-20 07:44] prinzdezibel commented on #3601
Was merged, going to close.

[2018-02-20 07:44] #3601 closed

[2018-02-20 07:45] spencern commented on #3555
We have to do something to improve the performance of the product grid, but I think this issue still needs more clarity on exactly what should be done.

[2018-02-20 07:46] spencern commented on #3092
@ticean or @aldeed do either of you have preferences regarding CSS linting or best practices?

[2018-02-20 07:51] spencern commented on #2011
@aaronjudd is this an issue that you'd still like someone to investigate or is it resolved better by our removal of major Atmosphere dependencies and migration towards npm style imports?

[2018-02-20 07:54] spencern commented on #1744
I'm not certain that this is a performance issue at this point, and I'm not sure what the best solution is.
I think at the core of this issue is how we're storing emails (that we're storing raw emails at all?). A better issue might be to change the way we permit storing and resending of emails to use the existing template and data that's available (order/user/shop etc.) at the time that the email

[2018-02-20 07:56] spencern commented on #1743
As I mentioned with a comment in #1744

I'd propose that we close this issue and create a new, more specific issue related to changing the way emails are stored and sent if that's desired.

[2018-02-20 07:57] spencern commented on #1364
@willopez has a good start on this ticket but backed off to work on bugs last week.

[2018-02-20 08:04] zenweasel commented on #3239
@spencern Thanks for taking the time to look at this. Your criticisms are noted and all make sense to me, I will loop around and fix those.

I think probably the question is, how can the sample sets be changed to be best cases for testing. The current "small" set is already a lot better for testing than the stock single product I can tell you but should it have more products like 25-50? (this just

[2018-02-20 08:11] zenweasel commented on #3786
@prinzdezibel Can we close this now? Didn't you essentially fix this in your moment PR or do we still need this?

[2018-02-20 08:33] zenweasel commented on #3765
@prinzdezibel Something I should have added in the original ticket. I think there is a limitation here that comes from autoform and each payment form needs to have it fixed individually. So we may want to wait on this until we convert these forms to React and whatever the React-autoform turns out to be. Unless you can get a quick fix for it, then, you know, rock on.

[2018-02-20 08:35] zenweasel commented on #3763
@Akarshit This was fixed? The PR was closed in favor of another?

[2018-02-20 08:38] zenweasel commented on #3404
Closed via #3463

[2018-02-20 08:38] #3404 closed

[2018-02-20 08:41] spencern commented on #3239
This makes sense to me and I think your suggestions are the right direction. Once tickets are created in the reaction-devtools repo will you go ahead and close this issue?

[2018-02-20 09:55] Akarshit commented on #3477
Fixed in #3463

[2018-02-20 09:55] #3477 closed

[2018-02-20 09:55] zenweasel commented on #3477
Closed via #3463

[2018-02-20 09:56] prinzdezibel commented on #3786
@zenweasel No, my PR doesn't fix it. Merging in release-1.8.0 just pinned braintree to 2.7.0 in package.json. But it still is pinned as 2.6.0 in package-lock.json.

This leads to changed package-lock.json in working copy whenever braintree is not matched and gets updated.

[2018-02-20 10:00] zenweasel commented on #3786
Right. Submitted a PR

[2018-02-20 10:24] Akarshit commented on #2286
@spencern
Making the `TextInput` currency formatted is not trivial. Basically the solution is that while displaying I have to `format` the `props.value` and while sending back the changed value, I have to `deformat` it. But it break when the user wants to enter something like 1.5, as soon as the user enters `1.` because of the `deformat` and `format` cycle it changes to `1` so user is not able to

[2018-02-20 11:00] #3297 closed

[2018-02-20 11:06] Akarshit commented on #3783
This bug is happening because [here](https://github.com/reactioncommerce/reaction/blob/release-1.8.0/imports/plugins/included/payments-example/client/checkout/example.js#L76) `processor: "Example"` is set and [here](https://github.com/reactioncommerce/reaction/blob/release-1.8.0/imports/plugins/included/discount-codes/server/hooks/orders.js#L15) we only add discount transactions to the cart with `

[2018-02-20 11:34] prinzdezibel commented on #3785
re 1) It's registered in as "CompletedOrder" in containers/comletedOrderContainer.js. This is done sometimes, if there's no usage for the unwrapped, bare-bone component.

re 2) Dito. It's registered in as "OrdersList" in containers/usersOrdersListContainer.js.

[2018-02-20 11:35] prinzdezibel commented on #3785
@zenweasel From my understanding this isn't necessarily a bug. But I admin, it's counter-intuitive. What do you propose?

[2018-02-20 12:15] Akarshit commented on #2892
Should be closed via #3793

[2018-02-20 13:56] Akarshit commented on #2863
@zenweasel In my testing, whenever I chose another method the calculation was fast enough that the loader can't be shown in that time.
I am adding a delay in my PR for the calculation(which I know is the wrong way). Is this what people wanted?

[2018-02-20 15:18] spencern commented on #2286
I don't love this solution as the placeholder text is one of the better indications that the user is inputting a currency amount. I do acknowledge your concerns that it's a poor UX when the input is formatted as currency. I think the goal here is that when the user is inputting, it's a number and when they are done inputting, the display is shown as currency (text field?). I can think of several w

[2018-02-20 15:27] loanlaux opened #3797 "Removing search-mongo plugin causes errors at startup"
### Expected behavior

When replacing included plugin `search-mongo` with a custom one, Reaction should start up without any error.

### Actual behavior

When replacing `/imports/plugins/included/search-mongo` with an identical, custom plugin located in `/imports/plugins/custom/`, Reaction shows the following error at start up:

[code]

### Steps to reproduce the behavior

1. Rename `/imports/plug

[2018-02-20 16:55] spencern commented on #2183
I'm going to close this as we've completed the essential items, the other items in this list have individual tickets, and it's not on the immediate horizon.

[2018-02-20 16:55] #2183 closed

[2018-02-20 17:00] rymorgan commented on #2863
@Akarshit - In this case, a (a super fast) delay is ok. The important thing here is to notify (assure the user that the action they've taken has done what that intended.)

[2018-02-20 17:01] willopez commented on #3634
Per our discussion in a stand up meeting, you suggested the move and to refactor using Meteor methods as hooks will not be provide all the functionality needed.

[2018-02-20 17:10] rymorgan commented on #2863
yes, I want @cassytaylor or I to review before it's merged.

[2018-02-20 17:46] cassytaylor commented on #2863
@Akarshit just added an approval in the PR. I agree with @rymorgan that the fast delay + spinner animation works here, because it gives the user feedback that something is happening (even if we have to fake a short loading delay.)

[2018-02-20 17:56] mikemurray commented on #3612
I think we also have a babel plugin for lodash that we should probably remove as well.

[2018-02-20 18:13] #3551 closed

[2018-02-20 18:14] #3660 closed

[2018-02-20 18:14] #3637 closed

[2018-02-20 18:14] #2634 closed

[2018-02-20 18:14] #3636 closed

[2018-02-20 18:52] rymorgan commented on #2298
It should instead be added to the hamburger menu w/ the other items. Only the most important user actions should be "main" mobile nav.

<img width="319" alt="screen shot 2018-02-20 at 10 52 19 am" src="https://user-images.githubusercontent.com/20409254/36442937-2c8e3bb0-162c-11e8-9f15-874324fa5f00.png">

[2018-02-20 19:15] spencern commented on #3595
Wont fix.

[2018-02-20 19:15] #3595 closed

[2018-02-20 19:16] willopez commented on #3034
This looks like a good replacement: https://github.com/jaredpalmer/formik

[2018-02-20 19:18] spencern commented on #2527
@rymorgan we should revisit this once you and @cassytaylor have defined the style for alerts

[2018-02-20 19:28] spencern commented on #3424
@rymorgan do we have designs for contextual search?

[2018-02-20 19:28] rymorgan commented on #2527
Yep! This should be a part of the style guide project.

[2018-02-20 19:37] spencern commented on #3555
Not actionable. Closing

[2018-02-20 19:37] #3555 closed

[2018-02-20 19:37] spencern commented on #2858
@impactmass @ticean what's our status here? Can this be closed?

[2018-02-20 19:40] kieckhafer commented on #3424
Designs for Account search: http://zpl.io/a3qJqA2

[2018-02-20 19:41] #2011 closed

[2018-02-20 19:41] Akarshit opened #3798 "Box visible on top left in mobile navigation"
### Expected behavior
No extra `div`

### Actual behavior
There is some box display near the top in mobile view when the user is not signed in.
<img width="557" alt="screen shot 2018-02-21 at 1 04 07 am" src="https://user-images.githubusercontent.com/7762605/36464355-74bb1c36-16f5-11e8-9d28-7cbde8dd3a98.png">

### Steps to reproduce the behavior
1. Switch to mobile view
2. Make sure you are logged

[2018-02-20 19:44] aaronjudd commented on #2011
We're moving to docker caching, so this will be pretty irrelevant soon.

[2018-02-20 19:47] #1743 closed

[2018-02-20 19:47] aaronjudd commented on #1743
Issue moved to [reactioncommerce/reaction-feature-requests #26](https://github.com/reactioncommerce/reaction-feature-requests/issues/26) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-20 19:48] spencern commented on #1743
Issue moved to [reactioncommerce/reaction-feature-requests #27](https://github.com/reactioncommerce/reaction-feature-requests/issues/27) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-20 20:21] rymorgan commented on #2298
I just remembered that a currency selector is already there on mobile. So, you might be able to just close this out if that meets all of @zenweasel criteria on this issue.

![screen shot 2018-02-20 at 12 19 43 pm](https://user-images.githubusercontent.com/20409254/36447230-8e9c6dca-1638-11e8-9918-e5a25086cb37.png)

[2018-02-20 20:39] aldeed commented on #3092
I'll admit I've never linted CSS before. For new React components, moving away from bootstrap dependency, I am proposing we used styled-components pkg with theming, so there is CSS inside JS files rather than css files, and this is their approach to linting that CSS: https://www.styled-components.com/docs/tooling#stylelint

We will still have some standalone CSS, too, so probably need 2 different

[2018-02-20 20:50] aldeed commented on #3034
@willopez Thanks for the link, I hadn't seen that one. I am planning to use and improve my [reacto-form](http://forms.dairystatedesigns.com/reacto-form/) package, which actually has similar goals to formik, but a completely different way of achieving. To me the ReactoForm way makes more sense, but I would have to pull down and play with formik to say for sure. I'm interested to know your opinion i

[2018-02-20 20:53] spencern commented on #3634
@willopez That is the case, but we still have resolve this issue. As far as I'm understanding, this issue is still in progress until otherwise noted. If you're not sure how to proceed from here, please ask someone to pair with you on it.

[2018-02-20 21:19] willopez commented on #3634
@spencern it was only in the icebox for the bug sprint, I was planning on resuming work on performance sprint two, so I am back on this one!

[2018-02-20 21:20] spencern commented on #3634
Perfect, thanks for the update @willopez

[2018-02-20 21:30] zenweasel commented on #3798
@Akarshit Can you point out to me exactly what you are seeing that shouldn't be there? Need a little more specifics than "see the weird box". 😄 An image with a box outlining it would be best.

[2018-02-20 21:32] zenweasel commented on #3424
Is this Account search? I think this ticket is meant to deal with the main consumer-facing search. I think there is a separate ticket already for account search.

[2018-02-20 21:42] kieckhafer commented on #3424
@zenweasel Yes, it's for accounts, but moving accounts out of this modal, so it kind of makes sense to be here too. Part of converting this to React is removing `taco-table` from the modal, which is part of the account search.

Looks like #3119 and #2903 are related for accounts search.

[2018-02-20 23:11] willopez commented on #3034
@aldeed I have not used reacto-form myself, so I am not qualified to give an opinion on that package. I would consider the time and effort it would take prepare reacto-form to be used, plus the integration with reaction, against the time and effort necessary to integrate formik. I have played around with formik and to me it seems like a solid choice.

[2018-02-20 23:51] #3635 closed

[2018-02-20 23:52] willmoss1000 commented on #3785
I see, thanks for this. It's not a bug. Seems like this is how things are done with containers throughout -not sure why though? It means that whenever you want to replace/extend a component you have to add a file to do it with the container and import the HOCs too. But yep apologies for this please close it.

[2018-02-21 00:26] zenweasel commented on #3732
Related to #3767 so taking this as well

[2018-02-21 02:41] zenweasel commented on #3786
Fixed via upstream changes (any update to `package.json` should have triggered this). Braintree is now 2.7.0 in `package-lock.json`. Closing.

[2018-02-21 02:41] #3786 closed

[2018-02-21 02:48] zenweasel commented on #3783
@aaronjudd
This is definitely a regression in that it worked when it was implemented (I remember testing it). But in terms of a release are we sure this is working on `master` since in his original ticket @mikemurray notes that it's happening on `master` as well as the release branch?

[2018-02-21 02:57] zenweasel commented on #2286
@Akarshit Since @spencern moved this into the Sprint, I am removing your assignment

[2018-02-21 02:58] zenweasel commented on #2286
@Akarshit Wait, nevermind

[2018-02-21 04:20] spencern opened #3805 "Cannot create password when invited to create account"
**Summary**
When being invited to create an account as a shop manager or a merchant shop owner, the password overlay spinner is never turned off.
![image](https://user-images.githubusercontent.com/1203639/36462722-4b07137c-1682-11e8-80c3-2ef5c30ab231.png)

It appears that the lifecycle method `componentWillReceiveProps` is never fired for this password overlay.

https://github.com/reactioncommerce

[2018-02-21 04:45] #2298 closed

[2018-02-21 04:51] Akarshit commented on #3763
Should be fixed by #3733

[2018-02-21 04:51] #3763 closed

[2018-02-21 04:58] Akarshit commented on #3798
@zenweasel Updated the screenshot.

[2018-02-21 04:59] Akarshit commented on #1236
Still not able to test this. PayPal docs are a nightmare.
Will get this done soon.

[2018-02-21 05:08] zenweasel commented on #3669
Closed via #3740

[2018-02-21 05:08] #3669 closed

[2018-02-21 05:12] zenweasel commented on #3760
Closed via #3773

[2018-02-21 05:12] #3760 closed

[2018-02-21 07:49] prinzdezibel commented on #3714
Talked with Brent about it. The email verification is sort of an esoteric feature which presumably isn't used a whole lot. The provided PR does fix it in a way we are doing it for the non-admin accounts as well. Therefore it doesn't add new security concerns. We agreed that the current state with email encoded links isn't a good thing, but it might be worth to create a new ticket for that and trea

[2018-02-21 07:53] zenweasel commented on #3714
For background here is @jshimko's comment:

Not sure where this fits in priority-wise so I think it makes sense to create a ticket to address the potential security issue for all of these and just fix this particular fix in for now.

[2018-02-21 08:00] zenweasel commented on #3239
Issues have been opened on https://github.com/reactioncommerce/reaction-devtools/issues. Closing this issue.

[2018-02-21 08:00] #3239 closed

[2018-02-21 08:10] prinzdezibel commented on #3703
@rymorgan I think it doesn't make too much sense to have the $ character in the input field. That way the user can edit it, but the currency is not meant to be changed there at all.

On the other hand I realize that it's helpful to see the this field is going to accept a currency value. So I guess it's also not nice to omit it completely.

The correct way of dealing it would probably be to have th

[2018-02-21 08:26] zenweasel commented on #3702
@willopez You moved this to "In Progress" but did not assign yourself? Are you working on this?

[2018-02-21 13:27] prinzdezibel commented on #2249
Fixed completely with  #2246 and #3748

[2018-02-21 13:40] prinzdezibel commented on #3705
@kieckhafer Is this a regression error? Asking because of the branch name.

[2018-02-21 13:47] zenweasel commented on #3805
Closed via #3806

[2018-02-21 13:47] #3805 closed

[2018-02-21 13:53] #3743 closed

[2018-02-21 13:56] Akarshit commented on #3754
@jshimko Could you take a look at this when you are around.

[2018-02-21 16:53] kieckhafer commented on #3705
@prinzdezibel No, all the errors in the bulk editor are not regressions.

[2018-02-21 17:11] rymorgan commented on #3703
@prinzdezibel I think we could approach it in two different ways.

1. We could leave it out the idea being that the currency is implied by the calculation above. The advantage being we don't have to deal with localization and add more labels and what would that label be? It'd be weird to have the label be just the currency symbol. The disadvantage being some loss in clarity to the user.
2. We coul

[2018-02-21 17:20] #3679 closed

[2018-02-21 17:24] rymorgan opened #3811 "Unable to change localization settings"
### Expected behavior
I should be able change my base currency.

### Actual behavior
I am unable to change my base currency.

### Steps to reproduce the behavior
Navigate to localization
Make sure you have multiple currencies enabled
Attempt to change your base currency see that you can't.

See here:
![ufydbpcmsx](https://user-images.githubusercontent.com/20409254/36494787-fe87ad8e-16e7-11e8-8ccd-

[2018-02-21 17:49] rymorgan commented on #3703
@prinzdezibel  Ok, dug deeper into this. We are actually doing the number 2 option now. Which I think is the better way to do it. I think what we are missing here is a graphical distinction between the currency and the number. For now, I think you leave it as is and we can work on the graphical distinction in an issue dealing with eh overall input component.

In other words, ignore my first commen

[2018-02-21 18:04] Akarshit commented on #3703
@prinzdezibel @rymorgan If the design doesn't need to be changed and you still want the currency formatting, you can have a look at #3808

[2018-02-21 18:51] spencern commented on #3766
@Akarshit @zenweasel This issue is also popping up when there is a "bad" address and no shipping results can be found for the address in question.

http://recordit.co/yZQqnEtbH7

[2018-02-21 19:03] Akarshit commented on #3766
@spencern What should be displayed if no shipping results are found because of bad address?
Also I think this might be out of the scope of the issue as this issue is about the "Shipping method" stage being shown before the user enters the address. What do you think?

[2018-02-21 19:49] prinzdezibel commented on #3703
Alright then, @rymorgan. Thanks!

[2018-02-21 19:53] spencern opened #3813 "Avalara does not gracefully handle misconfiguration errors"
### Expected behavior
Avalara should gracefully handle bad credentials.

### Actual behavior
An error is thrown and the UI locks up

With APILoginId not configured:
Server error logged:
[code]

![image](https://user-images.githubusercontent.com/1203639/36500765-1097b9d0-16fa-11e8-9f7b-504a941b4c8b.png)

[code]

That error spawns from this line `if (res.validated)`
[code]

If the package is not con

[2018-02-21 22:09] zenweasel commented on #3811
Confirmed that this does not happen on `master`

[2018-02-21 22:26] zenweasel commented on #3783
@spencern Could we get some direction about how we should store `paymentMethod`s when there are more than one?

[2018-02-21 22:56] mikemurray commented on #3811
This happens for all of those dropdowns. I cannot change any of them.

[2018-02-21 23:01] mikemurray opened #3815 "Date missing in order printable invoice"
### Expected behavior

Should see a date in printable invoice view

### Actual behavior

Error in browser console and no date in printable invoice view

![localhost_4000_dashboard_pdf_orders_sgfpvapppeeeb9dy9](https://user-images.githubusercontent.com/42217/36509425-926d9eec-1714-11e8-8496-bff4070f310b.png)

[code]

### Steps to reproduce the behavior

1. Add products to cart and checkout
2. As an

[2018-02-21 23:08] zenweasel commented on #3815
This is a very recent regression as I remember specifically testing this for the moment PR

[2018-02-21 23:15] #3727 closed

[2018-02-21 23:44] zenweasel commented on #3811
@Akarshit I am guessing that this is related to the way we changed how preferences are stored so I am assigning to you

[2018-02-22 01:39] zenweasel commented on #2882
Closed via #3744

[2018-02-22 01:39] #2882 closed

[2018-02-22 02:43] #2286 closed

[2018-02-22 02:43] #2892 closed

[2018-02-22 03:29] zenweasel commented on #3815
Closed via #3816

[2018-02-22 03:29] #3815 closed

[2018-02-22 03:51] codacy-bot opened #3818 "'getDep' was used before it was defined. (no-use-before-define)"
### [Codacy](https://app.codacy.com/app/reactioncommerce/reaction/commit?cid=177634993) detected an issue:
#### Message: `'getDep' was used before it was defined. (no-use-before-define)`

#### Currently on:
+ **Commit**:  2ecc8d8ce142c97438f4dfc8f6f256c65624fd91
+ **File**:    [client/modules/core/main.js](https://github.com/reactioncommerce/reaction/blob/2ecc8d8ce142c97438f4dfc8f6f256c65624fd91/c

[2018-02-22 04:12] aaronjudd commented on #3813
[code]

[2018-02-22 04:20] aaronjudd commented on #2465
@reactioncommerce/engineering
Still happening.
[code]
Nothing particular to replicate except having Paypal Express enabled. I have no other methods enabled.

[code]

[2018-02-22 04:51] aaronjudd commented on #3813
[code]

[2018-02-22 05:04] spencern opened #3819 "Tax Cloud does not notify client when there are issues connecting to API"
### Expected behavior
Tax Cloud should notify client in some way when there is an api issue causing tax calculation not to be performed properly

### Actual behavior
Server warning `Error fetching tax rate from TaxCloud: Invalid apiLoginID and/or apiKey`

![image.png](https://images.zenhubusercontent.com/59efe78da468affe6df80724/4c20b9d2-6805-4662-89aa-88f2257e741c)

### Steps to reproduce the beh

[2018-02-22 06:01] zenweasel opened #3820 "Avalara does not send proper tax code for shipping"
### Expected behavior
RC needs to send the configured "shipping tax code" up to Avalara so that Avalara know to handle shipping differently (e.g. taxable sometimes, not taxable others)

### Actual behavior
It's sending a regular product code, so it's always taxable

### Steps to reproduce the behavior
1. Run Avalara with RC default configuration
1. Place an order
1. Log in to the Avalara admin pan

[2018-02-22 06:22] #3499 closed

[2018-02-22 06:24] #3761 closed

[2018-02-22 06:26] #3784 closed

[2018-02-22 06:27] #2292 closed

[2018-02-22 06:39] zenweasel commented on #3820
Apparently the "Shipping Tax Code" in the default configs was changed to be "RC-1" instead of "NT". NT (non-taxable) is a valid shipping tax code, RC-1 is not. If you test this with a proper shipping tax code it appears to be working.

[2018-02-22 06:39] #3820 closed

[2018-02-22 07:07] Akarshit commented on #3811
Working on this.

[2018-02-22 07:07] zenweasel commented on #3811
@Akarshit Already fixed

[2018-02-22 07:31] #3811 closed

[2018-02-22 07:37] #2301 closed

[2018-02-22 07:59] Akarshit commented on #3766
Closing this, please open a new issue if you think something needs to be added.

[2018-02-22 07:59] #3766 closed

[2018-02-22 09:01] prinzdezibel commented on #3703
@Akarshit  I like that approach you were choosing. It satisfies the statement from @rymorgan and still does not confuse the admin at the moment he's entering the value.  Going for that route to be consistent.

[2018-02-22 11:11] prinzdezibel opened #3821 "Prices should not be converted in admin view"
### Expected behavior
The shop base currency should be honored for all prices shown in admin view.

### Actual behavior
If the shop's base currency is set to EUR and the admin does add a new product, the product's price get converted immediately from USD->EUR, because shop assumes that the entered value is USD.

EDIT: Strangely, the above stated does not happen reproducible

EDIT 2: Is happens rel

[2018-02-22 11:19] prinzdezibel commented on #3821
Entering formatted values in shop's base currency is not possible:
![locale_formatting](https://user-images.githubusercontent.com/1733229/36535644-a74c25a2-17ca-11e8-8b72-5461be17f7bd.gif)

[2018-02-22 13:09] Akarshit commented on #3821
Will fix this on monday.

[2018-02-22 13:10] Akarshit commented on #3762
Closed via #3812

[2018-02-22 13:10] #3762 closed

[2018-02-22 13:12] #3519 closed

[2018-02-22 13:28] Akarshit opened #3823 ""No shipping methods are configured" when the address is not deliverable to"
### Expected behavior
If products can't be delivered to the address, show some relevant error like "Address not deliverable"
### Actual behavior
Getting "No shipping methods are configured" in the Shipping step.
### Steps to reproduce the behavior
1. Enable only Shippo
1. But a product and enter some fake/incorrect address.
1. Observe the shipping step say "No shipping methods are configured"

###

[2018-02-22 17:25] willopez commented on #3702
@zenweasel Nat took over this one.

[2018-02-22 18:45] mikemurray commented on #3424
Added PR https://github.com/reactioncommerce/reaction/pull/3801 as a blocker. While there are many ways to remove the need to use Blaze to inject the search modal into the dom tree, we should consider using React 16 portals to do that job.

[2018-02-22 18:49] #3699 closed

[2018-02-22 21:09] mikemurray commented on #3284
Findings

Translations are loaded into the Assets collection using a bulk operation on the raw Mongo collection. They are subsequently loaded into the Translations collection using the Reaction `Import` which is another bulk importer.

There seems to be a deviation of hundreds of milliseconds between multiple soft reloads with the only change being an updated `console.log` to trigger a build.

Hav

[2018-02-22 21:23] aldeed commented on #3284
Interesting findings. Two things to note:

1. The reason for taking this out of startup is not just due to the time it takes, but also due to unnecessary DB ops, which = $$ and potential slowness on the DB side.
2. If you commented out the DB upserts but not the i18n imports, you might not be capturing the full effect. If comment out all the `import "./i18n";` lines like in /imports/plugins/core/i

[2018-02-22 22:04] #3496 closed

[2018-02-22 22:04] #3523 closed

[2018-02-22 22:19] mikemurray commented on #3284
To use FS to load these i18n files, they will have to be included in the final bundle, for production. As far as I know, with the imports directory, you'll have to have imported the files you want to be included with the production bundle from a file outside the imports directory, like the `plugins.js` files in `client` and `server`.

In development mode it's fine since we have access to the files

[2018-02-22 22:34] spencern commented on #3284
Let's check to see what kind of a difference it makes the compile time if the i18n files are commented out.

[2018-02-22 22:35] mikemurray commented on #3284
Doing so now.

[2018-02-22 23:47] mikemurray commented on #3284
# Disabled all `import "./i18n";`
## Run 1
### fresh startup from 1.8.0

[code]

### soft-reload after code change

[code]

## Run 2
### fresh startup from 1.8.0

[code]

### soft-reload after code change

[code]

---

# Enabled all `import "./i18n";`
## Run 1
### fresh startup from 1.8.0

[code]

### soft-reload after code change

[code]

## Run 2
### fresh startup from 1.8.0

[code]

### soft-re

[2018-02-23 00:13] mikemurray commented on #3284
- Startup is slow regardless of imports, just slightly faster with import files not imported at all in JS
- Build/rebuild times for babel are similar
- App rebuild times are slightly slower with imports included, but not by much
- Fluctuations between Run 1 and Run 2 of imports enabled is confusion. Perhaps over time, it degrades?

Sample size to very small, but hopefully it helps illustrate the p

[2018-02-23 00:44] zenweasel commented on #3813
NIce reproduction steps

[2018-02-23 00:56] zenweasel commented on #3813
This ticket is a duplicate of (or at least mostly overlaps with): https://github.com/reactioncommerce/reaction/issues/3518

[2018-02-23 01:18] zenweasel commented on #3813
Changing this ticket to just focus on handling a misconfigured installation since #3518 talks about handling address validation and they probably have different solutions

[2018-02-23 02:19] aldeed commented on #3284
@mikemurray That's less improvement than I had hoped. Do you think Meteor might be watching them just by their existing? I'm pretty sure it's not supposed to do that within /imports, but it would be interesting to see if there's any improvement with all the i18n json files deleted.

You're right that they'd have to move to be imported by fs. Dynamic import is also a good solution if we deem it's w

[2018-02-23 06:54] zenweasel commented on #3819
@spencern should this actually notify the client (the customer)? How would we handle that since the customer normally can't do anything about it? Just something letting them know that there may be an adjustment or something?

I'm working on the similar error for Avalara and wonder if we shouldn't do the same thing there?

[2018-02-23 07:10] zenweasel commented on #3754
@jshimko Please help Akarshit out with this or alternately just take it over and fix it.

[2018-02-23 07:17] zenweasel commented on #3501
Closed. Can no longer reproduce.

[2018-02-23 07:17] #3501 closed

[2018-02-23 07:23] zenweasel commented on #1958
Closed can't reproduce. @Akarshit in the future if you can't reproduce please close the ticket.

[2018-02-23 07:23] #1958 closed

[2018-02-23 16:38] jshimko commented on #3752
I can't seem to reproduce this.  Can you please try running `docker pull` first so we can be sure we're both testing the same image?

[code]

That works for me on Mac, Ubuntu, and Windows.  Skipping the `MONGO_URL` triggers Mongo to start up and the app successfully connects to it.

[2018-02-23 19:17] mikemurray opened #3828 "Cannot search accounts as an admin in search modal"
## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue?

## Issue Description

Cannot search for accounts as an admin in the search modal. Clicking the account tab does not switch the view to the accounts table.

![localhost_5000](https://user-images.githubusercontent.com/42217/36612

[2018-02-24 16:49] aaronjudd opened #3831 "Validate character validity and position in tags"
## Prerequisites
Issue reported in [Community Chat](https://gitter.im/reactioncommerce/reaction?at=5a918a798f1c77ef3a4d328d)

## Issue Description
When some characters are used when adding a tag, an exception is thrown, an inappropriate client error is displayed.  `Tag already exists, or is empty.`,  neither of which is true.

It may be that that the characters are not valid for URL character / po

[2018-02-24 17:38] mikemurray opened #3832 "Issues with email status notification on initial startup with no reaction.json, on first-time credential save"
## Prerequisites

Tested on 1.8.1 release

Some of the issues with the status notification have been partially resolved by PR https://github.com/reactioncommerce/reaction/pull/3781 when you're updated previously saved credentials.

## Issue Description

Email status notification doesn't turn green if you initialize a new reaction app with no `reaction.json` and try to set your email settings for t

[2018-02-24 17:58] #3767 closed

[2018-02-24 18:46] #3701 closed

[2018-02-25 01:08] aldeed commented on #3662
Whoever tackles this, be sure to start from `feat-1221-aldeed-npm-cfs` branch if it is not merged to master yet. In that branch, I've dealt with the media portion of this slowness, separating it from product publication and instead letting the client request the media it needs as products arrive on the client.

[2018-02-25 01:10] aldeed commented on #3662
@spencern I removed the "blocked by" as the file-collections branch is stable enough to use as the base for this ticket even if it hasn't been merged yet.

[2018-02-25 01:13] aldeed commented on #3715
Whoever does this, if https://github.com/reactioncommerce/reaction/pull/3782 has not yet been merged, note that I've already converted the brand image media stuff to React in that PR.

[2018-02-25 06:58] spencern opened #3833 "Changing user currency does not update prices"
## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description
Changing user currency is not updating prices.
<img src="http://g.recordit.co/4NanbiZMWs.gif">

This is not an issue with reactivity, the

[2018-02-25 17:46] nacron opened #3834 "Rebuild after file change of App takes 3times longer than actual build"
## Issue Description
Hello, I have a build performance issue. I am trying to create a custom theme/plugin. I am running the latest version and the rebuild when saving a file takes 4 times longer than the initial build. When I run METEOR_DEBUG_BUILD=1 meteor it shows that it takes 5 minutes alone to build local packages:
START 2 building local packages
DONE 2 building local packages took 313942

##

[2018-02-25 23:54] zenweasel commented on #3833
Do you have openexhange rates configured and working correctly?

[2018-02-26 00:06] zenweasel commented on #3833
It looks like the `getRates` job is no longer running in the current version

[2018-02-26 08:19] zenweasel commented on #3731
I spoke with @spencern and we agreed that we still classify this as a bug and we should proceed with it even though it may require more coding. Moving back into unassigned bugs

[2018-02-26 08:23] zenweasel commented on #2293
Adding design tag to get design input

[2018-02-26 08:50] zenweasel commented on #3834
It appears this is not an issue with Reaction itself but your local installation.

We would be glad to answer your questions, provide you more help via our [chat channel](https://gitter.im/reactioncommerce/reaction) where we can continue the conversation in real time or via our [forums](https://forums.reactioncommerce.com). Closing this issue.

[2018-02-26 08:50] #3834 closed

[2018-02-26 10:13] zenweasel commented on #3491
Another community member is reporting they see this problem

[2018-02-26 10:14] redgenie commented on #3491
Yes, I'm having these errors with a fresh docker-compose up:
[code]

[2018-02-26 16:05] #3685 closed

[2018-02-26 16:34] prinzdezibel commented on #3833
Took me the better part of the day ..
I got off-track when I've been thinking, it must have to do with the changes from @mikemurray. But that seems not the case. Its just that Jobs that are scheduled via later.js don't run before the first scheduled time, no matter what. https://github.com/reactioncommerce/reaction-job-queue/blob/4bbc524713e55349a16430d014e68384fb1638a3/src/common/jobCollectionBas

[2018-02-26 17:01] #3828 closed

[2018-02-26 20:34] willmoss1000 opened #3836 "New Shop Unable To Change Address In Shop Panel"
## Prerequisites
* [y] Are you running the latest version? **1.8.1**
* [y] Are you able to consistently reproduce the issue?
* [y] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues) - tried to, but couldn't find anything. Also posted in gitter to check.

## Issue Description
Upon signing up as a new seller in marketplace, (by cli

[2018-02-26 21:40] zenweasel commented on #3833
I think this actually used to work because of a bug in the original job collection framework where all scheduled jobs would run on first start. I was running into this on the demo site where every time the container would be created it would reset the db 20 times in a row. But it was fixed in the latest version (which we never upgraded to)

[2018-02-26 23:20] kieckhafer opened #3839 "Unable to filter by all shipping statuses in Admin Orders dashboard"
## Issue Description
I should be able to filter the Orders table by all Shipping statuses, not just some of them. At this time, the `New` status is not available in the dropdown.
![reaction](https://user-images.githubusercontent.com/4482263/36701458-5334e30a-1b08-11e8-992e-2e8b6ed62f81.png)

## Steps to Reproduce
1. Create one or more orders
2. Log in as an admin, and navigate to the Order process

[2018-02-26 23:31] machikoyasuda opened #3840 "docs: fix various JSDoc bugs in code"
## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description
- [x] Template Helpers: https://github.com/reactioncommerce/reaction/pull/3841
- [x] DOM: https://github.com/reactioncommerce/reaction/pu

[2018-02-27 01:19] zenweasel commented on #3836
Verified this is happening in the current `1.8.1` branch. Bumped up to `impact-critical` as you can't create a shop with this bug

[2018-02-27 03:47] pmn4 commented on #3836
I dug into this a bit and it seems like when you create a shop and shop owner, the shop owner's `activeShopId` user preference is not set. Then, when you try to update, the code hits this block:

[code]
[source](https://github.com/reactioncommerce/reaction/blob/master/server/startup/collection-security.js#L43-L55)

Specifically, this line:
[code]

Since the user's preference is not set, `getShopId

[2018-02-27 03:56] pmn4 commented on #3836
Lastly, instead of writing directly, the `setUserPreferences` method should be used [here](https://github.com/reactioncommerce/reaction/blob/master/server/methods/accounts/accounts.js#L624)

[2018-02-27 05:39] zenweasel commented on #3836
@pmn4 I don't think we want to get the shopId from the client for security reasons

[2018-02-27 08:07] mori5ive commented on #3831
my slug contain valid URL characters with Persian language alphabetic.. In version 1.7, this section worked properly

[2018-02-27 09:10] mori5ive commented on #3831
i not think that related to translation
i think slug validate regex incorrect

[2018-02-27 14:31] prinzdezibel opened #3846 "Index page does not load after marketplace has been set up."
## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description
After inviting a merchant to join the shop, the home page will not render anymore, because the spinner is loading forever and an error ca

[2018-02-27 17:01] prinzdezibel opened #3849 "Can't replace OrdersList component"
## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description
It should be possible to provide a customized version of the OrdersLists component. This is not possible, because the component is import

[2018-02-27 18:58] willmoss1000 commented on #3785
Hi Both,

1. Replacing OrdersList will be possible after: https://github.com/reactioncommerce/reaction/pull/3848
- Issue was that it was called directly, so replacing the component had no effect

2. It is not possible to replace CompletedOrder
- I am experiencing the same issue as 1), but CompletedOrder is called directly in a lot more places.
- Is it OK to open this up again, such that someone fr

[2018-02-27 19:10] prinzdezibel opened #3851 "Can't publish changed product data more than once"
## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description
It's not possible to publish changed product data after the first (successful) publishing process.
Changing fields a second time doesn't

[2018-02-27 19:30] Akarshit commented on #1236
Paypal's site is broken on the part where I get password for the sandbox account. Waiting for that to be fixed.

[2018-02-27 19:35] prinzdezibel opened #3852 "Admin should get a warning, if Discounts payment provider is used stand-alone"
## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description
The Discounts payment provider plugin is intended to be used in combination with another payment provider. Checkout will not be possible

[2018-02-28 00:14] zenweasel commented on #3785
@willmoss1000 I am going to reopen this but I think we also would accept a PR to change the places where CompletedOrder is directly called

[2018-02-28 00:21] zenweasel commented on #3852
There already is a check that if you are an admin it will tell you you need to configure a payment provider and open the correct admin panel. That check just needs to ignore discount payment types.

[2018-02-28 00:23] zenweasel commented on #3852
Classifying as a bug because the original check should have not included discount payment types, removing UIX since the UIX already exists if the check is done correctly.

[2018-02-28 00:34] zenweasel commented on #3836
Closed via #3845

[2018-02-28 00:34] #3836 closed

[2018-02-28 00:38] zenweasel commented on #3732
Closed via #3804

[2018-02-28 00:38] #3732 closed

[2018-02-28 00:39] zenweasel commented on #2736
Closed via #3745

[2018-02-28 00:39] #2736 closed

[2018-02-28 00:40] zenweasel commented on #3833
Closed via #3835

[2018-02-28 00:40] #3833 closed

[2018-02-28 00:43] aaronjudd opened #3854 "Password field validation error"
## Issue Description
Attempt to register as a new user in checkout.  If you don't provide a password when registering, the UI tanks, and the cart is messed up. Refresh and register again, and you will be able to checkout.  As the same user attempt to make another purchase. You will not be able to add to cart.

## Steps to Reproduce
Please provide starting context, i.e. logged in as a user, configu

[2018-02-28 00:55] aaronjudd commented on #3624
@zenweasel can we get some definition added to this issue -> it's on the roadmap anyways, but probably needs some more clarity. May be related to #3854

[2018-02-28 00:56] #3849 closed

[2018-02-28 01:22] #3692 closed

[2018-02-28 01:22] #3702 closed

[2018-02-28 01:22] #3840 closed

[2018-02-28 02:40] zenweasel commented on #3846
I think this only impacts you if you were previously signed in as the shop admin and then logout (so that this inactive shop is stored in local storage as your active shop, but that shop is not publicly available). So this issue should never impact a consumer-facing use case so it's not really a critical.

[2018-02-28 03:52] zenweasel commented on #3851
Bumping this up to critical since publishing products is sort of a big deal

[2018-02-28 04:00] zenweasel commented on #3846
Ok, so this does affect you if you login as a shop admin and then as a marketplace admin all sorts of weird stuff happens because your `activeShopId` is set to the last shop, and there are probably other side-effects that I am not seeing so bumping it back up to critical fwiw.

[2018-02-28 04:13] spencern commented on #3678
Closed by #3776

[2018-02-28 04:13] #3678 closed

[2018-02-28 04:14] spencern commented on #3284
Closed by #3838

[2018-02-28 04:14] #3284 closed

[2018-02-28 04:15] spencern commented on #3495
Closed by #3801

[2018-02-28 04:15] #3495 closed

[2018-02-28 07:11] Akarshit commented on #1236
PayPal is working today, so this should get done today.

[2018-02-28 08:12] prinzdezibel opened #3858 "Changing the permalink before publishing a product results in "not found" page"
## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description
Changing the permalink, but not publishing it (not yet), will result in "Not found" template shown if one navigates from product grid to

[2018-02-28 11:01] Akarshit commented on #3854
When trying to register without password I am getting
[code]

[2018-02-28 11:10] Akarshit commented on #3854
I am fixing the check for password validation, that will prevent these exceptions and the later flow.

[2018-02-28 15:41] nnnnat commented on #3832
@zenweasel I haven't started on this yet feel free to have someone else take this.

[2018-02-28 18:13] ticean commented on #3491
I see the same logged errors and symptoms on the site. I've been troubleshooting this and can verify that the mongo connection is fine is Docker Compose with two tests: 1) `telnet` to mongo works inside the reaction container 2) I can log into the site as admin with the default credentials.

The `Error while importing to Packages` indicate that there's a problem with the fixtures.

I tried to disa

[2018-02-28 18:55] willmoss1000 commented on #3785
@zenweasel sure. I'll have another go at this at some point this week. Assign it to me if you like - I don't see anyone else needing this urgently.

[2018-02-28 19:03] ticean opened #3861 "Reaction does not support Mongo 3.6"
## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description
Reaction v1.8.1 does not work correctly with Mongo 3.6. Things work fine in Mongo 3.4. This issue was originally reported in https://gith

[2018-02-28 21:08] ticean commented on #2858
Yep. This can be closed now. We're pushing all builds to Docker Hub.

[2018-02-28 21:08] #2858 closed

[2018-02-28 21:13] willopez opened #3862 "Call to createHandle causes a maximum stack size error"
## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues]

## Issue Description
When updating a product's handle(slug) a maximum stack size error is generated on the server.

`Exception while invoking method 'products/updateProductField' RangeError: Maximum call stack s

[2018-02-28 21:34] willopez opened #3863 "Refactor revisions Products.before.remove hook"
## Prerequisites
* [x] Are you running the latest version?
* [x] Did you search the issue queue for existing issue?
* [x] Are you able to consistently reproduce the issue?

## Issue Description
Remove `Products.before.remove` collection hooks in revisions package, this is part of the effort to remove the collection hooks meteor package.

**Umbrella Issue**: https://github.com/reactioncommerce/reac

[2018-02-28 21:58] ticean commented on #3491
Thanks to some help from @prinzdezibel in chat, we found the source of the problem. The app doesn't work correctly with Mongo 3.6. Things are OK with Mongo 3.4.

We're pinning the Mongo version in the Docker Compose files to `mongo:3.4` in #3653. This will get things working immediately but doesn't add support for 3.6. I created #3681 to track the long term fix to add full compatibility.

[2018-02-28 21:59] willopez opened #3864 "Refactor Products.before.update in server/startup/packages.js"
## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue?

## Issue Description
Remove `Products.before.update` collection hooks in `server/startup/packages.js`, this is part of the effort to remove the collection hooks meteor package.

**Umbrella Issue**: https://github.com/reactionco

[2018-02-28 22:04] willopez opened #3865 "Refactor Products.after.update collection hooks in inventory package"
## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue?

## Issue Description
Remove `Products.after.*` collection hooks in the inventory package, this is part of the effort to remove the collection hooks meteor package.

Hooks:

- https://github.com/reactioncommerce/reaction/blob/36

[2018-02-28 22:11] willopez opened #3866 "Refactor Products.after.remove|update|insert collection hooks in search-mongo package."
## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue?

## Issue Description
Remove `Products.before.remove|update|insert` collection hooks in mongo-search package, this is part of the effort to remove the collection hooks meteor package.

Hook call sites:
- https://github.com/react

[2018-02-28 22:23] zenweasel commented on #3491
@ticean Should we put some sort of note in our docs that you should only be running sites with Mongo 3.4 until this is resolved? Is this a Reaction thing or a Meteor thing?

[2018-02-28 22:48] ticean commented on #3491
Yes, we should call this out in docs.

TBH, I'm not sure if it's specific to Reaction or Meteor. Comments [in this open Mongoose issue](https://github.com/Automattic/mongoose/issues/5973) indicate driver compatibility issues that were fixed by configuring Mongo 3.6 *server* to be 3.4 compatible. I didn't deep dive on that. It could also be that Reaction has been developed and tested on 3.4 only, s

[2018-02-28 23:02] zenweasel opened #3867 "Change all email verification links to use tokens"
## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description
Currently email verification links just rely on URL parameters to verify email addresses which opens up a security vulnerability where so

[2018-02-28 23:03] zenweasel commented on #3867
Related to #3714. Fixing this will probably fix that issue as well.

[2018-02-28 23:37] zenweasel opened #3868 "Remove cfs:graphicsmagick from packages"
## Issue Description
The need from for imagemagick was removed with #3631, but this package still wants it so it throws errors on startup
[code]

## Steps to Reproduce
1. On a system without imagemagick or graphicsmagick installed, start the app

## Possible Solution
Remove the package from `.meteor/packages`

### Versions
[code]

[2018-03-01 00:22] brent-hoover opened #3870 "convert"

[2018-03-01 00:22] #3870 closed, assigned to nobody

[2018-03-01 00:31] zenweasel opened #3871 "Convert Profile panel to React"

[2018-03-01 00:35] zenweasel commented on #3624
Added as much detail as I could muster. Unassigning from me. Let me know if we need more than this.

[2018-03-01 06:12] willopez commented on #3863
fixed in this PR: https://github.com/reactioncommerce/reaction/pull/3825

[2018-03-01 06:13] #3863 closed

[2018-03-01 12:28] Akarshit commented on #3718
Right now I think the best idea would be to remove the check for user permissions and make sure that this method(the one I will remove the permissions check from) is not getting called anywhere else.

[2018-03-01 14:54] willmoss1000 commented on #3408
I would suggest this isn't minor, even if the effect on price is small? If the wrong service level is purchased the couriers will not collect. This would render Shippo unusable for marketplace, since the merchants are unable to make amendments.

Perhaps this isn't the place - but I think the Ideal setup would be for each merchant to have access to their own Shippo dashboard. This would i) allow th

[2018-03-01 14:55] Akarshit commented on #3718
It would make more sense to put the permissions check in the part where webhooks are set. Working on figuring out which permission should allow a user to set up webhook/add products to shop.

[2018-03-01 17:56] zikeji opened #3875 "Incorrect Card Validation in payments-authnet"
Your documentation mentions that "by default" it checks to make sure the number is between 12 and 19 digits. See here: https://docs.reactioncommerce.com/reaction-docs/master/payment-packages-authnet

However, this is not the case. In the schema it checks for 12-19 digits.

https://github.com/reactioncommerce/reaction/blob/766c97ebfacec67afecedb021cb3bac79658d1f1/imports/plugins/included/payments-a

[2018-03-01 20:27] mikemurray opened #3877 "Create denormalized Catalog collection for products"
## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description

Add a denormalized Catalog collection of products for use with the customer-facing product grid. This is for ticket #3662. Also related

[2018-03-01 21:57] zenweasel commented on #3875
@zikeji Does this result in an actual problem for you (i.e. rejecting a valid card) or are you just pointing out an inconsistency?

[2018-03-01 21:58] zenweasel commented on #3875
I feel like we need to refactor some of these checks into some common helpers, etc.

[2018-03-01 23:09] ticean opened #3878 "EPIC: GraphQL API"
# Reaction GraphQL

The [Github GraphQL API documentation][3] has a clear description of GraphQL:

More background, information, and rationale can be found on the [GraphQL.org website.][4]

## Why GraphQL for Reaction

* **Headless Commerce.** - We aim to provide a commerce available available to any frontend.
* **It's expressive.** GraphQLs expressive query language, reduced round-trips to the se

[2018-03-02 04:39] spencern opened #3880 "Difficulties and glitches using dynamic merchandising"
## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue?

## Issue Description
Dynamically merchandising by drag and drop has UI glitches and doesn't order products consistently, making it difficult to order products.

**Screen recording:**
<img src="http://g.recordit.co/X6ffExIEJi.gi

[2018-03-02 05:00] spencern commented on #3754
@Akarshit I see that @aaronjudd has assigned this to me, what's the status of this right now? Has any work been done on it?

[2018-03-02 05:02] zenweasel commented on #3754
@spencern I know that no work has been done. He was looking to get technical direction on how to solve this problem and still make the publication reactive.

[2018-03-02 05:02] spencern opened #3881 "Changes to top level products doesn't enable publish button"
## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue?

## Issue Description
Changing a top level product, either by updating the grid layout or by changing properties on the product does not enable the "Publish" button. On the grid, the product is shown with a teal icon indicating

[2018-03-02 05:03] zenweasel commented on #3518
So digging more into this flow and it looks like the address validation may have been broken since we changed the `register.js` "provides" parameter from a string to an array. So validation errors were only being throw when we actually try to calculate tax which is why this error appeared. This is fixed now but there's more errors related to validation feedback that I want to take care of.

@rymor

[2018-03-02 05:04] zenweasel commented on #3881
@spencern Could this be a dupe of https://github.com/reactioncommerce/reaction/issues/3851

[2018-03-02 05:11] spencern opened #3882 "Account profile is accessible by anonymous users"
## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue?

## Issue Description
Anonymous users can access and interact with an account profile. This can happen when logging out from the account profile as a logged in user or by visiting the `/accounts/profile` url when using the site

[2018-03-02 05:19] zenweasel commented on #3518
An example of an Avalara address validation error:
"The physical location exists but there are no homes on this street. One reason might be railroad tracks or rivers running alongside this street, as they would prevent construction of homes in this location." 🤔

[2018-03-02 05:25] spencern opened #3883 "PDP Image gallery does not handle portrait sized images well"
## Prerequisites
*  [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue?

## Issue Description
The PDP image gallery does not handle images that are taller than they are wide appropriately. As a non-admin, the images can block off other elements of the page.
Admin:
<img src="http://g.recordit.co/r4Z

[2018-03-02 05:28] spencern commented on #3754
Reading through the issue, I'm not sure what the problem is, is the concern that we're publishing the `_id`s of shops or is there something more?

[2018-03-02 05:29] zenweasel commented on #3754
Any client could provide an array of shopIds and get data about arbitrary shops for which they don't have permissions. At least that's what it looked like to me.

[2018-03-02 05:31] spencern commented on #3754
👍we should probably patch that gap.

But do you think that is OK to do.
Also all this would run only when a shop is added for a user(basically only when the user click the Become a seller button on profile) or when the user changes.

@Akarshit
I think that checking permissions on the publication is the appropriate way to do this. If a shop is active, then it may need to be published to the client

[2018-03-02 05:34] spencern commented on #3881
@zenweasel it does seem very similar, though this issue also deals with the product grid.

[2018-03-02 05:37] zenweasel commented on #3881
@spencern Can you try it with https://github.com/reactioncommerce/reaction/pull/3857 applied and see if you issue is resolved? If not then edit the issue for just that behavior? I don't really see anything here besides "I can't publish"

[2018-03-02 05:37] zenweasel commented on #3881
Maybe that PR doesn't touch all the places there diffs are being created.

[2018-03-02 08:12] zenweasel commented on #3518
So here's what I mean. This address fails validation. They could bypass the validation by hitting the button or they can edit the address and resubmit by not bypassing. Bypass button doesn't work yet but you get the idea.

![2018-03-02_16-10-04](https://user-images.githubusercontent.com/72819/36889280-4e942e58-1e34-11e8-87e2-e510081d099c.png)

[2018-03-02 11:21] Akarshit commented on #3754
Great! I will make a PR with the patch I proposed.

[2018-03-02 15:47] aaronjudd commented on #3783
@spencern updates on this?  I'm not sure how to answer @zenweasel as the discounts were always meant to be added to the paymentsMethods array, just like any other payment, we have always allowed for multiple...

[2018-03-02 16:06] spencern commented on #3783
Digging in on this now. I thought that discounts were already added to the paymentMethods array.

[2018-03-02 16:18] zikeji commented on #3875
@zenweasel During my testing of the Authorize.net payment gateway it did impact me. The test numbers they give you to test certain API responses all are 13 digits. In addition, a 13 digit Visa is a valid length.

[2018-03-02 16:47] spencern commented on #3783
So it appears that we're not currently leveraging the `transactions` array that's stored on an order
[code]
https://github.com/reactioncommerce/reaction/blob/master/lib/collections/schemas/orders.js#L214
In fact, the only place it seems that we're storing the discount right now is on the invoice within the `billing` array.

![image](https://user-images.githubusercontent.com/1203639/36909972-b81d8e

[2018-03-02 17:19] kieckhafer commented on #3862
This seems to be resolved in #3825

Leaving it open until that is merged.

[2018-03-02 17:24] rymorgan commented on #3518
@zenweasel I generally agree with your approach. I'll dig into this a little today. It would be helpful if we could maybe talk this out really quick to make sure we're on the same page (aka, that if fully understand all the issues.)

[2018-03-02 17:26] Akarshit opened #3886 "Open marketplace card automatically on enabling marketplace."
## Issue Description
When enabling marketplace, the marketplace card doesn't open automatically(it opens when you click on it).
We should be opening the card when a user enables MarketPlace because the next action is most prob. be inviting a user.

## Steps to Reproduce
1. Login as owner
2. Enable marketplace
3. Observe that the card is still closed.

Already discussed with @rymorgan and he agrees

[2018-03-02 22:44] mikemurray commented on #3886
This panel needs to be converted to React.

[2018-03-03 00:22] mikemurray commented on #3846
I'm seeing the following error in the accounts panel as the owner of the merchant shop looking at account settings. Sometimes there's no error and it's just a broken accounts panel. Not sure if this is somehow related, or a different issue altogether.

[code]

![screen shot 2018-03-02 at 4 20 56 pm](https://user-images.githubusercontent.com/42217/36927902-b9d6fd5c-1e35-11e8-840e-0b25a02a6aa7.png)

[2018-03-03 00:33] zenweasel commented on #3846
Did you try this with the patch for it @mikemurray ?

[2018-03-03 00:37] mikemurray commented on #3846
@zenweasel seems the patch fixes this issue as well

[2018-03-03 01:49] rymorgan commented on #3518
So question about the above. What happens to the store if someone puts in an address that Avalara can't calculate a taxes for? Like will there be penalties for the store? If we allow a user to bypass. I do think if we let them bypass we have to then flat the order. (Just not totally sure how, maybe, high-risk order?)

In terms of error and bypass. We should show an error on the field or fields tha

[2018-03-03 05:03] zenweasel commented on #3518
Specifically the errors we are talking about are not field errors because we never get field-level validation back from Avalara which is why we have this issue in the first place. Avalara just says "I have no idea what this address is" and gives up when it returns API errors.

What we get back from Avalara when the address doesn't match is either

1. An error with the detail as above.
2. A "valida

[2018-03-04 01:50] mschipperheyn opened #3888 "Customization and staying up to date with the master"
I'm just curious how to create customizations while staying up to date with the master.

You can create a plugin directory and merge the main line in, but it would be nice to be able to keep the custom code separate from the reaction core. Any suggestions on this?

[2018-03-04 11:26] prinzdezibel commented on #3888
Hi, you can symlink any custom plugins into  /imports/plugins/custom/*. That way your own code can live in a different place than the main line. Also these directories should be .gitignore(d), so it doesn't hurt to have them checked out in /imports/plugins/custom/ directly. Either way, you should always be able to merge in changes from master without affecting your own code.

[2018-03-04 14:03] mschipperheyn commented on #3888
Thanks!

[2018-03-04 14:06] #3888 closed

[2018-03-04 23:30] zenweasel commented on #3875
@zikeji Thanks for the feedback. Based on your feedback bumping up to `impact-major`

[2018-03-04 23:37] zenweasel commented on #3783
@spencern Yeah, that helps a lot. I think that gives us what we need to move forward. @prinzdezibel This is going to be a change that probably touches a lot of places so let's maybe work together on testing/testing plan

[2018-03-05 02:38] zenweasel commented on #3491
Moving to backlog as I don't think this is an issue my team should work on.

[2018-03-05 02:45] zenweasel commented on #3733
I believe this issue is a duplicate of #3500 but keeping this one because it has more detail. Also bumping this up to major since since this affects checkout.

[2018-03-05 02:45] zenweasel commented on #3500
Closing. Dupe (although this one was first)

[2018-03-05 02:45] #3500 closed

[2018-03-05 03:06] zenweasel commented on #3883
@spencern I'm having a hard time wrapping my head around this as a bug. Should we be getting a design/acceptance criteria from Design? Not sure what "done" looks like in terms of fixing this.

[2018-03-05 03:10] zenweasel commented on #3703
Since the issue we are blocked by has an approved PR we can move forward with this again

[2018-03-05 03:20] zenweasel commented on #2273
@rymorgan Is this issue still valid? I can't tell exactly what we are talking about here

[2018-03-05 10:11] nomiAA opened #3890 "Does this project also contain an adamin?"
Issue tracker is **ONLY** used for reporting bugs. NO NEW FEATURE REQUESTS ACCEPTED. For new features, add an issue in our [Request Feature Request](https://github.com/reactioncommerce/reaction-feature-requests) repository.

Are you looking for help with getting started on Reaction? Please visit our [Reaction documentation](https://docs.reactioncommerce.com/reaction-docs/master/getting-started-dev

[2018-03-05 10:12] #3890 closed

[2018-03-05 11:02] srindom commented on #3718
How about using `Meteor.runAsUser` with the owner's id?

[2018-03-05 16:07] Akarshit commented on #3718
@srindom Didn't knew about that. Good suggestion.

[2018-03-05 17:02] #3672 closed

[2018-03-05 17:02] #1364 closed

[2018-03-05 17:02] #3424 closed

[2018-03-05 17:08] #2810 closed

[2018-03-05 17:43] Akarshit commented on #3718
Stuck on this because the [update code](https://github.com/reactioncommerce/reaction/blob/master/imports/plugins/included/connectors-shopify/server/methods/sync/orders.js#L57) is getting called, but the DB is not getting updated. Even if I add a callback function the control never reaches that. Out of ideas what to do next.

[2018-03-05 18:32] mikemurray commented on #3846
After some additional testing...

It would seem that the active `shopId` is wrong on the server and correct on the client.

- Server `Reaction.getShopId() === "J8Bhq3uTtdgwZx3rz"` in `ShopMembers` publication.
- Client `Reaction.getShopId() === "Wjp8rCDf6z8HeA3mK"` where `ShopMembers` is subscribed at.

@zenweasel This patch does not totally fix the issue, it must have bee a fluke that it worked t

[2018-03-05 21:26] zenweasel commented on #3718
@Akarshit Is it possible that this update is being captured by `Revisions`? Do you need to add `publish: true`?

[2018-03-05 21:30] zenweasel commented on #3846
@mikemurray Can you provide some reproduction steps for this? Should we open a new/separate issue?

[2018-03-05 21:56] zenweasel commented on #3783
@Akarshit @prinzdezibel Can you help me understand what is up with this ticket? We had a question about handling multiple payment methods but we also have an approved PR?

[2018-03-05 23:27] mikemurray commented on #3846
@zenweasel I feel like it may be the same issue, perhaps related to `shopId` not being accurately set for marketplace shops between client/server.

1. Sign in as admin
1. Enable marketplace user Shop settings
1. Invite new shop owner
1. Make shop active under `Marketplace Shops` in the sidebar
1. Accept invitation
1. Set password and continue. (You should now be signed in as the merchant shop owne

[2018-03-06 00:17] zenweasel commented on #3846
@mikemurray Not able to replicate the problem using the test steps above:

![2018-03-06_08-08-59](https://user-images.githubusercontent.com/72819/37007125-c87f9826-2116-11e8-9bc7-cf119cbf54b9.png)

[2018-03-06 01:40] rymorgan commented on #3518
@zenweasel - What steps do I need to follow to get the address validation?

[2018-03-06 01:40] rymorgan commented on #3518
@zenweasel

So question about the above. What happens to the store if someone puts in an address that Avalara can't calculate a taxes for? Like, will there be penalties for the store if we allow a user to bypass? I do think if we let them bypass we have to then flat the order. (Just not totally sure how, maybe, high-risk order?)

[2018-03-06 02:39] zenweasel commented on #3518
The penalty is that the shop is still responsible for the tax whether they collect it from the customer or not

[2018-03-06 02:40] zenweasel commented on #3518
What specifically are you looking for?

[2018-03-06 02:46] zenweasel commented on #3518
@rymorgan If you use
123 Main St.
Los Angeles, CA 90036
on the branch (`fix-3518-brent-fix-avalara-api-validation`) you should get that error

You need to have Avalara enabled using the configuration data

[2018-03-06 04:19] #3497 closed

[2018-03-06 05:28] Akarshit commented on #3783
I was working on this initially but then I figured out it involved changing too many things to do it right. So I unassigned myself and added the `core-bug` label so that core team could take a look on this.

After that I *think* @prinzdezibel solved the problem somehow in the PR.

[2018-03-06 05:42] Akarshit commented on #3718
Never worked on Revisions before, checking this.

[2018-03-06 05:47] zenweasel opened #3895 "Router Hooks don't work as documented"
## Prerequisites
* [yep] Are you running the latest version?
* [yeah ] Are you able to consistently reproduce the issue?
* [for sure] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description
You should be able to register a global Router.Hook and have it called on every route as described [here](https://docs.react

[2018-03-06 05:58] Akarshit commented on #3718
@zenweasel You sir have saved a life today.

[2018-03-06 06:04] zenweasel commented on #3895
Error introduced here: b1e7c262da0180fb766e489d506b049255a0cd7b

[2018-03-06 13:45] prinzdezibel commented on #3783
Here are some investigations I found today.

After digging deeper, I can say the following:
- The PR does resolve the issue at hand
- Discounts feature does not and did not work within a marketplace setup. This feature was in mind, but not implemented yet.
-  `billing[0]` access into the billing array is done all over the place, because one can assume safely, that the data is available in a denorm

[2018-03-06 18:27] rymorgan commented on #3518
@zenweasel -- I was trying to figure out when how I see the "Address mismatch" scenario.

[2018-03-06 18:58] Akarshit commented on #3881
This issue is not reproducible after merging #3857.

[2018-03-06 19:11] Akarshit commented on #3846
Same (not able to replicate the issue)

[2018-03-06 19:20] mikemurray commented on #3846
@zenweasel @Akarshit with release `release-1.9.0` branch I'm not seeing the issue for the merchant shop owner, but I am seeing it as the marketplace owner.

1. As the marketplace owner, after inviting a marketplace shop
1. Use the shop switcher to switch to that shop
1. Open accounts panel
1. See blank/broken accounts view

---

My issue is happening with PR https://github.com/reactioncommerce/rea

[2018-03-06 19:33] #3783 closed

[2018-03-06 19:38] Akarshit commented on #3846
Though I was looking at the `activeShopId` in the localStorage while doing this and observed the following.
1. Sign in as admin(for Reaction)
1. Enable marketplace user Shop settings
1. Invite new shop(Reaction1) owner
1. Make shop active under Marketplace Shops in the sidebar
1. Accept invitation
1. Set password and continue.
1. When you log-in as owner of Reaction1 the `activeShopId` in LS is `R

[2018-03-06 19:40] Akarshit commented on #3846
@mikemurray Yes I can see it happening with marketplace owner. Looking more into it.

[2018-03-06 19:53] Akarshit commented on #3846
This is happening because the Groups aren't being published when the shopId changes. So just changing `const grpSub = Meteor.subscribe("Groups")`; to `const grpSub = Meteor.subscribe("Groups", { shopId });` [here](https://github.com/reactioncommerce/reaction/blob/master/imports/plugins/core/accounts/client/containers/accountsDashboardContainer.js#L94) fixes this.

The Groups are not being publishe

[2018-03-06 20:08] rymorgan commented on #3518
Then we absolutely have to tag the order. So that a shop can make a determination of what to do with the order. We should use this treatment: https://zpl.io/awlXg7b

The label should read - "Tax not calculated"

[2018-03-07 00:10] kieckhafer opened #3900 "running eslint throws dependency errors when custom packages are installed"
## Prerequisites
* [x] Are you running the latest version?
* [x] Are you able to consistently reproduce the issue?
* [x] Did you search the issue queue for existing issue? [Search issues](https://github.com/reactioncommerce/reaction/issues)

## Issue Description
When running `npx eslint .`, with plugins inside the `imports/plugins/custom` folder, various npm dependency errors are continuously retu

[2018-03-07 01:20] rymorgan commented on #3518
This is a pretty awkward validation flow but I think I have a workable solution.

Objectives:

- Show that there is an error to the user
- Encourage the user to make sure that their address is actually entered as intended even though we don't have a specific error or specific way of helping them. That's why I'm hoping we can show all the fields have not validated.
- Allow them to bypass the valida

[2018-03-07 01:24] rymorgan commented on #3518
![edit shipping and billing - no error](https://user-images.githubusercontent.com/20409254/37068378-3aa22cb0-2163-11e8-8493-66aab90ebc61.png)
![edit shipping and billing - avalara error copy](https://user-images.githubusercontent.com/20409254/37068379-3aba858a-2163-11e8-9c4a-525676e7481d.png)
![edit shipping and billing - avalara error](https://user-images.githubusercontent.com/20409254/37068380-3

[2018-03-07 03:05] spencern opened #3902 "Implement GraphQL Schemas necessary for Accounts APIs"
We need to review and implement the following GraphQL schemas in order to be able to create Account Queries and Mutations. This issue is necessary to complete in order to accomplish the rest of this milestone.

This issue is to review @ticean's existing exploratory work on this topic and then to implement the following schemas in the Reaction codebase.

**Schemas**
- [ ] Node
- [ ] NodeEdge
- [ ]

[2018-03-07 03:24] spencern opened #3903 "Implement MongoDB Cursors for use in GraphQL Query Connections"
**Summary**
Based on @ticean's exploratory work on our GraphQL schemas, we'll need to build an implementation to inject MongoDB cursors into our Query Connections. For this ticket, we're specifically focused on the `AccountConnection` and the `GroupConnection`. As seen in the Github v4 API, we'll need to implement these within the [Edges](https://developer.github.com/v4/object/commitcommentedge/)

[2018-03-07 03:29] spencern opened #3904 "Choose a frontend-state management system for the GraphQL components"
**Summary**
We need to choose a front-end state management system for using with GraphQL.

**Acceptance Criteria**
The solution will select a state management system that is ideal for Reaction's codebase going forward and lay out a case for why it's the right solution for our needs. Options that were not selected, but were evaluated will be noted along with why the selected solution was a better f

[2018-03-07 03:34] spencern opened #3905 "Determine if we need a special, root-level item for paginated results"
Depending on what gets decided in our issue for choosing a state management system (#3904), we should determine if we need a special, root-level item for paginated results.

There's a good discussion of this issue on the facebook relay repo:  https://github.com/facebook/relay/issues/112

## Acceptance Criteria
The solution will identify if we need such an item, and make a case for why or why-not.

[2018-03-07 06:00] aaronjudd opened #3906 "Import `reaction.json` from ENV"
Ability to pass `reaction.json` (reaction package registry entries) as **ENV**`REACTION_SETTINGS` variable  in addition to the /private/data/settings fixture file.

[code]
This is how [`METEOR_SETTINGS`](https://docs.meteor.com/environment-variables.html) works, so it's sort of implied that `REACTION_SETTINGS` should work this way as well, and would have significant benefits like environment speci

[2018-03-07 06:17] aaronjudd commented on #3861
The WIP status has just been removed from the PR in Meteor that updates to be MongoDB 3.6 compatible.  See:  https://github.com/meteor/meteor/pull/9632
I'd suggest not setting this in stone in docs, etc.. as the upgrade path is not [hopefully] too far away.

[2018-03-07 06:17] spencern opened #3907 "Create account profile UI that uses GraphQL data"
**Summary**
This ticket is for implementing an `account/profile` view utilizing the GraphQL API that we're creating.

This implementation will need to mock the data coming from the `viewer()` GraphQL query, and will need to utilize the following GraphQL mutations to transmit data from the client to the server:
- ~`addAccountEmailRecord`~
- ~`removeAccountEmailRecord`~
- `addAccountAddressBookEntry

[2018-03-07 06:30] spencern opened #3908 "Create Accounts dashboard UI using the GraphQL API"
**Summary**
This ticket is for implementing an accounts dashboard utilizing the GraphQL API that we're creating.

**Implementation**
This implementation will need to mock the data coming from the following GraphQL queries for development and then connect to them once they are ready:
- `administrators()`
- `groups()`
- `roles()` (stretch goal)

This implementation will need to utilize the following

[2018-03-07 06:39] spencern opened #3909 "Design pagination parameters for GraphQL API queries"
**Summary**
Work with @ticean to design pagination parameters for GraphQL queries that can be paginated.

## Acceptance Criteria
We should have a documented pattern for implementing pagination in our GraphQL queries.

[2018-03-07 06:42] spencern opened #3910 "Replace GraphQL-Yoga deps with specific deps we use"
**Summary**
We need to replace the more-lib-than-we-need GraphQL Yoga dependency with specific dependencies that we're actively using to implement GraphQL right now. We're not using Yoga right now and it's adding unnecessary weight.

## Acceptance Criteria
We will have removed the GraphQL Yoga dependency and replaced it with more specific dependencies that are actively used by Reaction.

[2018-03-07 06:49] spencern opened #3911 "Create GraphQL viewer query"
**Summary**
Create a `viewer()` query in GraphQL.

**Implementation**
The `viewer` query should have the following signature
[code]
It has no arguments and returns an `Account`.
This query should always return the account of the current user, which will now be referred to as the `viewer`

## Acceptance Criteria
Using GraphQL, I can use the `viewer()` query to get my Account.

[2018-03-07 06:53] spencern opened #3912 "Create GraphQL account query"
**Summary**
Create an `account` query in GraphQL.

**Implementation**
The `account` query should have the following signature
[code]
It has one argument, `id` which is required returns an `Account` associated with that ID if the user requesting the account has permissions to access that account.

This query should always return the account with an `_id` that matches the `id` argument.

## Acceptan

[2018-03-07 06:59] spencern opened #3913 "Create administrators GraphQL query"
**Summary**
Create an `administrators` query in GraphQL.

**Implementation**
The `administrators` query should have the following signature
[code]
It has one argument, `shopId` which is required, and returns an `AccountConnection`. If a `shopId` is provided, the query should return all administrator accounts associated with that `shopId`.

## Acceptance Criteria
Using GraphQL, I can use the `admin

[2018-03-07 07:03] spencern opened #3914 "Create groups GraphQL query"
**Summary**
Create a `groups` query in GraphQL.

**Implementation**
The `groups` query should have the following signature
[code]
It has one argument, `shopId` which is required, and returns a `GroupConnection` associated with that shopId if the user requesting the groups has permissions to access those groups.

**Resources**
[Github UserConnection docs](https://developer.github.com/v4/object/user

[2018-03-07 07:04] spencern opened #3915 "Create group GraphQL query"
**Summary**
Create a `group` query in GraphQL.

**Implementation**
The `group` query should have the following signature
[code]
It has one argument, `id` which is required, and returns the `Group` associated with that id if the user requesting the `Group` has permissions to access that `Group` and the `Group` exists.

## Acceptance Criteria
Using GraphQL, I can use the `group(id: ID!)` query to ge

[2018-03-07 07:12] spencern opened #3916 "Create roles GraphQL query"
**Summary**
Create a `roles` query in GraphQL.

**Implementation**
The `roles` query should have the following signature
[code]
It has one argument, `shopId` which is required, and returns an array of Strings which are roles associated with that shopId if the user requesting the groups has permissions to access those roles. For this ticket, it may be necessary to create a new function on the serve

[2018-03-07 07:26] spencern opened #3917 "Create an addAccountEmailRecord mutation in GraphQL"
**Summary**
Create an `addAccountEmailRecord` mutation in GraphQL.

**Implementation**

Signature:

[code]

Input argument:

[code]

## Acceptance Criteria
Using GraphQL, I can use the mutation to add an `EmailRecord` to my `Account`, or another account if I am an admin.

[2018-03-07 07:28] spencern opened #3918 "Create a removeAccountEmailRecord GraphQL mutation"
**Summary**
Create an `removeAccountEmailRecord` mutation in GraphQL.

**Implementation**

Signature:

[code]

Input argument:

[code]

## Acceptance Criteria
Using GraphQL, I can use the mutation to remove an `EmailRecord` from my account, or another account if I am an admin

[2018-03-07 07:33] spencern opened #3919 "Create an addAccountAddressBookEntry GraphQL mutation"
**Summary**
Create an `addAccountAddressBookEntry` mutation in GraphQL.

**Implementation**

Signature:

[code]

Input argument:

[code]

It returns the `Address` that was successfully added to the user's address book. If the `accountId` is not supplied, this mutation will act on the account of the `viewer`
If the `accountId` is supplied it will act on the account associated with that id if the us

[2018-03-07 07:36] spencern opened #3920 "Create a removeAccountAddressBookEntry mutation in GraphQL"
**Summary**
Create an `removeAccountAddressBookEntry` mutation in GraphQL.

**Implementation**

Signature:

[code]

Input argument:

[code]

It returns the `Address` that was successfully removed from the user's address book. If the `accountId` is not supplied, this mutation will act on the account of the `viewer`
If the `accountId` is supplied it will act on the account associated with that id if

[2018-03-07 07:41] spencern opened #3921 "Create a updateAccountAddressBookEntry mutation in GraphQL"
**Summary**
Create an `updateAccountAddressBookEntry` mutation in GraphQL.

**Implementation**

Signature:

[code]

Input argument:

[code]

It returns the `Address` that was successfully updated in the users address book. If the `accountId` is not supplied, this mutation will act on the account of the `viewer`
If the `accountId` is supplied it will act on the account associated with that id if th

[2018-03-07 07:45] spencern opened #3922 "Create a setAccountProfileCurrency mutation in GraphQL"
**Summary**
Create an `setAccountProfileCurrency` mutation in GraphQL.

**Implementation**

Signature:

[code]

Input argument:

[code]

It returns the `Account` that was successfully updated. This mutation should always act upon the account of the viewer.

## Acceptance Criteria
Using GraphQL, I can use the mutation to set the currency stored on the viewer Account profile.

[2018-03-07 07:51] spencern opened #3923 "Create a updateGroup mutation in GraphQL"
**Summary**
Create an `updateGroup` mutation in GraphQL.

**Implementation**

Signature:

[code]

Input argument:

[code]

It returns the `Group` that was successfully updated. This mutation should act on the groupId that matches the groupId supplied and where the shopId matches the shopId supplied.
It should only update the group if the user calling this mutation has the correct permissions.

##

[2018-03-07 07:55] spencern opened #3924 "Create a createGroup mutation in GraphQL"
**Summary**
Create a `createGroup` mutation in GraphQL.

**Implementation**
The `createGroup` mutation should have the following signature
[code]
It has two arguments:
- `groupData` which is required and is of type `GroupInput`
- `shopId` which is required and is of type `ID`

It returns the `Group` that was successfully created. This mutation should create a group for the shop which matches the s